Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

t
  backend/app/abstract_data_product/service.py
  backend/app/explorations/router.py
  backend/app/explorations/schema_request.py
  backend/app/explorations/schema_response.py
  backend/tests/app/explorations/test_router.py
  docs/static/openapi.json
  frontend/src/pages/cart-explorations/components/existing-exploration-form.tsx
  frontend/src/pages/cart-explorations/components/select-existing-exploration.tsx
  frontend/src/pages/cart-explorations/hooks/use-cart-overlap-check.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
Due: regen-openapi-spec, local-fe-check

Fix MCP support after refactors
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/mcp/mcp.py
  backend/app/search_output_ports/router.py
  backend/app/search_output_ports/schema_response.py
  backend/tests/app/data_products/output_ports/test_service.py
Due: regen-openapi-spec

Fix MCP support after refactors (#3281)
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/mcp/mcp.py
  backend/app/search_output_ports/router.py
  backend/app/search_output_ports/schema_response.py
  backend/tests/app/data_products/output_ports/test_service.py
Due: regen-openapi-spec

Added Exploration to the studio
  backend/app/database/alembic/versions/2026_04_24_1534-b1b690376725_ensure_only_one_prototype_role_exists_.py
  backend/app/database/alembic/versions/2026_04_27_1119-8b489330a188_add_owner_to_exploration.py
  backend/app/explorations/model.py
  backend/app/explorations/router.py
  backend/app/explorations/schema_response.py
  backend/app/explorations/service.py
  backend/app/users/model.py
  backend/sample_data.sql
  backend/tests/app/explorations/test_router.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/factories/exploration.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-botton.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table.module.scss
  frontend/src/components/abstract-data-products/input-port-tab/input-port-tab.tsx
  frontend/src/components/user-avatar/user-avatar-with-email.component.tsx
  frontend/src/pages/cart-explorations/components/new-exploration-form.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/input-ports/input-port-tab.tsx
  frontend/src/pages/exploration/components/exploration-input-ports.tsx
  frontend/src/pages/exploration/exploration-tab-keys.ts
  frontend/src/pages/exploration/exploration.page.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-table-columns.module.scss
  frontend/src/pages/product-studio/components/data-products-tab/data-products-table-columns.tsx
  frontend/src/pages/product-studio/components/explorations-tab/explorations-tab.component.tsx
  frontend/src/pages/product-studio/components/explorations-tab/explorations-tab.module.scss
  frontend/src/pages/product-studio/components/explorations-tab/explorations-table-columns.tsx
  frontend/src/pages/product-studio/product-studio-tabkeys.ts
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/routes.tsx
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
  frontend/src/types/navigation.ts
  sdk/sdk/api_client/api/explorations/get_explorations.py
  sdk/sdk/api_client/models/get_exploration_response.py
Due: regen-openapi-spec, local-fe-check

Added Exploration to the studio (#3277)
  backend/app/database/alembic/versions/2026_04_24_1534-b1b690376725_ensure_only_one_prototype_role_exists_.py
  backend/app/database/alembic/versions/2026_04_27_1119-8b489330a188_add_owner_to_exploration.py
  backend/app/explorations/model.py
  backend/app/explorations/router.py
  backend/app/explorations/schema_response.py
  backend/app/explorations/service.py
  backend/app/users/model.py
  backend/sample_data.sql
  backend/tests/app/explorations/test_router.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/factories/exploration.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-botton.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table.module.scss
  frontend/src/components/abstract-data-products/input-port-tab/input-port-tab.tsx
  frontend/src/components/user-avatar/user-avatar-with-email.component.tsx
  frontend/src/pages/cart-explorations/components/new-exploration-form.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/input-ports/input-port-tab.tsx
  frontend/src/pages/exploration/components/exploration-input-ports.tsx
  frontend/src/pages/exploration/exploration-tab-keys.ts
  frontend/src/pages/exploration/exploration.page.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-table-columns.module.scss
  frontend/src/pages/product-studio/components/data-products-tab/data-products-table-columns.tsx
  frontend/src/pages/product-studio/components/explorations-tab/explorations-tab.component.tsx
  frontend/src/pages/product-studio/components/explorations-tab/explorations-tab.module.scss
  frontend/src/pages/product-studio/components/explorations-tab/explorations-table-columns.tsx
  frontend/src/pages/product-studio/product-studio-tabkeys.ts
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/routes.tsx
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
  frontend/src/types/navigation.ts
  sdk/sdk/api_client/api/explorations/get_explorations.py
  sdk/sdk/api_client/models/get_exploration_response.py
Due: regen-openapi-spec, local-fe-check

Refactor and remove some description
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

temp build
  .github/workflows/docker-build-main.yml
Due: none

temp build, fix docker file
  backend/Dockerfile
Due: none

Change docker build context
  .github/workflows/docker-build-main.yml
Due: none

Stop temp build
  .github/workflows/docker-build-main.yml
Due: none

refactor: InputPortTab accepts staleCount prop instead of computing it internally
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/input-port-tab/input-port-tab.tsx
Due: local-fe-check

Fix input port mismatch
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

feat: show stale warning icon on Input Ports tab when dependencies are stale
  frontend/public/locales/en/translation.json
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
Due: local-fe-check

test: verify stale warning icon appears on Input Ports tab
  frontend/src/tests/mocks/dataProducts.ts
  frontend/src/tests/pages/data-product/data-product-page.test.tsx
Due: local-fe-check

fix: correct i18n key casing and plural forms for stale input port tooltip
  frontend/public/locales/en/translation.json
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
Due: local-fe-check

Making the freshness look pretty
  .superpowers/brainstorm/46567-1777220110/content/approaches.html
  .superpowers/brainstorm/46567-1777220110/content/design-api.html
  .superpowers/brainstorm/46567-1777220110/content/design-data-model.html
  .superpowers/brainstorm/46567-1777220110/content/design-frontend-v2.html
  .superpowers/brainstorm/46567-1777220110/content/design-frontend.html
  .superpowers/brainstorm/46567-1777220110/state/server-stopped
  .superpowers/brainstorm/46567-1777220110/state/server.pid
  demo/basic/portal_seed.sql
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
Due: local-fe-check

docs: add design spec for output port Model tab
  docs/specs/2026-04-27-output-port-model-tab-design.md
Due: none

docs: keep GetOutputPortResponse unchanged, use lazy loading for Model tab
  docs/specs/2026-04-27-output-port-model-tab-design.md
Due: none

docs: add implementation plan for output port Model tab
  docs/specs/2026-04-27-output-port-model-tab-plan.md
Due: none

feat: add OutputPortTableSchema and OutputPortColumn ORM models
  backend/app/data_products/output_ports/table_schemas/model.py
Due: regen-openapi-spec

fix: add __init__.py and Alembic discovery import for table_schemas module
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/table_schemas/__init__.py
Due: regen-openapi-spec

feat: add OutputPortSemanticModel ORM model
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/semantic_models/__init__.py
  backend/app/data_products/output_ports/semantic_models/model.py
Due: regen-openapi-spec

feat: add migration for output port model metadata tables
  backend/app/database/alembic/versions/2026_04_27_2126-2cd6a72fe27c_add_output_port_model_metadata.py
Due: regen-openapi-spec

feat: add table schema request/response schemas
  backend/app/data_products/output_ports/table_schemas/schema_request.py
  backend/app/data_products/output_ports/table_schemas/schema_response.py
Due: regen-openapi-spec

feat: add TableSchemaService
  backend/app/data_products/output_ports/table_schemas/service.py
Due: regen-openapi-spec

feat: add table schema CRUD router
  backend/app/data_products/output_ports/table_schemas/router.py
Due: regen-openapi-spec

test: add table schema factories and router tests
  backend/tests/app/data_products/output_ports/table_schemas/__init__.py
  backend/tests/app/data_products/output_ports/table_schemas/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/output_port_column.py
  backend/tests/factories/output_port_table_schema.py
Due: regen-openapi-spec

feat: add semantic model schemas, service, and router
  backend/app/data_products/output_ports/semantic_models/router.py
  backend/app/data_products/output_ports/semantic_models/schema_request.py
  backend/app/data_products/output_ports/semantic_models/schema_response.py
  backend/app/data_products/output_ports/semantic_models/service.py
Due: regen-openapi-spec

test: add semantic model factory and router tests
  backend/tests/app/data_products/output_ports/semantic_models/__init__.py
  backend/tests/app/data_products/output_ports/semantic_models/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/output_port_semantic_model.py
Due: regen-openapi-spec

feat: wire table schema and semantic model routers into output ports
  backend/app/data_products/output_ports/router.py
  docs/static/openapi.json
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  sdk/sdk/api_client/api/data_products_output_ports/create_output_port_semantic_model.py
  sdk/sdk/api_client/api/data_products_output_ports/create_output_port_table_schema.py
  sdk/sdk/api_client/api/data_products_output_ports/delete_output_port_semantic_model.py
  sdk/sdk/api_client/api/data_products_output_ports/delete_output_port_table_schema.py
  sdk/sdk/api_client/api/data_products_output_ports/get_output_port_semantic_models.py
  sdk/sdk/api_client/api/data_products_output_ports/get_output_port_table_schemas.py
  sdk/sdk/api_client/api/data_products_output_ports/replace_output_port_semantic_model.py
  sdk/sdk/api_client/api/data_products_output_ports/replace_output_port_table_schema.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/column_request.py
  sdk/sdk/api_client/models/column_response.py
  sdk/sdk/api_client/models/semantic_model_format.py
  sdk/sdk/api_client/models/semantic_model_request.py
  sdk/sdk/api_client/models/semantic_model_request_content.py
  sdk/sdk/api_client/models/semantic_model_response.py
  sdk/sdk/api_client/models/semantic_model_response_content.py
  sdk/sdk/api_client/models/table_schema_request.py
  sdk/sdk/api_client/models/table_schema_response.py
Due: regen-openapi-spec, local-fe-check

feat: add Model tab shell to output port detail page
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabkeys.ts
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/model-tab/model-tab.tsx
Due: local-fe-check

feat: add table schema collapse and column table components
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-tabs/model-tab/components/column-table.tsx
  frontend/src/pages/dataset/components/dataset-tabs/model-tab/components/table-schema-list.tsx
  frontend/src/pages/dataset/components/dataset-tabs/model-tab/model-tab.tsx
Due: local-fe-check

feat: add semantic model card and list components
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-tabs/model-tab/components/semantic-model-card.tsx
  frontend/src/pages/dataset/components/dataset-tabs/model-tab/components/semantic-model-list.tsx
  frontend/src/pages/dataset/components/dataset-tabs/model-tab/model-tab.tsx
Due: local-fe-check

fix: add missing index on output_port_columns.table_schema_id
  backend/app/database/alembic/versions/2026_04_27_2126-2cd6a72fe27c_add_output_port_model_metadata.py
Due: regen-openapi-spec

feat(demo): fix UUIDs in portal seed and add campaign_activation + churn_model output ports
  demo/basic/portal_seed.sql
Due: none

refactor(demo): co-locate dataset UUID assignments with dataset inserts
  demo/basic/portal_seed.sql
Due: none

feat(demo): add portal.yml and schema.yml to existing dbt projects
  demo/basic/products/logistics_wms_shipments/models/schema.yml
  demo/basic/products/logistics_wms_shipments/portal.yml
  demo/basic/products/sales_crm_customers/models/schema.yml
  demo/basic/products/sales_crm_customers/portal.yml
  demo/basic/products/sales_erp_orders/models/schema.yml
  demo/basic/products/sales_erp_orders/portal.yml
Due: none

feat(demo): add MetricsFlow semantic models to existing dbt projects
  demo/basic/products/logistics_wms_shipments/models/semantic_model.yml
  demo/basic/products/sales_crm_customers/models/semantic_model.yml
  demo/basic/products/sales_erp_orders/models/semantic_model.yml
Due: none

feat(demo): add marketing_customer_360 dbt project
  demo/basic/products/marketing_customer_360/.gitignore
  demo/basic/products/marketing_customer_360/dbt_project.yml
  demo/basic/products/marketing_customer_360/models/customer_360.sql
  demo/basic/products/marketing_customer_360/models/schema.yml
  demo/basic/products/marketing_customer_360/models/semantic_model.yml
  demo/basic/products/marketing_customer_360/models/sources.yml
  demo/basic/products/marketing_customer_360/portal.yml
  demo/basic/products/marketing_customer_360/profiles.yml
Due: none

feat(demo): add campaign_activation dbt project
  demo/basic/products/campaign_activation/.gitignore
  demo/basic/products/campaign_activation/dbt_project.yml
  demo/basic/products/campaign_activation/models/audience_segments.sql
  demo/basic/products/campaign_activation/models/schema.yml
  demo/basic/products/campaign_activation/models/semantic_model.yml
  demo/basic/products/campaign_activation/models/sources.yml
  demo/basic/products/campaign_activation/portal.yml
  demo/basic/products/campaign_activation/profiles.yml
Due: none

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
