Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Empty cart page (#3296)
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/cart-overview.component.tsx
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
Due: local-fe-check

Domain migration UI for Explorations (#3298)
  backend/app/configuration/domains/model.py
  backend/app/configuration/domains/schema_response.py
  backend/app/configuration/domains/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/tests/app/domains/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/marketplace/dataset-marketplace-card/dataset-card-tooltip.component.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-card-tooltip.component.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-consumers-list.component.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card.component.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card.module.scss
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table.component.tsx
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/tests/mocks/configurationDomains.ts
  frontend/src/tests/mocks/outputPortsSearch.ts
  sdk/sdk/api_client/models/get_domains_item.py
  sdk/sdk/api_client/models/search_output_ports_response_item.py
Due: regen-openapi-spec, local-fe-check

Added support for input ports on create data product (#3294)
  backend/app/data_products/router.py
  backend/app/data_products/schema_request.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/test_router.py
  docs/static/openapi.json
  frontend/src/pages/cart-explorations/components/existing-data-product-form.tsx
  frontend/src/pages/cart-explorations/components/new-data-product-form.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/tags/dataProductTags.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
  sdk/sdk/api_client/api/data_products/request_input_ports_for_data_product.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/data_product_create.py
  sdk/sdk/api_client/models/request_input_ports_for_data_product_request.py
  sdk/sdk/api_client/models/request_input_ports_for_data_product_response.py
Due: regen-openapi-spec, local-fe-check

Added exploration icon
  frontend/public/locales/en/translation.json
  frontend/src/assets/icons/border-icons/exploration-border-icon.svg
  frontend/src/assets/icons/border-icons/output-port-border-icon.svg
  frontend/src/assets/icons/data-ingestion-icon.svg
  frontend/src/assets/icons/data-output-outline-icon.svg
  frontend/src/assets/icons/data-product-types/chart-analytics-icon.svg
  frontend/src/assets/icons/data-product-types/chart-pie-icon.svg
  frontend/src/assets/icons/data-product-types/chip-icon.svg
  frontend/src/assets/icons/data-product-types/exploration-icon.svg
  frontend/src/assets/icons/data-product-types/ingestion-icon.svg
  frontend/src/assets/icons/data-product-types/robot-icon.svg
  frontend/src/assets/icons/dataset-border-icon.svg
  frontend/src/assets/icons/outline-icons/data-product-outline-icon.svg
  frontend/src/assets/icons/outline-icons/exploration-outline-icon.svg
  frontend/src/assets/icons/outline-icons/output-port-outline-icon.svg
  frontend/src/assets/icons/outline-icons/technical-asset-outline-icon.svg
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/charts/custom-nodes/dataset-node/dataset-node.tsx
  frontend/src/components/datasets/dataset-card/dataset-card.component.tsx
  frontend/src/components/icons/custom-svg-icon-loader/custom-svg-icon-loader.component.tsx
  frontend/src/components/icons/index.module.scss
  frontend/src/components/icons/index.tsx
  frontend/src/components/list/table-cell-item/table-cell-item.component.tsx
  frontend/src/components/requests/review-request-modal.tsx
  frontend/src/pages/data-output/components/data-output-tabs/data-output-tabs.tsx
  frontend/src/pages/data-output/components/data-output-tabs/dataset-tab/components/dataset-table/dataset-table-columns.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/dataset/dataset.module.scss
  frontend/src/pages/dataset/dataset.page.tsx
  frontend/src/pages/exploration/exploration.module.scss
  frontend/src/pages/exploration/exploration.page.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.component.tsx
  frontend/src/utils/data-product-type-icon.helper.ts
Due: local-fe-check

Added exploration icon (#3304)
  frontend/public/locales/en/translation.json
  frontend/src/assets/icons/border-icons/exploration-border-icon.svg
  frontend/src/assets/icons/border-icons/output-port-border-icon.svg
  frontend/src/assets/icons/data-ingestion-icon.svg
  frontend/src/assets/icons/data-output-outline-icon.svg
  frontend/src/assets/icons/data-product-types/chart-analytics-icon.svg
  frontend/src/assets/icons/data-product-types/chart-pie-icon.svg
  frontend/src/assets/icons/data-product-types/chip-icon.svg
  frontend/src/assets/icons/data-product-types/exploration-icon.svg
  frontend/src/assets/icons/data-product-types/ingestion-icon.svg
  frontend/src/assets/icons/data-product-types/robot-icon.svg
  frontend/src/assets/icons/dataset-border-icon.svg
  frontend/src/assets/icons/outline-icons/data-product-outline-icon.svg
  frontend/src/assets/icons/outline-icons/exploration-outline-icon.svg
  frontend/src/assets/icons/outline-icons/output-port-outline-icon.svg
  frontend/src/assets/icons/outline-icons/technical-asset-outline-icon.svg
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/charts/custom-nodes/dataset-node/dataset-node.tsx
  frontend/src/components/datasets/dataset-card/dataset-card.component.tsx
  frontend/src/components/icons/custom-svg-icon-loader/custom-svg-icon-loader.component.tsx
  frontend/src/components/icons/index.module.scss
  frontend/src/components/icons/index.tsx
  frontend/src/components/list/table-cell-item/table-cell-item.component.tsx
  frontend/src/components/requests/review-request-modal.tsx
  frontend/src/pages/data-output/components/data-output-tabs/data-output-tabs.tsx
  frontend/src/pages/data-output/components/data-output-tabs/dataset-tab/components/dataset-table/dataset-table-columns.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/dataset/dataset.module.scss
  frontend/src/pages/dataset/dataset.page.tsx
  frontend/src/pages/exploration/exploration.module.scss
  frontend/src/pages/exploration/exploration.page.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.component.tsx
  frontend/src/utils/data-product-type-icon.helper.ts
Due: local-fe-check

Added explorations to graph views
  backend/app/abstract_data_product/graph_utils.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/graph/node.py
  backend/app/graph/service.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/custom-nodes/exploration-node/exploration-node.tsx
  frontend/src/components/charts/custom-nodes/output-port-node/output-port-node.tsx
  frontend/src/components/charts/custom-nodes/technical-asset-node/technical-asset-node.tsx
  frontend/src/components/charts/node-editor/node-types.ts
  frontend/src/components/explorer/common.tsx
  frontend/src/components/explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
  frontend/src/components/global-explorer/use-node-editor.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  sdk/sdk/api_client/models/node_type.py
Due: regen-openapi-spec, local-fe-check

Created Exploration start page
  frontend/public/locales/en/translation.json
  frontend/src/components/icons/index.tsx
  frontend/src/components/requests/review-request-modal.tsx
  frontend/src/pages/data-output/components/data-output-tabs/data-output-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/exploration/components/exploration-start.tsx
  frontend/src/pages/exploration/exploration-tab-keys.ts
  frontend/src/pages/exploration/exploration.page.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/pages/roles/roles.page.tsx
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.component.tsx
  frontend/src/types/navigation.ts
Due: local-fe-check

Fix and improve the agents demo
  demo/agents/agent/Dockerfile
  demo/agents/agent/skills/postgres-semantic/SKILL.md
  demo/agents/portal_seed.sql
  demo/agents/provisioner/Dockerfile
  demo/agents/setup/create_products.py
Due: none

Added sticky cart summary
  frontend/src/pages/cart-explorations/cart.page.tsx
Due: local-fe-check

Added sticky cart summary (#3307)
  frontend/src/pages/cart-explorations/cart.page.tsx
Due: local-fe-check

Added explorations to graph views (#3305)
  backend/app/abstract_data_product/graph_utils.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/graph/node.py
  backend/app/graph/service.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/custom-nodes/exploration-node/exploration-node.tsx
  frontend/src/components/charts/custom-nodes/output-port-node/output-port-node.tsx
  frontend/src/components/charts/custom-nodes/technical-asset-node/technical-asset-node.tsx
  frontend/src/components/charts/node-editor/node-types.ts
  frontend/src/components/explorer/common.tsx
  frontend/src/components/explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
  frontend/src/components/global-explorer/use-node-editor.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  sdk/sdk/api_client/models/node_type.py
Due: regen-openapi-spec, local-fe-check

Fix and improve the agents demo (#3306)
  demo/agents/agent/Dockerfile
  demo/agents/agent/skills/postgres-semantic/SKILL.md
  demo/agents/portal_seed.sql
  demo/agents/provisioner/Dockerfile
  demo/agents/setup/create_products.py
Due: none

Created Exploration start page (#3303)
  frontend/public/locales/en/translation.json
  frontend/src/components/icons/index.tsx
  frontend/src/components/requests/review-request-modal.tsx
  frontend/src/pages/data-output/components/data-output-tabs/data-output-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/exploration/components/exploration-start.tsx
  frontend/src/pages/exploration/exploration-tab-keys.ts
  frontend/src/pages/exploration/exploration.page.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/pages/roles/roles.page.tsx
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.component.tsx
  frontend/src/types/navigation.ts
Due: local-fe-check

removing stuff from the ui and fine-tuning the mcp server
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_mcp_tools.py
  demo/basic/.env.portal
  frontend/src/pages/data-output/components/data-output-actions/data-output-actions.component.tsx
  frontend/src/pages/dataset/components/dataset-actions/dataset-actions.component.tsx
Due: regen-openapi-spec, local-fe-check

Initial commit for versioning ADR (#3210)
  docs/adr/0015-versioning.md
Due: none

Prefill justification from description for Exploration
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart-explorations/components/existing-exploration-form.tsx
  frontend/src/pages/cart-explorations/components/form-item-justification.tsx
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
Due: local-fe-check

Prefill justification from description for Exploration (#3308)
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart-explorations/components/existing-exploration-form.tsx
  frontend/src/pages/cart-explorations/components/form-item-justification.tsx
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
Due: local-fe-check

Some simple fixes for explorations
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/input-port-tab.tsx
  frontend/src/components/icons/custom-svg-icon-loader/custom-svg-icon-loader.component.tsx
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/card-selection.tsx
  frontend/src/pages/cart-explorations/components/existing-data-product-form.tsx
  frontend/src/pages/cart-explorations/components/existing-exploration-form.tsx
  frontend/src/pages/home/components/quick-actions/quick-actions.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
Due: local-fe-check

Some simple fixes for explorations (#3316)
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/input-port-tab.tsx
  frontend/src/components/icons/custom-svg-icon-loader/custom-svg-icon-loader.component.tsx
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/card-selection.tsx
  frontend/src/pages/cart-explorations/components/existing-data-product-form.tsx
  frontend/src/pages/cart-explorations/components/existing-exploration-form.tsx
  frontend/src/pages/home/components/quick-actions/quick-actions.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
Due: local-fe-check

Enable exploration by default
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/cart-overview.component.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/card-selection.module.scss
  frontend/src/pages/cart/components/card-selection.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/cart/components/existing-exploration-form.tsx
  frontend/src/pages/cart/components/form-item-issues.tsx
  frontend/src/pages/cart/components/form-item-justification.tsx
  frontend/src/pages/cart/components/new-data-product-form.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/pages/cart/hooks/use-cart-overlap-check.ts
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
  frontend/src/routes.tsx
  frontend/src/tests/pages/cart/cart.page.test.tsx
Due: local-fe-check

Enable exploration by default (#3315)
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/cart-overview.component.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/card-selection.module.scss
  frontend/src/pages/cart/components/card-selection.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/cart/components/existing-exploration-form.tsx
  frontend/src/pages/cart/components/form-item-issues.tsx
  frontend/src/pages/cart/components/form-item-justification.tsx
  frontend/src/pages/cart/components/new-data-product-form.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/pages/cart/hooks/use-cart-overlap-check.ts
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
  frontend/src/routes.tsx
  frontend/src/tests/pages/cart/cart.page.test.tsx
Due: local-fe-check

Fix consumers tab output ports
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/consumers-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/utils/abstract-data-product-icon.tsx
Due: local-fe-check

Simplify exploration creation
  backend/app/data_products/service.py
  backend/app/explorations/schema_request.py
  backend/app/explorations/service.py
  backend/tests/app/explorations/test_router.py
  docs/static/openapi.json
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/tests/pages/cart/cart.page.test.tsx
  sdk/sdk/api_client/models/create_exploration_request_with_input_ports.py
Due: regen-openapi-spec, local-fe-check

Remove input port for exploration
  backend/app/abstract_data_product/service.py
  backend/app/data_products/router.py
  backend/app/explorations/router.py
  backend/tests/app/explorations/test_router.py
  docs/static/openapi.json
  frontend/src/pages/data-product/components/data-product-tabs/input-ports/input-port-tab.tsx
  frontend/src/pages/exploration/components/exploration-input-ports.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/tags/dataProductTags.ts
  sdk/sdk/api_client/api/explorations/remove_input_port_from_exploration.py
Due: regen-openapi-spec, local-fe-check

Show required by default in all forms
  frontend/src/components/data-outputs/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/cart/components/new-data-product-form.tsx
  frontend/src/pages/settings/components/settings-tabs/components/theme-form/theme-form.component.tsx
Due: local-fe-check

Fix icon color for data products in cart
  frontend/src/pages/cart/cart.page.tsx
Due: local-fe-check

Fix consumers tab output ports (#3317)
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/consumers-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/utils/abstract-data-product-icon.tsx
Due: local-fe-check

FIX THIS SHIT
  frontend/src/components/layout/root/root.layout.tsx
  frontend/src/components/layout/root/root.module.scss
  frontend/src/theme/antd-theme.ts
Due: local-fe-check

Fix icon color for data products in cart (#3321)
  frontend/src/pages/cart/cart.page.tsx
Due: local-fe-check

Remove input port for exploration (#3318)
  backend/app/abstract_data_product/service.py
  backend/app/data_products/router.py
  backend/app/explorations/router.py
  backend/tests/app/explorations/test_router.py
  docs/static/openapi.json
  frontend/src/pages/data-product/components/data-product-tabs/input-ports/input-port-tab.tsx
  frontend/src/pages/exploration/components/exploration-input-ports.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/tags/dataProductTags.ts
  sdk/sdk/api_client/api/explorations/remove_input_port_from_exploration.py
Due: regen-openapi-spec, local-fe-check

Show required by default in all forms (#3319)
  frontend/src/components/data-outputs/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/cart/components/new-data-product-form.tsx
  frontend/src/pages/settings/components/settings-tabs/components/theme-form/theme-form.component.tsx
Due: local-fe-check

fix: add .unwrap() to RTK Query mutations to properly catch API errors
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/data-product-lifecycles-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/new-data-product-lifecycles-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-form-modal.component.tsx
Due: local-fe-check

fix: pass path params via request.path_params in v2 webhook dependencies
  backend/app/core/webhooks/v2.py
Due: regen-openapi-spec

feat: add v2 webhook core module and WEBHOOK_V2_URL setting
  backend/app/core/webhooks/v2.py
  backend/app/settings.py
  backend/tests/app/core/webhooks/test_v2_webhook.py
Due: regen-openapi-spec

feat: emit v2 events for data product endpoints
  backend/app/data_products/router.py
  backend/tests/app/core/webhooks/test_v2_data_products.py
Due: regen-openapi-spec

feat: emit v2 events for data product role assignment endpoints
  backend/app/authorization/role_assignments/data_product/router.py
  backend/tests/app/core/webhooks/test_v2_data_products.py
Due: regen-openapi-spec

feat: emit v2 events for output port endpoints
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/router.py
  backend/tests/app/core/webhooks/test_v2_output_ports.py
Due: regen-openapi-spec

feat: emit v2 events for technical asset endpoints
  backend/app/data_products/technical_assets/router.py
  backend/tests/app/core/webhooks/test_v2_technical_assets.py
Due: regen-openapi-spec

feat: emit v2 events for technical asset link endpoints
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/tests/app/core/webhooks/test_v2_technical_assets.py
Due: regen-openapi-spec

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
