Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

test: Add tests for output port access durations
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

Add expiration dates to input ports
  backend/app/abstract_data_product/background_tasks.py
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/app/access_durations/service.py
  backend/app/authorization/role_assignments/enums.py
  backend/app/data_products/output_ports/input_ports/schema_response.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/database/alembic/versions/2026_07_07_1359-f05841f3040e_add_expiry_to_input_port.py
  backend/app/main.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  sdk/sdk/api_client/models/data_product_output_port_pending_action.py
  sdk/sdk/api_client/models/decision_status.py
Due: regen-openapi-spec, local-fe-check

Remove old input port pending action, add days to review modal
  backend/app/data_products/output_ports/input_ports/schema_response.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/pending_actions/schema.py
  backend/app/pending_actions/service.py
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/review-request-modal.tsx
Due: regen-openapi-spec, local-fe-check

fix: use data product access duration in data product cart forms
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/cart/components/new-data-product-form.tsx
Due: local-fe-check

Update bad translation
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/components/form-item-access-duration.tsx
Due: local-fe-check

fix: output ports -> Output Ports
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/components/form-item-access-duration.tsx
Due: local-fe-check

fix downgrade
  backend/app/database/alembic/versions/2026_07_07_1359-f05841f3040e_add_expiry_to_input_port.py
Due: regen-openapi-spec

Fix 2 separate items
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
Due: local-fe-check

Add access duration types to output port backend
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_request.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/database/alembic/versions/2026_07_06_1112-56e4e97d7294_add_access_duration_type_to_output_port.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/factories/dataset.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/tests/mocks/outputPortsSearch.ts
  sdk/sdk/api_client/models/create_output_port_request.py
  sdk/sdk/api_client/models/dataset_update.py
  sdk/sdk/api_client/models/get_output_port_response.py
  sdk/sdk/api_client/models/search_output_ports_response_item.py
Due: regen-openapi-spec, local-fe-check

test: Add regression tests for access duration cascade
  backend/tests/app/access_durations/test_router.py
Due: regen-openapi-spec

Cascade access duration updates to output ports
  backend/app/access_durations/service.py
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-policy-tab.component.tsx
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/api/services/tags/accessDurationsTags.ts
Due: regen-openapi-spec, local-fe-check

Feature/3754 timebound output port (#3780)
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-policy-tab.component.tsx
Due: local-fe-check

Rename got lost
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
Due: local-fe-check

Replace gaps
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
Due: local-fe-check

Resolve pr comments
  backend/app/access_durations/service.py
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Feature/3754 timebound output port backend (#3781)
  backend/app/access_durations/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_request.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/database/alembic/versions/2026_07_06_1112-56e4e97d7294_add_access_duration_type_to_output_port.py
  backend/tests/app/access_durations/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/factories/dataset.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-policy-tab.component.tsx
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/api/services/tags/accessDurationsTags.ts
  frontend/src/tests/mocks/outputPortsSearch.ts
  sdk/sdk/api_client/models/create_output_port_request.py
  sdk/sdk/api_client/models/dataset_update.py
  sdk/sdk/api_client/models/get_output_port_response.py
  sdk/sdk/api_client/models/search_output_ports_response_item.py
Due: regen-openapi-spec, local-fe-check

feat: Show access expiry status on input port tables
  backend/app/data_products/output_ports/input_ports/schema.py
  backend/app/data_products/output_ports/input_ports/schema_response.py
  backend/app/settings.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/data-products/data-product-dataset-justification/justification.component.tsx
  frontend/src/components/datasets/access-expiry-status/access-expiry-status.component.tsx
  frontend/src/components/list/table-cell-avatar/table-cell-avatar.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/tests/mocks/dataProducts.ts
  frontend/src/tests/mocks/explorations.ts
  frontend/src/types/roles/enums.ts
  frontend/src/utils/status.helper.ts
  sdk/sdk/api_client/models/data_product_output_port_pending_action.py
  sdk/sdk/api_client/models/input_port.py
  sdk/sdk/api_client/models/output_port_input_port.py
Due: regen-openapi-spec, local-fe-check

Allow producers to renew expired input ports
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema_request.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/database/alembic/versions/2026_07_08_1351-c7cd7b905f3e_add_renewed_by_to_input_port.py
  backend/app/events/enums.py
  backend/app/users/model.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table.component.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsInputPortsTags.ts
  sdk/sdk/api_client/api/data_products_output_ports_input_ports/renew_output_port_as_input_port.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/renew_output_port_as_input_port_request.py
Due: regen-openapi-spec, local-fe-check

Fix popconfirm and requested days
  backend/app/data_products/output_ports/input_ports/schema.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/access-expiry-status/access-expiry-status.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  sdk/sdk/api_client/models/input_port.py
  sdk/sdk/api_client/models/output_port_input_port.py
Due: regen-openapi-spec, local-fe-check

Add extend on expiring soon
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
Due: local-fe-check

feat: Add renewal request action for expiring input ports
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/app/database/alembic/versions/2026_07_08_1351-c7cd7b905f3e_add_renewed_by_to_input_port.py
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/input-port-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/input-ports/input-port-tab.tsx
  frontend/src/pages/exploration/components/exploration-input-ports.tsx
Due: regen-openapi-spec, local-fe-check

Resolve all PR comments
  backend/app/access_durations/service.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/tests/app/data_products/output_ports/test_router.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/pages/cart/components/access-duration-overview.tsx
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/cart/components/existing-exploration-form.tsx
  frontend/src/pages/cart/components/new-data-product-form.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/pages/cart/components/output-port-access-duration.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  sdk/sdk/api_client/models/output_port_access_duration.py
Due: regen-openapi-spec, local-fe-check

Move access duration to the right
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/access-duration-overview.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/cart/components/existing-exploration-form.tsx
  frontend/src/pages/cart/components/new-data-product-form.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/pages/cart/components/output-port-access-duration.tsx
Due: local-fe-check

test: Cover renewal and time-bound logic in _add_single_input_port
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/tests/app/abstract_data_product/test_service.py
Due: regen-openapi-spec

Feature/3754 timebound access requests (#3795)
  .gitignore
  backend/app/access_durations/service.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/tests/app/data_products/output_ports/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/cart/components/output-port-access-duration.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  sdk/sdk/api_client/api/data_products_output_ports/get_output_port_access_durations.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/get_output_port_access_durations_response.py
  sdk/sdk/api_client/models/output_port_access_duration.py
Due: regen-openapi-spec, local-fe-check

Revert "Fix authentication for finalizers on explorations"
  backend/app/explorations/router.py
Due: regen-openapi-spec

refactor: Split _add_single_input_port into named steps
  backend/app/abstract_data_product/background_tasks.py
  backend/app/abstract_data_product/service.py
  backend/app/exceptions.py
Due: regen-openapi-spec

feature: add initial proposal for adr 0021
  docs/adr/0021-input-ports-and-input-port-requests.md
Due: none

Update docs/adr/0021-input-ports-and-input-port-requests.md
  docs/adr/0021-input-ports-and-input-port-requests.md
Due: none

update: comments regarding delete cascade and enforce uniquenness
  docs/adr/0021-input-ports-and-input-port-requests.md
Due: none

Rework to mcp per plugin tools
  backend/app/data_output_configuration/glue/mcp_tools.py
  backend/app/mcp/deps.py
  backend/app/mcp/loader.py
  backend/app/mcp/mcp.py
  backend/app/mcp/plugin_registry.py
Due: regen-openapi-spec

update: decide to go for slpit table but background task due to provisioner event requirements
  docs/adr/0021-input-ports-and-input-port-requests.md
Due: none

resolve: decide that chanigng permanent is not possible now only with recreation
  docs/adr/0021-input-ports-and-input-port-requests.md
Due: none

resolve: add acces_requests_type to the input_table_requests
  docs/adr/0021-input-ports-and-input-port-requests.md
Due: none

Remove any hardcoded env presence
  backend/app/data_output_configuration/glue/mcp_tools.py
  backend/app/data_products/technical_assets/schema_response.py
Due: regen-openapi-spec

feature: add initial proposal for adr 0021 (#3821)
  docs/adr/0021-input-ports-and-input-port-requests.md
Due: none

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
