Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Improve technical asset form
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.component.tsx
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.module.scss
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-technical-asset-popup/add-technical-asset-popup.test.tsx
Due: local-fe-check

Improve v2 webhook event dispatch with queue worker (#4020)
  backend/app/core/webhooks/events.py
  backend/app/core/webhooks/middleware.py
  backend/app/main.py
  backend/tests/app/core/webhooks/test_dispatch_queued_events_middleware.py
Due: regen-openapi-spec

Improve technical asset form (#4031)
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.component.tsx
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.module.scss
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-technical-asset-popup/add-technical-asset-popup.test.tsx
Due: local-fe-check

Improved loggin middleware
  backend/app/core/logging/middleware.py
  backend/app/main.py
Due: regen-openapi-spec

Improved loggin middleware (#4018)
  backend/app/core/logging/middleware.py
  backend/app/main.py
Due: regen-openapi-spec

Improve incompatible access modes modal
  backend/sample_data.sql
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/output-ports/output-port-access-icon/output-port-access-icon.module.scss
  frontend/src/components/output-ports/output-port-access-icon/output-port-access-icon.tsx
  frontend/src/components/output-ports/output-port-card/incompatible-access-modes-modal.component.tsx
  frontend/src/components/output-ports/output-port-card/output-port-card.component.tsx
  frontend/src/components/output-ports/output-port-card/output-port-card.module.scss
  frontend/src/components/output-ports/output-port-card/technical-asset-link-modal.component.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.module.scss
  frontend/src/components/output-ports/output-port-popover-title/output-port-popover-title.tsx
  frontend/src/components/output-ports/output-port-title/output-port-title.module.scss
  frontend/src/components/output-ports/output-port-title/output-port-title.tsx
  frontend/src/pages/data-product/components/data-product-tabs/technical-asset-tab/components/add-output-port-popup/add-output-port-popup.tsx
  frontend/src/pages/data-product/components/data-product-tabs/technical-asset-tab/components/output-ports-table/output-ports-table.component.tsx
  frontend/src/pages/output-port-edit/output-port-edit.page.tsx
  frontend/src/pages/output-port/output-port.page.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/components/output-port-table/output-port-table-columns.tsx
  frontend/src/tests/components/output-ports/output-port-card.component.test.tsx
Due: local-fe-check

Improve background task handling
  backend/app/main.py
Due: regen-openapi-spec

Improve incompatible access modes modal (#4017)
  backend/sample_data.sql
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/output-ports/output-port-access-icon/output-port-access-icon.module.scss
  frontend/src/components/output-ports/output-port-access-icon/output-port-access-icon.tsx
  frontend/src/components/output-ports/output-port-card/incompatible-access-modes-modal.component.tsx
  frontend/src/components/output-ports/output-port-card/output-port-card.component.tsx
  frontend/src/components/output-ports/output-port-card/output-port-card.module.scss
  frontend/src/components/output-ports/output-port-card/technical-asset-link-modal.component.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.module.scss
  frontend/src/components/output-ports/output-port-popover-title/output-port-popover-title.tsx
  frontend/src/components/output-ports/output-port-title/output-port-title.module.scss
  frontend/src/components/output-ports/output-port-title/output-port-title.tsx
  frontend/src/pages/data-product/components/data-product-tabs/technical-asset-tab/components/add-output-port-popup/add-output-port-popup.tsx
  frontend/src/pages/data-product/components/data-product-tabs/technical-asset-tab/components/output-ports-table/output-ports-table.component.tsx
  frontend/src/pages/output-port-edit/output-port-edit.page.tsx
  frontend/src/pages/output-port/output-port.page.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/components/output-port-table/output-port-table-columns.tsx
  frontend/src/tests/components/output-ports/output-port-card.component.test.tsx
Due: local-fe-check

Improve background task handling (#4016)
  backend/app/main.py
Due: regen-openapi-spec

Helm release
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
  docs/docs/developer-guide/installation.md
Due: none

Remove v1 webhook support
  AGENTS.md
  backend/app/core/webhooks/webhook.py
  backend/app/main.py
  backend/app/settings.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
  backend/tests/app/core/webhooks/test_webhook_middleware.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/app/explorations/test_router.py
  backend/tests/conftest.py
  backend/tests/sdk/test_webhook_integration.py
  backend/tests/webhook_util.py
  docs/docs/developer-guide/architecture.md
  docs/docs/developer-guide/provisioner.md
  docs/docs/release-notes.md
  helm/templates/configmap_backend.yaml
  helm/templates/secret.yaml
  helm/values.yaml
Due: regen-openapi-spec

Helm release (#4032)
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
  docs/docs/developer-guide/installation.md
Due: none

Remove v1 webhook support (#4019)
  AGENTS.md
  backend/app/core/webhooks/webhook.py
  backend/app/main.py
  backend/app/settings.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
  backend/tests/app/core/webhooks/test_webhook_middleware.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/app/explorations/test_router.py
  backend/tests/conftest.py
  backend/tests/sdk/test_webhook_integration.py
  backend/tests/webhook_util.py
  docs/docs/developer-guide/architecture.md
  docs/docs/developer-guide/provisioner.md
  docs/docs/release-notes.md
  helm/templates/configmap_backend.yaml
  helm/templates/secret.yaml
  helm/values.yaml
Due: regen-openapi-spec

Cleanup unused files
  frontend/src/store/features/api/tag-types.ts
  frontend/src/types/dataset/dataset.contract.ts
Due: local-fe-check

Remove all unnnecesary things form theme
  frontend/src/App.tsx
  frontend/src/config/app-config.ts
  frontend/src/theme/antd-theme.ts
Due: local-fe-check

Enable sqlfluff
  .gitleaks.toml
  .pre-commit-config.yaml
  .sqlfluff
  backend/sample_data.sql
  demo/agents/data_sources_seed.sql
  demo/basic/data_sources_seed.sql
  demo/basic/products/demo/customer_360.sql
Due: none

Enable sqlfluff (#4060)
  .gitleaks.toml
  .pre-commit-config.yaml
  .sqlfluff
  backend/sample_data.sql
  demo/agents/data_sources_seed.sql
  demo/basic/data_sources_seed.sql
  demo/basic/products/demo/customer_360.sql
Due: none

Disable cv06
  .sqlfluff
Due: none

Disable cv06 (#4062)
  .sqlfluff
Due: none

Cleanup unused files
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/list/usage-list-item/usage-list-item.component.tsx
  frontend/src/components/list/usage-list-item/usage-list-item.module.scss
  frontend/src/hooks/use-tab-param.tsx
  frontend/src/pages/data-product-edit/data-product-edit.module.scss
  frontend/src/store/features/api/tag-types.ts
  frontend/src/store/features/cart/cart-slice.ts
  frontend/src/types/dataset/dataset.contract.ts
  frontend/src/utils/abstract-data-product-icon.tsx
Due: local-fe-check

Cleanup unused files (#4033)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/list/usage-list-item/usage-list-item.component.tsx
  frontend/src/components/list/usage-list-item/usage-list-item.module.scss
  frontend/src/hooks/use-tab-param.tsx
  frontend/src/pages/data-product-edit/data-product-edit.module.scss
  frontend/src/store/features/api/tag-types.ts
  frontend/src/store/features/cart/cart-slice.ts
  frontend/src/types/dataset/dataset.contract.ts
  frontend/src/utils/abstract-data-product-icon.tsx
Due: local-fe-check

Track provisioning in daily metrics
  backend/app/core/logging/posthog_analytics.py
  backend/app/main.py
  backend/tests/app/core/logging/test_background_tasks.py
Due: regen-openapi-spec

Shutdown improvements doc
  docs/docs/release-notes.md
Due: none

Track provisioning in daily metrics (#4066)
  backend/app/core/logging/posthog_analytics.py
  backend/app/main.py
  backend/tests/app/core/logging/test_background_tasks.py
Due: regen-openapi-spec

Shutdown improvements doc (#4067)
  docs/docs/release-notes.md
Due: none

Use the name to filter plugins
  backend/app/technical_asset_configuration/agno/__init__.py
  backend/app/technical_asset_configuration/azure_blob/model.py
  backend/app/technical_asset_configuration/azure_blob/schema.py
  backend/app/technical_asset_configuration/conveyor/schema.py
  backend/app/technical_asset_configuration/databricks/model.py
  backend/app/technical_asset_configuration/databricks/schema.py
  backend/app/technical_asset_configuration/glue/model.py
  backend/app/technical_asset_configuration/glue/schema.py
  backend/app/technical_asset_configuration/osi_sem_model/model.py
  backend/app/technical_asset_configuration/osi_sem_model/schema.py
  backend/app/technical_asset_configuration/postgresql/model.py
  backend/app/technical_asset_configuration/postgresql/schema.py
  backend/app/technical_asset_configuration/redshift/model.py
  backend/app/technical_asset_configuration/redshift/schema.py
  backend/app/technical_asset_configuration/s3/model.py
  backend/app/technical_asset_configuration/s3/schema.py
  backend/app/technical_asset_configuration/service.py
  backend/app/technical_asset_configuration/snowflake/model.py
  backend/app/technical_asset_configuration/snowflake/schema.py
  docs/versioned_docs/version-0.6.x/developer-guide/installation.md
  docs/versioned_docs/version-0.7.x/developer-guide/installation.md
Due: regen-openapi-spec

Use the name to filter plugins (#4059)
  backend/app/technical_asset_configuration/agno/__init__.py
  backend/app/technical_asset_configuration/azure_blob/model.py
  backend/app/technical_asset_configuration/azure_blob/schema.py
  backend/app/technical_asset_configuration/conveyor/schema.py
  backend/app/technical_asset_configuration/databricks/model.py
  backend/app/technical_asset_configuration/databricks/schema.py
  backend/app/technical_asset_configuration/glue/model.py
  backend/app/technical_asset_configuration/glue/schema.py
  backend/app/technical_asset_configuration/osi_sem_model/model.py
  backend/app/technical_asset_configuration/osi_sem_model/schema.py
  backend/app/technical_asset_configuration/postgresql/model.py
  backend/app/technical_asset_configuration/postgresql/schema.py
  backend/app/technical_asset_configuration/redshift/model.py
  backend/app/technical_asset_configuration/redshift/schema.py
  backend/app/technical_asset_configuration/s3/model.py
  backend/app/technical_asset_configuration/s3/schema.py
  backend/app/technical_asset_configuration/service.py
  backend/app/technical_asset_configuration/snowflake/model.py
  backend/app/technical_asset_configuration/snowflake/schema.py
  docs/versioned_docs/version-0.6.x/developer-guide/installation.md
  docs/versioned_docs/version-0.7.x/developer-guide/installation.md
Due: regen-openapi-spec

Added documentation on acces modes
  docs/docs/concepts/technical-assets.md
Due: none

Added review docs skill
  .claude/skills/review-docs/SKILL.md
Due: none

Changed copy for explorations
  frontend/public/locales/en/translation.json
  frontend/src/pages/exploration/components/exploration-start.tsx
Due: local-fe-check

Fix supress error toast handling
  frontend/src/store/common/axios-base-query.ts
  frontend/src/tests/store/api/axios-base-query.test.ts
Due: local-fe-check

Fix supress error toast handling (#4072)
  frontend/src/store/common/axios-base-query.ts
  frontend/src/tests/store/api/axios-base-query.test.ts
Due: local-fe-check

Changed copy for explorations (#4071)
  frontend/public/locales/en/translation.json
  frontend/src/pages/exploration/components/exploration-start.tsx
Due: local-fe-check

Added review docs skill (#4070)
  .claude/skills/review-docs/SKILL.md
Due: none

Sample data: Access mode example fix
  backend/sample_data.sql
Due: none

Performance improvements for Portal
  backend/README.md
  backend/app/core/embed/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/database.py
  backend/app/embed.py
  backend/app/main.py
  backend/app/settings.py
  backend/loadtest/locustfile.py
  backend/poetry.lock
  backend/pyproject.toml
  docs/docs/release-notes.md
Due: regen-openapi-spec

Validate front end error codes
  .pre-commit-config.yaml
  backend/app/data_products/router.py
  docs/static/openapi.json
  frontend/package.json
  frontend/scripts/validate-api-errors.js
  frontend/src/components/output-ports/output-port-card/output-port-card.component.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-modes-modal.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/common/api-errors.ts
  frontend/src/store/common/errors.ts
  frontend/src/tests/components/output-ports/output-port-card.component.test.tsx
  frontend/src/tests/store/api/errors.test.ts
Due: regen-openapi-spec, local-fe-check

Sample data: Access mode example fix (#4076)
  backend/sample_data.sql
Due: none
