Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

fix translations
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
Due: local-fe-check

Document how to use schema information.
  docs/docs/developer-guide/schema-information.md
  docs/docs/release-notes.md
Due: none

Fix translation file.
  frontend/public/locales/en/translation.json
Due: local-fe-check

Rebase
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/adr/0012-pick-data-product-standard.md
  docs/adr/0017-versioning.md
  docs/adr/0018-persist-output-port-schemas.md
  docs/docs/developer-guide/schema-information.md
  docs/docs/release-notes.md
  docs/static/openapi.json
Due: none

Add ORM event tracking mixin with exploration events
  backend/app/core/context.py
  backend/app/core/webhooks/events.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  backend/app/main.py
Due: regen-openapi-spec

How to track and send out events (#3582)
  docs/adr/0020-registering-events.md
Due: none

Improve layout
  backend/app/data_products/output_ports/contract/service.py
  frontend/src/components/data-outputs/technical-asset-card/data-output-card.component.tsx
  frontend/src/components/quality-badge/quality-badge.component.tsx
  frontend/src/pages/dataset/components/dataset-description/dataset-description.module.scss
  frontend/src/pages/dataset/components/dataset-description/output-port-description.tsx
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabkeys.ts
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/store/common/axios-base-query.ts
  frontend/src/utils/quality-status.helper.tsx
Due: regen-openapi-spec, local-fe-check

Update tests
  backend/tests/app/data_products/output_ports/contract/test_router.py
Due: regen-openapi-spec

Create frontend for data models (#3469)
  backend/app/data_products/output_ports/contract/schema_response.py
  backend/app/data_products/output_ports/contract/service.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_ports/contract/test_router.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/adr/0012-pick-data-product-standard.md
  docs/adr/0017-versioning.md
  docs/adr/0018-persist-output-port-schemas.md
  docs/docs/developer-guide/schema-information.md
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-outputs/technical-asset-card/data-output-card.component.tsx
  frontend/src/components/quality-badge/quality-badge.component.tsx
  frontend/src/pages/dataset/components/dataset-description/dataset-description.module.scss
  frontend/src/pages/dataset/components/dataset-description/output-port-description.tsx
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabkeys.ts
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/common/axios-base-query.ts
  frontend/src/utils/quality-status.helper.tsx
  sdk/sdk/api_client/models/schema_property_response.py
Due: regen-openapi-spec, local-fe-check

Patch dependencies for docs
  docs/package-lock.json
  docs/package.json
Due: none

Patch dependencies for docs (#3595)
  docs/package-lock.json
  docs/package.json
Due: none

Assert events are not emitted if no webhook is set, add unit tests
  backend/app/main.py
  backend/tests/app/database/test_event_mixin.py
  backend/tests/app/explorations/test_event_emission.py
Due: regen-openapi-spec

Update release notes
  docs/docs/release-notes.md
Due: none

Fix Base class
  backend/tests/app/database/test_event_mixin.py
Due: regen-openapi-spec

Run nightly for demo/basic
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/nightly-build.yml
Due: none

Lower chance of duplicates during testing
  backend/tests/factories/exploration.py
Due: regen-openapi-spec

Extend PR template (#3518)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/nightly-build.yml
Due: none

Solve PR comments
  backend/app/core/context.py
  backend/app/core/webhooks/events.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  backend/app/main.py
  backend/tests/app/database/test_event_mixin.py
  backend/tests/app/explorations/test_event_emission.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/exploration_created_event.py
  sdk/sdk/api_client/models/exploration_deleted_event.py
  sdk/sdk/api_client/models/exploration_updated_event.py
Due: regen-openapi-spec

Added comment for documentation
  backend/app/main.py
Due: regen-openapi-spec

Add ORM event tracking mixin with exploration events (#3588)
  backend/app/core/context.py
  backend/app/core/webhooks/events.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  backend/app/main.py
  backend/tests/app/database/test_event_mixin.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/factories/exploration.py
  docs/docs/release-notes.md
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_exploration_created_event.py
  sdk/sdk/api_client/models/cloud_event_exploration_deleted_event.py
  sdk/sdk/api_client/models/cloud_event_exploration_updated_event.py
  sdk/sdk/api_client/models/exploration_created_event.py
  sdk/sdk/api_client/models/exploration_deleted_event.py
  sdk/sdk/api_client/models/exploration_payload.py
  sdk/sdk/api_client/models/exploration_updated_event.py
Due: regen-openapi-spec

Fix server not yet healthy error in nightly
  .github/workflows/nightly-build.yml
Due: none

Single test of nightly
  .github/workflows/nightly-build.yml
Due: none

Fix same syntax for compose
  .github/workflows/nightly-build.yml
Due: none

Add ports so health check can be done
  demo/basic/compose.yaml
Due: none

Remove pr run of nightly
  .github/workflows/nightly-build.yml
Due: none

Fix nightly fail (#3602)
  .github/workflows/nightly-build.yml
  demo/basic/compose.yaml
Due: none

Remove beta label usage
  frontend/public/locales/en/translation.json
  frontend/src/components/tabs/usage-tab/usage-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
Due: local-fe-check

Remove beta label usage (#3603)
  frontend/public/locales/en/translation.json
  frontend/src/components/tabs/usage-tab/usage-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
Due: local-fe-check

Input port approved action and total consumption daily push
  backend/app/abstract_data_product/service.py
  backend/app/core/logging/posthog_analytics.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/main.py
  backend/tests/app/core/logging/__init__.py
  backend/tests/app/core/logging/test_background_tasks.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
Due: regen-openapi-spec

Change typing, fix tests, add release notes
  backend/app/abstract_data_product/service.py
  backend/app/core/logging/posthog_analytics.py
  backend/app/data_products/output_ports/input_ports/service.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

Added host not automatically added in backend
  backend/app/core/logging/posthog_analytics.py
Due: regen-openapi-spec

Reset uniques of faker
  backend/tests/conftest.py
  backend/tests/factories/__init__.py
Due: regen-openapi-spec

Inject host with each backend posthog call
  backend/app/core/logging/posthog_analytics.py
Due: regen-openapi-spec

Fix biome issues
  frontend/biome.json
  frontend/src/store/api/services/tag-types.ts
Due: local-fe-check

Change enum
  backend/app/core/logging/posthog_analytics.py
Due: regen-openapi-spec

Regen go code
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
Due: none

Solve some comments
  backend/app/core/logging/posthog_analytics.py
Due: regen-openapi-spec

Fix test
  backend/tests/app/core/logging/test_background_tasks.py
Due: regen-openapi-spec

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
