Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Remove unused methods and improve typing
  backend/app/data_output_configuration/base_schema.py
Due: regen-openapi-spec

Use Antd typing and rename
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
Due: local-fe-check

Fix some PR comments
  backend/app/data_output_configuration/base_schema.py
  backend/tests/app/plugins/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Use hierarchy
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/snowflake/schema.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

not configured and context
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/tests/app/plugins/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Depends on is list
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/snowflake/schema.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Typing stuff
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/snowflake/schema.py
Due: regen-openapi-spec

Typing stuff
  backend/app/data_output_configuration/service.py
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
Due: regen-openapi-spec, local-fe-check

update unit test
  backend/tests/app/plugins/test_router.py
Due: regen-openapi-spec

Rework to radio group access granularity
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/model.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/enums.py
  backend/app/data_output_configuration/glue/model.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/model.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/snowflake/model.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/database/alembic/versions/2026_01_07_1455-dbe6fbe45eef_add_entire_schema_checkbox.py
  backend/sample_data.sql
  backend/tests/app/plugins/test_router.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Use default values where needed, allow null
  backend/app/data_output_configuration/databricks/model.py
  backend/app/data_output_configuration/glue/model.py
  backend/app/data_output_configuration/redshift/model.py
  backend/app/data_output_configuration/snowflake/model.py
  backend/app/database/alembic/versions/2026_01_07_1455-dbe6fbe45eef_add_entire_schema_checkbox.py
Due: regen-openapi-spec

Use str in database representation and remove unneeded frontend vars
  backend/app/data_output_configuration/databricks/model.py
  backend/app/data_output_configuration/glue/model.py
  backend/app/data_output_configuration/redshift/model.py
  backend/app/data_output_configuration/snowflake/model.py
  backend/app/database/alembic/versions/2026_01_07_1455-dbe6fbe45eef_add_entire_schema_checkbox.py
  backend/sample_data.sql
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Feature/frontend generation of output configs (#2436)
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/model.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/enums.py
  backend/app/data_output_configuration/glue/model.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/model.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/app/data_output_configuration/snowflake/model.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/database/alembic/versions/2026_01_07_1455-dbe6fbe45eef_add_entire_schema_checkbox.py
  backend/app/shared/router.py
  backend/sample_data.sql
  backend/tests/app/plugins/test_router.py
  docs/static/openapi.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-output-form/components/output-configuration-sub-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/databricks-data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/glue-data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/redshift-data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/s3-data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/snowflake-data-output-form.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/utils/icon-loader.ts
Due: regen-openapi-spec, local-fe-check

Fix conditional hooks changed on rerender bug
  backend/app/data_output_configuration/databricks/schema.py
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Rework source Aligned into technical_mapping
  backend/app/data_products/technical_assets/enums.py
  backend/app/data_products/technical_assets/model.py
  backend/app/data_products/technical_assets/schema.py
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/data_products/technical_assets/service.py
  backend/app/database/alembic/versions/2026_01_21_1054-b1de5e9ba1fa_refactor_sourcealigned_to_technical_.py
  backend/sample_data.sql
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/factories/data_output.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/types/data-output/data-output-create.contract.ts
  frontend/src/types/data-output/technical-mapping.contract.ts
Due: regen-openapi-spec, local-fe-check

Use backend-provided name for technical info column, remove obsolete files
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/app/data_output_configuration/snowflake/schema.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-outputs/data-output-subtitle/data-output-subtitle.component.tsx
  frontend/src/components/data-outputs/data-output-technical-info/data-output-technical-info.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Removal of specific configuration types
  frontend/src/types/data-output/data-output.contract.ts
  frontend/src/types/data-output/databricks-data-output.contract.ts
  frontend/src/types/data-output/glue-data-output.contract.ts
  frontend/src/types/data-output/index.ts
  frontend/src/types/data-output/redshift-data-output.contract.ts
  frontend/src/types/data-output/s3-data-output.contract.ts
  frontend/src/types/data-output/snowflake-data-output.contract.ts
  frontend/src/types/data-platform/data-platform.ts
Due: local-fe-check

Use StrEnum to auto-parse the enum into a string
  backend/app/data_products/technical_assets/enums.py
  backend/app/data_products/technical_assets/service.py
Due: regen-openapi-spec

Updated documentation
  docs/docs/concepts/technical-assets.md
Due: none

Update frontend/src/components/data-outputs/data-output-technical-info/data-output-technical-info.component.tsx
  frontend/src/components/data-outputs/data-output-technical-info/data-output-technical-info.component.tsx
Due: local-fe-check

initial version of python package that supporta device token flow
  cli/golang/.gitignore
  cli/golang/.golangci.yaml
  cli/golang/.goreleaser.yaml
  cli/golang/LICENSE
  cli/golang/README.md
  cli/golang/go.mod
  cli/golang/go.sum
  cli/golang/libs/auth/login.go
  cli/golang/libs/cliapi/api.go
  cli/golang/libs/client.go
  cli/golang/libs/cmds/aws.go
  cli/golang/libs/core/profile.go
  cli/golang/libs/core/token.go
  cli/golang/libs/httpclient/client.go
  cli/golang/libs/logger/logger.go
  cli/golang/libs/test/test.go
  cli/golang/libs/token/cognitotoken/m2m/client.go
  cli/golang/libs/token/cognitotoken/m2m/m2m.go
  cli/golang/libs/token/cognitotoken/token.go
  cli/golang/libs/token/token.go
  cli/golang/main.go
  cli/golang/pkg/api/bifrost.gen.go
  cli/golang/pkg/cmd/auth/aws.go
  cli/golang/pkg/cmd/auth/configure.go
  cli/golang/pkg/cmd/auth/login.go
  cli/golang/pkg/cmd/auth/root.go
  cli/golang/pkg/cmd/auth/switch.go
  cli/golang/pkg/cmd/auth/test.go
  cli/golang/pkg/cmd/auth/which.go
  cli/golang/pkg/cmd/root.go
  cli/python/data-product-portal/README.md
  cli/python/data-product-portal/poetry.lock
  cli/python/data-product-portal/portal/__init__.py
  cli/python/data-product-portal/portal/auth/__init__.py
  cli/python/data-product-portal/portal/auth/auth.py
  cli/python/data-product-portal/portal/output_port_client.py
  cli/python/data-product-portal/pyproject.toml
Due: none

Fix golang linting directory.
  .github/workflows/tests.yml
Due: none

Feature/cleanup configuration types (#2502)
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/app/data_output_configuration/snowflake/schema.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-outputs/data-output-subtitle/data-output-subtitle.component.tsx
  frontend/src/components/data-outputs/data-output-technical-info/data-output-technical-info.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/types/data-output/data-output.contract.ts
  frontend/src/types/data-output/databricks-data-output.contract.ts
  frontend/src/types/data-output/glue-data-output.contract.ts
  frontend/src/types/data-output/index.ts
  frontend/src/types/data-output/redshift-data-output.contract.ts
  frontend/src/types/data-output/s3-data-output.contract.ts
  frontend/src/types/data-output/snowflake-data-output.contract.ts
  frontend/src/types/data-platform/data-platform.ts
Due: regen-openapi-spec, local-fe-check

Write documentation for data quality feature.
  docs/docs/developer-guide/data-quality-information.md
  docs/docs/developer-guide/img/data-quality-status.png
  docs/docs/release-notes.md
  frontend/src/store/common/axios-base-query.ts
  integrations/data_quality/examples/dbt_run_results.json
  integrations/data_quality/examples/soda_results.json
  integrations/data_quality/examples/soda_results_success.json
  integrations/data_quality/extract_dbt_summary.py
  integrations/data_quality/extract_soda_summary.py
Due: local-fe-check

Initial UI for data quality
  backend/app/data_products/output_ports/data_quality/router.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  docs/static/openapi.json
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/pages/dataset/dataset.page.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
Due: regen-openapi-spec, local-fe-check

Initial UI for data quality
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
Due: local-fe-check

WIP initial version for adding data quality to output ports
  backend/app/data_products/output_ports/data_quality/enums.py
  backend/app/data_products/output_ports/data_quality/model.py
  backend/app/data_products/output_ports/data_quality/router.py
  backend/app/data_products/output_ports/data_quality/schema_request.py
  backend/app/data_products/output_ports/data_quality/schema_response.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/app/data_products/output_ports/router.py
  backend/app/database/alembic/versions/2026_01_19_1523-7601ac14662a_store_data_quality_summary_for_output_.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  docs/adr/0011-ingestion-data-quality.md
  docs/static/openapi.json
Due: regen-openapi-spec

fix migrations after merging in main
  backend/app/database/alembic/versions/2026_01_19_1523-7601ac14662a_store_data_quality_summary_for_output_.py
Due: regen-openapi-spec

prepare PR
  backend/app/data_products/output_ports/data_quality/enums.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  docs/adr/0011-ingestion-data-quality.md
  docs/docs/developer-guide/data-quality-information.md
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
  integrations/data_quality/extract_soda_summary.py
Due: regen-openapi-spec, local-fe-check

fix migrations
  backend/app/database/alembic/versions/2026_01_19_1523-7601ac14662a_store_data_quality_summary_for_output_.py
Due: regen-openapi-spec

Fix merge conflicts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: local-fe-check

Patch vulnerabilities in npm dependencies
  docs/package-lock.json
  docs/package.json
  frontend/package-lock.json
Due: local-fe-check

Update backend/app/data_products/output_ports/data_quality/enums.py
  backend/app/data_products/output_ports/data_quality/enums.py
Due: regen-openapi-spec

Update backend/app/data_products/output_ports/data_quality/router.py
  backend/app/data_products/output_ports/data_quality/router.py
Due: regen-openapi-spec

Patch vulnerabilities in npm dependencies (#2518)
  docs/package-lock.json
  docs/package.json
  frontend/package-lock.json
Due: local-fe-check

Fix conditional hooks changed on rerender bug (#2500)
  backend/app/data_output_configuration/databricks/schema.py
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Revert "Bump @dagrejs/dagre from 1.1.8 to 2.0.3 in /frontend (#2526)"
  frontend/package-lock.json
  frontend/package.json
Due: local-fe-check

Revert "Bump @dagrejs/dagre from 1.1.8 to 2.0.3 in /frontend (#2526)" (#2528)
  frontend/package-lock.json
  frontend/package.json
Due: local-fe-check

Keep api backwards compatible by deprecating source_aligned
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/data_products/technical_assets/service.py
  docs/static/openapi.json
Due: regen-openapi-spec

implement PR comments
  backend/app/data_products/output_ports/data_quality/enums.py
  backend/app/data_products/output_ports/data_quality/model.py
  backend/app/data_products/output_ports/data_quality/router.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/app/database/alembic/versions/2026_01_19_1523-7601ac14662a_store_data_quality_summary_for_output_.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  docs/docs/developer-guide/data-quality-information.md
  docs/static/openapi.json
  frontend/package.json
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
  integrations/data_quality/extract_dbt_summary.py
  integrations/data_quality/extract_soda_summary.py
Due: regen-openapi-spec, local-fe-check

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
