Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

fix gap
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
Due: local-fe-check

add extra info
  cli/python/data-product-portal/README.md
Due: none

fix coverage
  backend/app/data_products/output_ports/data_quality/router.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
Due: regen-openapi-spec

Resolve PR comments
  backend/app/data_products/technical_assets/schema_request.py
  docs/docs/user-guide/creating-products.md
Due: regen-openapi-spec

First implementation of embedding search
  .github/workflows/tests.yml
  backend/Dockerfile
  backend/app/core/embed/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema.py
  backend/app/data_products/output_ports/search_dataset.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/service.py
  backend/app/database/alembic/versions/2026_01_14_1414-c3fecd278d0c_add_output_port_embeddings.py
  backend/app/embed.py
  backend/app/search_output_ports/schema_response.py
  backend/app/seed.py
  backend/app/settings.py
  backend/pyproject.toml
  backend/test-compose.yaml
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/search_output_ports/test_router.py
  compose.yaml
  docs/adr/0010-improve-search.md
  docs/docs/developer-guide/installation.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/marketplace/marketplace.page.tsx
  helm/Chart.lock
  helm/Chart.yaml
  helm/templates/configmap_backend.yaml
  helm/templates/secret_backend.yaml
  helm/values.yaml
Due: regen-openapi-spec, local-fe-check

Fixes
  backend/app/database/alembic/versions/2026_01_07_1455-dbe6fbe45eef_add_entire_schema_checkbox.py
  backend/app/database/alembic/versions/2026_01_14_1250-ca5f5782790a_add_cascade_delete_to_dataset_query_stats_daily.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Add test for limit
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Implement changes
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Respect limit
  backend/app/data_products/output_ports/service.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Add benchmarking tests for search
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/service.py
  backend/app/mcp/mcp.py
  backend/app/search_output_ports/router.py
  backend/app/seed.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Allow using seed script in tests, fix conversion
  backend/app/data_products/output_ports/schema_response.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_ports/__init__.py
  backend/tests/app/data_products/output_ports/query_stats_daily/__init__.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Use hybrid search, drop precision bound
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/2026_01_14_1414-c3fecd278d0c_add_output_port_embeddings.py
  backend/app/settings.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Updated postgres version and pgvector docs
  .github/workflows/tests.yml
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/service.py
  backend/app/seed.py
  backend/poetry.lock
  backend/test-compose.yaml
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/search_output_ports/test_router.py
  compose.yaml
  docs/docs/developer-guide/installation.md
  docs/docs/release-notes.md
Due: regen-openapi-spec

Update migrations
  backend/app/database/alembic/versions/2026_01_07_1455-dbe6fbe45eef_add_entire_schema_checkbox.py
  backend/app/database/alembic/versions/2026_01_14_1250-ca5f5782790a_add_cascade_delete_to_dataset_query_stats_daily.py
  backend/app/database/alembic/versions/2026_01_27_1019-c3fecd278d0c_add_output_port_embeddings.py
Due: regen-openapi-spec

Update frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
Due: local-fe-check

Add test deprecated endpoint, add to release notes
  backend/tests/app/data_products/technical_assets/test_router.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

First implementation of embedding search (#2477)
  .github/workflows/tests.yml
  backend/Dockerfile
  backend/app/core/embed/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/schema.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/search_dataset.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/service.py
  backend/app/database/alembic/versions/2026_01_27_1019-c3fecd278d0c_add_output_port_embeddings.py
  backend/app/embed.py
  backend/app/mcp/mcp.py
  backend/app/search_output_ports/router.py
  backend/app/search_output_ports/schema_response.py
  backend/app/seed.py
  backend/app/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/sample_data.sql
  backend/test-compose.yaml
  backend/tests/app/data_products/output_ports/__init__.py
  backend/tests/app/data_products/output_ports/query_stats_daily/__init__.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/search_output_ports/test_router.py
  compose.yaml
  docs/adr/0010-improve-search.md
  docs/docs/developer-guide/installation.md
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/marketplace/marketplace.page.tsx
  helm/Chart.lock
  helm/Chart.yaml
  helm/templates/configmap_backend.yaml
  helm/templates/secret_backend.yaml
  helm/values.yaml
Due: regen-openapi-spec, local-fe-check

Improve the search experience for users
  frontend/public/locales/en/translation.json
  frontend/src/components/search-page/search-page.component.tsx
  frontend/src/components/search-page/search-suggestions.tsx
  frontend/src/pages/data-products/data-products-table.component.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/people/people-table.component.tsx
Due: local-fe-check

Fix alembic order
  backend/app/database/alembic/versions/2026_01_21_1054-b1de5e9ba1fa_refactor_sourcealigned_to_technical_.py
Due: regen-openapi-spec

Rework source Aligned into technical_mapping (#2501)
  backend/app/data_products/technical_assets/enums.py
  backend/app/data_products/technical_assets/model.py
  backend/app/data_products/technical_assets/schema.py
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/data_products/technical_assets/service.py
  backend/app/database/alembic/versions/2026_01_21_1054-b1de5e9ba1fa_refactor_sourcealigned_to_technical_.py
  backend/sample_data.sql
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/factories/data_output.py
  docs/docs/concepts/technical-assets.md
  docs/docs/release-notes.md
  docs/docs/user-guide/creating-products.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/types/data-output/data-output-create.contract.ts
  frontend/src/types/data-output/technical-mapping.contract.ts
Due: regen-openapi-spec, local-fe-check

initial version of python package that supporta device token flow (#2504)
  .github/workflows/tests.yml
  cli/golang/.gitignore
  cli/golang/.golangci.yaml
  cli/golang/.goreleaser.yaml
  cli/golang/LICENSE
  cli/golang/README.md
  cli/golang/go.mod
  cli/golang/go.sum
  cli/golang/libs/auth/login.go
  cli/golang/libs/cliapi/api.go
  cli/golang/libs/client.go
  cli/golang/libs/cmds/aws.go
  cli/golang/libs/core/profile.go
  cli/golang/libs/core/token.go
  cli/golang/libs/httpclient/client.go
  cli/golang/libs/logger/logger.go
  cli/golang/libs/test/test.go
  cli/golang/libs/token/cognitotoken/m2m/client.go
  cli/golang/libs/token/cognitotoken/m2m/m2m.go
  cli/golang/libs/token/cognitotoken/token.go
  cli/golang/libs/token/token.go
  cli/golang/main.go
  cli/golang/pkg/api/bifrost.gen.go
  cli/golang/pkg/cmd/auth/aws.go
  cli/golang/pkg/cmd/auth/configure.go
  cli/golang/pkg/cmd/auth/login.go
  cli/golang/pkg/cmd/auth/root.go
  cli/golang/pkg/cmd/auth/switch.go
  cli/golang/pkg/cmd/auth/test.go
  cli/golang/pkg/cmd/auth/which.go
  cli/golang/pkg/cmd/root.go
  cli/python/data-product-portal/README.md
  cli/python/data-product-portal/poetry.lock
  cli/python/data-product-portal/portal/__init__.py
  cli/python/data-product-portal/portal/auth/__init__.py
  cli/python/data-product-portal/portal/auth/auth.py
  cli/python/data-product-portal/portal/output_port_client.py
  cli/python/data-product-portal/pyproject.toml
Due: none

implement PR comments
  backend/app/data_products/output_ports/data_quality/model.py
  docs/docs/developer-guide/data-quality-information.md
Due: regen-openapi-spec

Improve the search experience for users (#2541)
  frontend/public/locales/en/translation.json
  frontend/src/components/search-page/search-page.component.tsx
  frontend/src/components/search-page/search-suggestions.tsx
  frontend/src/pages/data-products/data-products-table.component.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/people/people-table.component.tsx
Due: local-fe-check

removing the folder as it breaks the story
  demo/products/demo/customer_360.sql
  demo/products/marketing_customer_360/models/customer_360.sql
Due: none

Fix the helm chart
  helm/templates/configmap_backend.yaml
  helm/values.yaml
Due: none

Initial docs for RBAC
  docs/docs/developer-guide/rbac.md
  docs/docs/getting-started/quickstart.md
Due: none

Add extra screenshot
  docs/docs/developer-guide/img/rbac.png
  docs/docs/developer-guide/rbac.md
Due: none

adding some more information to the limited sample set
  backend/sample_data2.sql
Due: none

Fix the helm chart (#2542)
  helm/templates/configmap_backend.yaml
  helm/values.yaml
Due: none

Increase embedding latency bound on ci
  .github/workflows/tests.yml
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Increase embedding latency bound on ci (#2544)
  .github/workflows/tests.yml
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Migrate technical asset configurations to be stored in a table per configuration type instead of a big table
  backend/app/data_output_configuration/base_model.py
  backend/app/data_output_configuration/databricks/model.py
  backend/app/data_output_configuration/glue/model.py
  backend/app/data_output_configuration/redshift/model.py
  backend/app/data_output_configuration/s3/model.py
  backend/app/data_output_configuration/snowflake/model.py
  backend/app/data_products/technical_assets/model.py
  backend/app/database/alembic/versions/2026_01_28_1241_snowflake_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1242_databricks_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1243_s3_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1244_glue_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1245_redshift_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1333_2bac081ab9d0_drop_configurations.py
  backend/sample_data.sql
Due: regen-openapi-spec

Bump poetry deps
  .github/dependabot.yml
  .github/workflows/tests.yml
  backend/pyproject.toml
  backend/requirements-poetry.txt
Due: none

Add gitignore for vendor directory of CLI
  cli/.gitignore
Due: none

Bump poetry deps + config maintenance (#2555)
  .github/dependabot.yml
  .github/workflows/tests.yml
  backend/pyproject.toml
  backend/requirements-poetry.txt
  cli/.gitignore
Due: none

Update docs/docs/getting-started/quickstart.md
  docs/docs/getting-started/quickstart.md
Due: none

Updated release notes
  docs/docs/release-notes.md
Due: none

Renamed old naming
  docs/docs/developer-guide/rbac.md
Due: none

Move extending to Contributing
  CONTRIBUTING.md
  docs/docs/developer-guide/rbac.md
Due: none
