Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Added access mode to access requests modal (#4132)
  backend/sample_data.sql
  frontend/src/components/access-modes/access-mode.component.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
Due: local-fe-check

feat: add comment
  backend/app/technical_asset_configuration/rustfs/schema.py
Due: regen-openapi-spec

Update docs/docs/concepts/technical-assets.md
  docs/docs/concepts/technical-assets.md
Due: none

fix: no plugins gave empty whitespace
  frontend/src/components/data-access/data-access-tile-grid/data-access-tile-grid.tsx
Due: local-fe-check

Casbin broadcasts changes so processes can reload
  backend/app/core/authz/authorization.py
  backend/app/core/authz/watcher.py
  backend/app/main.py
  backend/tests/app/core/authz/test_watcher.py
  docs/adr/0022-casbin-pg-watcher.md
Due: regen-openapi-spec

Refactor/timebound access frontend redesign (#4113)
  backend/sample_data.sql
  frontend/AGENTS.md
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-button.component.tsx
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/components/data-products/data-product-settings/data-product-settings.module.scss
  frontend/src/components/input-port/access-status.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/constants/form.constants.ts
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/cart/components/output-port-access-duration.tsx
  frontend/src/pages/output-port/components/dataset-description/output-port-description.tsx
  frontend/src/pages/output-port/components/dataset-tabs/settings-tab/settings-tab.tsx
  frontend/src/pages/output-port/output-port.page.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-durations.tsx
  frontend/src/tests/components/abstract-data-products/input-port-table/input-port-action-button.test.tsx
  frontend/src/tests/pages/settings/access-policy-tab/access-durations.test.tsx
Due: local-fe-check

Allow input port reconciliation on producer
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/app/core/webhooks/events.py
  docs/docs/developer-guide/provisioner.md
  docs/static/openapi.json
  sdk/sdk/__init__.py
  sdk/sdk/api_client/models/input_port_event.py
  sdk/sdk/provisioner/reconcile_manager.py
  sdk/tests/provisioner/test_reconcile_manager.py
Due: regen-openapi-spec

Added documentation on acces modes (#4068)
  docs/docs/concepts/technical-assets.md
Due: none

Allow input port reconciliation on producer (#4135)
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/app/core/webhooks/events.py
  docs/docs/developer-guide/provisioner.md
  docs/static/openapi.json
  sdk/sdk/__init__.py
  sdk/sdk/api_client/models/input_port_event.py
  sdk/sdk/provisioner/reconcile_manager.py
  sdk/tests/provisioner/test_reconcile_manager.py
Due: regen-openapi-spec

Allow uploading data model through UI
  backend/app/data_products/output_ports/contract/router.py
  backend/app/data_products/output_ports/contract/schema_request.py
  backend/app/open_api_export.py
  backend/tests/app/data_products/output_ports/contract/test_router.py
  backend/tests/app/shared/test_router.py
  backend/tests/test_open_api_export.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/docs/developer-guide/schema-information.md
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/data-model-tab.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/tests/store/api/axios-base-query.test.ts
  sdk/sdk/api_client/api/data_products_output_ports/ingest_output_port_contract.py
  sdk/sdk/api_client/api/data_products_output_ports/ingest_output_port_contract_yaml.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/ingest_output_port_contract_yaml_body.py
Due: regen-openapi-spec, local-fe-check

Allow uploading data model through UI (#4133)
  backend/app/data_products/output_ports/contract/router.py
  backend/app/data_products/output_ports/contract/schema_request.py
  backend/app/open_api_export.py
  backend/tests/app/data_products/output_ports/contract/test_router.py
  backend/tests/app/shared/test_router.py
  backend/tests/test_open_api_export.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/docs/developer-guide/schema-information.md
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/data-model-tab.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/tests/store/api/axios-base-query.test.ts
  sdk/sdk/api_client/api/data_products_output_ports/ingest_output_port_contract.py
  sdk/sdk/api_client/api/data_products_output_ports/ingest_output_port_contract_yaml.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/ingest_output_port_contract_yaml_body.py
Due: regen-openapi-spec, local-fe-check

Navigation in breadcrumbs was broken
  frontend/src/pages/output-port-edit/output-port-edit.page.tsx
Due: local-fe-check

Documentation for provisioning on external triggers
  docs/docs/developer-guide/provisioner.md
Due: none

Implement casbin watcher interface
  backend/app/core/authz/authorization.py
  backend/app/core/authz/watcher.py
  backend/app/main.py
  backend/tests/app/core/authz/test_watcher.py
  docs/adr/0022-casbin-pg-watcher.md
Due: regen-openapi-spec

Navigation in breadcrumbs was broken (#4150)
  frontend/src/pages/output-port-edit/output-port-edit.page.tsx
Due: local-fe-check

Switch Casbin to SyncedEnforcer and add auto reload every 30 sec
  backend/app/core/authz/authorization.py
  backend/app/settings.py
Due: regen-openapi-spec

Fix typo in front end
  frontend/public/locales/en/translation.json
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/data-model-tab.tsx
Due: local-fe-check

Documentation for provisioning on external triggers (#4149)
  docs/docs/developer-guide/provisioner.md
Due: none

Fix adapter fetching
  backend/app/authorization/service.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/app/core/authz/test_authorization.py
Due: regen-openapi-spec

Added ADR skill
  .claude/skills/adr/SKILL.md
Due: none

Fix front end test flakes
  frontend/src/tests/setup.ts
Due: local-fe-check

t
  frontend/src/tests/setup.ts
Due: local-fe-check

Fix missing lifecycles for output ports
  backend/sample_data.sql
Due: none

Fix missing lifecycles for output ports (#4157)
  backend/sample_data.sql
Due: none

Hidden data products ADR
  docs/adr/0022-data-product-visibility.md
Due: none

Added ADR skill (#4154)
  .claude/skills/adr/SKILL.md
Due: none

Fix typo in front end (#4152)
  frontend/public/locales/en/translation.json
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/data-model-tab.tsx
Due: local-fe-check

Hidden data products ADR (#4155)
  docs/adr/0022-data-product-visibility.md
Due: none

Fix issue with stale overlap warnings
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/tests/pages/cart/cart.page.test.tsx
Due: local-fe-check

Switch Casbin to SyncedEnforcer and add auto reload every 30 sec (#4151)
  backend/app/authorization/service.py
  backend/app/core/authz/authorization.py
  backend/app/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/app/core/authz/test_authorization.py
Due: regen-openapi-spec

First implementation of hidden data products
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/authorization/roles/model.py
  backend/app/authorization/roles/service.py
  backend/app/authorization/service.py
  backend/app/configuration/data_product_types/service.py
  backend/app/core/authz/__init__.py
  backend/app/core/authz/actions.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/rbac_model.conf
  backend/app/core/authz/readme.md
  backend/app/core/authz/resolvers.py
  backend/app/data_products/model.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/router.py
  backend/app/database/alembic/versions/2026_08_25_1136-676a29542f0b_data_product_visibility.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
  backend/tests/app/authorization/roles/test_router.py
  backend/tests/app/authorization/test_actions.py
  backend/tests/app/authorization/test_service.py
  backend/tests/app/configuration/data_product_types/test_router.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/app/shared/test_router.py
  backend/tests/conftest.py
  backend/tests/factories/data_product.py
  backend/tests/factories/role.py
  backend/tests/factories/test_data_product_factory.py
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  sdk/sdk/api_client/models/authorization_action.py
Due: regen-openapi-spec, local-fe-check

First implementation of hidden data products (#4163)
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/authorization/roles/model.py
  backend/app/authorization/roles/service.py
  backend/app/authorization/service.py
  backend/app/configuration/data_product_types/service.py
  backend/app/core/authz/__init__.py
  backend/app/core/authz/actions.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/rbac_model.conf
  backend/app/core/authz/readme.md
  backend/app/core/authz/resolvers.py
  backend/app/data_products/model.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/router.py
  backend/app/database/alembic/versions/2026_08_25_1136-676a29542f0b_data_product_visibility.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
  backend/tests/app/authorization/roles/test_router.py
  backend/tests/app/authorization/test_actions.py
  backend/tests/app/authorization/test_service.py
  backend/tests/app/configuration/data_product_types/test_router.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/app/shared/test_router.py
  backend/tests/conftest.py
  backend/tests/factories/data_product.py
  backend/tests/factories/role.py
  backend/tests/factories/test_data_product_factory.py
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  sdk/sdk/api_client/models/authorization_action.py
Due: regen-openapi-spec, local-fe-check

Fix issue with stale overlap warnings (#4158)
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/tests/pages/cart/cart.page.test.tsx
Due: local-fe-check

Redaction of output port consumers
  backend/app/abstract_data_product/schema_response.py
  backend/app/core/authz/__init__.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/mcp/search.py
  backend/sample_data.sql
  backend/tests/app/abstract_data_product/test_schema_response.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/users/test_router.py
  backend/tests/factories/data_product.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/blurred/blurred-text.tsx
  frontend/src/components/input-port/consumer-column.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/tests/pages/product-studio/components/requests-panel/pending-access-requests/pending-access-requests-modal/review-request-modal.test.tsx
  sdk/sdk/api_client/models/abstract_data_product_info.py
Due: regen-openapi-spec, local-fe-check

Remove all unnnecesary things form theme
  frontend/src/App.tsx
  frontend/src/config/app-config.ts
  frontend/src/theme/antd-theme.ts
Due: local-fe-check

restyling
  frontend/src/components/layout/root/root.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/home/home.module.scss
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/styles/_colors.scss
  frontend/src/styles/_variables.scss
  frontend/src/theme/antd-theme.ts
Due: local-fe-check

Redaction of output port consumers (#4165)
  backend/app/abstract_data_product/schema_response.py
  backend/app/core/authz/__init__.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/mcp/search.py
  backend/sample_data.sql
  backend/tests/app/abstract_data_product/test_schema_response.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/users/test_router.py
  backend/tests/factories/data_product.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/blurred/blurred-text.tsx
  frontend/src/components/input-port/consumer-column.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/tests/pages/product-studio/components/requests-panel/pending-access-requests/pending-access-requests-modal/review-request-modal.test.tsx
  sdk/sdk/api_client/models/abstract_data_product_info.py
Due: regen-openapi-spec, local-fe-check

Filter get data products
  backend/app/authorization/role_assignments/enums.py
  backend/app/core/authz/authorization.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/mcp/config.py
  backend/app/mcp/resources.py
  backend/app/mcp/search.py
  backend/app/search_output_ports/router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/mcp/test_search.py
  backend/tests/app/search_output_ports/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  sdk/sdk/api_client/api/data_products/get_data_products.py
  sdk/sdk/api_client/api/search_output_ports/search_output_ports.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/assignment_filter.py
Due: regen-openapi-spec, local-fe-check

feature: add domain environments capability
  backend/app/configuration/domains/model.py
  backend/app/configuration/domains/schema_request.py
  backend/app/configuration/domains/schema_response.py
  backend/app/configuration/domains/service.py
  backend/app/configuration/environments/model.py
  backend/app/configuration/environments/schema_response.py
  backend/app/data_products/technical_assets/service.py
  backend/app/database/alembic/versions/2026_09_01_1114-6271ee228708_domain_environments.py
  backend/tests/app/configuration/domains/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  cli/golang/pkg/api/oas_defaults_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-access/data-access-tile-grid/data-access-tile-grid.tsx
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table.component.tsx
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/tests/mocks/configurationDomains.ts
  sdk/sdk/api_client/models/domain_create.py
  sdk/sdk/api_client/models/domain_update.py
  sdk/sdk/api_client/models/environment.py
  sdk/sdk/api_client/models/environment_get_item.py
  sdk/sdk/api_client/models/get_domain_response.py
  sdk/sdk/api_client/models/get_domains_item.py
Due: regen-openapi-spec, local-fe-check

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
