Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Add beginning of settings API
  backend/app/access_durations/enums.py
  backend/app/access_durations/model.py
  backend/app/access_durations/router.py
  backend/app/access_durations/schema_request.py
  backend/app/access_durations/schema_response.py
  backend/app/access_durations/service.py
  backend/app/database/alembic/versions/2026_07_02_1640-691b32ae42d8_add_access_durations.py
  backend/app/shared/router.py
  backend/sample_data.sql
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  sdk/sdk/api_client/api/access_durations/__init__.py
  sdk/sdk/api_client/api/access_durations/get_all_access_durations.py
  sdk/sdk/api_client/api/access_durations/get_default_access_duration.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/access_duration.py
Due: regen-openapi-spec

Add new api to frontend
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/accessDurationsApi.ts
  frontend/src/store/api/services/generated/authorizationApi.ts
Due: local-fe-check

Rework to frontend use api
  backend/app/abstract_data_product/type.py
  backend/app/access_durations/router.py
  backend/app/access_durations/schema_request.py
  backend/app/access_durations/schema_response.py
  backend/app/access_durations/service.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/settings/components/settings-tabs/components/access-policy-form/access-policy-form.component.tsx
  frontend/src/store/api/services/generated/accessDurationsApi.ts
  sdk/sdk/api_client/api/access_durations/get_default_access_duration.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/access_duration.py
  sdk/sdk/api_client/models/access_duration_type.py
Due: regen-openapi-spec, local-fe-check

Previous UI
  frontend/public/locales/en/translation.json
  frontend/src/pages/settings/components/settings-tabs/components/access-policy-form/access-policy-form.component.tsx
Due: local-fe-check

Allow update of setting
  backend/app/access_durations/router.py
  backend/app/access_durations/schema_request.py
  backend/app/access_durations/service.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/settings/components/settings-tabs/components/access-policy-form/access-policy-form.component.tsx
  frontend/src/store/api/services/generated/accessDurationsApi.ts
  sdk/sdk/api_client/api/access_durations/update_access_duration.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/access_duration_update.py
Due: regen-openapi-spec, local-fe-check

Add unit tests for new functionality
  backend/tests/app/access_durations/__init__.py
  backend/tests/app/access_durations/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/access_duration.py
Due: regen-openapi-spec

Use correct casing
  frontend/public/locales/en/translation.json
  frontend/src/pages/settings/components/settings-tabs/components/access-policy-form/access-policy-form.component.tsx
Due: local-fe-check

Add defaults
  backend/app/database/alembic/versions/2026_07_02_1640-691b32ae42d8_add_access_durations.py
Due: regen-openapi-spec

Update samples and disable
  backend/app/access_durations/router.py
  backend/app/access_durations/schema_response.py
  backend/app/settings.py
  backend/sample_data.sql
  backend/tests/app/access_durations/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.component.tsx
  frontend/src/store/api/services/generated/accessDurationsApi.ts
  sdk/sdk/api_client/api/access_durations/is_time_bound_access_enabled.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/time_bound_access_enabled_response.py
Due: regen-openapi-spec, local-fe-check

Resolve PR comments
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-policy-tab.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/access-policy-form/access-policy-form.component.tsx
Due: local-fe-check

Change create output port form
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
Due: local-fe-check

Downgrade because of syntax error
  frontend/package-lock.json
  frontend/package.json
Due: local-fe-check

React flow suddenly needs a height
  frontend/src/components/charts/node-editor/node-editor.module.scss
  frontend/src/components/explorer/explorer.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.module.scss
Due: none

Update biome
  frontend/biome.json
Due: local-fe-check

Add unit test
  frontend/package-lock.json
  frontend/src/components/explorer/use-node-editor.tsx
  frontend/src/tests/pages/data-product/components/data-product-tabs/explorer-tab.test.tsx
Due: local-fe-check

fix: Add empty-state message for data product settings with no fields
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
Due: local-fe-check

fix: don't invalidate deleted output port's per-id tag to avoid 404 refetch
  frontend/src/store/api/services/tags/dataProductsOutputPortsTags.test.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsTags.ts
Due: local-fe-check

Add hannes to codeowners
  CODEOWNERS
Due: none

Tweaked styling
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
Due: local-fe-check

Add to edit form
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
Due: local-fe-check

Add access duration types to output port backend
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_request.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/database/alembic/versions/2026_07_06_1112-56e4e97d7294_add_access_duration_type_to_output_port.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/factories/dataset.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/tests/mocks/outputPortsSearch.ts
  sdk/sdk/api_client/models/create_output_port_request.py
  sdk/sdk/api_client/models/dataset_update.py
  sdk/sdk/api_client/models/get_output_port_response.py
  sdk/sdk/api_client/models/search_output_ports_response_item.py
Due: regen-openapi-spec, local-fe-check

fix: pre-commit hooks
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
Due: local-fe-check

fix: don't invalidate deleted output port's per-id tag to avoid 404 refetch (#3778)
  frontend/src/store/api/services/tags/dataProductsOutputPortsTags.test.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsTags.ts
Due: local-fe-check

Add api key auth to sdk (#3726)
  sdk/sdk/auth.py
Due: none

chore: release 0.6.1
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

Add hannes to codeowners (#3779)
  CODEOWNERS
Due: none

Remove unnecessary css line
  frontend/src/components/charts/node-editor/node-editor.module.scss
Due: none

Fix/explorers (#3774)
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/charts/node-editor/node-editor.module.scss
  frontend/src/components/explorer/explorer.module.scss
  frontend/src/components/explorer/use-node-editor.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.module.scss
  frontend/src/tests/pages/data-product/components/data-product-tabs/explorer-tab.test.tsx
Due: local-fe-check

feature: add access duration to exploration form in shopping cart; add route to get access durations for an output port
  .gitignore
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/components/form-item-access-duration.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/pages/cart/components/output-port-access-duration.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  sdk/sdk/api_client/api/data_products_output_ports/get_output_port_access_durations.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/get_output_port_access_durations_response.py
  sdk/sdk/api_client/models/output_port_access_duration.py
Due: regen-openapi-spec, local-fe-check

Remove numbered gaps and rename type vars
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-policy-tab.component.tsx
Due: local-fe-check

fix: Add empty-state message for data product settings with no fields (#3775)
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
Due: local-fe-check

feature: add access duration note to remaining cart forms
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/cart/components/existing-exploration-form.tsx
  frontend/src/pages/cart/components/form-item-access-duration.tsx
  frontend/src/pages/cart/components/new-data-product-form.tsx
Due: local-fe-check

Remove unused code
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/dataset/dataset.page.tsx
  frontend/src/pages/home/helpers/last-visited-item-helper.ts
  frontend/src/utils/local-storage.helper.ts
Due: local-fe-check

Update invalidations after remove
  frontend/src/store/api/services/tags/explorationTags.ts
Due: local-fe-check

Allow deleting an Exploration from the frontend (#3765)
  docs/docs/release-notes.md
  frontend/package-lock.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-outputs/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/explorations/exploration-form/exploration-form-items.component.tsx
  frontend/src/components/explorations/exploration-form/exploration-form.component.tsx
  frontend/src/components/resource-name/resource-name-form-item.tsx
  frontend/src/pages/data-product-edit/data-product-edit.page.tsx
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/exploration-edit/exploration-edit.page.tsx
  frontend/src/pages/exploration/components/exploration-start.tsx
  frontend/src/pages/exploration/exploration.module.scss
  frontend/src/pages/exploration/exploration.page.tsx
  frontend/src/routes.tsx
  frontend/src/store/api/services/tags/explorationTags.ts
  frontend/src/types/navigation.ts
  frontend/src/utils/routes.helper.ts
Due: local-fe-check

chore: release 0.6.1 (#3782)
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

fix: correctly compute output port access expiry date
  frontend/src/pages/cart/components/output-port-access-duration.tsx
Due: local-fe-check

Remove unused code (#3794)
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/dataset/dataset.page.tsx
  frontend/src/pages/home/helpers/last-visited-item-helper.ts
  frontend/src/utils/local-storage.helper.ts
Due: local-fe-check

feature: restyle access duration note as a compact info card
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/components/form-item-access-duration.tsx
  frontend/src/pages/cart/components/output-port-access-duration.tsx
Due: local-fe-check

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
