Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

spike: ADR-0024 plugin system (S3 + Glue), JSONB config + per-env config
  backend/app/database/alembic/versions/2026_09_09_1123-311a47dd9f43_spike_plugin_tables.py
  backend/app/spike_plugins/__init__.py
  backend/app/spike_plugins/glue.py
  backend/app/spike_plugins/interface.py
  backend/app/spike_plugins/model.py
  backend/app/spike_plugins/registry.py
  backend/app/spike_plugins/s3.py
  backend/tests/app/spike_plugins/__init__.py
  backend/tests/app/spike_plugins/test_spike_plugins.py
Due: regen-openapi-spec

adr: lock in discriminator-column routing + strict schema rejection as hard rules, per spike findings
  docs/adr/0024-dynamic-plugin-system.md
Due: none

Deterministic file sort
  sdk/generation/build_event_handler.py
  sdk/sdk/provisioner/event_handler.py
Due: none

increase readability
  docs/adr/0024-dynamic-plugin-system.md
Due: none

Remove comments
  sdk/generation/build_event_handler.py
Due: none

revise adr, add implementation spike
  docs/adr/0024-dynamic-plugin-system.md
Due: none

ORM filter for output port (#4262)
  backend/app/abstract_data_product/background_tasks.py
  backend/app/abstract_data_product/service.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/db_utils.py
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/env.py
  backend/app/settings.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_model.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/mcp/test_search.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/conftest.py
Due: regen-openapi-spec

Regenerated sdk event handler and added script to detect drift (#4275)
  scripts/check_generated_sdk.sh
  sdk/Taskfile.yml
  sdk/generation/build_event_handler.py
  sdk/pyproject.toml
  sdk/sdk/provisioner/event_handler.py
Due: none

chore: release 0.7.1 (#4247)
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

Refactor some old names
  AGENTS.md
  backend/app/configuration/tags/model.py
  backend/app/core/authz/resolvers.py
  backend/app/data_products/output_port_technical_assets_link/model.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_port_technical_assets_link/schema_response.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/model.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/data_products/technical_assets/service.py
  backend/app/users/model.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/factories/technical_asset_output_ports.py
Due: regen-openapi-spec

add cashbin rules
  backend/app/core/authz/authorization.py
Due: regen-openapi-spec

Refactor some old names (#4280)
  AGENTS.md
  backend/app/configuration/tags/model.py
  backend/app/core/authz/resolvers.py
  backend/app/data_products/output_port_technical_assets_link/model.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_port_technical_assets_link/schema_response.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/model.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/data_products/technical_assets/service.py
  backend/app/users/model.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/factories/technical_asset_output_ports.py
Due: regen-openapi-spec

Fix release notes issue
  docs/docs/release-notes.md
  docs/package-lock.json
Due: none

Fix release notes issue (#4281)
  docs/docs/release-notes.md
  docs/package-lock.json
Due: none

Add CI compile script
  .github/workflows/tests.yml
Due: none

Trigger only on docs/
  .github/workflows/docs-workflow.yml
  .github/workflows/tests.yml
Due: none

Test commit to test CI
  .github/workflows/docs-workflow.yml
  docs/docs/release-notes.md
Due: none

Docs haven't changed so shouldn't run
  docs/docs/release-notes.md
Due: none

Docs should pass
  docs/docs/release-notes.md
Due: none

Revert "Docs should pass"
  docs/docs/release-notes.md
Due: none

Fix translation bug
  frontend/public/locales/en/translation.json
Due: local-fe-check

revise and rewrite adr
  docs/adr/0024-dynamic-plugin-system.md
Due: none

Fix bugs
  backend/app/core/authz/db_utils.py
  backend/app/data_products/technical_assets/service.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/test_model.py
Due: regen-openapi-spec

Remove old test
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
Due: regen-openapi-spec

fix: Repair and validate exploration access duration types (#4221)
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/2026_09_03_1200-c2a4e91f7b3d_backfill_invalid_exploration_access_.py
  backend/tests/app/data_products/output_ports/test_router.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

If a node is removed because it is hidden, make sure the connections are also removed
  backend/app/graph/service.py
  backend/tests/app/graph/test_router.py
Due: regen-openapi-spec

Update bugfixes notes
  docs/docs/release-notes.md
Due: none

Potential fix for pull request finding
  docs/docs/release-notes.md
Due: none

If a node is removed because it is hidden, make sure the connections are also removed (#4295)
  backend/app/graph/service.py
  backend/tests/app/graph/test_router.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

Potential fix for pull request finding
  .github/workflows/docs-workflow.yml
Due: none

Run our tests in transaction
  backend/tests/__init__.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/configurations/access_durations/test_router.py
  backend/tests/conftest.py
  backend/tests/factories/__init__.py
  backend/tests/factories/access_duration.py
  backend/tests/factories/output_port.py
  backend/tests/factories/role.py
  backend/tests/factories/role_assignment_dataset.py
  backend/tests/factories/technical_asset.py
  backend/tests/session_util.py
Due: regen-openapi-spec

Add CI compile script (#4291)
  .github/workflows/docs-workflow.yml
Due: none

Added Cypress e2e tests
  .github/workflows/nightly-build.yml
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/cypress/e2e/detail-pages.cy.ts
  frontend/cypress/e2e/explorer.cy.ts
  frontend/cypress/e2e/marketplace-checkout.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
Due: local-fe-check

Add E2E test passing as release gate
  .github/workflows/release-workflow.yml
Due: none

Add time bound access as default for all explorations
  backend/sample_data.sql
Due: none

resolve: adr questions and specifications, cleaned up
  docs/adr/0024-dynamic-plugin-system.md
Due: none

Fix cold start on search
  frontend/cypress/e2e/marketplace-checkout.cy.ts
Due: local-fe-check

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
