Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Fix the technical asset creation. (#3123)
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/service.py
  docs/static/openapi.json
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.test.tsx
Due: regen-openapi-spec, local-fe-check

Remove special treatment of suffix field
  backend/app/data_output_configuration/s3/schema.py
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Remove special treatment of suffix field (#3124)
  backend/app/data_output_configuration/s3/schema.py
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Cleanup code
  backend/app/data_output_configuration/azure_blob/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/database/alembic/versions/2026_04_09_1307-3a883d3ec0f6_extend_platform_services_supported.py
  backend/sample_data.sql
  backend/tests/app/data_outputs_configuration/azure_blob/test_schema.py
  backend/tests/app/data_outputs_configuration/s3/test_schema.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Fix documentation.
  backend/app/configuration/README.md
  docs/docs/developer-guide/adding-integrations.md
Due: none

Remove v1 from users
  backend/app/users/router.py
  backend/tests/app/users/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

fix linting
  backend/app/data_products/technical_assets/service.py
Due: regen-openapi-spec

Removed some other v1 endpoints
  backend/app/graph/router.py
  backend/app/pending_actions/router.py
  backend/app/search_output_ports/router.py
  backend/app/shared/router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Remove more v1 endpoints
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

implement PR comments
  .env.docker
  backend/app/settings.py
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Filter out v2 authn path from webhook (#3107)
  backend/app/main.py
  backend/tests/app/core/webhooks/test_webhook_middleware.py
Due: regen-openapi-spec

Remove old v1 from data products routers
  backend/app/data_products/output_ports/curated_queries/router.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/query_stats/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/router.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/curated_queries/test_router.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/query_stats_daily/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Fix last unit test
  backend/tests/app/users/test_router.py
Due: regen-openapi-spec

Fix unit tests role assignments
  backend/tests/app/authorization/role_assignments/global_/test_router.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
Due: regen-openapi-spec

fix search output ports tests
  backend/app/database/alembic/versions/2026_04_09_1307-3a883d3ec0f6_extend_platform_services_supported.py
  backend/sample_data.sql
Due: regen-openapi-spec

fix fk constraints
  backend/app/database/alembic/versions/2026_04_09_1307-3a883d3ec0f6_extend_platform_services_supported.py
Due: regen-openapi-spec

Replacing code styling with normal styling
  frontend/src/components/requests/review-request-modal.tsx
Due: local-fe-check

Remove v1 routes from technical asset link
  backend/app/data_products/output_port_technical_assets_link/router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Chore/remove v1 api (#3126)
  backend/app/graph/router.py
  backend/app/pending_actions/router.py
  backend/app/search_output_ports/router.py
  backend/app/shared/router.py
  backend/app/users/router.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/app/users/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

ADR for provisioner architecture (#2882)
  docs/adr/0013-provisioner-architecture.md
Due: none

WIP
  backend/Dockerfile
  backend/app/data_products/output_ports/service.py
  frontend/src/components/data-products/consumer-exploration-form/consumer-exploration-form.component.tsx
  frontend/src/components/data-products/consumer-exploration-form/consumer-exploration-form.module.scss
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/constants/posthog.constants.ts
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/data-product-create/data-product-create.page.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
Due: regen-openapi-spec, local-fe-check

Replacing code styling with normal styling (#3141)
  frontend/src/components/requests/review-request-modal.tsx
Due: local-fe-check

Rerun frontend api generation
  frontend/package-lock.json
  frontend/package.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/configurationPlatformsApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsDataQualityApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/resourceNamesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
Due: local-fe-check

Add frontend API check to pre-commit
  .pre-commit-config.yaml
  scripts/check_generated_api.sh
Due: none

Make script executable
  scripts/check_generated_api.sh
Due: none

Ignore-scripts breaks esbuild dependency
  .github/workflows/tests.yml
Due: none

Make ts nocheck script idempotent
  frontend/scripts/add-ts-nocheck.js
Due: local-fe-check

Only run check once
  .pre-commit-config.yaml
Due: none

Fix deleted history of output ports and technical assets
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/technical_assets/router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
Due: regen-openapi-spec

Fix private output ports logic by filtering get endpoint on user visibility
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/service.py
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

Fix benchmark unit test
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Remove authn v1 endpoints
  backend/app/core/auth/router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Remove authn v1 endpoints
  backend/tests/app/auth/test_device_router.py
  backend/tests/app/auth/test_router.py
Due: regen-openapi-spec

Remove v1 configuration endpoints
  backend/app/configuration/data_product_lifecycles/router.py
  backend/app/configuration/data_product_settings/router.py
  backend/app/configuration/data_product_types/router.py
  backend/app/configuration/domains/router.py
  backend/app/configuration/environments/router.py
  backend/app/configuration/platforms/router.py
  backend/app/configuration/tags/router.py
  backend/app/configuration/theme_settings/router.py
  backend/tests/app/data_product_lifecycles/test_router.py
  backend/tests/app/data_product_settings/test_router.py
  backend/tests/app/data_product_types/test_router.py
  backend/tests/app/domains/test_router.py
  backend/tests/app/environments/test_router.py
  backend/tests/app/platforms/test_router.py
  backend/tests/app/tags/test_router.py
  backend/tests/app/theme_settings/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

adding the semantic plugin
  docs/docs/developer-guide/adding-integrations.md
Due: none

adding the agentic demo
  backend/app/data_output_configuration/__init__.py
  backend/app/data_output_configuration/agno/__init__.py
  backend/app/data_output_configuration/agno/schema.py
  demo/README.md
  demo/agents/.env.data_sources
  demo/agents/.env.portal
  demo/agents/README.md
  demo/agents/Taskfile.yml
  demo/agents/agent/Dockerfile
  demo/agents/agent/dpp_agent/__init__.py
  demo/agents/agent/dpp_agent/server.py
  demo/agents/agent/pyproject.toml
  demo/agents/agent/skills/postgres-semantic/SKILL.md
  demo/agents/compose.yaml
  demo/agents/data_sources_seed.sql
  demo/agents/portal_seed.sql
  demo/agents/products/customer-demographic-master/osi.yml
  demo/agents/products/inventory-snapshot/osi.yml
  demo/agents/products/sales-transaction-ledger/osi.yml
  demo/agents/provisioner/Dockerfile
  demo/agents/provisioner/provisioner/__init__.py
  demo/agents/provisioner/provisioner/main.py
  demo/agents/provisioner/pyproject.toml
  demo/agents/setup/create_products.py
  frontend/src/assets/icons/agno-logo.svg
Due: regen-openapi-spec

Fixing one place where I forgot to update the model
  backend/app/data_output_configuration/osi_sem_model/model.py
Due: regen-openapi-spec

Improved exception handling
  demo/agents/setup/create_products.py
Due: none

making the about pages look a bit better
  demo/agents/setup/create_products.py
Due: none
