Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Remove unnecessary join
  backend/app/data_products/service.py
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

Fix/mcp server v2 api (#2613)
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

Fix models
  backend/app/data_products/model.py
  backend/app/data_products/output_port_technical_assets_link/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/events/model.py
  backend/app/events/schema_response.py
  backend/app/shared/schema.py
  backend/app/users/model.py
  backend/tests/app/data_products/technical_assets/test_router.py
Due: regen-openapi-spec

Fix event model
  backend/app/events/model.py
Due: regen-openapi-spec

openapi.json
  docs/static/openapi.json
Due: none

Regen openapi.json
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/configurationPlatformsApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
Due: local-fe-check

Added postgres icons
  frontend/src/assets/icons/postgresql-border-icon.svg
  frontend/src/assets/icons/postgresql-logo.svg
Due: none

Added initial postgres plugin implementation
  backend/app/configuration/environments/platform_service_configurations/schema_response.py
  backend/app/configuration/environments/platform_service_configurations/schemas/__init__.py
  backend/app/configuration/environments/platform_service_configurations/schemas/postgres_schema.py
  backend/app/data_output_configuration/data_output_types.py
  backend/app/data_output_configuration/postgresql/model.py
  backend/app/data_output_configuration/postgresql/schema.py
  docs/static/openapi.json
Due: regen-openapi-spec

Ruff
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/tags/test_router.py
  backend/tests/app/users/test_router.py
Due: regen-openapi-spec

Working postgresql plugin
  backend/app/data_output_configuration/postgresql/model.py
  backend/app/data_output_configuration/postgresql/schema.py
  backend/app/data_output_configuration/schema_union.py
  backend/app/database/alembic/versions/2026_02_06_1321-2c083e43eabd_postgresql_technical_asset_configuration.py
  backend/sample_data.sql
  docs/static/openapi.json
Due: regen-openapi-spec

take out platform dependency
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/types/shared/forms.ts
Due: local-fe-check

Added more search suggestions
  frontend/public/locales/en/translation.json
  frontend/src/components/search-page/search-suggestions.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
Due: local-fe-check

take away all platform dependencies from frontend
  frontend/public/locales/en/translation.json
  frontend/src/components/data-access/data-access-tile-grid/data-access-tile-grid.tsx
  frontend/src/pages/data-output/components/data-output-actions/data-output-actions.component.tsx
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
  frontend/src/pages/dataset/components/dataset-actions/dataset-actions.component.tsx
  frontend/src/types/data-platform/data-platform.ts
  frontend/src/types/data-platform/index.ts
  frontend/src/utils/data-platforms.ts
Due: local-fe-check

Add conveyor plugin
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/conveyor/schema.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/sample_data.sql
  docs/static/openapi.json
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Remove unnecessary comment
  backend/app/data_output_configuration/conveyor/schema.py
Due: regen-openapi-spec

Update test to include new plugin
  backend/tests/app/plugins/test_router.py
Due: regen-openapi-spec

Fixed code quality comments
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/utils/quality-status.helper.ts
Due: local-fe-check

Fix tests and icons
  frontend/public/locales/en/translation.json
  frontend/src/components/layout/navbar/breadcrumbs/breadcrumbs.component.tsx
  frontend/src/components/layout/sidebar/sidebar.component.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
Due: local-fe-check

Fix comments
  frontend/public/locales/en/translation.json
  frontend/src/pages/data-products/data-products-table-columns.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
Due: local-fe-check

Regenerate API
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/configurationPlatformsApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
Due: local-fe-check

Return columns
  frontend/public/locales/en/translation.json
  frontend/src/pages/data-products/data-products-table-columns.tsx
Due: local-fe-check

WIP
  backend/app/data_products/output_ports/data_quality/router.py
  backend/app/data_products/router.py
  docs/static/openapi.json
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Add custom empty state
  frontend/public/locales/en/translation.json
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
Due: local-fe-check

Rename hasMenu to hasEnvironments
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/conveyor/schema.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/tests/app/plugins/test_router.py
  docs/static/openapi.json
  frontend/src/components/data-access/data-access-tile-grid/data-access-tile-grid.tsx
  frontend/src/components/data-access/data-access-tile/data-access-tile.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/types/shared/forms.ts
Due: regen-openapi-spec, local-fe-check

Fix loading of Conveyor plugin
  backend/app/data_output_configuration/__init__.py
Due: regen-openapi-spec

Remove unexisting empty flow for create output port
  frontend/public/locales/en/translation.json
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
Due: local-fe-check

Use new routes
  frontend/src/routes.tsx
  frontend/src/types/navigation.ts
Due: local-fe-check

Fix tests
  frontend/public/locales/en/translation.json
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
Due: local-fe-check

Add a FAQ section on Data Products to docs
  docs/docs/faq/_category_.json
  docs/docs/faq/data-products.mdx
Due: none

Replace removed fields
  backend/tests/app/shared/test_router.py
  backend/tests/test_open_api_export.py
Due: regen-openapi-spec

Updated some tests
  backend/app/core/conveyor/notebook_builder.py
  backend/tests/app/plugins/test_router.py
Due: regen-openapi-spec

Redirect entire data-products route
  frontend/src/routes.tsx
Due: local-fe-check

Fix unbound var
  backend/app/core/conveyor/notebook_builder.py
Due: regen-openapi-spec

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
