Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Fix MCP deps (#4385)
  backend/app/mcp/deps.py
  backend/app/mcp/permissions.py
  backend/tests/app/mcp/test_permissions.py
Due: regen-openapi-spec

chore: release 0.7.4
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

add tests for coverage, fix bug with notifications extra ids
  backend/app/data_products/router.py
  backend/app/users/notifications/service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/users/notifications/test_service.py
Due: regen-openapi-spec

merge main and fix new tests
  backend/tests/app/mcp/test_permissions.py
Due: regen-openapi-spec

chore: release 0.7.4 (#4387)
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

cmon!!
  backend/tests/app/mcp/test_permissions.py
Due: regen-openapi-spec

Dynamically loadable plugins: Let a plugin skip platforms and platform services (#4329)
  backend/app/data_products/technical_assets/model.py
  backend/app/data_products/technical_assets/schema.py
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/technical_assets/test_schema_response.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/.gitignore
  frontend/AGENTS.md
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/tests/mocks/plugins.ts
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-technical-asset-popup/add-technical-asset-popup.test.tsx
  sdk/sdk/api_client/models/create_technical_asset_request.py
  sdk/sdk/api_client/models/get_technical_assets_response_item.py
  sdk/sdk/api_client/models/owned_technical_asset.py
  sdk/sdk/api_client/models/technical_asset.py
Due: regen-openapi-spec, local-fe-check

Dynamically Loadable plugins:: Migrate plugin tables from the plugin's own revisions (#4328)
  .github/workflows/alembic-workflow.yml
  backend/app/database/alembic/env.py
  backend/app/database/alembic/versions/2026_01_28_1241_snowflake_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1242_databricks_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1243_s3_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1244_glue_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1245_redshift_separate_table.py
  backend/app/database/alembic/versions/2026_03_02_1454-491c8783a7bc_postgres_output_port_plugin.py
  backend/app/database/alembic/versions/2026_03_03_1000-a1b2c3d4e5f6_semantic_model_plugin.py
  backend/app/database/alembic/versions/2026_04_07_1435-9621a226da7c_add_azure_blob_technical_asset.py
  backend/app/database/alembic/versions/2026_08_21_1400-e4b81c7d2f90_add_rustfs_technical_asset_config.py
  backend/app/db_tool.py
  backend/app/plugins/migrations.py
  backend/app/technical_asset_configuration/azure_blob/versions/azure_blob_0001_baseline.py
  backend/app/technical_asset_configuration/databricks/versions/databricks_0001_baseline.py
  backend/app/technical_asset_configuration/glue/versions/glue_0001_baseline.py
  backend/app/technical_asset_configuration/osi_sem_model/versions/osi_sem_model_0001_baseline.py
  backend/app/technical_asset_configuration/postgresql/versions/postgresql_0001_baseline.py
  backend/app/technical_asset_configuration/redshift/versions/redshift_0001_baseline.py
  backend/app/technical_asset_configuration/rustfs/versions/rustfs_0001_baseline.py
  backend/app/technical_asset_configuration/s3/versions/s3_0001_baseline.py
  backend/app/technical_asset_configuration/snowflake/versions/snowflake_0001_baseline.py
  backend/tests/app/plugins/test_migrations.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/fixtures/example_plugin/__init__.py
  backend/tests/fixtures/example_plugin/versions/__init__.py
  backend/tests/fixtures/example_plugin/versions/example_0001_create.py
  backend/tests/fixtures/example_plugin/versions/example_0002_add_extra.py
  backend/tests/fixtures/other_plugin/__init__.py
  backend/tests/fixtures/other_plugin/versions/__init__.py
  backend/tests/fixtures/other_plugin/versions/other_0001_create.py
  docs/adr/0024-dynamic-plugin-system.md
  docs/docs/developer-guide/adding-integrations.md
  docs/docs/release-notes.md
Due: regen-openapi-spec

Ensure icons are not allowed to shrink
  frontend/src/styles/_shared.scss
Due: none

ALLIGN LOOKS WEIRD
  frontend/src/pages/output-port/output-port.module.scss
  frontend/src/pages/output-port/output-port.page.tsx
Due: local-fe-check

Ensure icons are not allowed to shrink (#4394)
  frontend/src/styles/_shared.scss
Due: none

feat: add skill for copilot ai review, and humaniser for writing (#4358)
  .github/skills/code-review/SKILL.md
Due: none

Fix issue with approve/deny input port
  backend/app/abstract_data_product/service.py
  backend/app/core/logging/posthog_analytics.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/mcp/middleware.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
Due: regen-openapi-spec

Fix issue with approve/deny input port (#4393)
  backend/app/abstract_data_product/service.py
  backend/app/core/logging/posthog_analytics.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/mcp/middleware.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
Due: regen-openapi-spec

feat: add copilit-setups-steps.yml and abstract common ci jobs
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/tests.yml
  Taskfile.yml
Due: none

add wildcard to casbin group member rules
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/service.py
  backend/app/core/authz/authorization.py
  backend/app/data_products/router.py
  backend/app/groups/service.py
  backend/tests/app/core/authz/test_authorization.py
Due: regen-openapi-spec

fix: docker build of plugins
  Dockerfile
Due: none

feat: move glue out of tree
  .pre-commit-config.yaml
  backend/app/mcp/glue_tools.py
  backend/app/mcp/mcp.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/app/mcp/test_glue_tools.py
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/technical_asset_configuration/glue/__init__.py
  docs/adr/0024-dynamic-plugin-system.md
  plugins/portal_plugins/glue/model.py
  plugins/portal_plugins/glue/schema.py
  plugins/portal_plugins/glue/versions/glue_0001_baseline.py
  plugins/pyproject.toml
  sdk/generation/build_plugin_configurations.py
Due: regen-openapi-spec

feat: adress AI comments
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_mcp.py
  sdk/generation/build_plugin_configurations.py
Due: regen-openapi-spec

redo tests, remove casbin rules on group deletion, add a docs section
  backend/app/authorization/service.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/readme.md
  backend/app/data_products/router.py
  backend/app/groups/service.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/test_service.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

remove the injected mocks...
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
Due: regen-openapi-spec

Update Taskfile.yml
  Taskfile.yml
Due: none

feature: setup copilot agent environment. (#4398)
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/tests.yml
  Taskfile.yml
Due: none

remove is_group method and replace mutable optional default param
  backend/app/groups/service.py
  backend/app/users/model.py
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

precommit hook i hate you
  backend/app/users/model.py
Due: regen-openapi-spec

wip
  backend/app/groups/router.py
  backend/app/groups/schema.py
  backend/app/groups/schema_request.py
  backend/app/groups/schema_response.py
  backend/app/groups/service.py
Due: regen-openapi-spec

Ensure the consumer has access
  backend/app/abstract_data_product/model.py
  backend/app/abstract_data_product/service.py
  backend/app/authorization/service.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/rbac_model.conf
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/service.py
  backend/sample_data.sql
  backend/tests/app/abstract_data_product/conftest.py
  backend/tests/app/abstract_data_product/test_deletion.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/abstract_data_product/test_service.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  backend/tests/app/data_products/output_ports/test_model.py
  backend/tests/app/data_products/test_model.py
  backend/tests/app/data_products/test_service.py
Due: regen-openapi-spec

Ensure the consumer has access (#4392)
  backend/app/abstract_data_product/model.py
  backend/app/abstract_data_product/service.py
  backend/app/authorization/service.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/rbac_model.conf
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/service.py
  backend/sample_data.sql
  backend/tests/app/abstract_data_product/conftest.py
  backend/tests/app/abstract_data_product/test_deletion.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/abstract_data_product/test_service.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  backend/tests/app/data_products/output_ports/test_model.py
  backend/tests/app/data_products/test_model.py
  backend/tests/app/data_products/test_service.py
Due: regen-openapi-spec

Add OIDC enabled tests in device router to catch issues we missed before (#4345)
  backend/tests/app/auth/test_device_router.py
Due: regen-openapi-spec

Fix translation override file path
  helm/templates/deployment.yaml
Due: none

refactor: move glue mcp also out of tree
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  backend/app/mcp/loader.py
  backend/app/mcp/mcp.py
  backend/poetry.lock
  backend/tests/app/mcp/test_loader.py
  backend/tests/app/mcp/test_mcp.py
  docs/adr/0024-dynamic-plugin-system.md
  plugins/portal_plugins/glue/mcp_instructions.py
  plugins/portal_plugins/glue/mcp_tools.py
  plugins/portal_plugins/glue/schema.py
  plugins/pyproject.toml
  plugins/tests/conftest.py
  plugins/tests/glue/test_mcp_tools.py
  plugins/tests/glue/test_schema.py
  sdk/generation/build_plugin_configurations.py
Due: regen-openapi-spec

fix: comment
  backend/app/mcp/loader.py
  backend/tests/app/mcp/test_loader.py
  docs/adr/0024-dynamic-plugin-system.md
Due: regen-openapi-spec

Update release-notes.md about translation file path fix
  docs/docs/release-notes.md
Due: none

feat: give plugins their own pypi package
  .github/workflows/release-workflow.yml
  .github/workflows/tests.yml
  Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
  plugins/poetry.lock
  plugins/pyproject.toml
Due: none
