Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Fix failing test
  backend/tests/app/data_products/test_router.py
Due: regen-openapi-spec

Test events are added at right times
  backend/tests/app/data_products/test_router.py
  backend/tests/webhook_util.py
Due: regen-openapi-spec

Add event on project setting change (#3977)
  backend/app/configuration/data_product_settings/model.py
  backend/app/configuration/data_product_settings/service.py
  backend/app/core/webhooks/events.py
  backend/tests/app/data_products/test_router.py
  backend/tests/webhook_util.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_data_product_setting_value_event.py
  sdk/sdk/api_client/models/data_product_setting_value_event.py
  sdk/sdk/provisioner/reconcile_manager.py
Due: regen-openapi-spec

Remove infrastructure lambda
  backend/app/configuration/data_product_settings/service.py
  backend/app/core/aws/refresh_infrastructure_lambda.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/explorations/router.py
  backend/app/settings.py
Due: regen-openapi-spec

Fix bad indents
  backend/app/explorations/router.py
Due: regen-openapi-spec

Add release notes
  docs/docs/release-notes.md
Due: none

Remove infrastructure lambda (#3978)
  backend/app/configuration/data_product_settings/service.py
  backend/app/core/aws/refresh_infrastructure_lambda.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/explorations/router.py
  backend/app/settings.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

refactor: the visual of review modal update
  backend/app/data_products/output_ports/input_ports/schema.py
  backend/app/users/schema_response.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-button.component.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/tests/components/abstract-data-products/input-port-table/input-port-action-button.test.tsx
  frontend/src/tests/pages/product-studio/components/requests-panel/pending-access-requests/pending-access-requests-modal/review-request-modal.tsx.test.tsx
  sdk/sdk/api_client/models/input_port_request.py
  sdk/sdk/api_client/models/input_port_request_base.py
  sdk/sdk/api_client/models/user_input_port.py
Due: regen-openapi-spec, local-fe-check

feat: Show requested access duration in review modal (#3973)
  backend/app/data_products/output_ports/input_ports/schema.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/users/schema_response.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-button.component.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/tests/components/abstract-data-products/input-port-table/input-port-action-button.test.tsx
  frontend/src/tests/mocks/dataProducts.ts
  frontend/src/tests/mocks/explorations.ts
  frontend/src/tests/pages/product-studio/components/requests-panel/pending-access-requests/pending-access-requests-modal/review-request-modal.tsx.test.tsx
  sdk/sdk/api_client/models/input_port_request.py
  sdk/sdk/api_client/models/input_port_request_base.py
  sdk/sdk/api_client/models/user_input_port.py
Due: regen-openapi-spec, local-fe-check

chore: release 0.7.0 (#3963)
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

Ordering is wrong for docs release
  README.md
Due: none

Ordering is wrong for docs release (#3980)
  README.md
Due: none

Refactor data output to technical asset FE
  frontend/src/components/charts/custom-nodes/technical-asset-node/technical-asset-node.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/datasets/dataset-card/data-output-link-modal.component.tsx
  frontend/src/components/explorer/common.tsx
  frontend/src/components/technical-assets/technical-asset-card/technical-asset-card.component.tsx
  frontend/src/components/technical-assets/technical-asset-card/technical-asset-card.module.scss
  frontend/src/components/technical-assets/technical-asset-platform-tile/technical-asset-platform-tile.component.tsx
  frontend/src/components/technical-assets/technical-asset-platform-tile/technical-asset-platform-tile.module.scss
  frontend/src/components/technical-assets/technical-asset-technical-info/technical-asset-table-columns.tsx
  frontend/src/components/technical-assets/technical-asset-technical-info/technical-asset-technical-info.component.tsx
  frontend/src/components/technical-assets/technical-asset-technical-info/technical-asset-technical-info.module.scss
  frontend/src/pages/data-output/components/data-output-tabs/technologies-tab/technologies-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/technical-assets-table/technical-assets-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/components/data-output-table/data-output-table-columns.tsx
  frontend/src/pages/technical-asset-edit/technical-asset-edit.module.scss
  frontend/src/pages/technical-asset-edit/technical-asset-edit.page.tsx
  frontend/src/pages/technical-asset-edit/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/pages/technical-asset-edit/technical-asset-form/technical-asset-form.module.scss
  frontend/src/pages/technical-asset/components/technical-asset-actions/technical-asset-actions.component.tsx
  frontend/src/pages/technical-asset/components/technical-asset-actions/technical-asset-actions.module.scss
  frontend/src/pages/technical-asset/components/technical-asset-description/technical-asset-description.module.scss
  frontend/src/pages/technical-asset/components/technical-asset-description/technical-asset-description.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/components/output-port-table/output-port-action-button.component.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/components/output-port-table/output-port-table-columns.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/components/output-port-table/output-port-table.component.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/components/output-port-table/output-port-table.module.scss
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/output-port-tab.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/technical-asset-tabkeys.ts
  frontend/src/pages/technical-asset/components/technical-asset-tabs/technical-asset-tabs.module.scss
  frontend/src/pages/technical-asset/components/technical-asset-tabs/technical-asset-tabs.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/technologies-tab/technologies-tab.tsx
  frontend/src/pages/technical-asset/technical-asset.module.scss
  frontend/src/pages/technical-asset/technical-asset.page.tsx
  frontend/src/routes.tsx
  frontend/src/types/navigation.ts
  frontend/src/utils/technical-asset-type.helper.ts
Due: local-fe-check

Refactor data output to technical asset FE (#3983)
  frontend/src/components/charts/custom-nodes/technical-asset-node/technical-asset-node.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/datasets/dataset-card/data-output-link-modal.component.tsx
  frontend/src/components/explorer/common.tsx
  frontend/src/components/technical-assets/technical-asset-card/technical-asset-card.component.tsx
  frontend/src/components/technical-assets/technical-asset-card/technical-asset-card.module.scss
  frontend/src/components/technical-assets/technical-asset-platform-tile/technical-asset-platform-tile.component.tsx
  frontend/src/components/technical-assets/technical-asset-platform-tile/technical-asset-platform-tile.module.scss
  frontend/src/components/technical-assets/technical-asset-technical-info/technical-asset-table-columns.tsx
  frontend/src/components/technical-assets/technical-asset-technical-info/technical-asset-technical-info.component.tsx
  frontend/src/components/technical-assets/technical-asset-technical-info/technical-asset-technical-info.module.scss
  frontend/src/pages/data-output/components/data-output-tabs/technologies-tab/technologies-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/technical-assets-table/technical-assets-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/components/data-output-table/data-output-table-columns.tsx
  frontend/src/pages/technical-asset-edit/technical-asset-edit.module.scss
  frontend/src/pages/technical-asset-edit/technical-asset-edit.page.tsx
  frontend/src/pages/technical-asset-edit/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/pages/technical-asset-edit/technical-asset-form/technical-asset-form.module.scss
  frontend/src/pages/technical-asset/components/technical-asset-actions/technical-asset-actions.component.tsx
  frontend/src/pages/technical-asset/components/technical-asset-actions/technical-asset-actions.module.scss
  frontend/src/pages/technical-asset/components/technical-asset-description/technical-asset-description.module.scss
  frontend/src/pages/technical-asset/components/technical-asset-description/technical-asset-description.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/components/output-port-table/output-port-action-button.component.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/components/output-port-table/output-port-table-columns.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/components/output-port-table/output-port-table.component.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/components/output-port-table/output-port-table.module.scss
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/output-port-tab.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/technical-asset-tabkeys.ts
  frontend/src/pages/technical-asset/components/technical-asset-tabs/technical-asset-tabs.module.scss
  frontend/src/pages/technical-asset/components/technical-asset-tabs/technical-asset-tabs.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/technologies-tab/technologies-tab.tsx
  frontend/src/pages/technical-asset/technical-asset.module.scss
  frontend/src/pages/technical-asset/technical-asset.page.tsx
  frontend/src/routes.tsx
  frontend/src/types/navigation.ts
  frontend/src/utils/technical-asset-type.helper.ts
Due: local-fe-check

Added GLOBAL__MANAGE_FINALIZERS action
  backend/app/core/authz/actions.py
  backend/app/data_products/router.py
  backend/app/explorations/router.py
  backend/app/explorations/service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/explorations/test_router.py
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/types/authorization/rbac-actions.ts
  sdk/sdk/api_client/models/authorization_action.py
Due: regen-openapi-spec, local-fe-check

FormModal removed
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.component.tsx
  frontend/src/components/modal/form-modal/form-modal.component.tsx
  frontend/src/components/modal/user-popup/user-popup.tsx
  frontend/src/pages/roles/components/create-role-modal.component.tsx
  frontend/src/pages/roles/components/delete-role-modal.component.tsx
  frontend/src/pages/roles/components/modify-role-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/new-data-product-lifecycles-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-form-modal.component.tsx
Due: local-fe-check

FormModal removed (#4003)
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.component.tsx
  frontend/src/components/modal/form-modal/form-modal.component.tsx
  frontend/src/components/modal/user-popup/user-popup.tsx
  frontend/src/pages/roles/components/create-role-modal.component.tsx
  frontend/src/pages/roles/components/delete-role-modal.component.tsx
  frontend/src/pages/roles/components/modify-role-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/new-data-product-lifecycles-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-form-modal.component.tsx
Due: local-fe-check

Added access mode to technical asset
  backend/app/abstract_data_product/service.py
Due: regen-openapi-spec

Added access modes settings tab
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/components/explorations/exploration-form/exploration-form-items.component.tsx
  frontend/src/pages/cart/components/form-item-justification.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-durations.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-modes-modal.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-modes.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-policy-tab.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/data-product-lifecycles-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/data-output-tab/data-output-tab.component.tsx
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.component.tsx
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.module.scss
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/configurationAccessDurationsApi.ts
  frontend/src/store/api/services/generated/configurationAccessModesApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/api/services/tags/configurationAccessModesTags.ts
  frontend/src/tests/mocks/configurationAccessModes.ts
  frontend/src/tests/pages/settings/access-policy-tab/access-modes-modal.test.tsx
  frontend/src/tests/pages/settings/access-policy-tab/access-modes.test.tsx
Due: local-fe-check

Added access modes settings tab (#4008)
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/components/explorations/exploration-form/exploration-form-items.component.tsx
  frontend/src/pages/cart/components/form-item-justification.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-durations.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-modes-modal.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-modes.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-policy-tab.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/data-product-lifecycles-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/data-output-tab/data-output-tab.component.tsx
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.component.tsx
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.module.scss
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/configurationAccessDurationsApi.ts
  frontend/src/store/api/services/generated/configurationAccessModesApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/api/services/tags/configurationAccessModesTags.ts
  frontend/src/tests/mocks/configurationAccessModes.ts
  frontend/src/tests/pages/settings/access-policy-tab/access-modes-modal.test.tsx
  frontend/src/tests/pages/settings/access-policy-tab/access-modes.test.tsx
Due: local-fe-check

Access duration settings improvement
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-durations.tsx
  frontend/src/tests/mocks/configurationAccessDurations.ts
  frontend/src/tests/pages/settings/access-policy-tab/access-durations.test.tsx
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

Improve RTK base query
  frontend/src/store/api/services/tags/dataProductsOutputPortsTags.test.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsTags.ts
  frontend/src/store/api/services/tags/dataProductsTechicalAssetsTags.ts
  frontend/src/store/common/axios-base-query.ts
  frontend/src/tests/store/api/axios-base-query.test.ts
Due: local-fe-check

Improve RTK base query (#4014)
  frontend/src/store/api/services/tags/dataProductsOutputPortsTags.test.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsTags.ts
  frontend/src/store/api/services/tags/dataProductsTechicalAssetsTags.ts
  frontend/src/store/common/axios-base-query.ts
  frontend/src/tests/store/api/axios-base-query.test.ts
Due: local-fe-check

Access duration settings improvement (#4013)
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-durations.tsx
  frontend/src/tests/mocks/configurationAccessDurations.ts
  frontend/src/tests/pages/settings/access-policy-tab/access-durations.test.tsx
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

Remove unused base api slice
  frontend/src/store/features/api/base-api-slice.ts
  frontend/src/store/features/wizard/wizard-slice.ts
  frontend/src/store/index.ts
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

Remove unused base api slice (#4015)
  frontend/src/store/features/api/base-api-slice.ts
  frontend/src/store/features/wizard/wizard-slice.ts
  frontend/src/store/index.ts
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

Improve v2 webhook event dispatch with queue worker
  backend/app/core/webhooks/events.py
  backend/app/core/webhooks/middleware.py
  backend/app/main.py
  backend/tests/app/core/webhooks/test_dispatch_queued_events_middleware.py
Due: regen-openapi-spec

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
