Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Input port approved action and total consumption daily push (#3611)
  backend/app/abstract_data_product/service.py
  backend/app/core/logging/posthog_analytics.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/main.py
  backend/tests/app/core/logging/__init__.py
  backend/tests/app/core/logging/test_background_tasks.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/conftest.py
  backend/tests/factories/__init__.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

ADR 20 update
  docs/adr/0020-registering-events.md
Due: none

Implement data product event
  backend/app/core/webhooks/events.py
  backend/app/data_products/model.py
  backend/app/data_products/service.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  backend/app/explorations/service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/database/test_event_mixin.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/conftest.py
Due: regen-openapi-spec

Update cli
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
Due: none

ADR 20 update (#3637)
  docs/adr/0020-registering-events.md
Due: none

Update taskfile to use gnu sed
  Taskfile.yml
Due: none

chore: release 0.6.0
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
Due: none

Remove debug settings
  backend/app/abstract_data_product/background_tasks.py
Due: regen-openapi-spec

Block stuff if deleting
  backend/app/abstract_data_product/service.py
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/authorization/role_assignments/output_port/service.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
Due: regen-openapi-spec

Update to latest migration
  backend/app/database/alembic/versions/2026_06_17_1258-f2fa245edde_add_finalizers_and_deletion_status_to_abstract_data_products.py
Due: regen-openapi-spec

Add unit tests on deletion
  backend/tests/app/abstract_data_product/__init__.py
  backend/tests/app/abstract_data_product/test_deletion.py
Due: regen-openapi-spec

add missing tests
  backend/tests/app/data_products/test_router.py
  backend/tests/app/explorations/test_router.py
Due: regen-openapi-spec

Add missing status code
  backend/app/data_products/router.py
  backend/app/explorations/router.py
Due: regen-openapi-spec

Add workflow to publish test versions to testpypi and main version to pypi
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
  sdk/pyproject.toml
Due: none

New publish workflows
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
Due: none

Add manual run
  .github/workflows/release-workflow.yml
Due: none

Release 0.6.0 (#3646)
  Taskfile.yml
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
Due: none

Update release process
  README.md
Due: none

Auto bump version on release
  Taskfile.yml
Due: none

Remove debug from workflow
  .github/workflows/release-workflow.yml
Due: none

Rename commit and PR
  Taskfile.yml
Due: none

Updated implementation for adr 19,20 change
  .github/workflows/tests.yml
  backend/app/core/webhooks/events.py
  backend/app/core/webhooks/webhook.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  backend/tests/app/database/test_event_mixin.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/sdk/test_webhook_integration.py
  docs/static/openapi.json
  frontend/package-lock.json
  sdk/.gitignore
  sdk/.python-version
  sdk/README.md
  sdk/Taskfile.yml
  sdk/example/README.md
  sdk/example/__init__.py
  sdk/example/provisioner.py
  sdk/example/tests/__init__.py
  sdk/example/tests/test_provisioner.py
  sdk/generation/build_event_handler.py
  sdk/poetry.lock
  sdk/pyproject.toml
  sdk/sdk/__init__.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/exploration_created_event.py
  sdk/sdk/api_client/models/exploration_deleted_event.py
  sdk/sdk/api_client/models/exploration_payload.py
  sdk/sdk/api_client/models/exploration_updated_event.py
  sdk/sdk/auth.py
  sdk/sdk/provisioner/event_handler.py
  sdk/sdk/provisioner/reconcile_manager.py
  sdk/sdk/provisioner/reconcile_queue.py
  sdk/tests/provisioner/test_reconcile_manager.py
  sdk/tests/provisioner/test_reconcile_queue.py
Due: regen-openapi-spec, local-fe-check

Chore/release sdk pypi (#3651)
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
  Taskfile.yml
  sdk/pyproject.toml
Due: none

Updated implementation for adr 19,20 change (#3650)
  .github/workflows/tests.yml
  backend/app/core/webhooks/events.py
  backend/app/core/webhooks/webhook.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  backend/tests/app/database/test_event_mixin.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/sdk/test_webhook_integration.py
  docs/static/openapi.json
  frontend/package-lock.json
  sdk/.gitignore
  sdk/.python-version
  sdk/README.md
  sdk/Taskfile.yml
  sdk/example/README.md
  sdk/example/__init__.py
  sdk/example/provisioner.py
  sdk/example/tests/__init__.py
  sdk/example/tests/test_provisioner.py
  sdk/generation/build_event_handler.py
  sdk/poetry.lock
  sdk/pyproject.toml
  sdk/sdk/__init__.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/exploration_created_event.py
  sdk/sdk/api_client/models/exploration_deleted_event.py
  sdk/sdk/api_client/models/exploration_payload.py
  sdk/sdk/api_client/models/exploration_updated_event.py
  sdk/sdk/auth.py
  sdk/sdk/provisioner/event_handler.py
  sdk/sdk/provisioner/reconcile_manager.py
  sdk/sdk/provisioner/reconcile_queue.py
  sdk/tests/provisioner/test_reconcile_manager.py
  sdk/tests/provisioner/test_reconcile_queue.py
Due: regen-openapi-spec, local-fe-check

Fix unit tests
  backend/app/database/alembic/versions/4c40a4ff5a7f_initialize_database.py
  backend/tests/app/abstract_data_product/test_deletion.py
Due: regen-openapi-spec

Added input port events
  backend/app/abstract_data_product/graph_utils.py
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/model.py
  backend/app/abstract_data_product/schema_response.py
  backend/app/abstract_data_product/service.py
  backend/app/abstract_data_product/type.py
  backend/app/core/authz/resolvers.py
  backend/app/core/logging/posthog_analytics.py
  backend/app/core/webhooks/events.py
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema_request.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  backend/app/graph/service.py
  backend/app/pending_actions/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/explorations/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/input_port.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_input_port_created_event.py
  sdk/sdk/api_client/models/cloud_event_input_port_deleted_event.py
  sdk/sdk/api_client/models/cloud_event_input_port_updated_event.py
  sdk/sdk/api_client/models/input_port_created_event.py
  sdk/sdk/api_client/models/input_port_deleted_event.py
  sdk/sdk/api_client/models/input_port_updated_event.py
  sdk/sdk/provisioner/event_handler.py
  sdk/sdk/provisioner/reconcile_manager.py
Due: regen-openapi-spec

Fix docs release, manual release done
  .github/workflows/release-workflow.yml
  docs/docs/release-notes.md
Due: none

Use correct version
  docs/docusaurus.config.ts
Due: none

Fix docs release, manual release done (#3661)
  .github/workflows/release-workflow.yml
  docs/docs/release-notes.md
  docs/docusaurus.config.ts
Due: none

Fix python sdk tests
  sdk/example/tests/test_provisioner.py
Due: none

added finalizers to example provisioner
  sdk/example/provisioner.py
  sdk/example/tests/test_provisioner.py
Due: none
