Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Fixing broken graph
  backend/app/data_products/service.py
  backend/app/graph/service.py
Due: regen-openapi-spec

Added new exploration input form
  backend/app/authorization/roles/service.py
  backend/app/database/alembic/versions/2026_04_24_1358-6449af439bdd_add_create_exploration_to_global_role_.py
  backend/app/explorations/service.py
  backend/app/resource_names/enums.py
  backend/app/resource_names/router.py
  backend/sample_data.sql
  backend/tests/app/explorations/test_router.py
  backend/tests/app/resource_names/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/config/app-config.ts
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/new-exploration-form.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
  frontend/src/routes.tsx
  frontend/src/store/api/services/generated/resourceNamesApi.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
  sdk/sdk/api_client/models/resource_name_model.py
Due: regen-openapi-spec, local-fe-check

Added new exploration input form (#3264)
  backend/app/authorization/roles/service.py
  backend/app/database/alembic/versions/2026_04_24_1358-6449af439bdd_add_create_exploration_to_global_role_.py
  backend/app/explorations/service.py
  backend/app/resource_names/enums.py
  backend/app/resource_names/router.py
  backend/sample_data.sql
  backend/tests/app/explorations/test_router.py
  backend/tests/app/resource_names/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/config/app-config.ts
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/new-exploration-form.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
  frontend/src/routes.tsx
  frontend/src/store/api/services/generated/resourceNamesApi.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
  sdk/sdk/api_client/models/resource_name_model.py
Due: regen-openapi-spec, local-fe-check

feat: add OUTPUT_PORT__UPDATE_FRESHNESS RBAC action
  backend/app/core/authz/actions.py
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/types/authorization/rbac-actions.ts
  sdk/sdk/api_client/models/authorization_action.py
Due: regen-openapi-spec, local-fe-check

feat: add freshness SLO and observation models + migration
  backend/app/data_products/output_ports/freshness/__init__.py
  backend/app/data_products/output_ports/freshness/model.py
  backend/app/database/alembic/versions/2026_04_27_1000-a2b3c4d5e6f7_add_output_port_freshness_tables.py
Due: regen-openapi-spec

fix: add DateTime(timezone=True) to freshness models, fix migration index/constraint naming
  backend/app/data_products/output_ports/freshness/model.py
  backend/app/database/alembic/versions/2026_04_27_1000-a2b3c4d5e6f7_add_output_port_freshness_tables.py
Due: regen-openapi-spec

Working full self service MCP query talk to your data
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

feat: add freshness relationships and status computation to Dataset model
  backend/app/data_products/output_ports/freshness/enums.py
  backend/app/data_products/output_ports/model.py
  backend/tests/app/data_products/output_ports/freshness/__init__.py
  backend/tests/app/data_products/output_ports/freshness/test_router.py
Due: regen-openapi-spec

fix: move FreshnessStatus import to module level, fix STALE test fragility, rename test file
  backend/app/data_products/output_ports/model.py
  backend/tests/app/data_products/output_ports/freshness/test_model.py
Due: regen-openapi-spec

feat: add freshness SLO request/response schemas and extend OutputPort schema
  backend/app/data_products/output_ports/freshness/schema_request.py
  backend/app/data_products/output_ports/freshness/schema_response.py
  backend/app/data_products/output_ports/schema.py
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/freshness_status.py
  sdk/sdk/api_client/models/output_port.py
Due: regen-openapi-spec, local-fe-check

style: use X | None union syntax in FreshnessSloResponse
  backend/app/data_products/output_ports/freshness/schema_response.py
Due: regen-openapi-spec

feat: add freshness service (SLO upsert/get/delete + observation recording)
  backend/app/data_products/output_ports/freshness/service.py
Due: regen-openapi-spec

fix: add comment to updated_at, fallback to UNKNOWN on invalid FreshnessStatus
  backend/app/data_products/output_ports/freshness/service.py
Due: regen-openapi-spec

feat: add freshness SLO and observation API endpoints
  backend/app/data_products/output_ports/freshness/router.py
  backend/app/data_products/output_ports/router.py
  docs/static/openapi.json
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  sdk/sdk/api_client/api/data_products_output_ports/add_freshness_observation.py
  sdk/sdk/api_client/api/data_products_output_ports/delete_freshness_slo.py
  sdk/sdk/api_client/api/data_products_output_ports/get_freshness_slo.py
  sdk/sdk/api_client/api/data_products_output_ports/upsert_freshness_slo.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/freshness_observation_request.py
  sdk/sdk/api_client/models/freshness_observation_response.py
  sdk/sdk/api_client/models/freshness_slo_request.py
  sdk/sdk/api_client/models/freshness_slo_response.py
Due: regen-openapi-spec, local-fe-check

fix: use service.compute_status in router, remove unused FreshnessStatus import
  backend/app/data_products/output_ports/freshness/router.py
Due: regen-openapi-spec

test: add freshness SLO router tests and factories
  backend/tests/app/data_products/output_ports/freshness/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/output_port_freshness_observation.py
  backend/tests/factories/output_port_freshness_slo.py
Due: regen-openapi-spec

docs: add clarifying comments to deadline_time=time(0,0,0) in freshness router tests
  backend/tests/app/data_products/output_ports/freshness/test_router.py
Due: regen-openapi-spec

Exclude requester from approver email recipients (closes #3265)
  backend/app/abstract_data_product/service.py
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/data_products/output_port_technical_assets_link/router.py
Due: regen-openapi-spec

Remove hardcoded environment mentions
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

Add release notes
  docs/docs/release-notes.md
Due: none

feat: add FreshnessBadge component and freshness status helpers
  frontend/public/locales/en/translation.json
  frontend/src/components/freshness-badge/freshness-badge.component.tsx
  frontend/src/utils/freshness-status.helper.ts
Due: local-fe-check

remove obsolete setting
  backend/app/settings.py
Due: regen-openapi-spec

feat: add DatasetFreshness sidebar component to output port page
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-freshness/dataset-freshness.component.tsx
  frontend/src/pages/dataset/dataset.page.tsx
Due: local-fe-check

feat: add freshness column and stale SLO alert banner to input port tab
  frontend/public/locales/en/translation.json
  frontend/src/pages/data-product/components/data-product-tabs/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/pages/data-product/components/data-product-tabs/input-port-tab/input-port-tab.tsx
Due: local-fe-check

fix: use correct FreshnessStatus import, memoize hasStaleInputPort
  frontend/src/pages/data-product/components/data-product-tabs/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/pages/data-product/components/data-product-tabs/input-port-tab/input-port-tab.tsx
Due: local-fe-check

feat: add Freshness SLO configuration section to output port edit page
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset-edit/dataset-edit.page.tsx
Due: local-fe-check

fix: populate form on SLO load with useEffect, add required validation to TimePicker
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset-edit/dataset-edit.page.tsx
Due: local-fe-check

demo: add freshness SLO seed data — production_planning stale, others fresh
  backend/sample_data.sql
Due: none

fix: suppress 404 toast for missing freshness SLO, use midnight deadline in demo for reliable stale status
  backend/sample_data.sql
  frontend/src/store/common/axios-base-query.ts
Due: local-fe-check

Added Exploration to explorer
  backend/app/database/alembic/versions/2026_04_27_1119-8b489330a188_add_owner_to_exploration.py
  backend/app/explorations/model.py
  backend/app/explorations/router.py
  backend/app/explorations/service.py
  backend/app/users/model.py
  backend/sample_data.sql
  backend/tests/app/explorations/test_router.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/factories/exploration.py
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-botton.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table.module.scss
  frontend/src/components/abstract-data-products/input-port-tab/input-port-tab.tsx
  frontend/src/pages/cart-explorations/components/new-exploration-form.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/input-ports/input-port-tab.tsx
  frontend/src/pages/exploration/components/exploration-input-ports.tsx
  frontend/src/pages/exploration/exploration-tab-keys.ts
  frontend/src/pages/exploration/exploration.page.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-table-columns.module.scss
  frontend/src/pages/product-studio/components/data-products-tab/data-products-table-columns.tsx
  frontend/src/pages/product-studio/components/explorations-tab/explorations-tab.component.tsx
  frontend/src/pages/product-studio/components/explorations-tab/explorations-tab.module.scss
  frontend/src/pages/product-studio/components/explorations-tab/explorations-table-columns.tsx
  frontend/src/pages/product-studio/product-studio-tabkeys.ts
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/routes.tsx
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
  frontend/src/types/navigation.ts
Due: regen-openapi-spec, local-fe-check

Fix rbac migration to not depend on code
  .github/workflows/alembic-workflow.yml
  backend/app/authorization/roles/model.py
  backend/app/authorization/roles/service.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/database/alembic/versions/2025_04_16_1658-6fd335d0dcfe_migrate_rbac.py
  backend/app/database/alembic/versions/2026_04_24_1534-b1b690376725_ensure_only_one_prototype_role_exists_.py
  backend/app/main.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/global_/test_auth.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
  backend/tests/app/authorization/roles/test_router.py
  backend/tests/app/data_products/output_ports/curated_queries/test_router.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/conftest.py
  backend/tests/factories/role.py
Due: regen-openapi-spec

fixing demo seeds files after rename
  demo/agents/portal_seed.sql
  demo/basic/portal_seed.sql
Due: none

Added tests
  backend/tests/app/data_products/test_router.py
  backend/tests/app/graph/test_service.py
Due: regen-openapi-spec

Update backend/app/mcp/mcp.py
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

Fixing demo seeds and data product explorer after abstract data product refactor (#3275)
  backend/app/data_products/service.py
  backend/app/graph/service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/graph/test_service.py
  demo/agents/portal_seed.sql
  demo/basic/portal_seed.sql
Due: regen-openapi-spec

Fix rbac migration to not depend on code (#3267)
  .github/workflows/alembic-workflow.yml
  backend/app/authorization/roles/model.py
  backend/app/authorization/roles/service.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/database/alembic/versions/2025_04_16_1658-6fd335d0dcfe_migrate_rbac.py
  backend/app/database/alembic/versions/2026_04_24_1534-b1b690376725_ensure_only_one_prototype_role_exists_.py
  backend/app/main.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/global_/test_auth.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
  backend/tests/app/authorization/roles/test_router.py
  backend/tests/app/data_products/output_ports/curated_queries/test_router.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/conftest.py
  backend/tests/factories/role.py
Due: regen-openapi-spec
