Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

updating the event payloads
  docs/adr/0019-event-payload-scoping.md
Due: none

renaming the link for a better name
  docs/adr/0019-event-payload-scoping.md
Due: none

fixing linting issue
  docs/adr/reference/use-case-aws-s3-provisioner.md
Due: none

Added oauth proxy for MCP
  backend/MCP.md
  backend/app/main.py
  backend/app/mcp/mcp.py
  backend/app/mcp/router.py
  backend/app/settings.py
  backend/poetry.lock
  backend/tests/app/mcp/test_router.py
  docs/docs/user-guide/experimental-features.md
  helm/templates/configmap_backend.yaml
  mcp/README.md
  mcp/remote_proxy.py
Due: regen-openapi-spec

Docs/event payload scoping spec (#3539)
  docs/adr/0019-event-payload-scoping.md
  docs/adr/reference/use-case-aws-s3-provisioner.md
Due: none

Remove unused poethepoet
  backend/poetry.lock
  backend/pyproject.toml
Due: none

WIP
  docs/adr/0019-mcp-architecture.md
Due: none

Added oauth proxy for MCP
  backend/MCP.md
  backend/app/main.py
  backend/app/mcp/mcp.py
  backend/app/mcp/router.py
  backend/app/settings.py
  backend/poetry.lock
  backend/tests/app/mcp/test_router.py
  docs/docs/developer-guide/authentication.md
  docs/docs/release-notes.md
  docs/docs/user-guide/experimental-features.md
  helm/templates/configmap_backend.yaml
  mcp/README.md
  mcp/remote_proxy.py
Due: regen-openapi-spec

Added oauth proxy for MCP (#3543)
  backend/MCP.md
  backend/app/main.py
  backend/app/mcp/mcp.py
  backend/app/mcp/router.py
  backend/app/settings.py
  backend/poetry.lock
  backend/tests/app/mcp/test_router.py
  docs/docs/developer-guide/authentication.md
  docs/docs/release-notes.md
  docs/docs/user-guide/experimental-features.md
  helm/templates/configmap_backend.yaml
  mcp/README.md
  mcp/remote_proxy.py
Due: regen-openapi-spec

Use dependencies in MCP calls
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_mcp.py
Due: regen-openapi-spec

Use dependencies in MCP calls (#3544)
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_mcp.py
Due: regen-openapi-spec

How to track and send out events
  docs/adr/0020-registering-events.md
Due: none

Add OpenAPI export flag to exclude deprecated routes
  .gitignore
  .tool-versions
  Taskfile.yml
  backend/README.md
  backend/app/authorization/router.py
  backend/app/open_api_export.py
  docs/static/openapi-no-deprecated.json
Due: regen-openapi-spec

Revert no deprecated openapi spec stuff
  Taskfile.yml
  backend/app/authorization/router.py
  backend/app/open_api_export.py
  docs/static/openapi-no-deprecated.json
Due: regen-openapi-spec

Add OpenAPI export flag to exclude deprecated routes (#3484)
  .gitignore
  .tool-versions
  Taskfile.yml
  backend/README.md
Due: none

A new attempt
  backend/app/data_products/output_ports/schema_response.py
  backend/app/main.py
  docs/static/openapi.json
Due: regen-openapi-spec

Fix context
  .pre-commit-config.yaml
  backend/app/core/webhooks/webhook.py
  docs/static/openapi.json
  frontend/src/components/data-outputs/technical-asset-card/data-output-card.component.tsx
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  sdk/generation/build_event_handler.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/validation_error.py
  sdk/sdk/api_client/models/validation_error_context.py
  sdk/sdk/auth.py
Due: regen-openapi-spec, local-fe-check

Regen again
  docs/static/openapi.json
Due: none

Improve formatting
  sdk/generation/build_event_handler.py
  sdk/sdk/event_handler.py
Due: none

Generate handler
  sdk/Taskfile.yml
  sdk/generation/build_event_handler.py
  sdk/sdk/event_handler.py
Due: none

Regenerate openapi.json
  docs/static/openapi.json
Due: none

Remove space
  sdk/generation/build_event_handler.py
  sdk/sdk/event_handler.py
Due: none

Move exclude to tool config
  sdk/generation/build_event_handler.py
  sdk/pyproject.toml
  sdk/sdk/event_handler.py
Due: none

Fix types
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/global_/router.py
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/authorization/router.py
  backend/app/core/auth/device_flows/router.py
  backend/app/data_output_configuration/router.py
  backend/app/data_products/router.py
  backend/app/explorations/router.py
  backend/app/main.py
  backend/app/resource_names/router.py
  backend/app/resource_names/service.py
  backend/app/search_output_ports/router.py
  docs/static/openapi.json
  sdk/sdk/api_client/api/authentication/get_device_token.py
  sdk/sdk/api_client/api/authentication/get_jwt_token.py
Due: regen-openapi-spec

Pre-commit, formatting fixes
  .pre-commit-config.yaml
  demo/agents/agent/dpp_agent/server.py
  demo/agents/provisioner/provisioner/main.py
  demo/agents/setup/create_products.py
  demo/basic/provisioner/provisioner/main.py
  sdk/generation/build_event_handler.py
  sdk/sdk/auth.py
  sdk/sdk/event_handler.py
Due: none

Fixes and add tests
  backend/app/core/webhooks/webhook.py
  backend/app/main.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/app/data_products/test_router.py
  backend/tests/sdk/test_webhook_integration.py
  docs/static/openapi.json
  sdk/generation/build_event_handler.py
  sdk/sdk/event_handler.py
Due: regen-openapi-spec

Add additional type
  backend/tests/sdk/test_webhook_integration.py
  docs/static/openapi.json
Due: regen-openapi-spec

Update spec again
  docs/static/openapi.json
Due: none

Lock again
  backend/poetry.lock
  docs/static/openapi.json
Due: none

Hopefully stabilize generation
  backend/app/open_api_export.py
  docs/static/openapi.json
Due: regen-openapi-spec

Hopefully stabilize generation
  docs/static/openapi.json
Due: none

ingest/get schema info
  docs/static/openapi.json
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
Due: local-fe-check

initial working version of ingestion API
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
Due: local-fe-check

initial version of frontend with data
  backend/sample_data.sql
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
  frontend/src/store/common/axios-base-query.ts
Due: local-fe-check

Reference colors from css instead of hardcoding in typescript.
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
Due: local-fe-check

initial version of frontend
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabkeys.ts
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
Due: local-fe-check

fix PR errors
  frontend/public/locales/en/translation.json
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  sdk/sdk/api_client/models/schema_property_response.py
Due: local-fe-check

Add support for nested properties.
  backend/app/data_products/output_ports/contract/schema_response.py
  backend/app/data_products/output_ports/contract/service.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_ports/contract/test_router.py
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
Due: regen-openapi-spec, local-fe-check
