Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Update output ports
  backend/tests/app/data_products/output_ports/curated_queries/test_router.py
  backend/tests/app/data_products/output_ports/query_stats_daily/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

Update data products
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
Due: regen-openapi-spec

Double checked authorization (#2985)
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/global_/test_router.py
  backend/tests/app/authorization/roles/test_router.py
Due: regen-openapi-spec

Update technical asset tests (#2986)
  backend/tests/app/data_products/technical_assets/test_router.py
Due: regen-openapi-spec

Update output ports (#2987)
  backend/tests/app/data_products/output_ports/curated_queries/test_router.py
  backend/tests/app/data_products/output_ports/query_stats_daily/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

Update data products (#2988)
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
Due: regen-openapi-spec

wip improve test utils
  frontend/src/tests/mocks/data-products.ts
  frontend/src/tests/pages/data-product/data-product-page.test.tsx
  frontend/src/tests/pages/product-studio/data-products-tab.test.tsx
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

Add extra tests for data products page
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/tests/pages/data-product/data-product-page.test.tsx
Due: local-fe-check

add data products page test
  frontend/src/tests/mocks/data-products.ts
  frontend/src/tests/pages/data-product/data-product-page.test.tsx
Due: local-fe-check

simplify setup for data-products tab
  frontend/src/tests/mocks/auth.ts
  frontend/src/tests/mocks/data-products.ts
  frontend/src/tests/pages/product-studio/data-products-tab.test.tsx
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

Fix all linting issues
  frontend/src/tests/pages/product-studio/data-products-tab.test.tsx
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

tweak tests
  frontend/src/tests/pages/data-product/data-product-page.test.tsx
Due: local-fe-check

Fix openapi.json
  docs/static/openapi.json
Due: none

Rename access_type public to unrestricted.
  backend/app/data_products/output_ports/enums.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/database/alembic/versions/2026_03_26_1040-72cc4963a251_change_dataset_type_public_name.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/factories/dataset.py
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/datasets/dataset-popover-title/dataset-popover-title.tsx
  frontend/src/components/datasets/output-port-access-icon/output-port-access-icon.tsx
  frontend/src/components/datasets/output-port-title/output-port-title.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/types/dataset/dataset.contract.ts
  frontend/src/utils/access-type.helper.ts
Due: regen-openapi-spec, local-fe-check

fix openapi.json
  docs/static/openapi.json
Due: none

Migrate AWS CLI to v2
  backend/app/core/auth/device_flows/router.py
  backend/app/core/auth/device_flows/schema.py
  backend/app/core/auth/device_flows/service.py
  backend/app/main.py
  cli/golang/.gitignore
  cli/golang/README.md
  cli/golang/go.mod
  cli/golang/go.sum
  cli/golang/libs/auth/login.go
  cli/golang/libs/cliapi/api.go
  cli/golang/libs/cmds/aws.go
  cli/golang/libs/errortranslation/http.go
  cli/golang/libs/test/test.go
  cli/golang/pkg/api/api_validators_unique_gen.go
  cli/golang/pkg/api/bifrost.gen.go
  cli/golang/pkg/api/oas_cfg_gen.go
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_defaults_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_security_gen.go
  cli/golang/pkg/api/oas_tag_equal_gen.go
  cli/golang/pkg/api/oas_tag_hash_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  cli/golang/pkg/cmd/auth/test.go
  cli/golang/pkg/generate.go
  cli/golang/pkg/ogen.yml
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/resourceNamesApi.ts
Due: regen-openapi-spec, local-fe-check

fix the migration issues.
  backend/app/database/alembic/versions/2026_03_26_1040-72cc4963a251_change_dataset_type_public_name.py
Due: regen-openapi-spec

Added initial test technical asset form
  frontend/src/components/data-outputs/data-output-platform-tile/data-output-platform-tile.component.tsx
  frontend/src/components/data-outputs/data-output-platform-tile/data-output-platform-tile.module.scss
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.component.tsx
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.test.tsx
  frontend/src/tests/mocks/configuration.ts
  frontend/src/tests/mocks/data_product.ts
  frontend/src/tests/mocks/plugins.ts
  frontend/src/tests/mocks/resource_names.ts
  frontend/src/tests/mocks/tags.ts
  frontend/src/tests/mocks/technicalAssets.ts
  frontend/src/tests/pages/people/people-table.test.tsx
  frontend/tsconfig.json
Due: local-fe-check

Upgrade dagre to 2.0.0
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/explorer/explorer.tsx
  frontend/src/components/explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/full-explorer.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/pages/data-output/components/data-output-tabs/data-output-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/utils/node-editor.helper.ts
Due: local-fe-check

Upgrade dagre to 2.0.0 (#3018)
  frontend/biome.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/explorer/explorer.tsx
  frontend/src/components/explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/full-explorer.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/pages/data-output/components/data-output-tabs/data-output-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/utils/node-editor.helper.ts
Due: local-fe-check

Decrease main bundle size
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/components/queries-over-time-chart.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/components/queries-per-consumer-chart.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/usage-tab.tsx
Due: local-fe-check

Improve user search by filtering out accents etc
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.test.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/utils/search.test.ts
  frontend/src/utils/search.ts
  frontend/tsconfig.json
Due: local-fe-check

Add banner for pending requests to home page
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/alert-banner/alert-banner.module.scss
  frontend/src/pages/home/components/alert-banner/alert-banner.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.module.scss
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-list.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-menu-tabs.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/styles/_colors.scss
Due: local-fe-check

Update translation
  frontend/public/locales/en/translation.json
Due: local-fe-check

Fix TS error
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/alert-banner/alert-banner.tsx
Due: local-fe-check

Apply requested changes
  frontend/src/pages/home/components/alert-banner/alert-banner.module.scss
  frontend/src/pages/home/components/alert-banner/alert-banner.tsx
Due: local-fe-check

Decrease main bundle size (#3019)
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/components/queries-over-time-chart.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/components/queries-per-consumer-chart.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/usage-tab.tsx
Due: local-fe-check

Update config
  backend/app/core/aws/boto3_clients.py
  frontend/knip.json
  frontend/package-lock.json
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: regen-openapi-spec, local-fe-check

Update dependabot.yml
  .github/dependabot.yml
Due: none

sync
  backend/poetry.lock
Due: none

sync
  demo/basic/provisioner/poetry.lock
Due: none

Modify theme directly
  frontend/src/pages/home/components/alert-banner/alert-banner.module.scss
  frontend/src/pages/home/components/alert-banner/alert-banner.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/styles/_colors.scss
  frontend/src/theme/antd-theme.ts
Due: local-fe-check

Cleanup
  frontend/src/pages/home/components/alert-banner/alert-banner.module.scss
  frontend/src/pages/home/components/alert-banner/alert-banner.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/theme/antd-theme.ts
Due: local-fe-check

Reduce css
  frontend/src/pages/home/components/alert-banner/alert-banner.module.scss
  frontend/src/pages/home/components/quick-actions/quick-actions.tsx
  frontend/src/pages/home/home.module.scss
  frontend/src/pages/home/home.page.tsx
Due: local-fe-check

Upgrade dependencies to patch security warnings
  backend/requirements-poetry.txt
  cli/python/data-product-portal/poetry.lock
  demo/basic/provisioner/requirements-poetry.txt
  docs/package-lock.json
Due: none

Pre-commit
  frontend/src/pages/home/components/alert-banner/alert-banner.module.scss
Due: none

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
