Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Added input port events (#3660)
  backend/app/abstract_data_product/graph_utils.py
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/model.py
  backend/app/abstract_data_product/schema_response.py
  backend/app/abstract_data_product/service.py
  backend/app/abstract_data_product/type.py
  backend/app/core/authz/resolvers.py
  backend/app/core/logging/posthog_analytics.py
  backend/app/core/webhooks/events.py
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema_request.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  backend/app/graph/service.py
  backend/app/pending_actions/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/explorations/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/input_port.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_input_port_created_event.py
  sdk/sdk/api_client/models/cloud_event_input_port_deleted_event.py
  sdk/sdk/api_client/models/cloud_event_input_port_updated_event.py
  sdk/sdk/api_client/models/input_port_created_event.py
  sdk/sdk/api_client/models/input_port_deleted_event.py
  sdk/sdk/api_client/models/input_port_updated_event.py
  sdk/sdk/provisioner/event_handler.py
  sdk/sdk/provisioner/reconcile_manager.py
Due: regen-openapi-spec

Data product reconciler
  backend/app/core/webhooks/events.py
  backend/app/data_products/model.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  docs/static/openapi.json
  sdk/example/provisioner.py
  sdk/example/tests/test_provisioner.py
  sdk/sdk/__init__.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_data_product_created_event.py
  sdk/sdk/api_client/models/cloud_event_data_product_deleted_event.py
  sdk/sdk/api_client/models/cloud_event_data_product_updated_event.py
  sdk/sdk/api_client/models/data_product_created_event.py
  sdk/sdk/api_client/models/data_product_deleted_event.py
  sdk/sdk/api_client/models/data_product_updated_event.py
  sdk/sdk/provisioner/event_handler.py
  sdk/sdk/provisioner/reconcile_manager.py
  sdk/sdk/provisioner/reconcile_queue.py
  sdk/tests/provisioner/test_reconcile_manager.py
Due: regen-openapi-spec

Data product reconciler (#3662)
  backend/app/core/webhooks/events.py
  backend/app/data_products/model.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  docs/static/openapi.json
  sdk/example/provisioner.py
  sdk/example/tests/test_provisioner.py
  sdk/sdk/__init__.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_data_product_created_event.py
  sdk/sdk/api_client/models/cloud_event_data_product_deleted_event.py
  sdk/sdk/api_client/models/cloud_event_data_product_updated_event.py
  sdk/sdk/api_client/models/data_product_created_event.py
  sdk/sdk/api_client/models/data_product_deleted_event.py
  sdk/sdk/api_client/models/data_product_updated_event.py
  sdk/sdk/provisioner/event_handler.py
  sdk/sdk/provisioner/reconcile_manager.py
  sdk/sdk/provisioner/reconcile_queue.py
  sdk/tests/provisioner/test_reconcile_manager.py
Due: regen-openapi-spec

Collapse events
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/core/webhooks/events.py
  backend/app/data_products/model.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  backend/tests/app/database/test_event_mixin.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/app/explorations/test_router.py
  backend/tests/sdk/test_webhook_integration.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_data_product_deleted_event.py
  sdk/sdk/api_client/models/cloud_event_data_product_event.py
  sdk/sdk/api_client/models/cloud_event_data_product_updated_event.py
  sdk/sdk/api_client/models/cloud_event_exploration_created_event.py
  sdk/sdk/api_client/models/cloud_event_exploration_deleted_event.py
  sdk/sdk/api_client/models/cloud_event_exploration_event.py
  sdk/sdk/api_client/models/cloud_event_exploration_updated_event.py
  sdk/sdk/api_client/models/cloud_event_input_port_deleted_event.py
  sdk/sdk/api_client/models/cloud_event_input_port_event.py
  sdk/sdk/api_client/models/data_product_deleted_event.py
  sdk/sdk/api_client/models/data_product_event.py
  sdk/sdk/api_client/models/data_product_updated_event.py
  sdk/sdk/api_client/models/exploration_deleted_event.py
  sdk/sdk/api_client/models/exploration_event.py
  sdk/sdk/api_client/models/exploration_updated_event.py
  sdk/sdk/api_client/models/input_port_created_event.py
  sdk/sdk/api_client/models/input_port_deleted_event.py
  sdk/sdk/api_client/models/input_port_event.py
  sdk/sdk/provisioner/event_handler.py
  sdk/sdk/provisioner/reconcile_manager.py
  sdk/tests/provisioner/test_reconcile_manager.py
Due: regen-openapi-spec

Fix comments
  sdk/example/provisioner.py
  sdk/example/tests/test_provisioner.py
Due: none

fix test and comments
  sdk/example/provisioner.py
  sdk/example/tests/test_provisioner.py
Due: none

Fix demo seed refactor
  demo/basic/portal_seed.sql
Due: none

Status has to be lowercase
  backend/app/database/alembic/versions/2026_06_19_1009-a07fd336c073_lowercase_status.py
Due: regen-openapi-spec

Fix demo seed refactor (#3676)
  demo/basic/portal_seed.sql
Due: none

Update backend/tests/app/database/test_event_mixin.py
  backend/tests/app/database/test_event_mixin.py
Due: regen-openapi-spec

Feature/collapse events (#3664)
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/core/webhooks/events.py
  backend/app/data_products/model.py
  backend/app/database/event_mixin.py
  backend/app/explorations/model.py
  backend/tests/app/database/test_event_mixin.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/app/explorations/test_router.py
  backend/tests/sdk/test_webhook_integration.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_data_product_deleted_event.py
  sdk/sdk/api_client/models/cloud_event_data_product_event.py
  sdk/sdk/api_client/models/cloud_event_data_product_updated_event.py
  sdk/sdk/api_client/models/cloud_event_exploration_created_event.py
  sdk/sdk/api_client/models/cloud_event_exploration_deleted_event.py
  sdk/sdk/api_client/models/cloud_event_exploration_event.py
  sdk/sdk/api_client/models/cloud_event_exploration_updated_event.py
  sdk/sdk/api_client/models/cloud_event_input_port_deleted_event.py
  sdk/sdk/api_client/models/cloud_event_input_port_event.py
  sdk/sdk/api_client/models/data_product_deleted_event.py
  sdk/sdk/api_client/models/data_product_event.py
  sdk/sdk/api_client/models/data_product_updated_event.py
  sdk/sdk/api_client/models/exploration_deleted_event.py
  sdk/sdk/api_client/models/exploration_event.py
  sdk/sdk/api_client/models/exploration_updated_event.py
  sdk/sdk/api_client/models/input_port_created_event.py
  sdk/sdk/api_client/models/input_port_deleted_event.py
  sdk/sdk/api_client/models/input_port_event.py
  sdk/sdk/provisioner/event_handler.py
  sdk/sdk/provisioner/reconcile_manager.py
  sdk/tests/provisioner/test_reconcile_manager.py
Due: regen-openapi-spec

More events for data product reconciler
  backend/app/authorization/role_assignments/output_port/service.py
  backend/app/core/webhooks/events.py
  backend/app/data_products/output_port_technical_assets_link/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/technical_assets/model.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/core/webhooks/helpers.py
  backend/tests/app/core/webhooks/test_v2_webhook.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/app/explorations/test_router.py
  backend/tests/conftest.py
  backend/tests/webhook_util.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_output_port_event.py
  sdk/sdk/api_client/models/cloud_event_output_port_technical_asset_link_event.py
  sdk/sdk/api_client/models/cloud_event_technical_asset_event.py
  sdk/sdk/api_client/models/output_port_event.py
  sdk/sdk/api_client/models/output_port_technical_asset_link_event.py
  sdk/sdk/api_client/models/technical_asset_event.py
  sdk/sdk/provisioner/event_handler.py
  sdk/sdk/provisioner/reconcile_manager.py
Due: regen-openapi-spec

Status has to be lowercase (#3677)
  backend/app/database/alembic/versions/2026_06_19_1009-a07fd336c073_lowercase_status.py
Due: regen-openapi-spec

More events for data product reconciler (#3678)
  backend/app/authorization/role_assignments/output_port/service.py
  backend/app/core/webhooks/events.py
  backend/app/data_products/output_port_technical_assets_link/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/technical_assets/model.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/core/webhooks/helpers.py
  backend/tests/app/core/webhooks/test_v2_webhook.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/app/explorations/test_router.py
  backend/tests/conftest.py
  backend/tests/webhook_util.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_output_port_event.py
  sdk/sdk/api_client/models/cloud_event_output_port_technical_asset_link_event.py
  sdk/sdk/api_client/models/cloud_event_technical_asset_event.py
  sdk/sdk/api_client/models/output_port_event.py
  sdk/sdk/api_client/models/output_port_technical_asset_link_event.py
  sdk/sdk/api_client/models/technical_asset_event.py
  sdk/sdk/provisioner/event_handler.py
  sdk/sdk/provisioner/reconcile_manager.py
Due: regen-openapi-spec

Create basic role assignment events
  backend/app/authorization/role_assignments/data_product/model.py
  backend/app/authorization/role_assignments/output_port/model.py
  backend/app/core/webhooks/events.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_data_product_role_assignment_event.py
  sdk/sdk/api_client/models/cloud_event_output_port_role_assignment_event.py
  sdk/sdk/api_client/models/data_product_role_assignment_event.py
  sdk/sdk/api_client/models/output_port_role_assignment_event.py
  sdk/sdk/provisioner/reconcile_manager.py
Due: regen-openapi-spec

Create unit tests for role assignment events
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
Due: regen-openapi-spec

Missing generated file
  sdk/sdk/provisioner/event_handler.py
Due: none

Event rename
  backend/app/core/webhooks/events.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/cloud_event_data_product_role_assignment_event.py
  sdk/sdk/api_client/models/cloud_event_output_port_role_assignment_event.py
Due: regen-openapi-spec

Enable ruff rules again
  .pre-commit-config.yaml
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/authorization/router.py
  backend/app/core/auth/device_flows/router.py
  backend/app/data_output_configuration/router.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/database/alembic/versions/2026_06_19_1009-a07fd336c073_lowercase_status.py
  backend/app/explorations/router.py
  backend/app/resource_names/router.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/core/logging/test_background_tasks.py
  backend/tests/conftest.py
  backend/tests/webhook_util.py
  sdk/sdk/__init__.py
  sdk/tests/provisioner/test_reconcile_manager.py
Due: regen-openapi-spec

Use foreign key data_product_id explicitly in output port role assignment
  backend/app/authorization/role_assignments/output_port/model.py
  backend/app/authorization/role_assignments/output_port/service.py
  backend/app/database/alembic/versions/2025_04_16_1658-6fd335d0dcfe_migrate_rbac.py
  backend/app/database/alembic/versions/2026_06_19_1413-ecaa71141f4c_add_data_product_id_to_role_assignments_.py
  backend/tests/factories/role_assignment_dataset.py
Due: regen-openapi-spec

Fix sample data
  backend/sample_data.sql
  demo/basic/portal_seed.sql
Due: none

Enable ruff rules again (#3680)
  .pre-commit-config.yaml
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/authorization/router.py
  backend/app/core/auth/device_flows/router.py
  backend/app/data_output_configuration/router.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/database/alembic/versions/2026_06_19_1009-a07fd336c073_lowercase_status.py
  backend/app/explorations/router.py
  backend/app/resource_names/router.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/core/logging/test_background_tasks.py
  backend/tests/conftest.py
  backend/tests/webhook_util.py
  sdk/sdk/__init__.py
  sdk/tests/provisioner/test_reconcile_manager.py
Due: regen-openapi-spec

Migrate demo provisioner to v2 webhook
  demo/basic/.env.portal
  demo/basic/README.md
  demo/basic/portal_seed.sql
  demo/basic/provisioner/README.md
  demo/basic/provisioner/poetry.lock
  demo/basic/provisioner/provisioner/main.py
  demo/basic/provisioner/provisioner/reconciler.py
  demo/basic/provisioner/pyproject.toml
  sdk/sdk/provisioner/reconcile_queue.py
Due: none

Migrate demo provisioner to v2 webhook (#3679)
  demo/basic/.env.portal
  demo/basic/README.md
  demo/basic/portal_seed.sql
  demo/basic/provisioner/README.md
  demo/basic/provisioner/poetry.lock
  demo/basic/provisioner/provisioner/main.py
  demo/basic/provisioner/provisioner/reconciler.py
  demo/basic/provisioner/pyproject.toml
  sdk/sdk/provisioner/reconcile_queue.py
Due: none

Fix rollbacks in unit tests
  backend/app/database/alembic/versions/2025_04_16_1658-6fd335d0dcfe_migrate_rbac.py
  backend/tests/factories/role_assignment_dataset.py
Due: regen-openapi-spec

Fix booboo
  backend/app/database/alembic/versions/2025_04_16_1658-6fd335d0dcfe_migrate_rbac.py
Due: regen-openapi-spec

Fix dataset role factory
  backend/tests/factories/role_assignment_dataset.py
Due: regen-openapi-spec

ADR 19 and 20 updated
  docs/adr/0019-event-payload-scoping.md
  docs/adr/reference/id-only-event-implementation.md
Due: none

added finalizers to example provisioner (#3665)
  sdk/example/provisioner.py
  sdk/example/tests/test_provisioner.py
Due: none

Feature/role assignment events (#3681)
  backend/app/authorization/role_assignments/data_product/model.py
  backend/app/authorization/role_assignments/output_port/model.py
  backend/app/authorization/role_assignments/output_port/service.py
  backend/app/core/webhooks/events.py
  backend/app/database/alembic/versions/2025_04_16_1658-6fd335d0dcfe_migrate_rbac.py
  backend/app/database/alembic/versions/2026_06_19_1413-ecaa71141f4c_add_data_product_id_to_role_assignments_.py
  backend/sample_data.sql
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
  backend/tests/factories/role_assignment_dataset.py
  demo/basic/portal_seed.sql
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_data_product_role_assignment_event.py
  sdk/sdk/api_client/models/cloud_event_output_port_role_assignment_event.py
  sdk/sdk/api_client/models/data_product_role_assignment_event.py
  sdk/sdk/api_client/models/output_port_role_assignment_event.py
  sdk/sdk/provisioner/event_handler.py
  sdk/sdk/provisioner/reconcile_manager.py
Due: regen-openapi-spec

Added user guide for infra provisioners
  docs/docs/developer-guide/integrations.md
  docs/docs/developer-guide/provisioner.md
  docs/docs/release-notes.md
Due: none

Added user guide for infra provisioners (#3682)
  docs/docs/developer-guide/integrations.md
  docs/docs/developer-guide/provisioner.md
  docs/docs/release-notes.md
Due: none

Use Sequence instead of LazyFunction for uniqueness
  backend/tests/factories/data_product.py
  backend/tests/factories/dataset.py
  backend/tests/factories/exploration.py
Due: regen-openapi-spec

Added special mode for input port events
  backend/app/core/context.py
  backend/app/data_products/output_port_technical_assets_link/model.py
  backend/app/database/event_mixin.py
  backend/app/settings.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/conftest.py
  backend/tests/webhook_util.py
  docs/docs/developer-guide/provisioner.md
Due: regen-openapi-spec

Claude desktop support
  backend/app/main.py
  backend/app/mcp/mcp.py
  backend/tests/app/shared/test_router.py
  docs/docs/user-guide/experimental-features.md
  frontend/deploy/entrypoint.sh
  frontend/deploy/nginx/nginx.conf
  helm/templates/configmap_backend.yaml
  helm/values.yaml
Due: regen-openapi-spec

Added exploration documentation
  docs/docs/concepts/concept-linking.md
  docs/docs/concepts/data-products.md
  docs/docs/concepts/explorations.md
  docs/docs/concepts/img/exploration.png
  docs/docs/concepts/input-ports.md
  docs/docs/concepts/output-ports.md
  docs/docs/concepts/technical-assets.md
  docs/docusaurus.config.ts
Due: none

Claude desktop support (#3702)
  backend/app/main.py
  backend/app/mcp/mcp.py
  backend/tests/app/shared/test_router.py
  docs/docs/user-guide/experimental-features.md
  frontend/deploy/entrypoint.sh
  frontend/deploy/nginx/nginx.conf
  helm/templates/configmap_backend.yaml
  helm/values.yaml
Due: regen-openapi-spec

Added special mode for input port events (#3692)
  backend/app/core/context.py
  backend/app/data_products/output_port_technical_assets_link/model.py
  backend/app/database/event_mixin.py
  backend/app/settings.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/conftest.py
  backend/tests/webhook_util.py
  docs/docs/developer-guide/provisioner.md
Due: regen-openapi-spec

Apply suggestions from code review
  docs/docs/concepts/concept-linking.md
  docs/docs/concepts/data-products.md
  docs/docs/concepts/explorations.md
Due: none

Added some extra posthog events
  frontend/src/constants/posthog.constants.ts
  frontend/src/hooks/use-tab-param.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
Due: local-fe-check
