Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Remove output port print
  demo/agents/setup/create_products.py
Due: none

Apply suggestion from @stijndehaes
  AGENTS.md
Due: none

updating documentation based on feedback
  docs/docs/developer-guide/adding-integrations.md
Due: none

improved readme
  demo/agents/README.md
Due: none

Regenerating the API after renaming the semantic field
  backend/app/data_output_configuration/osi_sem_model/schema.py
  backend/app/database/alembic/versions/2026_03_03_1000-a1b2c3d4e5f6_semantic_model_plugin.py
  demo/README.md
  demo/agents/README.md
  demo/agents/agent/dpp_agent/server.py
  demo/agents/agent/skills/postgres-semantic/SKILL.md
  docs/static/openapi.json
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
Due: regen-openapi-spec, local-fe-check

adding a team of agents
  demo/agents/agent/dpp_agent/server.py
Due: none

first version done
  demo/README.md
  demo/agents/.env.portal
  demo/agents/Taskfile.yml
  demo/agents/agent/Dockerfile
  demo/agents/agent/dpp_agent/server.py
  demo/agents/provisioner/provisioner/main.py
  demo/agents/setup/create_products.py
Due: none

fixing the intial setup
  .gitignore
  demo/agents/.env.secret.example
  demo/agents/README.md
  demo/agents/Taskfile.yml
  demo/agents/agent/Dockerfile
  demo/agents/agent/dpp_agent/server.py
  demo/agents/compose.yaml
  demo/agents/provisioner/provisioner/main.py
  demo/agents/setup/create_products.py
Due: none

ignoring demo folder mypy as it doesnt understand that this is not one big project
  .pre-commit-config.yaml
Due: none

adding a generic agent and limiting access
  backend/app/data_output_configuration/agno/schema.py
  demo/agents/agent/dpp_agent/server.py
  demo/agents/provisioner/provisioner/main.py
Due: regen-openapi-spec

reducing the # tokens by enabling caching and disabling history
  demo/agents/agent/Dockerfile
  demo/agents/agent/dpp_agent/server.py
  demo/agents/agent/pyproject.toml
  demo/agents/agent/skills/postgres-semantic/SKILL.md
Due: none

Remove version, authz and notifications v1 routes
  backend/app/authorization/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/main.py
  backend/app/users/notifications/router.py
  backend/tests/app/authorization/test_router.py
  backend/tests/app/users/notifications/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Return some namespace tests for coverage
  backend/tests/app/data_product_settings/test_router.py
Due: regen-openapi-spec

Redoing the agent part
  AGENTS.md
Due: none

Remove old v1 from data products routers (#3135)
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_ports/curated_queries/router.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/query_stats/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/router.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/global_/test_router.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/curated_queries/test_router.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/query_stats_daily/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/app/users/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Resolve comments on PR
  .pre-commit-config.yaml
  scripts/check_generated_api.sh
Due: none

Chore/remove v1 api 3 (#3154)
  backend/app/authorization/router.py
  backend/app/configuration/data_product_lifecycles/router.py
  backend/app/configuration/data_product_settings/router.py
  backend/app/configuration/data_product_types/router.py
  backend/app/configuration/domains/router.py
  backend/app/configuration/environments/router.py
  backend/app/configuration/platforms/router.py
  backend/app/configuration/tags/router.py
  backend/app/configuration/theme_settings/router.py
  backend/app/core/auth/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/main.py
  backend/app/users/notifications/router.py
  backend/tests/app/auth/test_device_router.py
  backend/tests/app/auth/test_router.py
  backend/tests/app/authorization/test_router.py
  backend/tests/app/data_product_lifecycles/test_router.py
  backend/tests/app/data_product_settings/test_router.py
  backend/tests/app/data_product_types/test_router.py
  backend/tests/app/domains/test_router.py
  backend/tests/app/environments/test_router.py
  backend/tests/app/platforms/test_router.py
  backend/tests/app/tags/test_router.py
  backend/tests/app/theme_settings/test_router.py
  backend/tests/app/users/notifications/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Chore/fix frontend api generation (#3142)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/add-ts-nocheck.js
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/configurationPlatformsApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsDataQualityApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/resourceNamesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  scripts/check_generated_api.sh
Due: local-fe-check

WIP
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/cart/components/confirmation.tsx
  frontend/src/pages/cart/components/data-product-choice.tsx
  frontend/src/pages/cart/components/data-product-select-modal.tsx
  frontend/src/pages/cart/components/data-products-view.tsx
  frontend/src/theme/antd-theme.ts
Due: local-fe-check

Removed final v1 endpoints, fixed frontend using deprecated endpoints
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/global_/router.py
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/authorization/roles/router.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/global_/test_router.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
  backend/tests/app/authorization/roles/test_router.py
  docs/static/openapi.json
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
Due: regen-openapi-spec, local-fe-check

Main build is broken
  frontend/package-lock.json
  frontend/package.json
Due: local-fe-check

Fix deprecated routes in frontend
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
Due: local-fe-check

Main build is broken (#3156)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
Due: local-fe-check

Removed final v1 endpoints, fixed frontend using deprecated endpoints (#3155)
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/global_/router.py
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/authorization/roles/router.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/global_/test_router.py
  backend/tests/app/authorization/role_assignments/output_port/test_router.py
  backend/tests/app/authorization/roles/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Feature/agents demo (#2835)
  .gitignore
  .pre-commit-config.yaml
  backend/app/data_output_configuration/__init__.py
  backend/app/data_output_configuration/agno/__init__.py
  backend/app/data_output_configuration/agno/schema.py
  backend/app/data_output_configuration/osi_sem_model/model.py
  backend/app/data_output_configuration/osi_sem_model/schema.py
  backend/app/database/alembic/versions/2026_03_03_1000-a1b2c3d4e5f6_semantic_model_plugin.py
  demo/README.md
  demo/agents/.env.data_sources
  demo/agents/.env.portal
  demo/agents/.env.secret.example
  demo/agents/README.md
  demo/agents/Taskfile.yml
  demo/agents/agent/Dockerfile
  demo/agents/agent/dpp_agent/__init__.py
  demo/agents/agent/dpp_agent/server.py
  demo/agents/agent/pyproject.toml
  demo/agents/compose.yaml
  demo/agents/data_sources_seed.sql
  demo/agents/portal_seed.sql
  demo/agents/products/customer-demographic-master/osi.yml
  demo/agents/products/inventory-snapshot/osi.yml
  demo/agents/products/sales-transaction-ledger/osi.yml
  demo/agents/provisioner/Dockerfile
  demo/agents/provisioner/provisioner/__init__.py
  demo/agents/provisioner/provisioner/main.py
  demo/agents/provisioner/pyproject.toml
  demo/agents/setup/create_products.py
  docs/docs/developer-guide/adding-integrations.md
  docs/static/openapi.json
  frontend/src/assets/icons/agno-logo.svg
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
Due: regen-openapi-spec, local-fe-check

trying to break mypy for the backend
  .pre-commit-config.yaml
Due: none

regenerating lock file
  backend/poetry.lock
Due: none

adapting the provisioner to the changes in the api
  backend/poetry.lock
  demo/basic/provisioner/provisioner/main.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/azure_blob_config.py
  sdk/sdk/api_client/models/azure_blob_config_storage_account_names.py
  sdk/sdk/api_client/models/azure_blob_technical_asset_configuration.py
  sdk/sdk/api_client/models/azure_environment_platform_configuration.py
  sdk/sdk/api_client/models/create_technical_asset_request.py
  sdk/sdk/api_client/models/environment_configs_get_item.py
  sdk/sdk/api_client/models/environment_platform_config_get.py
  sdk/sdk/api_client/models/get_technical_assets_response_item.py
  sdk/sdk/api_client/models/owned_technical_asset.py
  sdk/sdk/api_client/models/render_technical_asset_access_path_request.py
  sdk/sdk/api_client/models/technical_asset.py
Due: none

Removing the dynamic mypy configuration and adding an note
  .pre-commit-config.yaml
  demo/basic/Taskfile.yml
  scripts/run_mypy.sh
Due: none

moving the cli python code to the sdk
  mypy.ini
Due: none

reverting changes to the provisioner
  demo/basic/compose.yaml
  demo/basic/provisioner/Dockerfile
Due: none

hiding generated files
  .gitattributes
Due: none

moving the cli python code to the sdk
  .pre-commit-config.yaml
  cli/python/data-product-portal/README.md
  cli/python/data-product-portal/poetry.lock
  cli/python/data-product-portal/portal/__init__.py
  cli/python/data-product-portal/portal/auth/__init__.py
  cli/python/data-product-portal/portal/output_port_client.py
  cli/python/data-product-portal/pyproject.toml
  demo/basic/compose.yaml
  demo/basic/provisioner/Dockerfile
  demo/basic/provisioner/provisioner/main.py
  demo/basic/provisioner/pyproject.toml
  sdk/README.md
  sdk/pyproject.toml
  sdk/sdk/__init__.py
  sdk/sdk/auth.py
Due: none

Putting import in the correct place and fixing another mypy issue
  sdk/pyproject.toml
  sdk/sdk/auth.py
Due: none

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
