Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Ensure we don't have duplicate operationId (#2377)
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/global_/router.py
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/database/alembic/versions/2025_05_21_1055-6441623a586b_grant_api_user_admin.py
  backend/app/main.py
  backend/tests/app/shared/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Regen openapi spec
  backend/poetry.lock
  docs/static/openapi.json
Due: none

Fix pre commit hooks
  .pre-commit-config.yaml
  README.md
  demo/provisioner/tests/__init__.py
  frontend/public/locales/en/translation.json
Due: local-fe-check

Make setup a bit simpler
  .env.demo.docker
  .env.docker
  compose.yaml
  demo/README.md
Due: none

Improve preparing the demo
  compose.yaml
  demo/products/Makefile
  demo/products/README.md
  demo/products/marketing_customer_360/models/customer_360.sql
  demo/products/pyproject.toml
Due: none

Fix bad redirect to unexisting documentation page
  frontend/src/components/layout/sidebar/sidebar.component.tsx
Due: local-fe-check

Fix bad redirect to unexisting documentation page (#2389)
  frontend/src/components/layout/sidebar/sidebar.component.tsx
Due: local-fe-check

Refactor data_outputs_datasets
  backend/app/core/authz/resolvers.py
  backend/app/data_outputs_datasets/router.py
  backend/app/data_products/output_port_technical_assets_link/model.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_port_technical_assets_link/schema.py
  backend/app/data_products/output_port_technical_assets_link/schema_request.py
  backend/app/data_products/output_port_technical_assets_link/schema_response.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/model.py
  backend/app/data_products/technical_assets/router.py
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/data_products/technical_assets/service.py
  backend/app/pending_actions/schema.py
  backend/app/pending_actions/service.py
  backend/app/shared/router.py
  backend/app/users/model.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/factories/data_outputs_datasets.py
  docs/static/openapi.json
Due: regen-openapi-spec

Refactor data_outputs_datasets (#2376)
  backend/app/core/authz/resolvers.py
  backend/app/data_outputs_datasets/router.py
  backend/app/data_products/output_port_technical_assets_link/model.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_port_technical_assets_link/schema.py
  backend/app/data_products/output_port_technical_assets_link/schema_request.py
  backend/app/data_products/output_port_technical_assets_link/schema_response.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/model.py
  backend/app/data_products/technical_assets/router.py
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/data_products/technical_assets/service.py
  backend/app/pending_actions/schema.py
  backend/app/pending_actions/service.py
  backend/app/shared/router.py
  backend/app/users/model.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/factories/data_outputs_datasets.py
  docs/static/openapi.json
Due: regen-openapi-spec

Migrate pending actions
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/data_products/output_port_technical_assets_link/schema.py
  backend/app/data_products/output_port_technical_assets_link/schema_response.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products_datasets/schema_response.py
  backend/app/data_products_datasets/service.py
  backend/app/pending_actions/enums.py
  backend/app/pending_actions/router.py
  backend/app/pending_actions/schema.py
  backend/app/pending_actions/schema_response.py
  backend/app/pending_actions/service.py
  backend/app/users/router.py
  backend/tests/app/users/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Remove unnecessary change
  backend/app/data_products/output_port_technical_assets_link/schema.py
Due: regen-openapi-spec

Add filelock as explicit dependency to fix security issue
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Add filelock as explicit dependency to fix security issue (#2406)
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Add deprecation warnings to classes
  backend/app/data_products_datasets/schema_response.py
  backend/app/pending_actions/enums.py
  backend/app/pending_actions/schema.py
  docs/static/openapi.json
Due: regen-openapi-spec

Migrate pending actions (#2399)
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/data_products/output_port_technical_assets_link/schema_response.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products_datasets/schema_response.py
  backend/app/data_products_datasets/service.py
  backend/app/pending_actions/enums.py
  backend/app/pending_actions/router.py
  backend/app/pending_actions/schema.py
  backend/app/pending_actions/schema_response.py
  backend/app/pending_actions/service.py
  backend/app/users/router.py
  backend/tests/app/users/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

t
  backend/app/core/authz/resolvers.py
  backend/app/data_products/output_ports/links/model.py
  backend/app/data_products/output_ports/links/router.py
  backend/app/data_products/output_ports/links/schema.py
  backend/app/data_products/output_ports/links/schema_request.py
  backend/app/data_products/output_ports/links/schema_response.py
  backend/app/data_products/output_ports/links/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/service.py
  backend/app/data_products_datasets/router.py
  backend/app/pending_actions/schema.py
  backend/app/pending_actions/service.py
  backend/app/shared/router.py
  backend/tests/app/data_products/output_ports/links/test_router.py
  backend/tests/factories/data_products_datasets.py
  docs/static/openapi.json
Due: regen-openapi-spec

add notes
  demo/notes.md
Due: none

Add ADR v1
  docs/adr/0009-plugin-data-output-configs.md
Due: none

Refactor input port links
  backend/app/core/authz/resolvers.py
  backend/app/data_products/output_ports/input_ports/model.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema.py
  backend/app/data_products/output_ports/input_ports/schema_request.py
  backend/app/data_products/output_ports/input_ports/schema_response.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/service.py
  backend/app/data_products_datasets/router.py
  backend/app/pending_actions/schema.py
  backend/app/pending_actions/service.py
  backend/app/shared/router.py
  backend/tests/app/data_products/output_ports/links/test_router.py
  backend/tests/factories/data_products_datasets.py
  docs/static/openapi.json
Due: regen-openapi-spec

Refactor input port links (#2408)
  backend/app/core/authz/resolvers.py
  backend/app/data_products/output_ports/input_ports/model.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema.py
  backend/app/data_products/output_ports/input_ports/schema_request.py
  backend/app/data_products/output_ports/input_ports/schema_response.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/service.py
  backend/app/data_products_datasets/router.py
  backend/app/pending_actions/schema.py
  backend/app/pending_actions/service.py
  backend/app/shared/router.py
  backend/tests/app/data_products/output_ports/links/test_router.py
  backend/tests/factories/data_products_datasets.py
  docs/static/openapi.json
Due: regen-openapi-spec

Upgrade notifications
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/events/model.py
  backend/app/notifications/router.py
  backend/app/notifications/schema_response.py
  backend/app/shared/router.py
  backend/app/users/model.py
  backend/app/users/notifications/model.py
  backend/app/users/notifications/router.py
  backend/app/users/notifications/schema_response.py
  backend/app/users/notifications/service.py
  backend/tests/app/users/notifications/test_router.py
  backend/tests/factories/notification.py
  docs/static/openapi.json
Due: regen-openapi-spec

Upgrade notifications (#2410)
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/events/model.py
  backend/app/notifications/router.py
  backend/app/notifications/schema_response.py
  backend/app/shared/router.py
  backend/app/users/model.py
  backend/app/users/notifications/model.py
  backend/app/users/notifications/router.py
  backend/app/users/notifications/schema_response.py
  backend/app/users/notifications/service.py
  backend/tests/app/users/notifications/test_router.py
  backend/tests/factories/notification.py
  docs/static/openapi.json
Due: regen-openapi-spec

Cleanup the rest
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/authorization/roles/router.py
  backend/app/configuration/platforms/router.py
  backend/app/core/auth/device_flows/router.py
  backend/app/core/auth/router.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/query_stats/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/graph/router.py
  backend/app/main.py
  backend/app/mcp/router.py
  backend/app/pending_actions/router.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/shared/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Add dynamic form generation of configurations
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/model.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/model.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/model.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/snowflake/model.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/data_products/technical_assets/router.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/data_products/technical_assets/service.py
  backend/app/database/alembic/versions/2026_01_07_1455-dbe6fbe45eef_add_entire_schema_checkbox.py
  docs/static/openapi.json
  frontend/src/api/api-urls.ts
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/databricks-data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/generic-data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/glue-data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/redshift-data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/s3-data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/snowflake-data-output-form.component.tsx
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
  frontend/src/types/data-output/ui-element-metadata.contract.ts
Due: regen-openapi-spec, local-fe-check

Cleanup the rest (#2411)
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/authorization/roles/router.py
  backend/app/configuration/platforms/router.py
  backend/app/core/auth/device_flows/router.py
  backend/app/core/auth/router.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/query_stats/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/graph/router.py
  backend/app/main.py
  backend/app/mcp/router.py
  backend/app/pending_actions/router.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/shared/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

fix depends on
  frontend/src/components/data-products/data-output-form/generic-data-output-form.component.tsx
Due: local-fe-check

Move to generated client for authorization-roles
  frontend/src/components/charts/custom-nodes/base-node/base-node.tsx
  frontend/src/components/charts/custom-nodes/data-product-node/data-product-node.tsx
  frontend/src/components/global-explorer/sidebar/node-context.tsx
  frontend/src/components/modal/user-popup/user-popup.tsx
  frontend/src/components/roles/role-change-form/role-change-form.tsx
  frontend/src/pages/data-product/components/data-product-request-access-button/data-product-request-access-button.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/components/team-table/team-table-columns.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/components/team-table/team-table.component.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/components/team-table/team-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/components/team-table/team-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/people/people-table-columns.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/pages/roles/components/create-role-modal.component.tsx
  frontend/src/pages/roles/components/delete-role-modal.component.tsx
  frontend/src/pages/roles/components/modify-role-modal.component.tsx
  frontend/src/pages/roles/components/role-details-menu.component.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
  frontend/src/pages/roles/roles.page.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/features/roles/roles-api-slice.ts
  frontend/src/store/index.ts
  frontend/src/types/graph/graph-contract.ts
  frontend/src/types/pending-actions/pending-actions.ts
  frontend/src/types/roles/enums.ts
  frontend/src/types/roles/index.ts
  frontend/src/types/roles/role-assignment-request.ts
  frontend/src/types/roles/role-assignment-status.ts
  frontend/src/types/roles/role.contract.ts
  frontend/src/types/users/user.contract.ts
  frontend/src/utils/data-product-user-role.helper.ts
  frontend/src/utils/dataset-user-role.helper.ts
  frontend/src/utils/node-parser.helper.ts
  frontend/src/utils/pending-request.helper.ts
Due: local-fe-check

Generate tiles automatically
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/data_products/technical_assets/service.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/components/output-configuration-sub-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/generic-data-output-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Use enum Scopes in more places
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/components/team-table/team-table-columns.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/components/team-table/team-table-columns.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
Due: local-fe-check

Fix dependabot security alerts
  backend/pyproject.toml
  backend/requirements-poetry.txt
  docs/package-lock.json
Due: none

Update lockfile again
  backend/poetry.lock
Due: none

Remove unused URLs
  frontend/src/api/api-urls.ts
Due: local-fe-check

Fix dependabot security alerts (#2425)
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements-poetry.txt
  docs/package-lock.json
Due: none

Move to generated client for authorization-roles (#2414)
  frontend/src/api/api-urls.ts
  frontend/src/components/charts/custom-nodes/base-node/base-node.tsx
  frontend/src/components/charts/custom-nodes/data-product-node/data-product-node.tsx
  frontend/src/components/global-explorer/sidebar/node-context.tsx
  frontend/src/components/modal/user-popup/user-popup.tsx
  frontend/src/components/roles/role-change-form/role-change-form.tsx
  frontend/src/pages/data-product/components/data-product-request-access-button/data-product-request-access-button.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/components/team-table/team-table-columns.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/components/team-table/team-table.component.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/components/team-table/team-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/components/team-table/team-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/people/people-table-columns.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/pages/roles/components/create-role-modal.component.tsx
  frontend/src/pages/roles/components/delete-role-modal.component.tsx
  frontend/src/pages/roles/components/modify-role-modal.component.tsx
  frontend/src/pages/roles/components/role-details-menu.component.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
  frontend/src/pages/roles/roles.page.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/features/roles/roles-api-slice.ts
  frontend/src/store/index.ts
  frontend/src/types/graph/graph-contract.ts
  frontend/src/types/pending-actions/pending-actions.ts
  frontend/src/types/roles/enums.ts
  frontend/src/types/roles/index.ts
  frontend/src/types/roles/role-assignment-request.ts
  frontend/src/types/roles/role-assignment-status.ts
  frontend/src/types/roles/role.contract.ts
  frontend/src/types/users/user.contract.ts
  frontend/src/utils/data-product-user-role.helper.ts
  frontend/src/utils/dataset-user-role.helper.ts
  frontend/src/utils/node-parser.helper.ts
  frontend/src/utils/pending-request.helper.ts
Due: local-fe-check

Auto generate platform tiles and import icons
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/data_products/technical_assets/router.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/data_products/technical_assets/service.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
  frontend/src/utils/icon-loader.ts
Due: regen-openapi-spec, local-fe-check

Migrate a configuration endpoints for data products
  backend/app/configuration/data_product_lifecycles/router.py
  backend/app/configuration/data_product_settings/router.py
  docs/static/openapi.json
  frontend/src/api/api-urls.ts
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/namespace/namespace-form-item.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/data-product-lifecycles-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/new-data-product-lifecycles-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-table.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/features/api/tag-types.ts
  frontend/src/store/features/data-product-lifecycles/data-product-lifecycles-api-slice.ts
  frontend/src/store/features/data-product-settings/data-product-settings-api-slice.ts
  frontend/src/store/features/data-product-types/data-product-types-api-slice.ts
Due: regen-openapi-spec, local-fe-check
