Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Remove audit logs from UI
  docs/docs/release-notes.md
  frontend/src/components/layout/root/root.layout.tsx
  frontend/src/components/layout/sidebar/sidebar.component.tsx
  frontend/src/pages/audit-logs/audit-logs.page.tsx
  frontend/src/routes.tsx
  frontend/src/types/navigation.ts
Due: local-fe-check

remove translation entry
  frontend/public/locales/en/translation.json
Due: local-fe-check

test release process
  .github/workflows/release-workflow.yml
Due: none

dummy release
  docs/docs/release-notes.md
Due: none

change workflow
  .github/workflows/release-workflow.yml
Due: none

Add configurable setting for AWS session duration with plugins
  backend/app/core/aws/get_url.py
  backend/app/settings.py
  helm/templates/configmap_backend.yaml
  helm/values.yaml
Due: regen-openapi-spec

change release workflow to include readable release-notes.
  .github/workflows/release-workflow.yml
Due: none

Remove audit logs from UI (#2952)
  docs/docs/release-notes.md
  frontend/public/locales/en/translation.json
  frontend/src/components/layout/root/root.layout.tsx
  frontend/src/components/layout/sidebar/sidebar.component.tsx
  frontend/src/pages/audit-logs/audit-logs.page.tsx
  frontend/src/routes.tsx
  frontend/src/types/navigation.ts
Due: local-fe-check

Update PR template (#2945)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

What would you like to do today? (#2944)
  frontend/i18next.config.ts
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/quick-actions/quick-actions.module.scss
  frontend/src/pages/home/components/quick-actions/quick-actions.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
Due: local-fe-check

Add wizard
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/components/layout/sidebar/sidebar.component.tsx
  frontend/src/components/wizard/wizard-button.tsx
  frontend/src/components/wizard/wizard.tsx
  frontend/src/store/features/wizard/wizard-slice.ts
  frontend/src/store/index.ts
Due: local-fe-check

Fix translations
  frontend/public/locales/en/translation.json
Due: local-fe-check

Fix formatting
  frontend/src/components/layout/sidebar/sidebar.component.tsx
Due: local-fe-check

Improve wizard placement
  frontend/src/components/layout/sidebar/sidebar.component.tsx
Due: local-fe-check

change release workflow to include readable release-notes. (#2954)
  .github/workflows/release-workflow.yml
Due: none

Introduce wizard (#2938)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/components/layout/sidebar/sidebar.component.tsx
  frontend/src/components/wizard/wizard-button.tsx
  frontend/src/components/wizard/wizard.tsx
  frontend/src/store/features/wizard/wizard-slice.ts
  frontend/src/store/index.ts
Due: local-fe-check

Add banner for pending requests to home page
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/alert-banner/alert-banner.module.scss
  frontend/src/pages/home/components/alert-banner/alert-banner.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.module.scss
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-list.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-menu-tabs.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/styles/_colors.scss
Due: local-fe-check

Fix TS error
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/alert-banner/alert-banner.tsx
Due: local-fe-check

Update translation
  frontend/public/locales/en/translation.json
Due: local-fe-check

Let goreleaser attach artifacts instead of creating new release.
  .github/workflows/release-workflow.yml
  cli/golang/.goreleaser.yaml
Due: none

rename descriptions in manage roles page
  frontend/public/locales/en/translation.json
  frontend/src/pages/roles/components/roles-table.component.tsx
Due: local-fe-check

Rename vars
  backend/app/core/aws/get_url.py
  backend/app/settings.py
  helm/templates/configmap_backend.yaml
  helm/values.yaml
Due: regen-openapi-spec

Implement adr 13
  backend/app/data_products/output_ports/data_quality/model.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/tests/app/database/test_sql_alchemy_best_practices.py
Due: regen-openapi-spec

Implement adr 13 (#2966)
  backend/app/data_products/output_ports/data_quality/model.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/tests/app/database/test_sql_alchemy_best_practices.py
Due: regen-openapi-spec

Enable domain visualization on graph explorer (#2810)
  backend/tests/app/graph/test_router.py
  docs/docs/release-notes.md
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/custom-nodes/domain-node/domain-node.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
  frontend/src/components/global-explorer/use-node-editor.tsx
  frontend/src/utils/node-parser.helper.test.ts
Due: regen-openapi-spec, local-fe-check

rename descriptions in manage roles page (#2965)
  frontend/public/locales/en/translation.json
  frontend/src/pages/roles/components/roles-table.component.tsx
Due: local-fe-check

Let goreleaser attach artifacts instead of creating new release. (#2964)
  .github/workflows/release-workflow.yml
  cli/golang/.goreleaser.yaml
Due: none

Add configurable setting for AWS session duration with plugins (#2953)
  backend/app/core/aws/get_url.py
  backend/app/settings.py
  helm/templates/configmap_backend.yaml
  helm/values.yaml
Due: regen-openapi-spec

improved readme
  demo/agents/README.md
Due: none

Only fetch output port settings when needed
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/tests/app/database/test_sql_alchemy_best_practices.py
Due: regen-openapi-spec

add basic test setup with tests for people page
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
  frontend/src/tests/i18n.ts
  frontend/src/tests/mocks/handlers.ts
  frontend/src/tests/mocks/server.ts
  frontend/src/tests/mocks/users.ts
  frontend/src/tests/pages/people/people-table.test.tsx
  frontend/src/tests/setup.ts
  frontend/src/tests/test-utils.tsx
  frontend/vite.config.ts
Due: local-fe-check

Extract auth in separate function.
  frontend/src/tests/mocks/auth.ts
  frontend/src/tests/mocks/handlers.ts
  frontend/src/tests/pages/people/people-table.test.tsx
Due: local-fe-check

add basic test setup with tests for people page (#2968)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
  frontend/src/tests/i18n.ts
  frontend/src/tests/mocks/auth.ts
  frontend/src/tests/mocks/handlers.ts
  frontend/src/tests/mocks/server.ts
  frontend/src/tests/mocks/users.ts
  frontend/src/tests/pages/people/people-table.test.tsx
  frontend/src/tests/setup.ts
  frontend/src/tests/test-utils.tsx
  frontend/vite.config.ts
Due: local-fe-check

Remove output port print
  demo/agents/setup/create_products.py
Due: none

Improved exception handling
  demo/agents/setup/create_products.py
Due: none

Only fetch output port settings when needed (#2967)
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/tests/app/database/test_sql_alchemy_best_practices.py
Due: regen-openapi-spec

Ensure marketplace query is stored in URL
  frontend/src/components/search-page/search-page.component.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/marketplace/search-suggestions.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

Ensure marketplace query is stored in URL (#2983)
  frontend/src/components/search-page/search-page.component.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/marketplace/search-suggestions.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

Double checked authorization
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/global_/test_router.py
  backend/tests/app/authorization/roles/test_router.py
Due: regen-openapi-spec

Update technical asset tests
  backend/tests/app/data_products/technical_assets/test_router.py
Due: regen-openapi-spec

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
