Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

chore: release 0.7.3 (#4342)
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

Use correct embedding methods
  backend/app/data_products/output_ports/service.py
Due: regen-openapi-spec

resolve: remove call_plugin entrypoint, also fix enabled to discoverd in ceratin fielsd.
  backend/app/mcp/loader.py
  backend/app/plugins/registry.py
  backend/app/plugins/runtime.py
  backend/app/technical_asset_configuration/service.py
  backend/tests/app/mcp/__init__.py
  backend/tests/app/mcp/test_loader.py
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/plugins/test_runtime.py
  backend/tests/app/technical_asset_configuration/test_service.py
Due: regen-openapi-spec

fix: remove old tests
  Taskfile.yml
  backend/tests/app/plugins/test_registry.py
Due: regen-openapi-spec

cleanup: comment
  backend/app/plugins/runtime.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/plugins/test_runtime.py
Due: regen-openapi-spec

Update backend/app/plugins/registry.py
  backend/app/plugins/registry.py
Due: regen-openapi-spec

Update backend/app/technical_asset_configuration/__init__.py
  backend/app/technical_asset_configuration/__init__.py
Due: regen-openapi-spec

Find technical asset plugins through a registry
  .github/workflows/release-workflow.yml
  backend/app/mcp/loader.py
  backend/app/mcp/mcp.py
  backend/app/plugins/__init__.py
  backend/app/plugins/registry.py
  backend/app/plugins/runtime.py
  backend/app/technical_asset_configuration/__init__.py
  backend/app/technical_asset_configuration/agno/schema.py
  backend/app/technical_asset_configuration/azure_blob/schema.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/coder/schema.py
  backend/app/technical_asset_configuration/conveyor/schema.py
  backend/app/technical_asset_configuration/databricks/schema.py
  backend/app/technical_asset_configuration/github/schema.py
  backend/app/technical_asset_configuration/glue/schema.py
  backend/app/technical_asset_configuration/osi_sem_model/schema.py
  backend/app/technical_asset_configuration/postgresql/schema.py
  backend/app/technical_asset_configuration/redshift/schema.py
  backend/app/technical_asset_configuration/rustfs/schema.py
  backend/app/technical_asset_configuration/s3/schema.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/app/technical_asset_configuration/service.py
  backend/app/technical_asset_configuration/snowflake/schema.py
  backend/pyproject.toml
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/plugins/test_runtime.py
Due: regen-openapi-spec

Copy the readme the package build needs
  Dockerfile
Due: none

resolve: comments, fail fast
  backend/app/plugins/registry.py
  backend/app/technical_asset_configuration/service.py
  backend/tests/app/technical_asset_configuration/test_service.py
Due: regen-openapi-spec

Discover in-tree plugins through entry points too
  Dockerfile
  backend/app/plugins/registry.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/app/technical_asset_configuration/service.py
  backend/pyproject.toml
  backend/tests/app/plugins/test_registry.py
Due: regen-openapi-spec

Dynamically Loadable Plugins - plugin registry (#4326)
  .github/workflows/release-workflow.yml
  Dockerfile
  Taskfile.yml
  backend/app/mcp/loader.py
  backend/app/mcp/mcp.py
  backend/app/plugins/__init__.py
  backend/app/plugins/registry.py
  backend/app/technical_asset_configuration/agno/schema.py
  backend/app/technical_asset_configuration/azure_blob/schema.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/coder/schema.py
  backend/app/technical_asset_configuration/conveyor/schema.py
  backend/app/technical_asset_configuration/databricks/schema.py
  backend/app/technical_asset_configuration/github/schema.py
  backend/app/technical_asset_configuration/glue/schema.py
  backend/app/technical_asset_configuration/osi_sem_model/schema.py
  backend/app/technical_asset_configuration/postgresql/schema.py
  backend/app/technical_asset_configuration/redshift/schema.py
  backend/app/technical_asset_configuration/rustfs/schema.py
  backend/app/technical_asset_configuration/s3/schema.py
  backend/app/technical_asset_configuration/service.py
  backend/app/technical_asset_configuration/snowflake/schema.py
  backend/pyproject.toml
  backend/tests/app/mcp/__init__.py
  backend/tests/app/mcp/test_loader.py
  backend/tests/app/plugins/test_registry.py
Due: regen-openapi-spec

resolve: make plugins typed by coming them to the sdk via hook
  .pre-commit-config.yaml
  backend/app/technical_asset_configuration/azure_blob/schema.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/databricks/schema.py
  backend/app/technical_asset_configuration/glue/schema.py
  backend/app/technical_asset_configuration/osi_sem_model/schema.py
  backend/app/technical_asset_configuration/postgresql/schema.py
  backend/app/technical_asset_configuration/redshift/schema.py
  backend/app/technical_asset_configuration/rustfs/schema.py
  backend/app/technical_asset_configuration/s3/schema.py
  backend/app/technical_asset_configuration/schema_response.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/app/technical_asset_configuration/snowflake/schema.py
  backend/tests/app/technical_asset_configuration/test_base_schema.py
  backend/tests/app/technical_asset_configuration/test_sdk_plugin_parity.py
  demo/agents/provisioner/provisioner/reconciler.py
  demo/basic/provisioner/provisioner/reconciler.py
  docs/static/openapi.json
  frontend/src/utils/icon-loader.tsx
  scripts/check_generated_plugin_configurations.sh
  sdk/generation/build_plugin_configurations.py
  sdk/poetry.lock
  sdk/pyproject.toml
  sdk/sdk/plugins/__init__.py
  sdk/sdk/plugins/azure_blob.py
  sdk/sdk/plugins/base.py
  sdk/sdk/plugins/databricks.py
  sdk/sdk/plugins/enums.py
  sdk/sdk/plugins/glue.py
  sdk/sdk/plugins/osi_sem_model.py
  sdk/sdk/plugins/postgresql.py
  sdk/sdk/plugins/redshift.py
  sdk/sdk/plugins/rustfs.py
  sdk/sdk/plugins/s3.py
  sdk/sdk/plugins/snowflake.py
Due: regen-openapi-spec, local-fe-check

cleanup: comment
  backend/tests/app/technical_asset_configuration/test_base_schema.py
Due: regen-openapi-spec

cleanup: comments and small hcanges
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/schema_response.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/tests/app/technical_asset_configuration/test_schema_union.py
  backend/tests/test_open_api_export.py
  frontend/src/utils/icon-loader.tsx
Due: regen-openapi-spec, local-fe-check

Follow the registry changes from the PR below
  backend/app/technical_asset_configuration/schema_union.py
  backend/tests/app/technical_asset_configuration/test_schema_union.py
Due: regen-openapi-spec

resolve: frontend tests that did nothing and added required configuration field
  backend/app/technical_asset_configuration/schema_union.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/utils/technical-asset-type.helper.test.tsx
  sdk/sdk/api_client/models/create_technical_asset_request_configuration.py
  sdk/sdk/api_client/models/get_technical_assets_response_item_configuration.py
  sdk/sdk/api_client/models/owned_technical_asset_configuration.py
  sdk/sdk/api_client/models/render_technical_asset_access_path_request_configuration.py
  sdk/sdk/api_client/models/technical_asset_configuration.py
Due: regen-openapi-spec, local-fe-check

fix various small bug fixes under which the demo env failing by importing non existing functionality (or removed func)
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/schema_response.py
  backend/tests/app/technical_asset_configuration/test_base_schema.py
  backend/tests/app/technical_asset_configuration/test_schema_union.py
  backend/tests/test_open_api_export.py
  demo/agents/provisioner/provisioner/reconciler.py
  demo/basic/provisioner/provisioner/reconciler.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/technical_asset_plugin.py
Due: regen-openapi-spec

Note the configuration type change in the release notes
  docs/docs/release-notes.md
Due: none

fix: pre-commit
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
Due: none

fix: a bug where loading a configuration would fail for non config plugins, also cach the icon
  .github/skills/code-review/SKILL.md
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/tests/app/technical_asset_configuration/test_base_schema.py
  backend/tests/app/technical_asset_configuration/test_schema_union.py
  backend/tests/test_open_api_export.py
Due: regen-openapi-spec

feat: add initial review skill
  .github/skills/code-review/SKILL.md
Due: none

resollve rebase
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
Due: none

Filter hidden data products in mini explorer
  backend/AGENTS.md
  backend/app/abstract_data_product/graph_utils.py
  backend/app/core/authz/__init__.py
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/tests/app/data_products/output_ports/test_model.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/test_model.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/shared/test_router.py
  backend/tests/conftest.py
Due: regen-openapi-spec

Filter hidden data products in mini explorer (#4337)
  backend/AGENTS.md
  backend/app/abstract_data_product/graph_utils.py
  backend/app/core/authz/__init__.py
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/tests/app/data_products/output_ports/test_model.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/test_model.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/shared/test_router.py
  backend/tests/conftest.py
Due: regen-openapi-spec

resolve: simplify script lightly
  sdk/generation/build_plugin_configurations.py
Due: none

Reranker test
  backend/app/core/embed/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/embed.py
  backend/app/main.py
  backend/app/settings.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Add OIDC enabled tests in device router to catch issues
  backend/tests/app/auth/test_device_router.py
Due: regen-openapi-spec

refactor: rename configuration_type to name
  backend/app/technical_asset_configuration/azure_blob/model.py
  backend/app/technical_asset_configuration/azure_blob/schema.py
  backend/app/technical_asset_configuration/databricks/model.py
  backend/app/technical_asset_configuration/databricks/schema.py
  backend/app/technical_asset_configuration/glue/model.py
  backend/app/technical_asset_configuration/glue/schema.py
  backend/app/technical_asset_configuration/osi_sem_model/model.py
  backend/app/technical_asset_configuration/osi_sem_model/schema.py
  backend/app/technical_asset_configuration/postgresql/model.py
  backend/app/technical_asset_configuration/postgresql/schema.py
  backend/app/technical_asset_configuration/redshift/model.py
  backend/app/technical_asset_configuration/redshift/schema.py
  backend/app/technical_asset_configuration/rustfs/model.py
  backend/app/technical_asset_configuration/rustfs/schema.py
  backend/app/technical_asset_configuration/s3/model.py
  backend/app/technical_asset_configuration/s3/schema.py
  backend/app/technical_asset_configuration/snowflake/model.py
  backend/app/technical_asset_configuration/snowflake/schema.py
  sdk/generation/build_plugin_configurations.py
Due: regen-openapi-spec

ADD SAMPLE DATA
  backend/sample_data.sql
Due: none

migrate queries from user_id to identity + group memberships
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/groups/service.py
Due: regen-openapi-spec

fix query that avoids retrieving hidden data products
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/data_products/model.py
Due: regen-openapi-spec

keep exposing user_id while using identity_id internally
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/data_product/schema.py
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/authorization/role_assignments/global_/router.py
  backend/app/authorization/role_assignments/global_/schema.py
  backend/app/authorization/role_assignments/global_/service.py
Due: regen-openapi-spec

transitively make an exception on list_assignments to include only users or not
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/authorization/role_assignments/global_/router.py
  backend/app/authorization/role_assignments/global_/service.py
  backend/tests/app/data_products/test_router.py
Due: regen-openapi-spec

make router tests user user_id again
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/role_assignments/global_/test_router.py
Due: regen-openapi-spec

fix other tests related to type mismatches
  backend/tests/app/data_products/output_ports/test_model.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

one test left
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
Due: regen-openapi-spec

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
