Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

precommithook changes
  backend/app/authorization/role_assignments/data_product/email.py
  backend/app/authorization/role_assignments/data_product/model.py
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/data_product/schema.py
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/authorization/role_assignments/global_/model.py
  backend/app/authorization/role_assignments/global_/router.py
  backend/app/authorization/role_assignments/global_/schema.py
  backend/app/authorization/role_assignments/global_/service.py
  backend/app/authorization/service.py
  backend/app/core/authz/authorization.py
  backend/app/core/webhooks/events.py
  backend/app/data_products/model.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/service.py
  backend/app/database/alembic/versions/2026_09_04_1307-1d1b811732f3_add_identity_hierarchy.py
  backend/app/database/alembic/versions/2026_09_07_1315-18fb80f18c7d_migrate_role_assignments_to_identities.py
  backend/app/groups/model.py
  backend/app/groups/service.py
  backend/app/identities/model.py
  backend/app/identities/schema.py
  backend/app/identities/service.py
  backend/app/identities/type.py
  backend/app/machine_users/model.py
  backend/app/users/model.py
  backend/app/users/service.py
  backend/sample_data.sql
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/authorization/test_service.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/groups/test_service.py
  backend/tests/app/identities/test_model.py
  backend/tests/app/users/test_router.py
  backend/tests/factories/group.py
  backend/tests/factories/machine_user.py
  backend/tests/factories/role_assignment_data_product.py
  backend/tests/factories/role_assignment_global.py
Due: regen-openapi-spec

linter I don't like your guidelines
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

remove TODO's because linter says so
  backend/app/authorization/role_assignments/data_product/auth.py
  backend/app/authorization/role_assignments/data_product/model.py
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/data_product/schema.py
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/authorization/role_assignments/global_/router.py
  backend/app/authorization/role_assignments/global_/schema.py
  backend/app/authorization/role_assignments/global_/service.py
  backend/app/core/authz/authorization.py
  backend/app/core/webhooks/events.py
  backend/app/identities/model.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/factories/role_assignment_data_product.py
  backend/tests/factories/role_assignment_global.py
Due: regen-openapi-spec

more linter formatting
  backend/app/authorization/role_assignments/data_product/model.py
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/data_product/schema.py
  backend/app/authorization/role_assignments/global_/router.py
  backend/app/authorization/role_assignments/global_/schema.py
  backend/app/core/authz/authorization.py
  backend/app/core/webhooks/events.py
  backend/app/identities/model.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/factories/role_assignment_data_product.py
  backend/tests/factories/role_assignment_global.py
Due: regen-openapi-spec

fix optional and replace .commit() for .flush()
  backend/app/groups/service.py
  backend/tests/app/authorization/test_service.py
  backend/tests/app/identities/test_model.py
Due: regen-openapi-spec

Changed access type order
  frontend/public/locales/en/translation.json
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
Due: local-fe-check

feat: eat your own dog food, move plugins to own alembic versions
  backend/app/technical_asset_configuration/azure_blob/schema.py
  backend/app/technical_asset_configuration/azure_blob/versions/__init__.py
  backend/app/technical_asset_configuration/azure_blob/versions/azure_blob_0001_baseline.py
  backend/app/technical_asset_configuration/databricks/schema.py
  backend/app/technical_asset_configuration/databricks/versions/__init__.py
  backend/app/technical_asset_configuration/databricks/versions/databricks_0001_baseline.py
  backend/app/technical_asset_configuration/glue/schema.py
  backend/app/technical_asset_configuration/glue/versions/__init__.py
  backend/app/technical_asset_configuration/glue/versions/glue_0001_baseline.py
  backend/app/technical_asset_configuration/osi_sem_model/schema.py
  backend/app/technical_asset_configuration/osi_sem_model/versions/__init__.py
  backend/app/technical_asset_configuration/osi_sem_model/versions/osi_sem_model_0001_baseline.py
  backend/app/technical_asset_configuration/postgresql/schema.py
  backend/app/technical_asset_configuration/postgresql/versions/__init__.py
  backend/app/technical_asset_configuration/postgresql/versions/postgresql_0001_baseline.py
  backend/app/technical_asset_configuration/redshift/schema.py
  backend/app/technical_asset_configuration/redshift/versions/__init__.py
  backend/app/technical_asset_configuration/redshift/versions/redshift_0001_baseline.py
  backend/app/technical_asset_configuration/rustfs/schema.py
  backend/app/technical_asset_configuration/rustfs/versions/__init__.py
  backend/app/technical_asset_configuration/rustfs/versions/rustfs_0001_baseline.py
  backend/app/technical_asset_configuration/snowflake/schema.py
  backend/app/technical_asset_configuration/snowflake/versions/__init__.py
  backend/app/technical_asset_configuration/snowflake/versions/snowflake_0001_baseline.py
  sdk/generation/build_plugin_configurations.py
Due: regen-openapi-spec

Migrate plugin tables from the plugin's own revisions
  backend/app/db_tool.py
  backend/app/plugins/alembic_runner/env.py
  backend/app/plugins/migrations.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/tests/app/plugins/test_migrations.py
  backend/tests/fixtures/example_plugin/versions/__init__.py
  backend/tests/fixtures/example_plugin/versions/example_0001_create.py
  backend/tests/fixtures/example_plugin/versions/example_0002_add_extra.py
  backend/tests/fixtures/other_plugin/__init__.py
  backend/tests/fixtures/other_plugin/versions/__init__.py
  backend/tests/fixtures/other_plugin/versions/other_0001_create.py
Due: regen-openapi-spec

resolve: issue regardign Registry truthiness gaprphan check skipped when nothing owns a table, Cross-plugin revision confusion, S3 was entirely missed
  backend/app/plugins/migrations.py
  backend/app/plugins/registry.py
  backend/app/technical_asset_configuration/s3/schema.py
  backend/app/technical_asset_configuration/s3/versions/__init__.py
  backend/app/technical_asset_configuration/s3/versions/s3_0001_baseline.py
  backend/tests/app/plugins/test_migrations.py
  backend/tests/app/plugins/test_registry.py
Due: regen-openapi-spec

remove nuneeded comments
  backend/app/plugins/alembic_runner/env.py
  backend/app/plugins/migrations.py
Due: regen-openapi-spec

minor cleanup
  backend/app/plugins/migrations.py
  backend/app/plugins/registry.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/tests/app/plugins/test_registry.py
Due: regen-openapi-spec

remove nuneeded comments
  backend/app/technical_asset_configuration/azure_blob/versions/azure_blob_0001_baseline.py
  backend/app/technical_asset_configuration/databricks/versions/databricks_0001_baseline.py
  backend/app/technical_asset_configuration/glue/versions/glue_0001_baseline.py
  backend/app/technical_asset_configuration/osi_sem_model/versions/osi_sem_model_0001_baseline.py
  backend/app/technical_asset_configuration/postgresql/versions/postgresql_0001_baseline.py
  backend/app/technical_asset_configuration/redshift/versions/redshift_0001_baseline.py
  backend/app/technical_asset_configuration/rustfs/versions/rustfs_0001_baseline.py
  backend/app/technical_asset_configuration/snowflake/versions/snowflake_0001_baseline.py
  sdk/generation/build_plugin_configurations.py
Due: regen-openapi-spec

cleanup: comment
  backend/app/data_products/technical_assets/schema.py
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/tests/app/data_products/technical_assets/test_schema_response.py
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Let a plugin skip platforms and platform services
  backend/app/data_products/technical_assets/schema.py
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/tests/app/data_products/technical_assets/test_schema_response.py
  cli/golang/pkg/api/oas_json_gen.go
  docs/static/openapi.json
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  sdk/sdk/api_client/models/create_technical_asset_request.py
  sdk/sdk/api_client/models/get_technical_assets_response_item.py
  sdk/sdk/api_client/models/owned_technical_asset.py
Due: regen-openapi-spec, local-fe-check

resolve comments
  backend/app/data_products/technical_assets/schema_request.py
  backend/tests/app/data_products/technical_assets/test_router.py
  frontend/.vitest/json/output.json
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/tests/mocks/plugins.ts
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-technical-asset-popup/add-technical-asset-popup.test.tsx
Due: regen-openapi-spec, local-fe-check

rebase
  backend/tests/app/data_products/technical_assets/test_schema_response.py
  cli/golang/pkg/api/oas_schemas_gen.go
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  sdk/sdk/api_client/models/technical_asset.py
Due: regen-openapi-spec, local-fe-check

feat: add skill for copilot ai review, and humaniser for writing
  .github/skills/humanizer.md
Due: none

refactor: gitingore dangling test
  frontend/.gitignore
  frontend/.vitest/json/output.json
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-technical-asset-popup/add-technical-asset-popup.test.tsx
Due: local-fe-check

feat: actually ad the stuff
  .github/skills/code-review.md
  .github/skills/humanizer.md
Due: none

style: apply ruff format to the output-ports service test
  backend/tests/app/data_products/output_ports/test_service.py
Due: regen-openapi-spec

adding tool versions in subfolders as adfs otherwise doesnt pick it up
  demo/basic/products/.tool-versions
  demo/basic/provisioner/.tool-versions
Due: none

fix(frontend): distinct menu icons, clickable About editor, consistent Data Model icons
  frontend/public/locales/en/translation.json
  frontend/src/components/buttons/admin-button.tsx
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/components/rich-text/text-editor/text-editor.module.scss
  frontend/src/components/rich-text/text-editor/text-editor.tsx
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/data-model-tab.tsx
Due: local-fe-check

fix(frontend): invalidate the explorer graph when the topology changes
  frontend/src/store/api/services/tags/dataProductTags.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsInputPortsTags.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsTags.ts
  frontend/src/store/api/services/tags/dataProductsTechicalAssetsTags.ts
  frontend/src/store/api/services/tags/explorationTags.ts
  frontend/src/store/api/services/tags/graphTags.test.ts
  frontend/src/store/api/services/tags/graphTags.ts
Due: local-fe-check

style(frontend): darken border tokens so borders survive a projector
  frontend/src/theme/antd-theme.ts
Due: local-fe-check

feat(demo): seed output port data models and data quality summaries
  demo/basic/README.md
  demo/basic/portal_seed.sql
Due: none

style(frontend): make placeholder text, popups and table hover readable
  frontend/src/theme/antd-theme.ts
Due: local-fe-check

style(frontend): replace the abstract shape icons with semantic ones
  frontend/src/assets/icons/outline-icons/data-product-outline-icon.svg
  frontend/src/assets/icons/outline-icons/exploration-outline-icon.svg
  frontend/src/assets/icons/outline-icons/output-port-outline-icon.svg
  frontend/src/assets/icons/outline-icons/technical-asset-outline-icon.svg
  frontend/src/components/icons/index.tsx
Due: local-fe-check

style(frontend): fix white-on-accent contrast on the home page cards
  frontend/src/pages/home/components/quick-actions/quick-actions.module.scss
Due: none

fix(backend): return quality_status from the output port search endpoint
  backend/app/search_output_ports/schema_response.py
  backend/tests/app/search_output_ports/test_router.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/tests/mocks/outputPortsSearch.ts
  sdk/sdk/api_client/models/search_output_ports_response_item.py
Due: regen-openapi-spec, local-fe-check

fix(frontend): make the About editor look editable and let you leave it
  frontend/public/locales/en/translation.json
  frontend/src/components/rich-text/text-editor/text-editor.module.scss
  frontend/src/components/rich-text/text-editor/text-editor.tsx
  frontend/src/pages/data-product/components/data-product-tabs/about-tab/about-tab.tsx
  frontend/src/pages/output-port/components/dataset-tabs/about-tab/about-tab.tsx
  frontend/src/tests/components/rich-text/text-editor.test.tsx
Due: local-fe-check

fix(demo): configure Exploration access durations so requesting access works
  demo/basic/portal_seed.sql
  demo/basic/products/marketing_customer_360/.gitignore
  demo/basic/products/marketing_customer_360/.user.yml
  demo/basic/products/marketing_customer_360/README.md
  demo/basic/products/marketing_customer_360/dbt_project.yml
  demo/basic/products/marketing_customer_360/models/.gitkeep
  demo/basic/products/marketing_customer_360/models/sources.yml
  demo/basic/products/marketing_customer_360/profiles.yml
Due: none

fix(demo): repair the agents demo output ports, data models and quality
  demo/agents/portal_seed.sql
  demo/agents/setup/create_products.py
Due: none

adding tool versions for adfs
  demo/agents/agent/.tool-versions
  demo/agents/provisioner/.tool-versions
  demo/agents/setup/.tool-versions
Due: none

Rename fixture
  backend/tests/app/auth/test_device_router.py
Due: regen-openapi-spec

rebase migrations
  backend/app/database/alembic/versions/2026_09_04_1307-1d1b811732f3_add_identity_hierarchy.py
Due: regen-openapi-spec

Changed access type order (#4356)
  frontend/public/locales/en/translation.json
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
Due: local-fe-check

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
