Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Reuse colors from ant design plots
  frontend/src/components/charts/custom-nodes/domain-node/domain-node.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
Due: local-fe-check

Make pytest report on slow tests
  backend/pytest.ini
Due: none

Fix updating setting not fetching data product
  docs/docs/release-notes.md
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/settings-tab/settings-tab.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/settings-tab/settings-tab.tsx
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/dataset/components/dataset-tabs/settings-tab/settings-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/settings-tab/settings-tab.tsx
  frontend/src/store/api/services/tags/dataProductTags.ts
Due: local-fe-check

Resolve comments
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/request-handlers.ts
  frontend/src/components/requests/request-utils.ts
  frontend/src/components/requests/requests.module.scss
  frontend/src/components/requests/review-request-modal.tsx
  frontend/src/components/requests/use-table-columns.tsx
  frontend/src/components/user-avatar/user-avatar-with-email.component.tsx
  frontend/src/components/user-avatar/user-avatar.module.scss
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-view.tsx
  frontend/src/pages/product-studio/components/requests-panel/requests-panel.component.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
Due: local-fe-check

Single row
  frontend/src/components/requests/review-request-modal.tsx
Due: local-fe-check

Pending request rework (#2706)
  frontend/public/locales/en/translation.json
  frontend/src/components/data-access/user-access-overview/user-access-overview.component.tsx
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/components/layout/navbar/user-menu/user-menu.module.scss
  frontend/src/components/requests/request-handlers.ts
  frontend/src/components/requests/request-utils.ts
  frontend/src/components/requests/review-button.tsx
  frontend/src/components/requests/review-request-modal.tsx
  frontend/src/components/requests/use-table-columns.tsx
  frontend/src/components/user-avatar/user-avatar-with-email.component.tsx
  frontend/src/components/user-avatar/user-avatar.component.tsx
  frontend/src/components/user-avatar/user-avatar.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/components/team-table/team-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/components/team-table/team-table-columns.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.tsx
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-view.tsx
  frontend/src/pages/product-studio/product-studio-tabkeys.ts
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/store/api/services/apiTags.ts
  frontend/src/theme/antd-theme.ts
  frontend/src/types/pending-actions/pending-request-types.tsx
  frontend/src/utils/pending-request.helper.ts
Due: local-fe-check

Make pytest report on slow tests (#2901)
  backend/pytest.ini
Due: none

Fix updating setting not fetching data product (#2902)
  docs/docs/release-notes.md
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/settings-tab/settings-tab.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/settings-tab/settings-tab.tsx
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/dataset/components/dataset-tabs/settings-tab/settings-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/settings-tab/settings-tab.tsx
  frontend/src/store/api/services/tags/dataProductTags.ts
Due: local-fe-check

Do not load data product settings by default
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/router.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/data_product_setting_value.py
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/api/services/tags/dataProductTags.ts
Due: regen-openapi-spec, local-fe-check

Do not load data product settings by default (#2903)
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/router.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/data_product_setting_value.py
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/api/services/tags/dataProductTags.ts
Due: regen-openapi-spec, local-fe-check

Adding an initial version of the adhoc query workflow
  demo/agents/agents/intake-agent/intake_agent/server.py
  demo/agents/agents/workflow-agents/Dockerfile
  demo/agents/agents/workflow-agents/pyproject.toml
  demo/agents/agents/workflow-agents/workflow_agents/__init__.py
  demo/agents/agents/workflow-agents/workflow_agents/adhoc_workflow.py
  demo/agents/agents/workflow-agents/workflow_agents/helpers.py
  demo/agents/agents/workflow-agents/workflow_agents/intake_workflow.py
  demo/agents/agents/workflow-agents/workflow_agents/portal_client.py
  demo/agents/agents/workflow-agents/workflow_agents/server.py
  demo/agents/compose.yaml
  demo/agents/provisioner/provisioner/main.py
Due: none

making the adhoc query agent work
  demo/agents/Taskfile.yml
  demo/agents/agents/data-agents/data_agents/server.py
  demo/agents/agents/data-agents/poetry.lock
  demo/agents/agents/data-agents/pyproject.toml
  demo/agents/agents/workflow-agents/workflow_agents/adhoc_workflow.py
  demo/agents/agents/workflow-agents/workflow_agents/helpers.py
Due: none

trying out some things
  demo/agents/Taskfile.yml
  demo/agents/agents/workflow-agents/workflow_agents/adhoc_workflow.py
  demo/agents/agents/workflow-agents/workflow_agents/intake_workflow.py
  demo/agents/agents/workflow-agents/workflow_agents/server.py
  demo/agents/agents/workflow-agents/workflow_agents/workflow_agent.py
  demo/agents/compose.yaml
Due: none

add enabled plugins setting to helm chart
  helm/templates/configmap_backend.yaml
  helm/values.yaml
Due: none

add enabled plugins setting to helm chart (#2929)
  helm/templates/configmap_backend.yaml
  helm/values.yaml
Due: none

More fixes
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  backend/app/core/auth/oidc.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Rebuild package-lock.json
  frontend/package-lock.json
Due: local-fe-check

Fixes for CI (#2930)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  backend/app/core/auth/oidc.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/tests/app/search_output_ports/test_router.py
  frontend/package-lock.json
Due: regen-openapi-spec, local-fe-check

Add banner for pending requests to home page
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/alert-banner/alert-banner.module.scss
  frontend/src/pages/home/components/alert-banner/alert-banner.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.module.scss
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-list.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-menu-tabs.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/styles/_colors.scss
Due: local-fe-check

Update config
  frontend/biome.json
Due: local-fe-check

Update package.json
  frontend/package-lock.json
  frontend/package.json
Due: local-fe-check

Update gh actions
  .github/workflows/tests.yml
Due: none

Update gh actions
  .github/workflows/tests.yml
  frontend/package-lock.json
  frontend/package.json
Due: local-fe-check

Update node version?
  frontend/package-lock.json
  frontend/package.json
Due: local-fe-check

Remove optional dependency again
  frontend/package-lock.json
  frontend/package.json
Due: local-fe-check

adding an archticture page (#2890)
  docs/docs/developer-guide/architecture.md
  docs/docs/release-notes.md
Due: none

adding the OSI technical asset (#2826)
  backend/app/data_output_configuration/__init__.py
  backend/app/data_output_configuration/data_output_types.py
  backend/app/data_output_configuration/osi_sem_model/__init__.py
  backend/app/data_output_configuration/osi_sem_model/model.py
  backend/app/data_output_configuration/osi_sem_model/schema.py
  backend/app/data_output_configuration/schema_union.py
  backend/app/database/alembic/versions/2026_03_03_1000-a1b2c3d4e5f6_semantic_model_plugin.py
  demo/basic/.env.portal
  demo/basic/portal_seed.sql
  docs/docs/developer-guide/adding-integrations.md
  docs/static/openapi.json
  frontend/src/assets/icons/osi-border-icon.svg
  frontend/src/assets/icons/osi-logo.svg
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
Due: regen-openapi-spec, local-fe-check

Fix cascading delete bug on output port summaries, add multiple tests
  backend/app/data_products/output_ports/model.py
  backend/app/database/alembic/versions/2026_03_20_1514-d838b01d5e6a_add_foreign_key_on_data_quality_output_.py
  backend/tests/app/data_products/output_ports/curated_queries/test_router.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

What would you like to do today?
  frontend/i18next.config.ts
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/quick-actions/quick-actions.module.scss
  frontend/src/pages/home/components/quick-actions/quick-actions.tsx
  frontend/src/pages/home/home.page.tsx
Due: local-fe-check

Add wizard
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/components/layout/sidebar/sidebar.component.tsx
  frontend/src/components/wizard/wizard-button.tsx
  frontend/src/components/wizard/wizard.tsx
  frontend/src/store/features/wizard/wizard-slice.ts
  frontend/src/store/index.ts
Due: local-fe-check

Fix translations
  frontend/i18next.config.ts
  frontend/public/locales/en/translation.json
Due: local-fe-check

Improve wizard placement
  frontend/src/components/layout/sidebar/sidebar.component.tsx
Due: local-fe-check

Fix translations
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/quick-actions/quick-actions.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
Due: local-fe-check

Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix formatting
  frontend/src/components/layout/sidebar/sidebar.component.tsx
Due: local-fe-check

Fix TS error
  frontend/i18next.config.ts
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/alert-banner/alert-banner.tsx
Due: local-fe-check

Wrote ADR about slow queries
  docs/adr/0013-slow-queries.md
Due: none

Wrote ADR about slow queries (#2784)
  docs/adr/0013-slow-queries.md
Due: none

Fix cascading delete bug on output port summaries, add multiple tests (#2943)
  backend/app/data_products/output_ports/model.py
  backend/app/database/alembic/versions/2026_03_20_1514-d838b01d5e6a_add_foreign_key_on_data_quality_output_.py
  backend/tests/app/data_products/output_ports/curated_queries/test_router.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
