Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Potential fix for pull request finding 'Invalid submissions lack standard form-level feedback'
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/grant-output-port-access-modal.tsx
Due: local-fe-check

Review rounds
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/events/enums.py
  backend/app/users/notifications/service.py
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  docs/docs/concepts/input-ports.md
  frontend/public/locales/en/translation.json
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/grant-output-port-access-modal.tsx
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/consumers-tab.tsx
  frontend/src/tests/pages/output-port/components/consumers-tab/grant-output-port-access-modal.test.tsx
Due: regen-openapi-spec, local-fe-check

More adversarial review
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/database/alembic/versions/2026_09_25_1614-abd4229ea6af_add_exploration_event_reference_entity.py
  backend/app/users/notifications/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_model.py
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/consumers-tab.tsx
  frontend/src/tests/pages/output-port/components/consumers-tab/consumers-tab.test.tsx
Due: regen-openapi-spec, local-fe-check

Drop some code smells
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  docs/docs/concepts/input-ports.md
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/grant-output-port-access-modal.tsx
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/consumers-tab.tsx
Due: regen-openapi-spec, local-fe-check

Reconcile rebase
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/database/alembic/versions/2026_09_25_1614-abd4229ea6af_add_exploration_event_reference_entity.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_model.py
  docs/docs/concepts/input-ports.md
  frontend/public/locales/en/translation.json
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/grant-output-port-access-modal.tsx
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/consumers-tab.tsx
  frontend/src/tests/pages/output-port/components/consumers-tab/grant-output-port-access-modal.test.tsx
Due: regen-openapi-spec, local-fe-check

Final fix
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/grant-output-port-access-modal.tsx
  frontend/src/tests/pages/output-port/components/consumers-tab/grant-output-port-access-modal.test.tsx
Due: local-fe-check

Remove unused relationship from model
  backend/app/data_products/technical_assets/model.py
Due: regen-openapi-spec

Center icons in the technical asset platform tiles
  frontend/src/components/technical-assets/technical-asset-platform-tile/technical-asset-platform-tile.module.scss
Due: none

Center icons in the technical asset platform tiles (#4486)
  frontend/src/components/technical-assets/technical-asset-platform-tile/technical-asset-platform-tile.module.scss
Due: none

Add PR description and show-me agent skills
  .claude/skills/pr-description/SKILL.md
  .claude/skills/show-me/SKILL.md
Due: none

typo
  backend/app/groups/router.py
Due: regen-openapi-spec

remove has_member deade method
  backend/app/groups/service.py
  backend/tests/app/groups/test_router.py
  backend/tests/app/machine_users/test_service.py
  backend/tests/groups_util.py
Due: regen-openapi-spec

remove sorted
  backend/app/groups/service.py
Due: regen-openapi-spec

simplify groups schema requests
  backend/app/groups/schema_request.py
Due: regen-openapi-spec

remove flush and return
  backend/app/groups/service.py
Due: regen-openapi-spec

remove 404 errors on post operations
  backend/app/groups/router.py
  backend/app/machine_users/router.py
Due: regen-openapi-spec

add get user groups endpoint + precommit hook
  backend/app/groups/service.py
  backend/app/users/router.py
  backend/app/users/service.py
  backend/tests/app/groups/test_router.py
  backend/tests/app/machine_users/test_router.py
  backend/tests/app/users/test_router.py
  backend/tests/app/users/test_service.py
  backend/tests/groups_util.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/src/store/api/services/generated/usersApi.ts
  sdk/sdk/api_client/api/groups/add_group_members.py
  sdk/sdk/api_client/api/groups/replace_group_members.py
  sdk/sdk/api_client/api/machine_users/create_machine_user.py
Due: regen-openapi-spec, local-fe-check

add docs
  docs/docs/release-notes.md
Due: none

feat: initial background agents
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/backend-consistency.lock.yml
  .github/workflows/backend-consistency.md
  .github/workflows/bug-finder.lock.yml
  .github/workflows/bug-finder.md
  .github/workflows/design-consistency.lock.yml
  .github/workflows/design-consistency.md
  .github/workflows/frontend-consistency.lock.yml
  .github/workflows/frontend-consistency.md
  .github/workflows/performance-enhancer.lock.yml
  .github/workflows/performance-enhancer.md
  .github/workflows/shared/background-agent.md
Due: local-fe-check

moves lock from fastapi to db + missing test
  backend/app/groups/router.py
  backend/app/groups/service.py
  backend/app/users/router.py
  backend/tests/app/users/test_router.py
Due: regen-openapi-spec

fix import + precommit hook
  backend/tests/app/groups/test_router.py
  docs/static/openapi.json
  frontend/src/store/api/services/generated/usersApi.ts
Due: regen-openapi-spec, local-fe-check

remove unused test...
  backend/tests/app/groups/test_router.py
Due: regen-openapi-spec

add test for db lock
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

redotest and precommit hook
  backend/tests/app/groups/test_router.py
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

up biome to .14 and generate translations
  frontend/biome.json
  frontend/public/locales/en/translation.json
Due: local-fe-check

fucking hell
  sdk/sdk/api_client/api/users/get_current_user_groups.py
  sdk/sdk/api_client/api/users/get_user_groups.py
Due: none

Adapt frontend test setup to msw 3
  frontend/src/tests/setup.ts
  frontend/vite.config.ts
Due: local-fe-check

Update input port service to handle private output ports and adjust related tests
  backend/app/data_products/output_ports/input_ports/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
Due: regen-openapi-spec

remove dead code
  backend/app/groups/service.py
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

Add PR description and show-me agent skills (#4487)
  .claude/skills/pr-description/SKILL.md
  .claude/skills/show-me/LICENSE
  .claude/skills/show-me/SKILL.md
Due: none

make test names comply with standards
  backend/tests/app/authorization/test_service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/groups/test_router.py
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

Add portal-design skill and use it in the design agent
  .claude/skills/portal-design/SKILL.md
  .github/workflows/design-consistency.md
Due: none

Fix background agent setup from review
  .github/workflows/agentics-maintenance.yml
  .github/workflows/backend-consistency.lock.yml
  .github/workflows/backend-consistency.md
  .github/workflows/bug-finder.lock.yml
  .github/workflows/bug-finder.md
  .github/workflows/design-consistency.lock.yml
  .github/workflows/frontend-consistency.lock.yml
  .github/workflows/frontend-consistency.md
  .github/workflows/performance-enhancer.lock.yml
  .github/workflows/performance-enhancer.md
  .github/workflows/shared/background-agent.md
Due: none

add nonemptystr type and use it on groups and machine users
  backend/app/configuration/output_port_access_types/schema_request.py
  backend/app/groups/schema_request.py
  backend/app/machine_users/schema_request.py
  backend/app/shared/schema.py
Due: regen-openapi-spec

remove assignments when deleting mahcine users
  backend/app/machine_users/service.py
Due: regen-openapi-spec

also remove assignments on deleted user + precommit hook
  backend/app/configuration/output_port_access_types/schema_request.py
  backend/app/groups/schema_request.py
  backend/app/machine_users/schema_request.py
  backend/app/shared/schema.py
  backend/app/users/service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/groups/test_service.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/store/api/services/generated/configurationOutputPortAccessTypesApi.ts
Due: regen-openapi-spec, local-fe-check

revert dependabot changes
  frontend/src/tests/setup.ts
Due: local-fe-check

revert onUnhandledFrame change
  frontend/src/tests/setup.ts
Due: local-fe-check

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
