Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Fix month attribution and median in metrics
  .github/workflows/delivery-metrics.yml
  scripts/delivery_metrics.sh
Due: none

add group membership methods and routes
  backend/app/groups/router.py
  backend/app/groups/schema_request.py
  backend/app/groups/schema_response.py
  backend/app/groups/service.py
  backend/tests/app/groups/test_router.py
Due: regen-openapi-spec

fixed tests
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

tests pass
  backend/tests/app/groups/test_router.py
Due: regen-openapi-spec

precommit hook
  backend/app/groups/model.py
  backend/app/groups/router.py
  backend/app/groups/schema.py
  backend/app/groups/schema_request.py
  backend/app/groups/schema_response.py
  backend/app/groups/service.py
  backend/app/machine_users/model.py
  backend/app/machine_users/router.py
  backend/app/machine_users/schema.py
  backend/app/machine_users/schema_request.py
  backend/app/machine_users/schema_response.py
  backend/app/machine_users/service.py
  backend/app/shared/router.py
  backend/tests/app/groups/test_router.py
  backend/tests/app/groups/test_service.py
  backend/tests/app/machine_users/test_router.py
  backend/tests/app/machine_users/test_service.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/authorization_action.py
Due: regen-openapi-spec, local-fe-check

fix failing tests
  backend/tests/app/groups/test_router.py
  backend/tests/app/machine_users/test_router.py
  backend/tests/app/machine_users/test_service.py
  frontend/src/types/authorization/rbac-actions.ts
Due: regen-openapi-spec, local-fe-check

chore(frontend): use import.meta.dirname in vite config
  frontend/vite.config.ts
Due: local-fe-check

fix startup issue casbin+ìdentities related
  backend/app/authorization/service.py
Due: regen-openapi-spec

chore(frontend): use import.meta.dirname in vite config (#4450)
  frontend/vite.config.ts
Due: local-fe-check

fix(backend): reuse a single PostHog client per process (#4451)
  backend/.test.env
  backend/app/core/logging/posthog_analytics.py
  backend/app/main.py
Due: regen-openapi-spec

Add PR template checklist to Copilot review (#4447)
  .github/skills/code-review/SKILL.md
Due: none

Add weekly delivery metrics issue (#4446)
  .github/ISSUE_TEMPLATE/bug-report---.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/delivery-metrics.yml
  scripts/delivery_metrics.sh
Due: none

add get group members.....
  backend/app/groups/router.py
  backend/app/groups/service.py
  backend/tests/app/groups/test_router.py
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

reorder routes
  backend/app/groups/router.py
Due: regen-openapi-spec

chore(backend): remove dead visibility branch from data product update
  backend/app/data_products/service.py
Due: regen-openapi-spec

chore(compose): pin mailhog and portal services to linux/amd64
  compose.yaml
Due: none

add limit and precommit hook
  backend/app/groups/schema_request.py
  backend/tests/app/groups/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
Due: regen-openapi-spec

chore(compose): pin mailhog and portal services to linux/amd64 (#4458)
  compose.yaml
Due: none

Improve marketplace cards (#4428)
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-consumers-list.component.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card-layout.module.scss
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card.component.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card.module.scss
Due: local-fe-check

chore(backend): remove dead visibility branch from data product update (#4457)
  backend/app/data_products/service.py
Due: regen-openapi-spec

Update docs/docs/developer-guide/adding-integrations.md
  docs/docs/developer-guide/adding-integrations.md
Due: none

Apply batched suggestions from code review
  docs/docs/developer-guide/adding-integrations.md
  docs/docs/developer-guide/integrations.md
Due: none

feat: update initial docs for plugins (#4416)
  docs/docs/developer-guide/adding-integrations.md
  docs/docs/developer-guide/architecture.md
  docs/docs/developer-guide/integrations.md
  docs/docs/release-notes.md
Due: none

refactor: change the plugin used in backedn test to a fake mock instead of s3 or redshift
  backend/tests/__init__.py
  backend/tests/app/configuration/access_modes/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/plugins/test_router.py
  backend/tests/app/technical_asset_configuration/test_schema_union.py
  backend/tests/factories/__init__.py
  backend/tests/factories/access_mode.py
  backend/tests/factories/s3_technical_asset.py
  backend/tests/factories/technical_asset.py
  backend/tests/factories/technical_asset_configuration.py
  backend/tests/fixtures/fake_plugin/__init__.py
  backend/tests/fixtures/fake_plugin/icon.svg
  backend/tests/fixtures/fake_plugin/model.py
  backend/tests/fixtures/fake_plugin/schema.py
  backend/tests/fixtures/fake_plugin/versions/__init__.py
  backend/tests/fixtures/fake_plugin/versions/fake_0001_create.py
  backend/tests/test_open_api_export.py
  plugins/tests/test_sdk_plugin_parity.py
Due: regen-openapi-spec

fix: Close gaps found building an external plugin
  backend/app/core/auth/auth.py
  backend/app/core/auth/db_utils.py
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/technical_assets/service.py
  backend/app/plugins/migrations.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/tests/app/auth/test_router.py
  backend/tests/app/plugins/test_migrations.py
  backend/tests/app/plugins/test_registry.py
  docs/adr/0024-dynamic-plugin-system.md
  docs/docs/developer-guide/adding-integrations.md
  docs/docs/release-notes.md
Due: regen-openapi-spec

Update release-notes.md
  docs/docs/release-notes.md
Due: none

test: Drop the fresh-interpreter plugin import test
  backend/tests/app/plugins/test_registry.py
Due: regen-openapi-spec

ci: Key the backend venv cache on plugin entry points
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/release-workflow.yml
  .github/workflows/tests.yml
Due: none

fix: Close gaps found building an external plugin (#4460)
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/release-workflow.yml
  .github/workflows/tests.yml
  backend/app/core/auth/auth.py
  backend/app/core/auth/db_utils.py
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/technical_assets/service.py
  backend/app/plugins/migrations.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/tests/app/auth/test_router.py
  backend/tests/app/plugins/test_migrations.py
  docs/adr/0024-dynamic-plugin-system.md
  docs/docs/developer-guide/adding-integrations.md
  docs/docs/release-notes.md
Due: regen-openapi-spec

add lock on group members replacement
  backend/app/groups/router.py
  backend/tests/app/groups/test_router.py
Due: regen-openapi-spec

precommit hook
  cli/golang/pkg/api/oas_client_gen.go
  docs/static/openapi.json
Due: none

Refactor table components: improve tooltip logic, add column widths, and enhance output port classification handling.
  frontend/public/locales/en/translation.json
  frontend/src/components/list/table-cell-item/table-cell-item.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-classifications-table/output-port-classification-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-classifications-table/output-port-classifications-table-columns.tsx
Due: local-fe-check

Update output port classifications: remove unnecessary query options, add sample data, and replace hardcoded IDs with dynamic classification references.
  backend/app/database/alembic/versions/2026_09_24_1200-3f1c2b7a9d4e_add_output_port_classifications.py
  backend/sample_data.sql
  demo/basic/portal_seed.sql
  frontend/src/pages/settings/components/settings-tabs/components/output-port-classifications-table/output-port-classifications-table.component.tsx
Due: regen-openapi-spec, local-fe-check

Refactor classification section: update dropdown options, replace tooltips, and enhance UI for output port form.
  frontend/public/locales/en/translation.json
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/tests/components/output-ports/output-port-form.component.test.tsx
Due: local-fe-check

Refactor output port classifications and access function handling: optimize queries, streamline filters, enhance tooltip logic, and improve classification initialization.
  backend/app/configuration/output_port_classifications/service.py
  backend/app/core/authz/authorization.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/env.py
  backend/app/database/alembic/versions/2026_09_24_1200-3f1c2b7a9d4e_add_output_port_classifications.py
  backend/app/database/database.py
  frontend/public/locales/en/translation.json
  frontend/src/components/list/table-cell-item/table-cell-item.component.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-classifications-table/output-port-classification-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-classifications-table/output-port-classifications-table-columns.tsx
  frontend/src/tests/components/output-ports/output-port-form.component.test.tsx
Due: regen-openapi-spec, local-fe-check

Update classification label across tests and documentation.
  CONTEXT.md
  backend/tests/app/configuration/output_port_classifications/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  docs/adr/0025-output-port-classifications.md
Due: regen-openapi-spec

Refactor access function handling: replace hardcoded iterations with `ACCESS_FUNCTION_ORDER`, update modal logic, and streamline backend query options.
  backend/app/core/errors/error_handling.py
  backend/app/data_products/output_ports/service.py
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-classifications-table/output-port-classification-form-modal.component.tsx
  frontend/src/utils/access-function.helper.ts
Due: regen-openapi-spec, local-fe-check

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
