Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

resolve discovery issues
  .github/skills/code-review/SKILL.md
  .github/skills/humanizer/SKILL.md
Due: none

add inmediate role assignment on group membership update or dataproductroleassignment
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/data_products/router.py
  backend/app/groups/service.py
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

Apply batched suggestions from code review
  backend/tests/factories/machine_user.py
Due: regen-openapi-spec

fix typo
  backend/sample_data.sql
Due: none

revert email style changes
  backend/app/authorization/role_assignments/data_product/email.py
Due: regen-openapi-spec

dataproductroleassignment notifications are excluded from machine users and groups while considering also group members when assignment target is a group
  backend/app/users/notifications/service.py
  backend/tests/app/users/notifications/test_service.py
Due: regen-openapi-spec

precommit styles...
  backend/app/users/notifications/service.py
  backend/tests/app/users/notifications/test_service.py
Due: regen-openapi-spec

resolve: comments, remove target revision, migration path and merge alembic runners
  .github/workflows/alembic-workflow.yml
  backend/app/database/alembic/env.py
  backend/app/db_tool.py
  backend/app/plugins/alembic_runner/env.py
  backend/app/plugins/migrations.py
  backend/app/plugins/registry.py
  backend/app/technical_asset_configuration/azure_blob/schema.py
  backend/app/technical_asset_configuration/azure_blob/versions/azure_blob_0001_baseline.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/databricks/schema.py
  backend/app/technical_asset_configuration/databricks/versions/databricks_0001_baseline.py
  backend/app/technical_asset_configuration/glue/schema.py
  backend/app/technical_asset_configuration/glue/versions/glue_0001_baseline.py
  backend/app/technical_asset_configuration/osi_sem_model/schema.py
  backend/app/technical_asset_configuration/osi_sem_model/versions/osi_sem_model_0001_baseline.py
  backend/app/technical_asset_configuration/postgresql/schema.py
  backend/app/technical_asset_configuration/postgresql/versions/postgresql_0001_baseline.py
  backend/app/technical_asset_configuration/redshift/schema.py
  backend/app/technical_asset_configuration/redshift/versions/redshift_0001_baseline.py
  backend/app/technical_asset_configuration/rustfs/schema.py
  backend/app/technical_asset_configuration/rustfs/versions/rustfs_0001_baseline.py
  backend/app/technical_asset_configuration/s3/schema.py
  backend/app/technical_asset_configuration/s3/versions/s3_0001_baseline.py
  backend/app/technical_asset_configuration/snowflake/schema.py
  backend/app/technical_asset_configuration/snowflake/versions/snowflake_0001_baseline.py
  backend/tests/app/plugins/test_migrations.py
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/fixtures/example_plugin/__init__.py
  backend/tests/fixtures/other_plugin/__init__.py
  docs/adr/0024-dynamic-plugin-system.md
  docs/docs/developer-guide/adding-integrations.md
  sdk/generation/build_plugin_configurations.py
Due: regen-openapi-spec

fix typo, still broken stuff
  backend/tests/app/users/notifications/test_service.py
Due: regen-openapi-spec

update: reomve humaniser again
  .github/skills/code-review/SKILL.md
  .github/skills/humanizer/SKILL.md
Due: none

Update backend/app/database/alembic/env.py
  backend/app/database/alembic/env.py
Due: regen-openapi-spec

Update backend/app/plugins/migrations.py
  backend/app/plugins/migrations.py
Due: regen-openapi-spec

Update backend/tests/app/search_output_ports/test_router.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

pending role assignments now considers group membership
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/service.py
  backend/app/groups/service.py
  backend/tests/app/authorization/role_assignments/data_product/test_service.py
Due: regen-openapi-spec

fixes remaining group membership inheritance inclusion
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_service.py
Due: regen-openapi-spec

add index to group membership table
  backend/app/database/alembic/versions/2026_09_04_1307-1d1b811732f3_add_identity_hierarchy.py
  backend/app/groups/model.py
Due: regen-openapi-spec

precommit hook styles
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_service.py
Due: regen-openapi-spec

include group inheritance also for input ports
  backend/app/data_products/output_ports/input_ports/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
Due: regen-openapi-spec

resolve: update the history to remove the plugins where possible
  backend/app/database/alembic/versions/2026_01_28_1241_snowflake_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1242_databricks_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1243_s3_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1244_glue_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1245_redshift_separate_table.py
  backend/app/database/alembic/versions/2026_03_02_1454-491c8783a7bc_postgres_output_port_plugin.py
  backend/app/database/alembic/versions/2026_03_03_1000-a1b2c3d4e5f6_semantic_model_plugin.py
  backend/app/database/alembic/versions/2026_04_07_1435-9621a226da7c_add_azure_blob_technical_asset.py
  backend/app/database/alembic/versions/2026_08_21_1400-e4b81c7d2f90_add_rustfs_technical_asset_config.py
  backend/app/db_tool.py
  backend/app/plugins/migrations.py
  backend/app/technical_asset_configuration/azure_blob/versions/__init__.py
  backend/app/technical_asset_configuration/azure_blob/versions/azure_blob_0001_baseline.py
  backend/app/technical_asset_configuration/databricks/versions/__init__.py
  backend/app/technical_asset_configuration/databricks/versions/databricks_0001_baseline.py
  backend/app/technical_asset_configuration/glue/versions/__init__.py
  backend/app/technical_asset_configuration/glue/versions/glue_0001_baseline.py
  backend/app/technical_asset_configuration/osi_sem_model/__init__.py
  backend/app/technical_asset_configuration/osi_sem_model/versions/__init__.py
  backend/app/technical_asset_configuration/osi_sem_model/versions/osi_sem_model_0001_baseline.py
  backend/app/technical_asset_configuration/postgresql/versions/__init__.py
  backend/app/technical_asset_configuration/postgresql/versions/postgresql_0001_baseline.py
  backend/app/technical_asset_configuration/redshift/versions/__init__.py
  backend/app/technical_asset_configuration/redshift/versions/redshift_0001_baseline.py
  backend/app/technical_asset_configuration/rustfs/__init__.py
  backend/app/technical_asset_configuration/rustfs/versions/__init__.py
  backend/app/technical_asset_configuration/rustfs/versions/rustfs_0001_baseline.py
  backend/app/technical_asset_configuration/s3/versions/__init__.py
  backend/app/technical_asset_configuration/s3/versions/s3_0001_baseline.py
  backend/app/technical_asset_configuration/snowflake/versions/__init__.py
  backend/app/technical_asset_configuration/snowflake/versions/snowflake_0001_baseline.py
  backend/tests/app/plugins/test_migrations.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

add more tests for coverage
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
Due: regen-openapi-spec

pre-commit styles
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
Due: regen-openapi-spec

remove user_id from DataProductRoleAssignmentEvent
  backend/app/authorization/role_assignments/data_product/model.py
  backend/app/core/webhooks/events.py
Due: regen-openapi-spec

restore back migration comment
  backend/app/database/alembic/versions/2025_05_21_1055-6441623a586b_grant_api_user_admin.py
Due: regen-openapi-spec

Revert "remove user_id from DataProductRoleAssignmentEvent"
  backend/app/authorization/role_assignments/data_product/model.py
  backend/app/core/webhooks/events.py
Due: regen-openapi-spec

resolve: gut data-migration logic from plugin table split migrations
  backend/app/database/alembic/versions/2026_01_28_1241_snowflake_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1242_databricks_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1243_s3_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1244_glue_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1245_redshift_separate_table.py
  backend/app/database/alembic/versions/2026_03_02_1454-491c8783a7bc_postgres_output_port_plugin.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

cleanup: comment
  backend/app/data_products/technical_assets/schema.py
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/tests/app/data_products/technical_assets/test_schema_response.py
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
Due: regen-openapi-spec, local-fe-check

remove: unneeded result string template field
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/tests/app/data_products/technical_assets/test_schema_response.py
Due: regen-openapi-spec

refactor: gitingore dangling test
  frontend/.gitignore
  frontend/.vitest/json/output.json
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-technical-asset-popup/add-technical-asset-popup.test.tsx
Due: local-fe-check

Let a plugin skip platforms and platform services
  backend/app/data_products/technical_assets/schema.py
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/tests/app/data_products/technical_assets/test_schema_response.py
  cli/golang/pkg/api/oas_json_gen.go
  docs/static/openapi.json
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  sdk/sdk/api_client/models/create_technical_asset_request.py
  sdk/sdk/api_client/models/get_technical_assets_response_item.py
  sdk/sdk/api_client/models/owned_technical_asset.py
Due: regen-openapi-spec, local-fe-check

rebase
  backend/tests/app/data_products/technical_assets/test_schema_response.py
  cli/golang/pkg/api/oas_schemas_gen.go
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  sdk/sdk/api_client/models/technical_asset.py
Due: regen-openapi-spec, local-fe-check

resolve comments
  backend/app/data_products/technical_assets/schema_request.py
  backend/tests/app/data_products/technical_assets/test_router.py
  frontend/.vitest/json/output.json
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/tests/mocks/plugins.ts
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-technical-asset-popup/add-technical-asset-popup.test.tsx
Due: regen-openapi-spec, local-fe-check

resolve: comments
  backend/app/data_products/technical_assets/model.py
  backend/tests/app/data_products/technical_assets/test_router.py
Due: regen-openapi-spec

resolve: comments
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-technical-asset-popup/add-technical-asset-popup.test.tsx
Due: local-fe-check

feat: add something to the front end
  frontend/AGENTS.md
Due: none

merge migrations into one
  backend/app/database/alembic/versions/2026_09_07_1315-18fb80f18c7d_migrate_role_assignments_to_identities.py
  backend/app/database/alembic/versions/2026_09_22_1315-18fb80f18c7d_migrate_role_assignments_to_identities.py
Due: regen-openapi-spec

Fix MCP deps
  backend/app/mcp/deps.py
  backend/app/mcp/permissions.py
  backend/tests/app/mcp/test_permissions.py
Due: regen-openapi-spec

Fix MCP deps (#4385)
  backend/app/mcp/deps.py
  backend/app/mcp/permissions.py
  backend/tests/app/mcp/test_permissions.py
Due: regen-openapi-spec

chore: release 0.7.4
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none
