Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Patch vulnerabilities in demo/basic (#2847)
  demo/basic/provisioner/requirements-poetry.txt
Due: none

adding a generic agent and limiting access
  backend/app/data_output_configuration/agno/schema.py
  demo/agents/agent/dpp_agent/server.py
  demo/agents/provisioner/provisioner/main.py
Due: regen-openapi-spec

updating documentation based on feedback
  docs/docs/developer-guide/adding-integrations.md
Due: none

Address PR review: simplify backend tests and move frontend test next to source
  backend/tests/app/graph/test_router.py
  frontend/src/utils/node-parser.helper.test.ts
Due: regen-openapi-spec, local-fe-check

adding a team of agents
  demo/agents/agent/dpp_agent/server.py
Due: none

Fix delete endpoints crashing due to missing CASCADE on foreign keys
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/query_stats/model.py
  backend/app/database/alembic/versions/2026_03_08_1200-add_cascade_deletes.py
Due: regen-openapi-spec

Add release note for CASCADE delete fix
  docs/docs/release-notes.md
Due: none

Replace manually created migration with Alembic-generated one
  backend/app/database/alembic/versions/2026_03_08_1947-2cf5b5260cca_add_cascade_deletes_to_foreign_keys.py
Due: regen-openapi-spec

Fix ruff format: split long for-loop tuple unpacking across lines
  backend/app/database/alembic/versions/2026_03_08_1947-2cf5b5260cca_add_cascade_deletes_to_foreign_keys.py
Due: regen-openapi-spec

Add regression test for deleting data product with tags
  backend/tests/app/data_products/test_router.py
Due: regen-openapi-spec

Enable Snowflake plugin and add Snowflake platform service configs
  backend/app/settings.py
  backend/sample_data.sql
Due: regen-openapi-spec

Revert "Enable Snowflake plugin and add Snowflake platform service configs"
  backend/app/settings.py
  backend/sample_data.sql
Due: regen-openapi-spec

Fix bad auth resolve on create route
  backend/app/authorization/role_assignments/data_product/router.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
Due: regen-openapi-spec

Release notes
  docs/docs/release-notes.md
Due: none

Rework to tiles
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/review-request-modal.tsx
Due: local-fe-check

Remove unclearly named var
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
Due: regen-openapi-spec

use nested translation
  frontend/public/locales/en/translation.json
Due: local-fe-check

Remove obsolete code, add comments where necessary
  frontend/src/components/requests/requester-cell.tsx
  frontend/src/components/requests/use-table-columns.tsx
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-view.tsx
  frontend/src/theme/antd-theme.ts
  frontend/src/utils/request-utils.ts
Due: local-fe-check

Fix bad auth resolve on create route (#2865)
  backend/app/authorization/role_assignments/data_product/router.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

Bad auth flow for creating technical assets
  backend/app/data_products/technical_assets/router.py
  backend/tests/app/data_products/technical_assets/test_router.py
Due: regen-openapi-spec

Add release notes
  docs/docs/release-notes.md
Due: none

Bad auth flow for creating technical assets (#2875)
  backend/app/data_products/technical_assets/router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

splitting the agents
  demo/agents/agent/Dockerfile
  demo/agents/agent/dpp_agent/__init__.py
  demo/agents/agent/dpp_agent/server.py
  demo/agents/agent/pyproject.toml
  demo/agents/agent/skills/postgres-semantic/SKILL.md
  demo/agents/compose.yaml
  docs/architecture/agno-agent-architecture.md
Due: none

splitting the agents
  demo/agents/agents/data-agents/Dockerfile
  demo/agents/agents/data-agents/data_agents/__init__.py
  demo/agents/agents/data-agents/data_agents/server.py
  demo/agents/agents/data-agents/pyproject.toml
  demo/agents/agents/data-agents/skills/postgres-semantic/SKILL.md
  demo/agents/agents/intake-agent/Dockerfile
  demo/agents/agents/intake-agent/intake_agent/__init__.py
  demo/agents/agents/intake-agent/intake_agent/server.py
  demo/agents/agents/intake-agent/intake_agent/workflow.py
  demo/agents/agents/intake-agent/pyproject.toml
Due: none

splitting the agents
  demo/agents/agents/intake-agent/Dockerfile
  demo/agents/agents/intake-agent/intake_agent/server.py
  demo/agents/compose.yaml
Due: none

updating the workflow
  demo/agents/IMPROVEMENTS.md
  demo/agents/agents/intake-agent/intake_agent/workflow.py
Due: none

reducing the # tokens by enabling caching and disabling history
  demo/agents/agent/Dockerfile
  demo/agents/agent/dpp_agent/server.py
  demo/agents/agent/pyproject.toml
  demo/agents/agent/skills/postgres-semantic/SKILL.md
Due: none

Fix bad auth flow for link and unlink output port
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
Due: regen-openapi-spec

Update release notes
  docs/docs/release-notes.md
Due: none

Fix bad auth flow for link and unlink output port (#2881)
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

making the about pages look a bit better
  demo/agents/setup/create_products.py
Due: none

adding adr
  docs/adr/0013-provisioner-architecture.md
Due: none

ignoring demo folder mypy as it doesnt understand that this is not one big project
  .pre-commit-config.yaml
Due: none

Revert "Bump nginx from 1.29.5-alpine to 1.29.6-alpine in /frontend (#2876)"
  frontend/Dockerfile
Due: none

Revert "Bump nginx from 1.29.5-alpine to 1.29.6-alpine in /frontend (#2876)" (#2888)
  frontend/Dockerfile
Due: none

make-technical-asset-link-remove-buttons-rbac-dynamically-clickable
  frontend/src/components/datasets/dataset-card/dataset-card.component.tsx
Due: local-fe-check

adding an archticture page
  docs/docs/developer-guide/architecture.md
  docs/docs/release-notes.md
Due: none

update release notes
  docs/docs/release-notes.md
Due: none

make-technical-asset-link-remove-buttons-rbac-dynamically-clickable (#2889)
  docs/docs/release-notes.md
  frontend/src/components/datasets/dataset-card/dataset-card.component.tsx
Due: local-fe-check
