Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Add nesting for key concepts to translations
  frontend/public/locales/en/translation.json
  frontend/src/components/data-outputs/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-outputs/technical-asset-card/data-output-card.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/auth/logout/logout-page.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/new-data-product-lifecycles-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-form-modal.component.tsx
Due: local-fe-check

Fix explorer bug when deselecting everything
  docs/docs/release-notes.md
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/node-editor/node-editor.tsx
  frontend/src/components/global-explorer/sidebar/sidebar.module.scss
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
Due: local-fe-check

Added slow query logging support (#2783)
  backend/README.md
  backend/app/database/database.py
  backend/app/settings.py
Due: regen-openapi-spec

Apply suggestions from code review
  docs/docs/release-notes.md
  frontend/public/locales/en/translation.json
Due: local-fe-check

Fix bug in product studio
  frontend/src/pages/data-products/data-products-table-columns.tsx
Due: local-fe-check

Fix explorer bug when deselecting everything (#2786)
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/node-editor/node-editor.tsx
  frontend/src/components/global-explorer/sidebar/sidebar.module.scss
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
Due: local-fe-check

Rework to generated description
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/access-requested-cell.tsx
  frontend/src/components/requests/data-product-cell.tsx
  frontend/src/components/requests/justification-cell.tsx
  frontend/src/components/requests/request-type-badge.tsx
  frontend/src/hooks/use-table-columns.tsx
  frontend/src/utils/request-utils.ts
Due: local-fe-check

Fix private output ports raise error
  backend/app/data_products/output_ports/service.py
Due: regen-openapi-spec

Test buggy situation
  backend/tests/app/data_products/output_ports/test_service.py
Due: regen-openapi-spec

Add missing posthog event tracking
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
Due: local-fe-check

chore: release 0.5.1
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
Due: none

Add missing posthog event tracking (#2796)
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
Due: local-fe-check

Fix bug in product studio (#2787)
  frontend/src/pages/data-products/data-products-table-columns.tsx
Due: local-fe-check

Fix private output ports raise error (#2788)
  backend/app/data_products/output_ports/service.py
  backend/tests/app/data_products/output_ports/test_service.py
Due: regen-openapi-spec

Add bugfix release notes
  docs/docs/release-notes.md
Due: none

Release 0.5.1 (#2799)
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
Due: none

Added open telemetry tracing
  .env.docker
  backend/README.md
  backend/app/core/authz/authorization.py
  backend/app/database/database.py
  backend/app/main.py
  backend/app/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  compose.yaml
Due: regen-openapi-spec

Fix reversed arrows in Explorer "Data Products" view
  backend/app/graph/service.py
Due: regen-openapi-spec

Enable domain visualization on graph explorer
  frontend/src/components/global-explorer/internal-explorer.tsx
Due: local-fe-check

Improve ELK layout for domain containers with INCLUDE_CHILDREN
  frontend/src/components/global-explorer/use-node-editor.tsx
Due: local-fe-check

fixing the provisioner
  demo/basic/.env.portal
  demo/basic/provisioner/provisioner/main.py
Due: none

updating agents to include the demo folder
  AGENTS.md
  demo/EVENTS.md
Due: none

Added open telemetry tracing (#2800)
  .env.docker
  backend/README.md
  backend/app/core/authz/authorization.py
  backend/app/database/database.py
  backend/app/main.py
  backend/app/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  compose.yaml
Due: regen-openapi-spec

Rework to modal
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/expanded-request-details.tsx
  frontend/src/components/requests/request-actions.tsx
  frontend/src/components/requests/requests.module.scss
  frontend/src/components/requests/review-button.tsx
  frontend/src/components/requests/review-request-modal.tsx
  frontend/src/hooks/use-table-columns.tsx
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-view.tsx
  frontend/src/store/api/services/apiTags.ts
Due: local-fe-check

Remove types and obsolete filters and more uniform requests page
  frontend/public/locales/en/translation.json
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-view.tsx
  frontend/src/pages/product-studio/components/requests-panel/requests-panel.component.tsx
Due: local-fe-check

Remove types and obsolete filters and more uniform requests page
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/review-request-modal.tsx
Due: local-fe-check

fixing the migration file
  backend/app/configuration/environments/platform_service_configurations/schemas/postgresql_schema.py
  backend/app/data_output_configuration/postgresql/model.py
  backend/app/data_output_configuration/postgresql/schema.py
  backend/app/database/alembic/versions/2026_03_02_1454-491c8783a7bc_postgres_output_port_plugin.py
  docs/static/openapi.json
Due: regen-openapi-spec

Extract to single userAvatar component
  frontend/src/components/data-access/user-access-overview/user-access-overview.component.tsx
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/components/layout/navbar/user-menu/user-menu.module.scss
  frontend/src/components/requests/requester-cell.tsx
  frontend/src/components/user-avatar/user-avatar-with-email.component.tsx
  frontend/src/components/user-avatar/user-avatar.component.tsx
  frontend/src/hooks/use-table-columns.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/components/team-table/team-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/components/team-table/team-table-columns.tsx
  frontend/src/utils/request-utils.ts
Due: local-fe-check

Add release note for reversed arrows bugfix
  docs/docs/release-notes.md
Due: none

cleaning up unneeded files and updating documetnation
  .DS_Store
  .gitignore
  demo/EVENTS.md
  demo/README.md
  docs/docs/developer-guide/adding-integrations.md
Due: none

Add regression test for arrow direction in Data Products view
  backend/tests/app/graph/test_router.py
Due: regen-openapi-spec

Apply ruff formatting to test file
  backend/tests/app/graph/test_router.py
Due: regen-openapi-spec

Fix reversed arrows in Explorer Data Products view (#2808)
  backend/app/graph/service.py
  backend/tests/app/graph/test_router.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

fixing the UI error as well
  demo/basic/portal_seed.sql
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
Due: local-fe-check

fixing the provisioner
  demo/basic/provisioner/provisioner/main.py
Due: none

cleaning up the source code by removing empty folders
  demo/basic/products/logistics_wms_shipments/analyses/.gitkeep
  demo/basic/products/logistics_wms_shipments/macros/.gitkeep
  demo/basic/products/logistics_wms_shipments/seeds/.gitkeep
  demo/basic/products/logistics_wms_shipments/snapshots/.gitkeep
  demo/basic/products/logistics_wms_shipments/tests/.gitkeep
  demo/basic/products/sales_crm_customers/analyses/.gitkeep
  demo/basic/products/sales_crm_customers/macros/.gitkeep
  demo/basic/products/sales_crm_customers/seeds/.gitkeep
  demo/basic/products/sales_crm_customers/snapshots/.gitkeep
  demo/basic/products/sales_crm_customers/tests/.gitkeep
  demo/basic/products/sales_erp_orders/analyses/.gitkeep
  demo/basic/products/sales_erp_orders/macros/.gitkeep
  demo/basic/products/sales_erp_orders/seeds/.gitkeep
  demo/basic/products/sales_erp_orders/snapshots/.gitkeep
  demo/basic/products/sales_erp_orders/tests/.gitkeep
  demo/basic/provisioner/templates/dbt/{{ cookiecutter.project_slug }}/analyses/.gitkeep
  demo/basic/provisioner/templates/dbt/{{ cookiecutter.project_slug }}/macros/.gitkeep
  demo/basic/provisioner/templates/dbt/{{ cookiecutter.project_slug }}/seeds/.gitkeep
  demo/basic/provisioner/templates/dbt/{{ cookiecutter.project_slug }}/snapshots/.gitkeep
  demo/basic/provisioner/templates/dbt/{{ cookiecutter.project_slug }}/tests/.gitkeep
Due: none

Fixing docs
  docs/docs/developer-guide/adding-integrations.md
Due: none

updating release pages
  docs/docs/release-notes.md
Due: none
