Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Replace section by fragment
  frontend/src/pages/home/components/quick-actions/quick-actions.tsx
Due: local-fe-check

WIP
  demo/agents/portal_seed.sql
  demo/agents/setup/create_products.py
Due: none

Improve user search by filtering out accents etc
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.test.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/utils/search.test.ts
  frontend/src/utils/search.ts
Due: local-fe-check

Upgrade dependencies to patch security warnings (#3033)
  backend/requirements-poetry.txt
  cli/python/data-product-portal/poetry.lock
  demo/basic/provisioner/requirements-poetry.txt
  docs/package-lock.json
Due: none

Added initial test technical asset form
  frontend/src/components/data-outputs/data-output-platform-tile/data-output-platform-tile.component.tsx
  frontend/src/components/data-outputs/data-output-platform-tile/data-output-platform-tile.module.scss
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.component.tsx
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.test.tsx
  frontend/src/tests/mocks/configuration.ts
  frontend/src/tests/mocks/data_product.ts
  frontend/src/tests/mocks/plugins.ts
  frontend/src/tests/mocks/resource_names.ts
  frontend/src/tests/mocks/tags.ts
  frontend/src/tests/mocks/technicalAssets.ts
  frontend/src/tests/pages/people/people-table.test.tsx
  frontend/tsconfig.json
Due: local-fe-check

remove sidebar selection
  frontend/src/tests/pages/data-product/data-product-page.test.tsx
Due: local-fe-check

Add banner for pending requests to home page (#2937)
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/alert-banner/alert-banner.module.scss
  frontend/src/pages/home/components/alert-banner/alert-banner.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.module.scss
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-list.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-menu-tabs.tsx
  frontend/src/pages/home/components/quick-actions/quick-actions.tsx
  frontend/src/pages/home/home.module.scss
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/theme/antd-theme.ts
Due: local-fe-check

Improve user search by filtering out accents etc (#3020)
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.test.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/utils/search.test.ts
  frontend/src/utils/search.ts
Due: local-fe-check

Feature/data product test (#3001)
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/tests/mocks/auth.ts
  frontend/src/tests/mocks/data-products.ts
  frontend/src/tests/pages/data-product/data-product-page.test.tsx
  frontend/src/tests/pages/product-studio/data-products-tab.test.tsx
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

Rename access_type public to unrestricted.
  backend/app/data_products/output_ports/enums.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/database/alembic/versions/2026_03_26_1040-72cc4963a251_change_dataset_type_public_name.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/factories/dataset.py
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/datasets/dataset-popover-title/dataset-popover-title.tsx
  frontend/src/components/datasets/output-port-access-icon/output-port-access-icon.tsx
  frontend/src/components/datasets/output-port-title/output-port-title.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/types/dataset/dataset.contract.ts
  frontend/src/utils/access-type.helper.ts
Due: regen-openapi-spec, local-fe-check

fix the migration issues.
  backend/app/database/alembic/versions/2026_03_26_1040-72cc4963a251_change_dataset_type_public_name.py
Due: regen-openapi-spec

fix openapi.json
  docs/static/openapi.json
Due: none

fix pr comments
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
Due: local-fe-check

Remove Data Product / Output Port Inbox
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/data-products-inbox/data-products-inbox.module.scss
  frontend/src/pages/home/components/data-products-inbox/data-products-inbox.tsx
  frontend/src/pages/home/components/data-products-inbox/data-products-list.tsx
  frontend/src/pages/home/components/datasets-inbox/datasets-inbox.module.scss
  frontend/src/pages/home/components/datasets-inbox/datasets-inbox.tsx
  frontend/src/pages/home/components/datasets-inbox/datasets-list.tsx
  frontend/src/pages/home/home.page.tsx
Due: local-fe-check

Increase latency bound again
  .github/workflows/tests.yml
Due: none

Remove Data Product / Output Port Inbox (#3056)
  .github/workflows/tests.yml
  frontend/public/locales/en/translation.json
  frontend/src/pages/home/components/data-products-inbox/data-products-inbox.module.scss
  frontend/src/pages/home/components/data-products-inbox/data-products-inbox.tsx
  frontend/src/pages/home/components/data-products-inbox/data-products-list.tsx
  frontend/src/pages/home/components/datasets-inbox/datasets-inbox.module.scss
  frontend/src/pages/home/components/datasets-inbox/datasets-inbox.tsx
  frontend/src/pages/home/components/datasets-inbox/datasets-list.tsx
  frontend/src/pages/home/home.page.tsx
Due: local-fe-check

Added initial test technical asset form (#3015)
  frontend/src/components/data-outputs/data-output-platform-tile/data-output-platform-tile.component.tsx
  frontend/src/components/data-outputs/data-output-platform-tile/data-output-platform-tile.module.scss
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.component.tsx
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.test.tsx
  frontend/src/tests/mocks/configuration.ts
  frontend/src/tests/mocks/data_product.ts
  frontend/src/tests/mocks/plugins.ts
  frontend/src/tests/mocks/resource_names.ts
  frontend/src/tests/mocks/tags.ts
  frontend/src/tests/mocks/technicalAssets.ts
  frontend/src/tests/pages/people/people-table.test.tsx
  frontend/tsconfig.json
Due: local-fe-check

Rename access_type public to unrestricted. (#3002)
  backend/app/data_products/output_ports/enums.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/database/alembic/versions/2026_03_26_1040-72cc4963a251_change_dataset_type_public_name.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/factories/dataset.py
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/datasets/dataset-popover-title/dataset-popover-title.tsx
  frontend/src/components/datasets/output-port-access-icon/output-port-access-icon.tsx
  frontend/src/components/datasets/output-port-title/output-port-title.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/types/dataset/dataset.contract.ts
  frontend/src/utils/access-type.helper.ts
Due: regen-openapi-spec, local-fe-check

rewriting the ADR
  docs/adr/0013-provisioner-architecture.md
Due: none

regenerating the requirements poetry with hashes as otherwirs the pip install command fails
  demo/basic/provisioner/requirements-poetry.txt
Due: none

regeneating
  demo/basic/provisioner/requirements-poetry.txt
Due: none

Poetry requirements with hashes (#3066)
  demo/basic/provisioner/requirements-poetry.txt
Due: none

Apply suggestion from @stijndehaes
  AGENTS.md
Due: none

Speed up UI test
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.test.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.tsx
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

Move debounce lower again
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
Due: local-fe-check

Actually, just remove the const
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
Due: local-fe-check

Speed up UI test (#3076)
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.test.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.tsx
  frontend/src/tests/test-utils.tsx
Due: local-fe-check

Remove esbuild
  .github/dependabot.yml
  docs/package-lock.json
  docs/package.json
  frontend/package-lock.json
  frontend/package.json
Due: local-fe-check

Improve release-workflow.yml
  .github/workflows/release-workflow.yml
Due: none

Improve release-workflow.yml (#3082)
  .github/workflows/release-workflow.yml
Due: none

wip initial version of azure blob technical asset.
  backend/app/configuration/environments/platform_configurations/schema_response.py
  backend/app/configuration/environments/platform_configurations/schemas/azure_schema.py
  backend/app/configuration/environments/platform_service_configurations/schema_response.py
  backend/app/configuration/environments/platform_service_configurations/schemas/__init__.py
  backend/app/configuration/environments/platform_service_configurations/schemas/azure_blob_schema.py
  backend/app/data_output_configuration/__init__.py
  backend/app/data_output_configuration/azure_blob/model.py
  backend/app/data_output_configuration/azure_blob/schema.py
  backend/app/data_output_configuration/data_output_types.py
  backend/app/data_output_configuration/schema_union.py
  backend/app/database/alembic/versions/2026_04_07_1435-9621a226da7c_add_azure_blob_technical_asset.py
  backend/app/settings.py
  backend/sample_data.sql
  docs/static/openapi.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icons/azure-logo.svg
  frontend/src/assets/icons/azure-storage-account-border-logo.svg
  frontend/src/assets/icons/azure-storage-account-logo.svg
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
Due: regen-openapi-spec, local-fe-check

Filter out v2 authn path from webhook
  backend/app/main.py
Due: regen-openapi-spec

rework azure blob to work for Imec
  backend/app/configuration/README.md
  backend/app/configuration/environments/platform_service_configurations/schemas/azure_blob_schema.py
  backend/app/data_output_configuration/azure_blob/model.py
  backend/app/data_output_configuration/azure_blob/schema.py
  backend/app/database/alembic/versions/2026_04_07_1435-9621a226da7c_add_azure_blob_technical_asset.py
  backend/sample_data.sql
  backend/tests/app/data_outputs_configuration/azure_blob/test_schema.py
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Add unit tests for webhook and webhook filtering
  backend/tests/app/core/webhooks/test_webhook_middleware.py
Due: regen-openapi-spec

Fix get create technical asset working.
  backend/app/data_output_configuration/azure_blob/model.py
  backend/app/data_output_configuration/azure_blob/schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/osi_sem_model/schema.py
  backend/app/data_output_configuration/postgresql/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/data_products/technical_assets/service.py
  backend/app/database/alembic/versions/2026_04_07_1435-9621a226da7c_add_azure_blob_technical_asset.py
  backend/sample_data.sql
  backend/tests/app/data_outputs_configuration/azure_blob/test_schema.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/configurationPlatformsApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsDataQualityApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/resourceNamesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
Due: regen-openapi-spec, local-fe-check

Correct icon.
  frontend/src/assets/icons/azure-storage-account-border-icon.svg
Due: none

Fix the technical asset creation.
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.test.tsx
Due: local-fe-check

Rework status logic in backend
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/service.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Fix openapi.json
  docs/static/openapi.json
Due: none
