Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Apply suggestions from code review
  docs/docs/developer-guide/provisioner.md
Due: none

Sync generated code
  cli/golang/pkg/api/oas_defaults_gen.go
  cli/golang/pkg/api/oas_json_gen.go
Due: none

Update npm requirement
  frontend/package-lock.json
  frontend/package.json
Due: local-fe-check

Filter out old inactive requests in my requests
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/users/router.py
  backend/app/users/service.py
  backend/tests/app/authorization/role_assignments/data_product/test_service.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_service.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/users/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/input_port.py
  backend/tests/factories/role_assignment_data_product.py
  backend/tests/factories/technical_asset_output_ports.py
  backend/tests/seed_random_data.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/product-studio/components/my-requests-tab/my-requests-panel.tsx
  frontend/src/store/api/services/generated/usersApi.ts
  sdk/sdk/api_client/api/users/get_user_requests.py
Due: regen-openapi-spec, local-fe-check

Filter out old inactive requests in my requests (#3830)
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/users/router.py
  backend/app/users/service.py
  backend/tests/app/authorization/role_assignments/data_product/test_service.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_service.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/users/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/input_port.py
  backend/tests/factories/role_assignment_data_product.py
  backend/tests/factories/technical_asset_output_ports.py
  backend/tests/seed_random_data.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/product-studio/components/my-requests-tab/my-requests-panel.tsx
  frontend/src/store/api/services/generated/usersApi.ts
  sdk/sdk/api_client/api/users/get_user_requests.py
Due: regen-openapi-spec, local-fe-check

Switch the helm service to cluster IP
  helm/values.yaml
Due: none

feat(db): split input_ports into link + input_port_requests
  backend/app/database/alembic/versions/2026_07_13_1522-aa9f983049d2_split_input_ports_and_requests.py
  backend/sample_data.sql
Due: regen-openapi-spec

Switch the helm service to cluster IP (#3831)
  helm/values.yaml
Due: none

Run with single postgresql
  Taskfile.yml
  backend/.test.env
  backend/README.md
  backend/pyproject.toml
  backend/test-compose.yaml
Due: none

Minimize agents.md
  AGENTS.md
Due: none

Improve backend tests
  backend/tests/app/core/test_tracing.py
  backend/tests/app/plugins/test_router.py
  backend/tests/factories/platform_service_config.py
Due: regen-openapi-spec

Minimize agents.md (#3841)
  AGENTS.md
Due: none

Maintenance for docs dependencies
  docs/package-lock.json
  docs/package.json
Due: none

refactor: split inport port into input port and requests
  backend/app/abstract_data_product/input_ports/enums.py
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/database/alembic/versions/2026_07_13_1522-aa9f983049d2_split_input_ports_and_requests.py
  backend/app/users/model.py
  backend/sample_data.sql
  backend/tests/factories/__init__.py
  backend/tests/factories/input_port.py
  backend/tests/factories/input_port_request.py
Due: regen-openapi-spec

Working first version
  backend/app/abstract_data_product/input_ports/enums.py
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/2026_07_13_1522-aa9f983049d2_split_input_ports_and_requests.py
  backend/app/users/model.py
  backend/tests/app/abstract_data_product/test_service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/users/test_router.py
  backend/tests/factories/input_port.py
  backend/tests/factories/input_port_request.py
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/revoke-access-modal.tsx
Due: regen-openapi-spec, local-fe-check

Specify version comment
  .github/workflows/release-workflow.yml
  .github/workflows/tests.yml
Due: none

Run with single postgresql (#3842)
  Taskfile.yml
  backend/.test.env
  backend/README.md
  backend/pyproject.toml
  backend/test-compose.yaml
Due: none

Added ruff rule for starlette.status
  backend/app/abstract_data_product/service.py
  backend/app/data_products/router.py
  backend/app/explorations/router.py
  backend/app/explorations/service.py
  backend/pyproject.toml
  backend/tests/factories/__init__.py
Due: regen-openapi-spec

refactor: address input port split PR feedback
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/database/alembic/versions/2026_07_13_1522-aa9f983049d2_split_input_ports_and_requests.py
Due: regen-openapi-spec

refactor: remove expiry_event_sent from input_ports insertions
  backend/sample_data.sql
Due: none

Added ruff rule for starlette.status (#3851)
  backend/app/abstract_data_product/service.py
  backend/app/data_products/router.py
  backend/app/explorations/router.py
  backend/app/explorations/service.py
  backend/pyproject.toml
  backend/tests/factories/__init__.py
Due: regen-openapi-spec

refactor: split input ports into a link and access requests (ADR-0021) (#3845)
  backend/app/abstract_data_product/input_ports/enums.py
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/2026_07_13_1522-aa9f983049d2_split_input_ports_and_requests.py
  backend/app/users/model.py
  backend/sample_data.sql
  backend/tests/app/abstract_data_product/test_service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  backend/tests/app/users/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/input_port.py
  backend/tests/factories/input_port_request.py
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/revoke-access-modal.tsx
Due: regen-openapi-spec, local-fe-check

feat: implement time-bound access renewal for input ports
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/tests/app/abstract_data_product/input_ports/__init__.py
  backend/tests/app/abstract_data_product/input_ports/test_model.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  docs/adr/0021-input-ports-and-input-port-requests.md
Due: regen-openapi-spec

Maintenance for docs dependencies (#3844)
  docs/package-lock.json
  docs/package.json
Due: none

Improve backend tests (#3843)
  backend/tests/app/core/test_tracing.py
  backend/tests/app/plugins/test_router.py
  backend/tests/factories/platform_service_config.py
Due: regen-openapi-spec

WIP
  backend/app/abstract_data_product/input_ports/enums.py
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema.py
  backend/app/data_products/output_ports/input_ports/schema_response.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/users/schema_response.py
  backend/tests/app/abstract_data_product/input_ports/test_model.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/app_abstract_data_product_schema_response_input_port.py
  sdk/sdk/api_client/models/app_users_schema_response_input_port.py
  sdk/sdk/api_client/models/get_data_product_input_ports_response.py
  sdk/sdk/api_client/models/get_exploration_input_ports_response.py
  sdk/sdk/api_client/models/input_port_request_base.py
  sdk/sdk/api_client/models/renewal_status.py
Due: regen-openapi-spec, local-fe-check

Remove wizard button
  frontend/public/locales/en/translation.json
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/components/layout/sidebar/sidebar.component.tsx
  frontend/src/components/wizard/wizard-button.tsx
Due: local-fe-check

Remove wizard button (#3865)
  frontend/public/locales/en/translation.json
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/components/layout/sidebar/sidebar.component.tsx
  frontend/src/components/wizard/wizard-button.tsx
Due: local-fe-check

fix: make sure output port has fixed id for testing
  backend/sample_data.sql
Due: none

Made space on product studio tab consistent
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/explorations-tab/explorations-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
Due: local-fe-check

refactor: cleanup comments and stray todo's
  backend/app/data_products/model.py
  backend/app/data_products/output_port_technical_assets_link/model.py
  backend/app/data_products/output_port_technical_assets_link/schema_response.py
  backend/app/data_products/output_ports/data_quality/model.py
  backend/app/data_products/output_ports/input_ports/schema.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/technical_assets/model.py
  backend/app/data_products/technical_assets/schema.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/tests/app/abstract_data_product/input_ports/test_model.py
  frontend/public/locales/en/translation.json
  frontend/src/components/input-port/access-status.tsx
Due: regen-openapi-spec, local-fe-check

fix: new output port was included in embedding result which made the test fail, rename fixes
  backend/sample_data.sql
Due: none

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
