Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

feat(demo): add churn_model dbt project
  demo/basic/products/churn_model/.gitignore
  demo/basic/products/churn_model/dbt_project.yml
  demo/basic/products/churn_model/models/churn_scores.sql
  demo/basic/products/churn_model/models/schema.yml
  demo/basic/products/churn_model/models/semantic_model.yml
  demo/basic/products/churn_model/models/sources.yml
  demo/basic/products/churn_model/portal.yml
  demo/basic/products/churn_model/profiles.yml
Due: none

feat(demo): add upload_metadata.py script and pyyaml/dpp-sdk dependencies
  demo/basic/products/pyproject.toml
  demo/basic/products/upload_metadata.py
Due: none

feat(demo): add upload-metadata tasks to Taskfile
  demo/basic/Taskfile.yml
Due: none

fix(demo): handle HTTPValidationError in upload_metadata.py
  demo/basic/products/upload_metadata.py
Due: none

Retrigger temp build
  .github/workflows/docker-build-main.yml
Due: none

Setting up demo products
  .superpowers/brainstorm/79459-1777315041/content/layout-options.html
  .superpowers/brainstorm/79459-1777315041/content/tab-options.html
  .superpowers/brainstorm/79459-1777315041/content/waiting.html
  .superpowers/brainstorm/79459-1777315041/content/welcome.html
  .superpowers/brainstorm/79459-1777315041/state/server-stopped
  .superpowers/brainstorm/79459-1777315041/state/server.pid
  demo/basic/Taskfile.yml
  demo/basic/products/campaign_activation/.user.yml
  demo/basic/products/campaign_activation/models/metricflow_time_spine.sql
  demo/basic/products/campaign_activation/models/schema.yml
  demo/basic/products/campaign_activation/models/semantic_model.yml
  demo/basic/products/churn_model/.user.yml
  demo/basic/products/churn_model/models/metricflow_time_spine.sql
  demo/basic/products/churn_model/models/schema.yml
  demo/basic/products/demo/customer_360.sql
  demo/basic/products/logistics_wms_shipments/models/metricflow_time_spine.sql
  demo/basic/products/logistics_wms_shipments/models/schema.yml
  demo/basic/products/marketing_customer_360/.user.yml
  demo/basic/products/marketing_customer_360/models/metricflow_time_spine.sql
  demo/basic/products/marketing_customer_360/models/schema.yml
  demo/basic/products/poetry.lock
  demo/basic/products/pyproject.toml
  demo/basic/products/sales_crm_customers/models/metricflow_time_spine.sql
  demo/basic/products/sales_crm_customers/models/schema.yml
  demo/basic/products/sales_erp_orders/models/metricflow_time_spine.sql
  demo/basic/products/sales_erp_orders/models/schema.yml
  demo/basic/products/upload_metadata.py
  frontend/src/pages/dataset/components/dataset-tabs/model-tab/model-tab.tsx
Due: local-fe-check

fixing the seed
  demo/basic/portal_seed.sql
Due: none

disabling the osi technical asset
  demo/basic/.env.portal
Due: none

Fixed an issue with SDK clash
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema_response.py
  docs/static/openapi.json
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/data-product-tab.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  sdk/sdk/api_client/api/data_products_output_ports_input_ports/get_input_ports_for_output_port.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/get_input_ports_for_output_port_response.py
  sdk/sdk/api_client/models/output_port_input_port.py
Due: regen-openapi-spec, local-fe-check

Fixed an issue with SDK clash (#3293)
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema_response.py
  docs/static/openapi.json
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/data-product-tab.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  sdk/sdk/api_client/api/data_products_output_ports_input_ports/get_input_ports_for_output_port.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/get_input_ports_for_output_port_response.py
  sdk/sdk/api_client/models/output_port_input_port.py
Due: regen-openapi-spec, local-fe-check

Added select existing exploration flow
  backend/app/abstract_data_product/service.py
  backend/app/explorations/router.py
  backend/app/explorations/schema_request.py
  backend/app/explorations/schema_response.py
  backend/tests/app/explorations/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/constants/posthog.constants.ts
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/cart-overview.component.tsx
  frontend/src/pages/cart-explorations/components/existing-exploration-form.tsx
  frontend/src/pages/cart-explorations/components/form-item-issues.tsx
  frontend/src/pages/cart-explorations/components/form-item-justification.tsx
  frontend/src/pages/cart-explorations/components/new-data-product-form.tsx
  frontend/src/pages/cart-explorations/components/new-exploration-form.tsx
  frontend/src/pages/cart-explorations/hooks/use-cart-overlap-check.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/api/services/tags/explorationTags.ts
  frontend/src/tests/mocks/explorations.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
  sdk/sdk/api_client/api/explorations/request_input_ports_for_exploration.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/create_exploration_request_with_input_ports.py
  sdk/sdk/api_client/models/request_input_ports_for_exploration_request.py
  sdk/sdk/api_client/models/request_input_ports_for_exploration_response.py
Due: regen-openapi-spec, local-fe-check

Added select existing exploration flow (#3292)
  backend/app/abstract_data_product/service.py
  backend/app/explorations/router.py
  backend/app/explorations/schema_request.py
  backend/app/explorations/schema_response.py
  backend/tests/app/explorations/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/constants/posthog.constants.ts
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/cart-overview.component.tsx
  frontend/src/pages/cart-explorations/components/existing-exploration-form.tsx
  frontend/src/pages/cart-explorations/components/form-item-issues.tsx
  frontend/src/pages/cart-explorations/components/form-item-justification.tsx
  frontend/src/pages/cart-explorations/components/new-data-product-form.tsx
  frontend/src/pages/cart-explorations/components/new-exploration-form.tsx
  frontend/src/pages/cart-explorations/hooks/use-cart-overlap-check.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/api/services/tags/explorationTags.ts
  frontend/src/tests/mocks/explorations.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
  sdk/sdk/api_client/api/explorations/request_input_ports_for_exploration.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/create_exploration_request_with_input_ports.py
  sdk/sdk/api_client/models/request_input_ports_for_exploration_request.py
  sdk/sdk/api_client/models/request_input_ports_for_exploration_response.py
Due: regen-openapi-spec, local-fe-check

Added support for input ports on create data product
  backend/app/data_products/router.py
  backend/app/data_products/schema_request.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/test_router.py
  docs/static/openapi.json
  frontend/src/pages/cart-explorations/components/existing-data-product-form.tsx
  frontend/src/pages/cart-explorations/components/new-data-product-form.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/tags/dataProductTags.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
  sdk/sdk/api_client/api/data_products/request_input_ports_for_data_product.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/data_product_create.py
  sdk/sdk/api_client/models/request_input_ports_for_data_product_request.py
  sdk/sdk/api_client/models/request_input_ports_for_data_product_response.py
Due: regen-openapi-spec, local-fe-check

Persist choices in cart
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/store/features/cart/cart-slice.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
Due: local-fe-check

Domain migration UI for Explorations
  backend/app/configuration/domains/model.py
  backend/app/configuration/domains/schema_response.py
  backend/app/configuration/domains/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/tests/app/domains/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/marketplace/dataset-marketplace-card/dataset-card-tooltip.component.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-card-tooltip.component.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-consumers-list.component.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card.component.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card.module.scss
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table.component.tsx
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/tests/mocks/configurationDomains.ts
  frontend/src/tests/mocks/outputPortsSearch.ts
  sdk/sdk/api_client/models/get_domains_item.py
  sdk/sdk/api_client/models/search_output_ports_response_item.py
Due: regen-openapi-spec, local-fe-check

fine-tuning the demo data and layout and hiding some tabs for the demo
  demo/basic/.env.portal
  demo/basic/compose.yaml
  demo/basic/portal_seed.sql
  demo/basic/products/campaign_activation/models/schema.yml
  demo/basic/products/marketing_customer_360/models/schema.yml
  demo/basic/products/sales_crm_customers/models/schema.yml
  demo/basic/products/upload_metadata.py
  frontend/biome.json
  frontend/config.demo.js
  frontend/public/locales/en/translation.json
  frontend/src/components/rich-text/text-editor/text-editor.module.scss
  frontend/src/config/app-config.ts
  frontend/src/pages/data-output/components/data-output-tabs/data-output-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
Due: local-fe-check

docs: add MCP freshness enrichment design spec
  docs/specs/2026-04-28-mcp-freshness-design.md
Due: none

docs: add MCP freshness implementation plan
  docs/specs/2026-04-28-mcp-freshness-plan.md
Due: none

feat(mcp): expose freshness data in get_output_port_details
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_get_output_port_details_freshness.py
Due: regen-openapi-spec

fix(mcp): set get_latest_observation return value to None in no-slo test
  backend/tests/app/mcp/test_get_output_port_details_freshness.py
Due: regen-openapi-spec

refactor(mcp): simplify freshness enrichment using dataset ORM properties
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_get_output_port_details_freshness.py
Due: regen-openapi-spec

docs: add MCP usage/cost tool design spec
  docs/specs/2026-04-28-mcp-usage-cost-design.md
Due: none

docs: add MCP usage/cost tool implementation plan
  docs/specs/2026-04-28-mcp-usage-cost-plan.md
Due: none

test(mcp): add failing tests for get_data_product_usage
  backend/tests/app/mcp/test_get_data_product_usage.py
Due: regen-openapi-spec

test(mcp): apply ruff formatting to get_data_product_usage tests
  backend/tests/app/mcp/test_get_data_product_usage.py
Due: regen-openapi-spec

feat(mcp): add get_data_product_usage tool for cost and consumer query stats
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

fix(mcp): validate day_range, filter sentinel consumer, handle null consumer name
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

test(mcp): add edge case tests for day_range, sentinel filter, null consumer name
  backend/tests/app/mcp/test_get_data_product_usage.py
Due: regen-openapi-spec

feat(mcp): add get_lineage_graph tool for lineage and deprecation impact queries
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_get_lineage_graph.py
Due: regen-openapi-spec

fix(mcp): use model_dump(mode=json) for UUID serialization in get_lineage_graph
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_get_lineage_graph.py
Due: regen-openapi-spec

feat(mcp): add consuming_data_products with justification to get_output_port_details
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_mcp_tools.py
Due: regen-openapi-spec

feat(mcp): add input_ports with justification to get_data_product_analytics
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_mcp_tools.py
Due: regen-openapi-spec

docs: add design spec for get_output_port_model MCP tool
  docs/superpowers/specs/2026-04-28-get-output-port-model-mcp-tool-design.md
Due: none

feat(mcp): add get_output_port_model tool for schema and PII tag discovery
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_get_output_port_model.py
Due: regen-openapi-spec

docs: add design spec for MCP entity ontology resource
  docs/superpowers/specs/2026-04-28-mcp-entity-ontology-design.md
Due: none

docs: add implementation plan for MCP entity ontology
  docs/superpowers/plans/2026-04-28-mcp-entity-ontology.md
Due: none

feat(mcp): add portal://ontology resource and entity hierarchy to instructions
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

test(mcp): add tests for portal://ontology resource
  backend/tests/app/mcp/test_ontology_resource.py
Due: regen-openapi-spec

Persist choices in cart (#3295)
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/store/features/cart/cart-slice.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
Due: local-fe-check

Empty cart page
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/cart-overview.component.tsx
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
Due: local-fe-check
