Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Stateless http
  backend/app/main.py
  backend/app/settings.py
Due: regen-openapi-spec

fix: Drop expiry_event_sent, reuse event dispatch
  backend/app/abstract_data_product/input_ports/background_tasks.py
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/core/webhooks/v2.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/database/alembic/versions/2026_07_24_1000-d4e1f9a2b6c7_add_expiry_event_sent_to_input_ports.py
  backend/app/main.py
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/conftest.py
  backend/tests/sdk/test_webhook_integration.py
Due: regen-openapi-spec

fix: Skip no-op status writes to avoid spurious events
  backend/app/abstract_data_product/input_ports/background_tasks.py
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/core/context.py
Due: regen-openapi-spec

fix: Emit a distinct event when input port access expires
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/core/webhooks/events.py
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  backend/tests/app/abstract_data_product/input_ports/test_events.py
Due: regen-openapi-spec

Revert "fix: Emit a distinct event when input port access expires"
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/core/webhooks/events.py
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  backend/tests/app/abstract_data_product/input_ports/test_events.py
Due: regen-openapi-spec

resolve simplify background task and webhook flow
  backend/app/core/webhooks/v2.py
  backend/app/main.py
Due: regen-openapi-spec

Fix auth dependency
  backend/app/mcp/deps.py
  backend/app/technical_asset_configuration/glue/mcp_tools.py
  backend/poetry.lock
  backend/pyproject.toml
Due: regen-openapi-spec

Top level import
  backend/app/technical_asset_configuration/glue/mcp_tools.py
Due: regen-openapi-spec

Remove obsolete setting
  backend/app/settings.py
Due: regen-openapi-spec

Remove sdk copy for dependency
  Dockerfile
Due: none

chore: release 0.7.0
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

Add find-docs skill for Claude Code and GitHub Copilot (#3929)
  .claude/skills/find-docs/SKILL.md
Due: none

feat: Expire lapsed input port grants via a daily background task (#3927)
  backend/app/abstract_data_product/input_ports/background_tasks.py
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/core/context.py
  backend/app/core/webhooks/v2.py
  backend/app/main.py
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  backend/tests/app/explorations/test_event_emission.py
  backend/tests/conftest.py
  backend/tests/sdk/test_webhook_integration.py
Due: regen-openapi-spec

Fix cross product query access by passing namespace to workgroup template
  backend/app/technical_asset_configuration/glue/mcp_tools.py
Due: regen-openapi-spec

Extracted into files
  backend/app/mcp/config.py
  backend/app/mcp/details.py
  backend/app/mcp/mcp.py
  backend/app/mcp/permissions.py
  backend/app/mcp/resources.py
  backend/app/mcp/search.py
Due: regen-openapi-spec

Update backend/app/technical_asset_configuration/glue/mcp_tools.py
  backend/app/technical_asset_configuration/glue/mcp_tools.py
Due: regen-openapi-spec

Fix pr comments
  backend/app/mcp/mcp.py
  backend/app/technical_asset_configuration/glue/mcp_tools.py
Due: regen-openapi-spec

Remove postgres store
  backend/app/mcp/deps.py
Due: regen-openapi-spec

Fix precommit and tests
  backend/app/mcp/details.py
  backend/app/mcp/search.py
  backend/tests/app/mcp/test_mcp.py
Due: regen-openapi-spec

Revert "Remove postgres store"
  backend/app/mcp/deps.py
Due: regen-openapi-spec

Raise error if env does not exist
  backend/app/technical_asset_configuration/glue/mcp_tools.py
Due: regen-openapi-spec

Add mcp glue tool tests
  backend/tests/app/technical_asset_configuration/glue/__init__.py
  backend/tests/app/technical_asset_configuration/glue/test_mcp_tools.py
Due: regen-openapi-spec

fix: Compare admin expiry in UTC instead of server clock
  backend/app/core/authz/background_tasks.py
  backend/app/core/webhooks/webhook.py
  backend/tests/app/core/authz/test_background_tasks.py
Due: regen-openapi-spec

feat: Show requested access duration in review modal
  backend/app/data_products/output_ports/input_ports/schema.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/users/schema_response.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/tests/mocks/dataProducts.ts
  frontend/src/tests/mocks/explorations.ts
  frontend/src/tests/pages/product-studio/components/requests-panel/pending-access-requests/pending-access-requests-modal/review-request-modal.tsx.test.tsx
  sdk/sdk/api_client/models/input_port_request.py
  sdk/sdk/api_client/models/input_port_request_base.py
  sdk/sdk/api_client/models/user_input_port.py
Due: regen-openapi-spec, local-fe-check

feat: hierarchical agent.md files with updated content
  AGENTS.md
  backend/AGENTS.md
  backend/CLAUDE.md
  frontend/AGENTS.md
  frontend/CLAUDE.md
Due: none

Update AGENTS.md
  frontend/AGENTS.md
Due: none

refactor: Use Ant Design theme tokens in review request modal and clean up unused code
  backend/app/data_products/output_ports/input_ports/service.py
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
Due: regen-openapi-spec, local-fe-check

refactor: update the agents.md after review with team
  AGENTS.md
  backend/AGENTS.md
  frontend/AGENTS.md
Due: none

resolve: update release notes
  docs/docs/release-notes.md
Due: none

feat: hierarchical agent.md files with updated content (#3974)
  AGENTS.md
  backend/AGENTS.md
  backend/CLAUDE.md
  frontend/AGENTS.md
  frontend/CLAUDE.md
Due: none

fix: Compare admin expiry in UTC instead of server clock (#3975)
  backend/app/core/authz/background_tasks.py
  backend/app/core/webhooks/webhook.py
  backend/tests/app/core/authz/test_background_tasks.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

No longer raise tool error
  backend/app/technical_asset_configuration/glue/mcp_tools.py
Due: regen-openapi-spec

resolve: clean up date caclulcation typescript
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
Due: local-fe-check

Test on correct exceptions
  backend/tests/app/technical_asset_configuration/glue/test_mcp_tools.py
Due: regen-openapi-spec

Remove intermediate build step
  .github/workflows/docker-build-main.yml
Due: none

fix: front end design alignement
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
Due: local-fe-check

Feature/mcp athena query access (#3279)
  backend/app/configuration/environments/platform_service_configurations/schemas/glue_schema.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/database/database.py
  backend/app/main.py
  backend/app/mcp/config.py
  backend/app/mcp/deps.py
  backend/app/mcp/details.py
  backend/app/mcp/loader.py
  backend/app/mcp/mcp.py
  backend/app/mcp/permissions.py
  backend/app/mcp/resources.py
  backend/app/mcp/search.py
  backend/app/settings.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/glue/mcp_tools.py
  backend/app/technical_asset_configuration/glue/schema.py
  backend/poetry.lock
  backend/tests/app/mcp/test_mcp.py
  backend/tests/app/technical_asset_configuration/glue/__init__.py
  backend/tests/app/technical_asset_configuration/glue/test_mcp_tools.py
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  sdk/poetry.lock
  sdk/sdk/api_client/models/aws_glue_config.py
Due: regen-openapi-spec, local-fe-check

Add event on project setting change
  backend/app/configuration/data_product_settings/model.py
  backend/app/core/webhooks/events.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cloud_event_data_product_setting_value_event.py
  sdk/sdk/api_client/models/data_product_setting_value_event.py
  sdk/sdk/provisioner/reconcile_manager.py
Due: regen-openapi-spec

Fix it for output ports
  backend/app/configuration/data_product_settings/model.py
  backend/app/configuration/data_product_settings/service.py
Due: regen-openapi-spec
