Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Added reasoning
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema.py
  backend/app/data_products/output_ports/input_ports/schema_request.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/database/alembic/versions/2026_06_23_1607-bef60a60b7e3_added_reasoning_to_input_port.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-modal/request-handlers.ts
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-modal/request-utils.ts
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-modal/review-button.tsx
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-modal/use-table-columns.tsx
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-view.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/tests/pages/product-studio/components/requests-panel/pending-access-requests/pending-access-requests-modal/review-request-modal.tsx.test.tsx
  sdk/sdk/api_client/api/data_products_output_ports_input_ports/get_input_ports_for_output_port.py
  sdk/sdk/api_client/models/approve_output_port_as_input_port_request.py
  sdk/sdk/api_client/models/deny_output_port_as_input_port_request.py
  sdk/sdk/api_client/models/input_port.py
  sdk/sdk/api_client/models/output_port_input_port.py
Due: regen-openapi-spec, local-fe-check

Move agents demo to use the reconciler-style provider
  demo/agents/.env.portal
  demo/agents/README.md
  demo/agents/compose.yaml
  demo/agents/provisioner/Dockerfile
  demo/agents/provisioner/poetry.lock
  demo/agents/provisioner/provisioner/main.py
  demo/agents/provisioner/provisioner/reconciler.py
  demo/agents/provisioner/pyproject.toml
  demo/agents/setup/create_products.py
  demo/basic/provisioner/provisioner/reconciler.py
  sdk/sdk/provisioner/event_handler.py
Due: none

Added 2 question to the FAQ for provisioner
  docs/docs/developer-guide/provisioner.md
Due: none

Added some extra posthog events (#3704)
  frontend/src/constants/posthog.constants.ts
  frontend/src/hooks/use-tab-param.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
Due: local-fe-check

WIP
  backend/app/data_products/output_ports/input_ports/schema_response.py
  backend/app/pending_actions/schema.py
  backend/sample_data.sql
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-botton.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/input-port-reasoning-modal/input-port-reasoning-button.tsx
  frontend/src/components/input-port-reasoning-modal/input-port-reasoning-modal.tsx
  frontend/src/components/pending-access-requests-modal/request-handlers.ts
  frontend/src/components/pending-access-requests-modal/request-utils.ts
  frontend/src/components/pending-access-requests-modal/review-button.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table.component.tsx
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-view.tsx
  frontend/src/pages/product-studio/components/requests-panel/use-table-columns.tsx
  frontend/src/tests/pages/product-studio/components/requests-panel/pending-access-requests/pending-access-requests-modal/review-request-modal.tsx.test.tsx
Due: regen-openapi-spec, local-fe-check

SDK poetry lock
  sdk/poetry.lock
Due: none

Add sdk
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Reuse local sdk for tests
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Revert and add sdk to docker
  Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Fix tests
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

Guide the user when data model is empty
  frontend/public/locales/en/translation.json
  frontend/src/components/empty/empty-list/empty-list.component.tsx
  frontend/src/components/empty/empty-list/empty-list.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/about-tab/about-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/about-tab/about-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
Due: local-fe-check

Run biome
  frontend/package-lock.json
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
Due: local-fe-check

Add MCP_BASE_URL
  backend/app/mcp/mcp.py
  backend/app/settings.py
Due: regen-openapi-spec

Guide the user when data model is empty (#3705)
  frontend/package-lock.json
  frontend/public/locales/en/translation.json
  frontend/src/components/empty/empty-list/empty-list.component.tsx
  frontend/src/components/empty/empty-list/empty-list.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/about-tab/about-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/about-tab/about-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/data-model-tab/data-model-tab.tsx
Due: local-fe-check

Added exploration documentation (#3703)
  docs/docs/concepts/concept-linking.md
  docs/docs/concepts/data-products.md
  docs/docs/concepts/explorations.md
  docs/docs/concepts/img/exploration.png
  docs/docs/concepts/input-ports.md
  docs/docs/concepts/output-ports.md
  docs/docs/concepts/technical-assets.md
  docs/docusaurus.config.ts
Due: none

Fix issue with Depends
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

Add api key auth to sdk
  sdk/sdk/auth.py
Due: none

Fix authentication for finalizers on explorations
  backend/app/explorations/router.py
Due: regen-openapi-spec

fix: exclude the requester from approver email recipients (#3265)
  backend/app/abstract_data_product/service.py
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/tests/app/abstract_data_product/test_service.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
Due: regen-openapi-spec

test: add distinct approver to dataset-link manual-approval email test
  backend/tests/app/data_products/technical_assets/test_router.py
Due: regen-openapi-spec

Less hacky-hacky, more standardized options
  backend/app/main.py
Due: regen-openapi-spec

Use OpenAPI spec for tests instead of routes
  backend/tests/app/shared/test_router.py
Due: regen-openapi-spec

Move agents demo to use the reconciler-style provider (#3706)
  demo/agents/.env.portal
  demo/agents/README.md
  demo/agents/compose.yaml
  demo/agents/provisioner/Dockerfile
  demo/agents/provisioner/poetry.lock
  demo/agents/provisioner/provisioner/main.py
  demo/agents/provisioner/provisioner/reconciler.py
  demo/agents/provisioner/pyproject.toml
  demo/agents/setup/create_products.py
  demo/basic/provisioner/provisioner/reconciler.py
  sdk/sdk/provisioner/event_handler.py
Due: none

fix: exclude the requester from approver email recipients (#3265) (#3728)
  backend/app/abstract_data_product/service.py
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/tests/app/abstract_data_product/test_service.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
Due: regen-openapi-spec

Deletes was still broken
  backend/app/explorations/router.py
Due: regen-openapi-spec

Update requirements
  backend/requirements-poetry.txt
  demo/agents/provisioner/requirements-poetry.txt
  demo/basic/provisioner/requirements-poetry.txt
Due: none

Update lock
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Fix opentelemetry traces broken after fastapi upgrade
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Revert fastapi downgrade
  backend/poetry.lock
  backend/pyproject.toml
Due: none

Admin settings UI part 1
  frontend/public/locales/en/translation.json
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-policy-tab.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/access-policy-form/access-policy-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/access-policy-form/access-policy-form.module.scss
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.component.tsx
Due: local-fe-check

Add unit test to prevent tracing import erro rs in the future
  backend/tests/app/core/test_tracing.py
Due: regen-openapi-spec

Fix issue with test
  backend/tests/app/core/test_tracing.py
Due: regen-openapi-spec

fix: partial/prefix matching in output port search
  backend/app/data_products/output_ports/service.py
  backend/tests/app/data_products/output_ports/test_service.py
Due: regen-openapi-spec

Update requirements (#3753)
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements-poetry.txt
  backend/tests/app/core/test_tracing.py
  demo/agents/provisioner/requirements-poetry.txt
  demo/basic/provisioner/requirements-poetry.txt
Due: regen-openapi-spec

fix: preserve websearch operators and Unicode terms while adding prefix matching
  backend/app/data_products/output_ports/service.py
  backend/tests/app/data_products/output_ports/test_service.py
Due: regen-openapi-spec

Remove unneeded css
  frontend/src/pages/settings/components/settings-tabs/components/access-policy-form/access-policy-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/access-policy-form/access-policy-form.module.scss
Due: local-fe-check

Allow deleting an Exploration from the frontend
  frontend/biome.json
  frontend/package-lock.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-outputs/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/explorations/exploration-form/exploration-form-items.component.tsx
  frontend/src/components/explorations/exploration-form/exploration-form.component.tsx
  frontend/src/components/resource-name/resource-name-form-item.tsx
  frontend/src/pages/data-product-edit/data-product-edit.page.tsx
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/exploration-edit/exploration-edit.page.tsx
  frontend/src/pages/exploration/components/exploration-start.tsx
  frontend/src/pages/exploration/exploration.module.scss
  frontend/src/pages/exploration/exploration.page.tsx
  frontend/src/routes.tsx
  frontend/src/types/navigation.ts
  frontend/src/utils/routes.helper.ts
Due: local-fe-check

Update release notes
  docs/docs/release-notes.md
Due: none

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
