Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

chore: release 0.5.0
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
Due: none

Small cleanup (#2740)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/charts/custom-nodes/data-product-node/data-product-node.tsx
  frontend/src/components/charts/custom-nodes/dataoutput-node/dataoutput-node.tsx
  frontend/src/components/charts/custom-nodes/dataset-node/dataset-node.tsx
  frontend/src/store/features/feedback/utils/dispatch-feedback.ts
Due: local-fe-check

Fix only show output ports in explorer
  backend/app/graph/service.py
Due: regen-openapi-spec

Fix/explorer graph: Only output ports was broken (#2744)
  backend/app/graph/service.py
Due: regen-openapi-spec

Add missing export
  frontend/src/utils/pending-request.helper.ts
Due: local-fe-check

Add link_to_id in detailed explorer graphs
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
Due: regen-openapi-spec

Fix correct fetching of graph for output ports and technical assets
  frontend/src/components/explorer/explorer.tsx
  frontend/src/pages/data-output/components/data-output-tabs/data-output-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
Due: local-fe-check

Update unit test
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

Updated v2 docs
  docs/docs/release-notes.md
  docs/docs/technical-reference/api-v2.md
Due: none

Updated v2 docs (#2746)
  docs/docs/release-notes.md
  docs/docs/technical-reference/api-v2.md
Due: none

Add link_to_id in detailed explorer graphs (#2745)
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/tests/app/data_products/output_ports/test_router.py
  frontend/src/components/explorer/explorer.tsx
  frontend/src/pages/data-output/components/data-output-tabs/data-output-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
Due: regen-openapi-spec, local-fe-check

chore: release 0.4.x
  docs/versioned_docs/version-0.4.x/release-notes.md
Due: none

Add version 0.4.x
  docs/docusaurus.config.ts
Due: none

Update docs process
  README.md
Due: none

Initial creation of embeddings
  backend/app/database/alembic/versions/2026_02_23_1809-638303a2cb77_create_embeddings.py
Due: regen-openapi-spec

WIP
  backend/README.md
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/database/alembic/versions/2026_02_23_1718-c6bf8bf62e6e_index_on_dataset_data_product_id.py
  backend/app/database/database.py
  backend/app/graph/service.py
  backend/app/settings.py
  docs/static/openapi.json
Due: regen-openapi-spec

All data products was not fetched
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
Due: local-fe-check

Add latest version
  docs/docusaurus.config.ts
Due: none

All data products was not fetched (#2763)
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
Due: local-fe-check

Update latest release notes
  docs/docs/release-notes.md
Due: none

Initial creation of embeddings (#2749)
  backend/app/database/alembic/versions/2026_02_23_1809-638303a2cb77_create_embeddings.py
Due: regen-openapi-spec

Kick out requests for this release
  docs/docs/release-notes.md
Due: none

Release 0.5.0 (#2741)
  README.md
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/docusaurus.config.ts
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
Due: none

Revert aws disabled setting
  backend/app/settings.py
Due: regen-openapi-spec

Revert/settings aws (#2770)
  backend/app/settings.py
Due: regen-openapi-spec

Fix correct directories for golang release
  .github/workflows/release-workflow.yml
Due: none

Fix correct directories for golang release (#2771)
  .github/workflows/release-workflow.yml
Due: none

Improve the loading speed of explorer
  backend/app/graph/node.py
  backend/app/graph/router.py
  backend/app/graph/service.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/graph/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/node-editor/node-editor.tsx
  frontend/src/components/explorer/explorer.module.scss
  frontend/src/components/explorer/explorer.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/sidebar/node-context.tsx
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/utils/node-parser.helper.ts
Due: regen-openapi-spec, local-fe-check

Improve the loading speed of explorer (#2772)
  backend/app/graph/node.py
  backend/app/graph/router.py
  backend/app/graph/service.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/graph/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/node-editor/node-editor.tsx
  frontend/src/components/explorer/explorer.module.scss
  frontend/src/components/explorer/explorer.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/sidebar/node-context.tsx
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/utils/node-parser.helper.ts
Due: regen-openapi-spec, local-fe-check

First version of Action Center
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-dataset-justification/justification.component.tsx
  frontend/src/components/empty/under-construction/under-construction.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/components/team-table/team-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/components/data-output-table/data-output-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/components/team-table/team-table.component.tsx
  frontend/src/pages/home/components/action-center/action-center.tsx
  frontend/src/pages/home/components/action-center/index.ts
  frontend/src/pages/home/components/pending-approvals-inbox/pending-approvals-inbox.module.scss
  frontend/src/pages/home/components/pending-approvals-inbox/pending-approvals-inbox.tsx
  frontend/src/pages/home/components/pending-approvals-inbox/pending-approvals-item.tsx
  frontend/src/pages/home/components/pending-approvals-inbox/pending-approvals-list.tsx
  frontend/src/pages/home/components/pending-approvals-inbox/pending-approvals-menu-tabs.tsx
  frontend/src/pages/home/components/pending-approvals-inbox/pending-approvals-types.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/utils/pending-action.helper.ts
Due: local-fe-check

Migrate from i18next-parser to i18next-cli
  frontend/i18next-parser.config.js
  frontend/i18next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/node-editor/node-editor.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/utils/history.helper.tsx
Due: local-fe-check

Fix pre-commit
  .pre-commit-config.yaml
  frontend/README.md
Due: none

Added slow query logging support
  backend/README.md
  backend/app/database/database.py
  backend/app/settings.py
Due: regen-openapi-spec

Wrote ADR about slow queries
  docs/adr/0013-slow-queries.md
Due: none

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
