Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Let a plugin skip platforms and platform services
  backend/app/data_products/technical_assets/schema.py
  backend/app/data_products/technical_assets/schema_request.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/tests/app/data_products/technical_assets/test_schema_response.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  sdk/sdk/api_client/models/create_technical_asset_request.py
  sdk/sdk/api_client/models/get_technical_assets_response_item.py
  sdk/sdk/api_client/models/owned_technical_asset.py
  sdk/sdk/api_client/models/technical_asset.py
Due: regen-openapi-spec, local-fe-check

Ship GitHub and S3 as installed plugins
  .github/workflows/release-workflow.yml
  .github/workflows/tests.yml
  Dockerfile
  backend/app/technical_asset_configuration/schema_union.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/plugins/test_router.py
  backend/tests/factories/s3_data_output.py
  backend/tests/plugins/__init__.py
  backend/tests/plugins/github/__init__.py
  backend/tests/plugins/github/test_schema.py
  backend/tests/plugins/s3/__init__.py
  backend/tests/plugins/s3/test_schema.py
  plugins/portal_plugins/__init__.py
  plugins/portal_plugins/github/__init__.py
  plugins/portal_plugins/github/plugin.py
  plugins/portal_plugins/s3/__init__.py
  plugins/portal_plugins/s3/model.py
  plugins/portal_plugins/s3/plugin.py
  plugins/portal_plugins/s3/versions/__init__.py
  plugins/portal_plugins/s3/versions/s3_0001_baseline.py
  plugins/pyproject.toml
Due: regen-openapi-spec

Stage generated SDK files only in CI (#4324)
  scripts/check_generated_sdk.sh
Due: none

Update backend/app/technical_asset_configuration/__init__.py
  backend/app/technical_asset_configuration/__init__.py
Due: regen-openapi-spec

Find technical asset plugins through a registry
  .github/workflows/release-workflow.yml
  backend/app/mcp/loader.py
  backend/app/mcp/mcp.py
  backend/app/plugins/__init__.py
  backend/app/plugins/registry.py
  backend/app/plugins/runtime.py
  backend/app/technical_asset_configuration/__init__.py
  backend/app/technical_asset_configuration/agno/schema.py
  backend/app/technical_asset_configuration/azure_blob/schema.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/coder/schema.py
  backend/app/technical_asset_configuration/conveyor/schema.py
  backend/app/technical_asset_configuration/databricks/schema.py
  backend/app/technical_asset_configuration/github/schema.py
  backend/app/technical_asset_configuration/glue/schema.py
  backend/app/technical_asset_configuration/osi_sem_model/schema.py
  backend/app/technical_asset_configuration/postgresql/schema.py
  backend/app/technical_asset_configuration/redshift/schema.py
  backend/app/technical_asset_configuration/rustfs/schema.py
  backend/app/technical_asset_configuration/s3/schema.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/app/technical_asset_configuration/service.py
  backend/app/technical_asset_configuration/snowflake/schema.py
  backend/pyproject.toml
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/plugins/test_runtime.py
Due: regen-openapi-spec

cleanup: comment
  backend/app/plugins/runtime.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/plugins/test_runtime.py
Due: regen-openapi-spec

Discover in-tree plugins through entry points too
  Dockerfile
  backend/app/plugins/registry.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/app/technical_asset_configuration/service.py
  backend/pyproject.toml
  backend/tests/app/plugins/test_registry.py
Due: regen-openapi-spec

Update .claude/skills/cypress-selector/SKILL.md
  .claude/skills/cypress-selector/SKILL.md
Due: none

Update frontend/cypress/e2e/explorer.cy.ts
  frontend/cypress/e2e/explorer.cy.ts
Due: local-fe-check

Fix issues with access durations returning lists
  backend/app/configuration/access_durations/router.py
  backend/app/configuration/access_durations/schema_response.py
  backend/tests/app/configurations/access_durations/test_router.py
  backend/tests/app/shared/test_router.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/biome.json
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/pages/output-port/components/dataset-tabs/settings-tab/settings-tab.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-durations.tsx
  frontend/src/store/api/services/generated/configurationAccessDurationsApi.ts
  frontend/src/tests/mocks/configurationAccessDurations.ts
  frontend/src/tests/pages/settings/access-policy-tab/access-durations.test.tsx
  sdk/sdk/api_client/api/configuration_access_durations/get_all_access_durations.py
  sdk/sdk/api_client/api/configuration_access_durations/update_access_duration.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/get_access_duration_response.py
  sdk/sdk/api_client/models/update_access_duration_response.py
Due: regen-openapi-spec, local-fe-check

Fix issues with access durations returning lists (#4331)
  backend/app/configuration/access_durations/router.py
  backend/app/configuration/access_durations/schema_response.py
  backend/tests/app/configurations/access_durations/test_router.py
  backend/tests/app/shared/test_router.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/biome.json
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/pages/output-port/components/dataset-tabs/settings-tab/settings-tab.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-durations.tsx
  frontend/src/store/api/services/generated/configurationAccessDurationsApi.ts
  frontend/src/tests/mocks/configurationAccessDurations.ts
  frontend/src/tests/pages/settings/access-policy-tab/access-durations.test.tsx
  sdk/sdk/api_client/api/configuration_access_durations/get_all_access_durations.py
  sdk/sdk/api_client/api/configuration_access_durations/update_access_duration.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/get_access_duration_response.py
  sdk/sdk/api_client/models/update_access_duration_response.py
Due: regen-openapi-spec, local-fe-check

resolve: remove call_plugin entrypoint, also fix enabled to discoverd in ceratin fielsd.
  backend/app/mcp/loader.py
  backend/app/plugins/registry.py
  backend/app/plugins/runtime.py
  backend/app/technical_asset_configuration/service.py
  backend/tests/app/mcp/__init__.py
  backend/tests/app/mcp/test_loader.py
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/plugins/test_runtime.py
  backend/tests/app/technical_asset_configuration/test_service.py
Due: regen-openapi-spec

Copy the readme the package build needs
  Dockerfile
Due: none

Resolve PR comments
  backend/sample_data.sql
  frontend/cypress/e2e/explorer.cy.ts
  frontend/cypress/e2e/marketplace-checkout.cy.ts
  frontend/public/locales/en/translation.json
  frontend/src/components/card-selection/card-selection.tsx
  frontend/src/components/charts/custom-nodes/base-node/base-node.tsx
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/cart/components/form-item-justification.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
Due: local-fe-check

add clause to queries so groups user belongs to are also considered
  backend/app/data_products/model.py
  backend/app/data_products/service.py
Due: regen-openapi-spec

Added Cypress e2e tests (#4317)
  .claude/skills/cypress-selector/SKILL.md
  .github/workflows/nightly-build.yml
  .github/workflows/release-workflow.yml
  backend/sample_data.sql
  frontend/.gitignore
  frontend/cypress.config.ts
  frontend/cypress/e2e/detail-pages.cy.ts
  frontend/cypress/e2e/explorer.cy.ts
  frontend/cypress/e2e/marketplace-checkout.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/components/card-selection/card-selection.tsx
  frontend/src/components/charts/custom-edges/default-edge.tsx
  frontend/src/components/charts/custom-edges/straight-edge.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card.component.tsx
Due: local-fe-check

Rename data_output in events
  backend/app/data_products/output_ports/router.py
  backend/app/events/model.py
  backend/app/events/schema_response.py
  backend/app/events/service.py
Due: regen-openapi-spec

Ensure data-cy is not overused in these new flows
  frontend/cypress/e2e/approve-access-request.cy.ts
  frontend/cypress/e2e/create-data-product.cy.ts
  frontend/cypress/e2e/edit-data-product.cy.ts
  frontend/cypress/e2e/output-port-management.cy.ts
  frontend/cypress/e2e/role-assignment.cy.ts
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/modal/user-popup/user-popup.tsx
  frontend/src/components/output-ports/output-port-card/output-port-card.component.tsx
  frontend/src/components/output-ports/output-port-card/technical-asset-link-modal.component.tsx
  frontend/src/components/pending-access-requests-modal/review-button.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/technical-asset-tab/components/output-ports-table/output-ports-table.component.tsx
Due: local-fe-check

Rename data_output in events (#4335)
  backend/app/data_products/output_ports/router.py
  backend/app/events/model.py
  backend/app/events/schema_response.py
  backend/app/events/service.py
Due: regen-openapi-spec

Remove dead data-cy references
  frontend/src/components/output-ports/output-port-card/technical-asset-link-modal.component.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/pages/cart/components/existing-data-product-form.tsx
Due: local-fe-check

Resolve copilot comments
  frontend/cypress/e2e/output-port-management.cy.ts
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
Due: local-fe-check

Update backend/app/plugins/registry.py
  backend/app/plugins/registry.py
Due: regen-openapi-spec

Resolve comments on Cypress tests
  frontend/cypress/e2e/approve-access-request.cy.ts
  frontend/cypress/e2e/create-data-product.cy.ts
  frontend/cypress/e2e/create-output-port.cy.ts
  frontend/cypress/e2e/edit-data-product.cy.ts
Due: local-fe-check

resolve: comments, fail fast
  backend/app/plugins/registry.py
  backend/app/technical_asset_configuration/service.py
  backend/tests/app/technical_asset_configuration/test_service.py
Due: regen-openapi-spec

Feature/more e2e flows (#4338)
  frontend/cypress/e2e/approve-access-request.cy.ts
  frontend/cypress/e2e/create-data-product.cy.ts
  frontend/cypress/e2e/create-output-port.cy.ts
  frontend/cypress/e2e/role-assignment.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/index.d.ts
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/components/modal/user-popup/user-popup.tsx
  frontend/src/components/output-ports/output-port-card/output-port-card.component.tsx
  frontend/src/components/output-ports/output-port-card/technical-asset-link-modal.component.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/components/resource-name/resource-name-form-item.tsx
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/product-studio/components/pending-access-requests-tab/pending-access-requests-tab.tsx
Due: local-fe-check

fix: remove old tests
  Taskfile.yml
  backend/tests/app/plugins/test_registry.py
Due: regen-openapi-spec

feat: add initial review skill
  .github/skills/code-review/SKILL.md
Due: none

fix: a bug where loading a configuration would fail for non config plugins, also cach the icon
  .github/skills/code-review/SKILL.md
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/tests/app/technical_asset_configuration/test_base_schema.py
  backend/tests/app/technical_asset_configuration/test_schema_union.py
  backend/tests/test_open_api_export.py
Due: regen-openapi-spec

fix various small bug fixes under which the demo env failing by importing non existing functionality (or removed func)
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/schema_response.py
  backend/tests/app/technical_asset_configuration/test_base_schema.py
  backend/tests/app/technical_asset_configuration/test_schema_union.py
  backend/tests/test_open_api_export.py
  demo/agents/provisioner/provisioner/reconciler.py
  demo/basic/provisioner/provisioner/reconciler.py
  docs/static/openapi.json
  sdk/sdk/api_client/models/technical_asset_plugin.py
Due: regen-openapi-spec

cleanup: comments and small hcanges
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/schema_response.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/tests/app/technical_asset_configuration/test_schema_union.py
  backend/tests/test_open_api_export.py
  frontend/src/utils/icon-loader.tsx
Due: regen-openapi-spec, local-fe-check

resolve: frontend tests that did nothing and added required configuration field
  backend/app/technical_asset_configuration/schema_union.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/utils/technical-asset-type.helper.test.tsx
  sdk/sdk/api_client/models/create_technical_asset_request_configuration.py
  sdk/sdk/api_client/models/get_technical_assets_response_item_configuration.py
  sdk/sdk/api_client/models/owned_technical_asset_configuration.py
  sdk/sdk/api_client/models/render_technical_asset_access_path_request_configuration.py
  sdk/sdk/api_client/models/technical_asset_configuration.py
Due: regen-openapi-spec, local-fe-check

Follow the registry changes from the PR below
  backend/app/technical_asset_configuration/schema_union.py
  backend/tests/app/technical_asset_configuration/test_schema_union.py
Due: regen-openapi-spec

fix: pre-commit
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
Due: none

cleanup: comment
  backend/tests/app/technical_asset_configuration/test_base_schema.py
Due: regen-openapi-spec

Note the configuration type change in the release notes
  docs/docs/release-notes.md
Due: none

Use system session for device flow
  backend/app/core/auth/device_flows/router.py
Due: regen-openapi-spec

Add release notes
  docs/docs/release-notes.md
Due: none

Fix/device flow (#4341)
  backend/app/core/auth/device_flows/router.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

chore: release 0.7.3
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
