Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Remove unused setNodes prop from Sidebar
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
Due: local-fe-check

Add release note for domain visualization in explorer
  docs/docs/release-notes.md
Due: none

Add Domains toggle to explorer sidebar
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
Due: local-fe-check

Add unit tests, fix TS error, and translation for domains toggle
  backend/tests/app/graph/test_router.py
  frontend/public/locales/en/translation.json
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/utils/node-parser.helper.test.ts
Due: regen-openapi-spec, local-fe-check

Apply ruff-format to test_router.py
  backend/tests/app/graph/test_router.py
Due: regen-openapi-spec

Replace 'as any' with Position.Left in node-parser test
  frontend/src/utils/node-parser.helper.test.ts
Due: local-fe-check

Fix biome lint errors: remove as any and useless fragment
  frontend/src/components/charts/node-editor/node-editor.tsx
  frontend/src/utils/node-parser.helper.test.ts
Due: local-fe-check

Fix test: avoid importing generated API types in node-parser test
  frontend/src/utils/node-parser.helper.test.ts
Due: local-fe-check

Fix test: use import type to avoid module execution
  frontend/src/utils/node-parser.helper.test.ts
Due: local-fe-check

Fancier modal
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/requests.module.scss
  frontend/src/components/requests/review-request-modal.tsx
Due: local-fe-check

updating AGENTS.md and adding CLAUDE.md file
  AGENTS.md
  CLAUDE.md
Due: none

Fix enum matching
  backend/app/graph/service.py
Due: regen-openapi-spec

Add tests
  backend/tests/app/graph/test_service.py
Due: regen-openapi-spec

Simpler tests
  backend/tests/app/graph/test_service.py
Due: regen-openapi-spec

Added release notes
  docs/docs/release-notes.md
Due: none

Fix enum matching (#2825)
  backend/app/graph/service.py
  backend/tests/app/graph/test_service.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

adding the semantic plugin
  backend/app/data_output_configuration/__init__.py
  backend/app/data_output_configuration/data_output_types.py
  backend/app/data_output_configuration/osi_sem_model/__init__.py
  backend/app/data_output_configuration/osi_sem_model/model.py
  backend/app/data_output_configuration/osi_sem_model/schema.py
  backend/app/data_output_configuration/schema_union.py
  backend/app/database/alembic/versions/2026_03_03_1000-a1b2c3d4e5f6_semantic_model_plugin.py
  demo/basic/.env.portal
  demo/basic/portal_seed.sql
  docs/docs/developer-guide/adding-integrations.md
  docs/static/openapi.json
  frontend/src/assets/icons/osi-border-icon.svg
  frontend/src/assets/icons/osi-logo.svg
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
Due: regen-openapi-spec, local-fe-check

Update AGENTS.md
  AGENTS.md
Due: none

fixing feedback and adding testing to the taskfile
  AGENTS.md
  Taskfile.yml
Due: none

adding the agentic demo
  backend/app/data_output_configuration/__init__.py
  backend/app/data_output_configuration/agno/__init__.py
  backend/app/data_output_configuration/agno/schema.py
  demo/README.md
  demo/agents/.env.data_sources
  demo/agents/.env.portal
  demo/agents/README.md
  demo/agents/Taskfile.yml
  demo/agents/agent/Dockerfile
  demo/agents/agent/dpp_agent/__init__.py
  demo/agents/agent/dpp_agent/server.py
  demo/agents/agent/pyproject.toml
  demo/agents/agent/skills/postgres-semantic/SKILL.md
  demo/agents/compose.yaml
  demo/agents/data_sources_seed.sql
  demo/agents/portal_seed.sql
  demo/agents/products/customer-demographic-master/osi.yml
  demo/agents/products/inventory-snapshot/osi.yml
  demo/agents/products/sales-transaction-ledger/osi.yml
  demo/agents/provisioner/Dockerfile
  demo/agents/provisioner/provisioner/__init__.py
  demo/agents/provisioner/provisioner/main.py
  demo/agents/provisioner/pyproject.toml
  demo/agents/setup/create_products.py
  frontend/src/assets/icons/agno-logo.svg
Due: regen-openapi-spec

fixing the intial setup
  .gitignore
  demo/agents/.env.secret.example
  demo/agents/README.md
  demo/agents/Taskfile.yml
  demo/agents/agent/Dockerfile
  demo/agents/agent/dpp_agent/server.py
  demo/agents/compose.yaml
  demo/agents/provisioner/provisioner/main.py
  demo/agents/setup/create_products.py
Due: none

Remove banner, cancel button and use correct icons
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/review-request-modal.tsx
Due: local-fe-check

Address PR review feedback: move test file and fix vertical layout
  frontend/src/components/global-explorer/use-node-editor.tsx
  frontend/src/tests/node-parser.helper.test.ts
Due: local-fe-check

Move platform service configurations to configurations folder for better structure and visibility
  backend/app/configuration/platform_service_configurations/model.py
  backend/app/configuration/platform_service_configurations/schema.py
  backend/app/configuration/platform_service_configurations/service.py
  backend/app/configuration/platforms/router.py
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/service.py
  backend/tests/factories/platform_service_config.py
Due: regen-openapi-spec

first version done
  demo/README.md
  demo/agents/.env.portal
  demo/agents/Taskfile.yml
  demo/agents/agent/Dockerfile
  demo/agents/agent/dpp_agent/server.py
  demo/agents/provisioner/provisioner/main.py
  demo/agents/setup/create_products.py
Due: none

Missing query caused missing icon in tab
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/components/data-output-table/data-output-table.component.tsx
Due: local-fe-check

Add release notes
  docs/docs/release-notes.md
Due: none

Patch dependencies in docs
  docs/package-lock.json
  docs/package.json
Due: none

Patch dependencies in docs (#2845)
  docs/package-lock.json
  docs/package.json
Due: none

Migrate from i18next-parser to i18next-cli
  frontend/i18next-parser.config.js
  frontend/i18next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/node-editor/node-editor.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/utils/history.helper.tsx
Due: local-fe-check

Add nesting for key concepts to translations
  frontend/public/locales/en/translation.json
  frontend/src/components/data-outputs/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-outputs/technical-asset-card/data-output-card.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/auth/logout/logout-page.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/new-data-product-lifecycles-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-form-modal.component.tsx
Due: local-fe-check

Complete merge
  frontend/package-lock.json
  frontend/public/locales/en/translation.json
Due: local-fe-check

Fix pre-commit
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/node-editor/node-editor.tsx
Due: local-fe-check

Missing query caused missing icon in tab (#2836)
  docs/docs/release-notes.md
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/components/data-output-table/data-output-table.component.tsx
Due: local-fe-check

Updates for translations (#2785)
  frontend/i18next-parser.config.js
  frontend/i18next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/node-editor/node-editor.tsx
  frontend/src/components/data-outputs/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-outputs/technical-asset-card/data-output-card.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/auth/logout/logout-page.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/new-data-product-lifecycles-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-form-modal.component.tsx
  frontend/src/utils/history.helper.tsx
Due: local-fe-check

updating AGENTS.md and adding CLAUDE.md file (#2824)
  AGENTS.md
  CLAUDE.md
  Taskfile.yml
Due: none

Move platform service configurations to configurations folder for better structure and visibility (#2834)
  backend/app/configuration/platform_service_configurations/model.py
  backend/app/configuration/platform_service_configurations/schema.py
  backend/app/configuration/platform_service_configurations/service.py
  backend/app/configuration/platforms/router.py
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/service.py
  backend/tests/factories/platform_service_config.py
Due: regen-openapi-spec

Patch vulnerabilities in demo/basic
  demo/basic/provisioner/requirements-poetry.txt
Due: none

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
