Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Migrate endpoints towards /api/v2/plugins
  backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/app/data_products/technical_assets/router.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/app/data_products/technical_assets/service.py
  backend/app/shared/router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/plugins/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Fix leftover event entity type
  backend/app/data_products/router.py
  backend/app/events/schema_response.py
  backend/app/users/notifications/router.py
  backend/app/users/notifications/schema_response.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/users/notifications/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Allow owner or data product create output ports.
  backend/sample_data.sql
Due: none

Allow owner or data product create output ports. (#2453)
  backend/sample_data.sql
Due: none

Use generated API spec for plugins
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/snowflake/schema.py
  docs/static/openapi.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/api/api-urls.ts
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/generic-data-output-form.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
  frontend/src/types/data-output/ui-element-metadata.contract.ts
  frontend/src/utils/icon-loader.ts
Due: regen-openapi-spec, local-fe-check

Weird source aligned race condition
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/generic-data-output-form.component.tsx
Due: local-fe-check

Update ADR
  docs/adr/0009-plugin-data-output-configs.md
Due: none

Add ADR for ingesting data quality information
  docs/adr/0010-ingestion-data-quality.md
Due: none

Improve explorer layouting (#2429)
  frontend/src/components/charts/custom-nodes/base-node/base-node.module.scss
  frontend/src/components/global-explorer/use-node-editor.tsx
Due: local-fe-check

Fix leftover event entity type (#2452)
  backend/app/data_products/router.py
  backend/app/events/schema_response.py
  backend/app/users/notifications/router.py
  backend/app/users/notifications/schema_response.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/users/notifications/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Added improved search ADR
  docs/adr/0010-improve-search.md
Due: none

Fix/clearning the deviceflow authentication bug 2262 (#2443)
  backend/app/core/auth/device_flows/background_tasks.py
  backend/app/core/auth/device_flows/service.py
  backend/app/main.py
  backend/app/settings.py
  backend/tests/app/auth/test_device_flow_cleanup.py
Due: regen-openapi-spec

Upgrade reqs file to fix dependabot issues
  backend/poetry.lock
  backend/requirements-poetry.txt
Due: none

update poetry.lock
  backend/poetry.lock
Due: none

fix PR comments
  docs/adr/0011-ingestion-data-quality.md
Due: none

add to dataset query stats daily key constraint ondelete=CASCADE
  backend/app/data_products/output_ports/query_stats/model.py
  backend/app/database/alembic/versions/2026_01_14_1250-ca5f5782790a_add_cascade_delete_to_dataset_query_stats_daily.py
Due: regen-openapi-spec

Ensure tags are spaced
  frontend/src/pages/data-output/components/data-output-description/data-output-description.tsx
  frontend/src/pages/data-product/components/data-product-description/data-product-description.tsx
  frontend/src/pages/dataset/components/dataset-description/dataset-description.tsx
  frontend/src/pages/marketplace/dataset-marketplace-card/dataset-marketplace-card.component.tsx
Due: local-fe-check

Added improved search ADR (#2442)
  docs/adr/0010-improve-search.md
Due: none

Upgrade reqs file to fix dependabot issues (#2466)
  backend/poetry.lock
  backend/requirements-poetry.txt
Due: none

Ensure tags are spaced (#2465)
  frontend/src/pages/data-output/components/data-output-description/data-output-description.tsx
  frontend/src/pages/data-product/components/data-product-description/data-product-description.tsx
  frontend/src/pages/dataset/components/dataset-description/dataset-description.tsx
  frontend/src/pages/marketplace/dataset-marketplace-card/dataset-marketplace-card.component.tsx
Due: local-fe-check

add test
  backend/tests/app/data_products/output_ports/query_stats_daily/test_router.py
Due: regen-openapi-spec

add unwraps to delete dataset to make sure an error is returned and not a succes message on 500
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/dataset-card/dataset-card.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
Due: local-fe-check

Introduced new sample data
  backend/sample_data.sql
Due: none

Introduced new sample data (#2456)
  backend/sample_data.sql
Due: none

WIP
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/database/alembic/versions/2026_01_14_1414-c3fecd278d0c_add_output_port_embeddings.py
  backend/app/search_output_ports/router.py
  backend/app/search_output_ports/schema_response.py
  backend/app/seed.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/test-compose.yaml
  backend/tests/app/data_products/output_ports/test_service.py
  compose.yaml
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/marketplace/marketplace.page.tsx
Due: regen-openapi-spec, local-fe-check

Document how to do ingestion for data quality.
  docs/adr/0011-ingestion-data-quality.md
Due: none

Fix typo in samples file.
  backend/sample_data.sql
Due: none

Preload embedding model
  backend/Dockerfile
  backend/app/core/embed/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/embed.py
Due: regen-openapi-spec

Fix typo in samples file. (#2469)
  backend/sample_data.sql
Due: none

shorten test function
  backend/tests/app/data_products/output_ports/query_stats_daily/test_router.py
Due: regen-openapi-spec

Add ADR v1 (#2409)
  docs/adr/0009-plugin-data-output-configs.md
Due: none

Push down to service
  backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/service.py
Due: regen-openapi-spec

Add ADR for ingesting data quality information (#2454)
  docs/adr/0011-ingestion-data-quality.md
Due: none

Fix options generated in UI elements
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/service.py
  backend/app/data_output_configuration/snowflake/schema.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/generic-data-output-form.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Add unit tests
  backend/app/data_output_configuration/base_schema.py
  backend/tests/app/plugins/test_router.py
Due: regen-openapi-spec

add ondelete=CASCADE to dataset query stats daily key constraint + unwrap for dataset deletion. (#2467)
  backend/app/data_products/output_ports/query_stats/model.py
  backend/app/database/alembic/versions/2026_01_14_1250-ca5f5782790a_add_cascade_delete_to_dataset_query_stats_daily.py
  backend/tests/app/data_products/output_ports/query_stats_daily/test_router.py
  frontend/public/locales/en/translation.json
  frontend/src/components/datasets/dataset-card/dataset-card.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
Due: regen-openapi-spec, local-fe-check

First implementation of embedding search
  .github/workflows/tests.yml
  backend/Dockerfile
  backend/app/core/embed/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema.py
  backend/app/data_products/output_ports/search_dataset.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/service.py
  backend/app/database/alembic/versions/2026_01_14_1414-c3fecd278d0c_add_output_port_embeddings.py
  backend/app/embed.py
  backend/app/search_output_ports/schema_response.py
  backend/app/seed.py
  backend/app/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/test-compose.yaml
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/search_output_ports/test_router.py
  compose.yaml
  docs/adr/0010-improve-search.md
  docs/docs/developer-guide/installation.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/marketplace/marketplace.page.tsx
  helm/Chart.lock
  helm/Chart.yaml
  helm/templates/configmap_backend.yaml
  helm/templates/secret_backend.yaml
  helm/values.yaml
Due: regen-openapi-spec, local-fe-check

Update backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/router.py
Due: regen-openapi-spec

Resolve some PR comments
  backend/app/data_output_configuration/service.py
  backend/tests/app/plugins/test_router.py
Due: regen-openapi-spec

Fix alembic
  backend/app/database/alembic/versions/2026_01_07_1455-dbe6fbe45eef_add_entire_schema_checkbox.py
Due: regen-openapi-spec

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
