Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Refactor output port title component: replace SCSS with inline styles.
  frontend/src/components/output-ports/output-port-title/output-port-title.module.scss
  frontend/src/components/output-ports/output-port-title/output-port-title.tsx
Due: local-fe-check

Refactor `OutputPortPopoverTitle` and related components to use `classification` prop instead of `accessType`.
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/output-ports/output-port-popover-title/output-port-popover-title.tsx
  frontend/src/pages/technical-asset/components/technical-asset-tabs/output-port-tab/components/output-port-table/output-port-table-columns.tsx
Due: local-fe-check

Remove unused `access-function.helper.ts`, migrate logic to `access-function.helper.tsx`, refactor classification handling, and update related components, backend logic, and schemas.
  backend/app/configuration/output_port_classifications/model.py
  backend/app/configuration/output_port_classifications/router.py
  backend/app/configuration/output_port_classifications/schema_request.py
  backend/app/configuration/output_port_classifications/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/env.py
  backend/tests/app/configuration/output_port_classifications/test_router.py
  cli/golang/pkg/api/oas_validators_gen.go
  docs/adr/0025-output-port-classifications.md
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/output-ports/output-port-access-icon/output-port-access-icon.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/components/output-ports/output-port-title/output-port-title.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-classifications-table/output-port-classification-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-classifications-table/output-port-classifications-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-classifications-table/output-port-classifications-table.component.tsx
  frontend/src/utils/access-function.helper.ts
  frontend/src/utils/access-function.helper.tsx
Due: regen-openapi-spec, local-fe-check

Refactor access type helper and output port form: rename `isAllowedForDataProduct` to `fitsDataProductVisibility` for clarity and update related logic.
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/utils/access-type.helper.ts
Due: local-fe-check

Update comment in `OutputPortAccessTypeFactory` for clarity on default access type behavior.
  backend/tests/factories/output_port_access_type.py
Due: regen-openapi-spec

Reorder `AccessModes` and `OutputPortAccessTypesTable` components for consistent rendering in Access Policy Tab.
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-policy-tab.component.tsx
Due: local-fe-check

Check `isTimeBoundAccessEnabled` only on `AccessDurations` section.
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-policy-tab.component.tsx
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.component.tsx
Due: local-fe-check

Add confirmation modals for Output Port access function changes: implement confirmation prompts for impactful changes, update relevant translations, and enhance related tests and tooltips.
  frontend/public/locales/en/translation.json
  frontend/src/pages/settings/components/settings-tabs/components/output-port-access-types-table/output-port-access-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-access-types-table/output-port-access-types-table-columns.tsx
  frontend/src/tests/pages/settings/output-port-access-type-form-modal.test.tsx
Due: local-fe-check

Update output port form: enhance handling of hidden Data Products, refactor access type options, and add tooltip for visibility constraints.
  frontend/public/locales/en/translation.json
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/tests/components/output-ports/output-port-form.component.test.tsx
Due: local-fe-check

Potential fix for pull request finding 'Visibility check excludes authorized consuming Data Product members'
  docs/docs/user-guide/creating-products.md
Due: none

Potential fix for pull request finding 'Technical asset caches remain stale after Access Type changes'
  frontend/src/store/api/services/apiTags.ts
Due: local-fe-check

Add optional `include_output_port_count` parameter: update backend, API, and frontend to support conditional access type counts, refactor related logic, and enhance tests.
  backend/app/configuration/output_port_access_types/model.py
  backend/app/configuration/output_port_access_types/router.py
  backend/app/configuration/output_port_access_types/schema_response.py
  backend/app/configuration/output_port_access_types/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/2026_09_24_1200-3f1c2b7a9d4e_add_output_port_access_types.py
  backend/tests/app/configuration/output_port_access_types/test_router.py
  backend/tests/app/data_products/output_ports/test_model.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/adr/0025-output-port-access-types.md
  docs/static/openapi.json
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-access-types-table/output-port-access-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-access-types-table/output-port-access-types-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-access-types-table/output-port-access-types-table.component.tsx
  frontend/src/store/api/services/generated/configurationOutputPortAccessTypesApi.ts
  frontend/src/tests/components/output-ports/output-port-form.component.test.tsx
  sdk/sdk/api_client/api/configuration_output_port_access_types/get_output_port_access_types.py
  sdk/sdk/api_client/models/output_port_access_types_get_item.py
Due: regen-openapi-spec, local-fe-check

Refactor hidden data product access logic: consolidate tests using shared configurations, streamline frontend option rendering, and optimize backend policy updates.
  backend/app/core/authz/authorization.py
  backend/tests/app/data_products/output_ports/test_router.py
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/tests/components/output-ports/output-port-form.component.test.tsx
  frontend/src/tests/mocks/configurationOutputPortAccessTypes.ts
Due: regen-openapi-spec, local-fe-check

Refactor output port access types: optimize backend queries, enhance frontend access type handling, update tests, and improve description and tooltip logic in forms and tables.
  backend/app/configuration/output_port_access_types/service.py
  backend/app/data_products/output_ports/service.py
  backend/tests/app/configuration/output_port_access_types/test_router.py
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-access-types-table/output-port-access-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-access-types-table/output-port-access-types-table.component.tsx
  frontend/src/tests/mocks/configurationOutputPortAccessTypes.ts
  frontend/src/utils/access-function.helper.tsx
Due: regen-openapi-spec, local-fe-check

Reorder description field in Output Port Access Type form for improved layout consistency.
  frontend/src/pages/settings/components/settings-tabs/components/output-port-access-types-table/output-port-access-type-form-modal.component.tsx
Due: local-fe-check

Potential fix for pull request finding 'Concurrent remaps can violate the Invite-only row invariant'
  backend/app/configuration/output_port_access_types/service.py
Due: regen-openapi-spec

Self-review
  backend/app/configuration/output_port_access_types/router.py
  backend/app/configuration/output_port_access_types/service.py
  backend/app/core/authz/authorization.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/database/alembic/versions/4c40a4ff5a7f_initialize_database.py
Due: regen-openapi-spec

Potential fix for pull request finding 'Management table links to the wrong settings tab'
  docs/docs/user-guide/creating-products.md
Due: none

Refactor access policy tab: enhance gap handling, add output port access types table, improve tooltips, and update related translations.
  frontend/public/locales/en/translation.json
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-durations.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-modes.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-policy-tab.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-access-types-table/output-port-access-types-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/output-port-access-types-table/output-port-access-types-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/output-port-tab/output-port-tab.component.tsx
  frontend/src/tests/pages/settings/access-policy-tab/access-modes.test.tsx
Due: local-fe-check

fix iterator typo
  backend/app/groups/service.py
Due: regen-openapi-spec

allow admins to assign new roles
  backend/app/groups/service.py
  frontend/public/locales/en/translation.json
  frontend/src/pages/roles/components/roles-table.component.tsx
Due: regen-openapi-spec, local-fe-check

add test for coverage
  backend/tests/app/groups/test_router.py
Due: regen-openapi-spec

add test for coverage
  backend/tests/app/machine_users/test_router.py
Due: regen-openapi-spec

add some rbac docs
  docs/docs/developer-guide/rbac.md
Due: none

fix test typo
  backend/tests/app/groups/test_router.py
Due: regen-openapi-spec

precommit hook
  backend/tests/app/groups/test_router.py
  backend/tests/app/machine_users/test_router.py
  docs/docs/developer-guide/rbac.md
Due: regen-openapi-spec

sdk autogenerated missing files!!!
  sdk/sdk/api_client/api/groups/__init__.py
  sdk/sdk/api_client/api/groups/add_group_members.py
  sdk/sdk/api_client/api/groups/create_group.py
  sdk/sdk/api_client/api/groups/delete_group.py
  sdk/sdk/api_client/api/groups/get_group.py
  sdk/sdk/api_client/api/groups/get_group_members.py
  sdk/sdk/api_client/api/groups/get_groups.py
  sdk/sdk/api_client/api/groups/remove_group_members.py
  sdk/sdk/api_client/api/groups/replace_group_members.py
  sdk/sdk/api_client/api/groups/update_group.py
  sdk/sdk/api_client/api/machine_users/__init__.py
  sdk/sdk/api_client/api/machine_users/create_machine_user.py
  sdk/sdk/api_client/api/machine_users/delete_machine_user.py
  sdk/sdk/api_client/api/machine_users/get_machine_user.py
  sdk/sdk/api_client/api/machine_users/get_machine_users.py
  sdk/sdk/api_client/api/machine_users/update_machine_user.py
  sdk/sdk/api_client/models/group_create.py
  sdk/sdk/api_client/models/group_create_response.py
  sdk/sdk/api_client/models/group_get.py
  sdk/sdk/api_client/models/group_member_identity_get.py
  sdk/sdk/api_client/models/group_members_add.py
  sdk/sdk/api_client/models/group_members_remove.py
  sdk/sdk/api_client/models/group_members_replace.py
  sdk/sdk/api_client/models/group_membership_get.py
  sdk/sdk/api_client/models/group_memberships_get_response.py
  sdk/sdk/api_client/models/group_update.py
  sdk/sdk/api_client/models/group_update_response.py
  sdk/sdk/api_client/models/groups_get_response.py
  sdk/sdk/api_client/models/identity_type.py
  sdk/sdk/api_client/models/machine_user_create.py
  sdk/sdk/api_client/models/machine_user_create_response.py
  sdk/sdk/api_client/models/machine_user_get.py
  sdk/sdk/api_client/models/machine_user_update.py
  sdk/sdk/api_client/models/machine_user_update_response.py
  sdk/sdk/api_client/models/machine_users_get_response.py
Due: none

Prevent delivery metrics job from exceeding the argument limit (#4461)
  scripts/delivery_metrics.sh
Due: none

Notify consumers when input ports are expiring soon
  backend/app/abstract_data_product/input_ports/background_tasks.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/events/enums.py
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  frontend/public/locales/en/translation.json
  frontend/src/tests/utils/history.helper.test.tsx
  frontend/src/types/events/event-types.ts
  frontend/src/utils/history.helper.tsx
Due: regen-openapi-spec, local-fe-check

add responses to routes for groups and machine users
  backend/app/groups/router.py
  backend/app/machine_users/router.py
Due: regen-openapi-spec

precommit hook
  backend/app/groups/router.py
  backend/app/machine_users/router.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  sdk/sdk/api_client/api/groups/add_group_members.py
  sdk/sdk/api_client/api/groups/create_group.py
  sdk/sdk/api_client/api/groups/delete_group.py
  sdk/sdk/api_client/api/groups/get_group.py
  sdk/sdk/api_client/api/groups/get_group_members.py
  sdk/sdk/api_client/api/groups/remove_group_members.py
  sdk/sdk/api_client/api/groups/replace_group_members.py
  sdk/sdk/api_client/api/groups/update_group.py
  sdk/sdk/api_client/api/machine_users/create_machine_user.py
  sdk/sdk/api_client/api/machine_users/delete_machine_user.py
  sdk/sdk/api_client/api/machine_users/get_machine_user.py
  sdk/sdk/api_client/api/machine_users/update_machine_user.py
Due: regen-openapi-spec

changed comment
  backend/app/groups/router.py
  cli/golang/pkg/api/oas_client_gen.go
  docs/docs/developer-guide/rbac.md
  docs/static/openapi.json
  sdk/sdk/api_client/api/groups/replace_group_members.py
Due: regen-openapi-spec

Improve technical asset create-form feedback on invalid submit (#4414)
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-technical-asset-popup/add-technical-asset-popup.test.tsx
Due: local-fe-check

Block producer renew on products pending deletion
  backend/app/data_products/output_ports/input_ports/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table.component.tsx
Due: regen-openapi-spec, local-fe-check

make max request configurable
  backend/app/groups/schema_request.py
  backend/app/settings.py
Due: regen-openapi-spec

precommit hook
  backend/tests/app/groups/test_router.py
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
Due: regen-openapi-spec

fix typo...
  backend/tests/app/groups/test_router.py
Due: regen-openapi-spec

Allow directly adding a consumer
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema_request.py
  backend/app/database/alembic/versions/2026_09_25_1614-abd4229ea6af_add_exploration_event_reference_entity.py
  backend/app/events/enums.py
  backend/app/events/model.py
  backend/app/events/schema_response.py
  backend/app/events/service.py
  backend/app/users/notifications/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/docs/concepts/input-ports.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/grant-output-port-access-modal.tsx
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/consumers-tab.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsInputPortsTags.ts
  frontend/src/tests/pages/output-port/components/consumers-tab/consumers-tab.test.tsx
  frontend/src/tests/pages/output-port/components/consumers-tab/grant-output-port-access-modal.test.tsx
  frontend/src/utils/history.helper.tsx
  sdk/sdk/api_client/api/data_products_output_ports_input_ports/grant_output_port_access.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/event_entity_type.py
  sdk/sdk/api_client/models/get_event_history_response_item.py
  sdk/sdk/api_client/models/grant_output_port_access_request.py
Due: regen-openapi-spec, local-fe-check

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
