Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Update frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
Due: local-fe-check

Generate our front end api with enum support
  frontend/src/components/charts/custom-nodes/data-product-node/data-product-node.tsx
  frontend/src/components/namespace/namespace-form-item.tsx
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/data-products/data-products-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/components/data-output-table/data-output-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table-columns.tsx
  frontend/src/pages/home/components/data-products-inbox/data-products-list.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/data-product-tab/data-product-tab.component.tsx
  frontend/src/pages/settings/components/settings-tabs/dataset-tab/dataset-tab.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/types/data-product-type/data-product-type.contract.ts
  frontend/src/utils/data-product-type-icon.helper.ts
Due: local-fe-check

Add a FAQ section on Data Products to docs (#2638)
  docs/docs/faq/_category_.json
  docs/docs/faq/data-products.mdx
Due: none

Resolved PR comments
  frontend/src/components/layout/navbar/breadcrumbs/breadcrumbs.component.tsx
  frontend/src/components/quality-badge/quality-badge.component.tsx
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
Due: local-fe-check

Generate our front end api with enum support (#2637)
  frontend/src/components/charts/custom-nodes/data-product-node/data-product-node.tsx
  frontend/src/components/namespace/namespace-form-item.tsx
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/data-products/data-products-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/components/data-output-table/data-output-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table-columns.tsx
  frontend/src/pages/home/components/data-products-inbox/data-products-list.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/data-product-tab/data-product-tab.component.tsx
  frontend/src/pages/settings/components/settings-tabs/dataset-tab/dataset-tab.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/types/data-product-type/data-product-type.contract.ts
  frontend/src/utils/data-product-type-icon.helper.ts
Due: local-fe-check

Added more search suggestions (#2626)
  frontend/public/locales/en/translation.json
  frontend/src/components/search-page/search-suggestions.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
Due: local-fe-check

Migrate resource names
  .gitattributes
  backend/app/configuration/data_product_settings/service.py
  backend/app/core/namespace/validation.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/service.py
  backend/app/resource_names/router.py
  backend/app/resource_names/service.py
  backend/tests/app/data_product_settings/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-outputs/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/resource-name/resource-name-form-item.module.scss
  frontend/src/components/resource-name/resource-name-form-item.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/configurationPlatformsApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/resourceNamesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
  frontend/src/store/features/data-products/data-products-api-slice.ts
  frontend/src/store/features/datasets/datasets-api-slice.ts
Due: regen-openapi-spec, local-fe-check

Add new route to output port product studio page
  frontend/src/components/layout/navbar/breadcrumbs/breadcrumbs.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/routes.tsx
  frontend/src/types/navigation.ts
Due: local-fe-check

Remove TODO
  frontend/src/components/data-access/data-access-tile-grid/data-access-tile-grid.tsx
Due: local-fe-check

History events
  frontend/src/components/history/history-tab.tsx
  frontend/src/components/history/history-table-columns.tsx
  frontend/src/components/history/history-table-event-name.tsx
  frontend/src/components/notifications/notification-description.tsx
  frontend/src/components/notifications/notifications.tsx
  frontend/src/pages/data-output/components/data-output-tabs/data-output-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/dataset/dataset.page.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
  frontend/src/types/events/event-types.ts
  frontend/src/utils/history.helper.tsx
Due: local-fe-check

Migrate to URLs in backend
  backend/app/configuration/environments/platform_configurations/service.py
  backend/app/core/aws/get_url.py
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/conveyor/schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/service.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-access/data-access-tile-grid/data-access-tile-grid.tsx
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Fix unit tests
  backend/app/core/auth/service.py
  backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/schema_response.py
  backend/tests/app/data_products/test_router.py
  docs/static/openapi.json
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Feature/missing frontend plugin dependencies (#2627)
  backend/app/core/conveyor/notebook_builder.py
  backend/app/data_output_configuration/__init__.py
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/conveyor/schema.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/sample_data.sql
  backend/tests/app/plugins/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-access/data-access-tile-grid/data-access-tile-grid.tsx
  frontend/src/components/data-access/data-access-tile/data-access-tile.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/pages/data-output/components/data-output-actions/data-output-actions.component.tsx
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
  frontend/src/pages/dataset/components/dataset-actions/dataset-actions.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/types/data-platform/data-platform.ts
  frontend/src/types/data-platform/index.ts
  frontend/src/types/shared/forms.ts
  frontend/src/utils/data-platforms.ts
Due: regen-openapi-spec, local-fe-check

Add extra supported plugin in unit test
  backend/tests/app/plugins/test_router.py
Due: regen-openapi-spec

Remove untrue test
  backend/tests/app/plugins/test_router.py
Due: regen-openapi-spec

Remove the searchbar
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-dataset-link-popup/data-product-dataset-link-popup.component.tsx
  frontend/src/components/data-products/data-product-dataset-link-popup/data-product-dataset-link-popup.module.scss
  frontend/src/components/datasets/dataset-card/data-output-link-modal.component.tsx
  frontend/src/components/form/index.ts
  frontend/src/components/form/radio/icon-radio-button/icon-radio-button.component.tsx
  frontend/src/components/form/radio/icon-radio-button/icon-radio-button.module.scss
  frontend/src/components/form/searchbar/searchbar.component.tsx
  frontend/src/components/form/searchbar/searchbar.module.scss
  frontend/src/components/history/history-tab.module.scss
  frontend/src/components/history/history-tab.tsx
  frontend/src/components/modal/user-popup/user-popup.module.scss
  frontend/src/components/modal/user-popup/user-popup.tsx
  frontend/src/pages/data-output/components/data-output-tabs/dataset-tab/dataset-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/data-output-table/data-output-table.component.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/data-output-table/data-output-table.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/dataset-table/dataset-table.component.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/dataset-table/dataset-table.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/dataset-tab/dataset-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/data-output-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/data-output-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/data-product-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/data-product-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.tsx
Due: local-fe-check

Feature/data product studio (#2602)
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/filters/role-filter.component.module.scss
  frontend/src/components/filters/role-filter.component.tsx
  frontend/src/components/layout/navbar/breadcrumbs/breadcrumbs.component.tsx
  frontend/src/components/layout/root/root.layout.tsx
  frontend/src/components/layout/sidebar/sidebar.component.tsx
  frontend/src/components/quality-badge/quality-badge.component.tsx
  frontend/src/pages/data-output-edit/data-output-edit.page.tsx
  frontend/src/pages/data-product-edit/data-product-edit.page.tsx
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/data-products/data-products-table-columns.tsx
  frontend/src/pages/data-products/data-products-table.component.tsx
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/pages/home/components/data-products-inbox/data-products-inbox.tsx
  frontend/src/pages/home/components/data-products-inbox/data-products-list.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.module.scss
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.module.scss
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/pages/product-studio/product-studio-tabkeys.ts
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/routes.tsx
  frontend/src/theme/antd-theme.ts
  frontend/src/types/dataset/datasets-get.contract.ts
  frontend/src/types/navigation.ts
  frontend/src/utils/quality-status.helper.ts
Due: regen-openapi-spec, local-fe-check

Update gitignore
  .gitignore
Due: none

Temp provisioner demo setup
  demo/.env.example
  demo/README.md
  demo/TESTING.md
  demo/backend.env.example
  demo/coder/Dockerfile
  demo/docker-compose.yml
  demo/provisioner/Dockerfile
  demo/provisioner/provisioner/main.py
  demo/provisioner/requirements.txt
  demo/start.sh
  demo/templates/sqlmesh/cookiecutter.json
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/.gitignore
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/README.md
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/config.yaml
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/models/example.sql
Due: local-fe-check

Remove the searchbar (#2673)
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-dataset-link-popup/data-product-dataset-link-popup.component.tsx
  frontend/src/components/data-products/data-product-dataset-link-popup/data-product-dataset-link-popup.module.scss
  frontend/src/components/datasets/dataset-card/data-output-link-modal.component.tsx
  frontend/src/components/form/index.ts
  frontend/src/components/form/radio/icon-radio-button/icon-radio-button.component.tsx
  frontend/src/components/form/radio/icon-radio-button/icon-radio-button.module.scss
  frontend/src/components/form/searchbar/searchbar.component.tsx
  frontend/src/components/form/searchbar/searchbar.module.scss
  frontend/src/components/history/history-tab.module.scss
  frontend/src/components/history/history-tab.tsx
  frontend/src/components/modal/user-popup/user-popup.module.scss
  frontend/src/components/modal/user-popup/user-popup.tsx
  frontend/src/pages/data-output/components/data-output-tabs/dataset-tab/dataset-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/data-output-table/data-output-table.component.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/data-output-table/data-output-table.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/dataset-table/dataset-table.component.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-output-tab/components/dataset-table/dataset-table.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/dataset-tab/dataset-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/data-output-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/data-output-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/data-product-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/data-product-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.module.scss
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.tsx
Due: local-fe-check

Working demo flow with access requests and everything in s3
  demo/DEMO_FLOW.md
  demo/provisioner/Dockerfile
  demo/provisioner/ROUTES.md
  demo/provisioner/provisioner/main.py
  demo/templates/sqlmesh/cookiecutter.json
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/README.md
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/config.yaml
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/example_consumer_access.py
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/export_to_s3.py
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/models/example.sql
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/models/example_data_mart.py
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/models/example_staging.py
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/run.sh
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/test_s3_access.py
Due: local-fe-check

Need to use approve v2 api for this
  backend/app/data_products/output_ports/input_ports/router.py
  docs/static/openapi.json
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/inputPortsApi.ts
  frontend/src/store/features/datasets/datasets-api-slice.ts
  frontend/src/utils/pending-request.helper.ts
Due: regen-openapi-spec, local-fe-check

Add visual studio code plugin
  backend/app/data_output_configuration/__init__.py
  backend/app/data_output_configuration/coder/schema.py
  demo/docker-compose.yml
  frontend/src/assets/icons/coder-logo.svg
Due: regen-openapi-spec

Update reqs
  backend/requirements-poetry.txt
Due: none

Make settings configurable, don't show conveyor plugin in output form
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/conveyor/schema.py
  backend/app/data_output_configuration/quarto/schema.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/app/settings.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Update reqs (#2681)
  backend/requirements-poetry.txt
Due: none

Fix merge conflict
  backend/app/data_output_configuration/coder/schema.py
  backend/app/data_output_configuration/service.py
Due: regen-openapi-spec

Auto scaffold output port
  demo/DEMO_FLOW.md
  demo/provisioner/provisioner/main.py
Due: none

Add auto clean demo
  demo/.gitignore
  demo/README.md
  demo/clean.sh
  demo/start.sh
Due: none

Added Quarto docs rendering and serving
  backend/app/data_output_configuration/quarto/schema.py
  demo/README.md
  demo/clean.sh
  demo/docker-compose.yml
  demo/quarto/Dockerfile
  demo/quarto/README.md
  demo/quarto/nginx.conf
  demo/quarto/render_docs.sh
  demo/start.sh
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/docs/_quarto.yml
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/docs/data-dictionary.qmd
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/docs/index.qmd
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/docs/styles.css
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/docs/usage-guide.qmd
  frontend/src/assets/icons/quarto-logo.svg
Due: regen-openapi-spec, local-fe-check

Update tests
  backend/tests/app/plugins/test_router.py
Due: regen-openapi-spec

Remove unused method
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/conveyor/schema.py
Due: regen-openapi-spec

Remove quarto from this PR
  backend/app/data_output_configuration/quarto/schema.py
Due: regen-openapi-spec

Rework to single query
  backend/app/configuration/environments/platform_configurations/service.py
Due: regen-openapi-spec

Remove unneeded only_tile
  backend/app/data_output_configuration/service.py
Due: regen-openapi-spec

Fix unit tests
  backend/tests/app/plugins/test_router.py
Due: regen-openapi-spec

Make settings configurable, don't show conveyor plugin in output form (#2682)
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/conveyor/schema.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/app/settings.py
  backend/tests/app/plugins/test_router.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Added new demo data and bootstrap project, added rstudio
  backend/app/data_output_configuration/__init__.py
  backend/app/data_output_configuration/rstudio/schema.py
  demo/README.md
  demo/provisioner/provisioner/main.py
  demo/start.sh
  frontend/src/assets/icons/rstudio-logo.svg
Due: regen-openapi-spec
