Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Fix dependabot golang
  .github/dependabot.yml
Due: none

Fix dependabot golang (#2568)
  .github/dependabot.yml
Due: none

Package helm on every commit to main
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
Due: none

Package helm on every commit to main (#2571)
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
Due: none

Fix packaging helm chart
  .github/workflows/docker-build-main.yml
Due: none

Fix packaging helm chart (#2572)
  .github/workflows/docker-build-main.yml
Due: none

Rename data output to technical asset for the new tables
  backend/app/data_output_configuration/base_model.py
  backend/app/data_output_configuration/data_output_types.py
  backend/app/data_output_configuration/databricks/model.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/model.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/model.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/model.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/schema_union.py
  backend/app/data_output_configuration/snowflake/model.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/data_products/technical_assets/model.py
  backend/app/database/alembic/versions/2026_01_28_1241_snowflake_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1242_databricks_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1243_s3_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1244_glue_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1245_redshift_separate_table.py
  backend/sample_data.sql
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/factories/s3_data_output.py
  docs/static/openapi.json
Due: regen-openapi-spec

Remove latest remains of hardcoded output stuff in frontend
  frontend/public/locales/en/translation.json
  frontend/src/assets/icons/aws-redshift-border-icon.svg
  frontend/src/components/charts/custom-nodes/dataoutput-node/dataoutput-node.tsx
  frontend/src/components/data-outputs/data-output-card/data-output-card.component.tsx
  frontend/src/components/datasets/dataset-card/data-output-link-modal.component.tsx
  frontend/src/pages/data-output/components/data-output-description/data-output-description.tsx
  frontend/src/pages/data-output/data-output.page.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/components/data-output-table/data-output-table-columns.tsx
  frontend/src/utils/data-output-type.helper.ts
Due: local-fe-check

WIP plugins
  PLUGIN_IMPLEMENTATION_SUMMARY.md
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/registry.py
  backend/app/data_output_configuration/s3/model.py
  backend/app/data_output_configuration/schema_union.py
  backend/app/data_output_configuration/service.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/main.py
  backend/app/settings.py
  docs/docs/developer-guide/plugin-system.md
  docs/static/openapi.json
  example.env
  plugins/QUICKSTART.md
  plugins/README.md
  plugins/s3_plugin/README.md
  plugins/s3_plugin/pyproject.toml
  plugins/s3_plugin/s3_plugin/__init__.py
  plugins/s3_plugin/s3_plugin/model.py
  plugins/s3_plugin/s3_plugin/schema.py
  plugins/s3_plugin/setup.py
  plugins/test_dynamic_union.py
  plugins/test_integration.py
  plugins/test_plugins.py
Due: regen-openapi-spec

Fix rename of s3 data output
  backend/app/data_output_configuration/registry.py
  plugins/s3_plugin/poetry.lock
  plugins/s3_plugin/pyproject.toml
Due: regen-openapi-spec

Fix unit tests and fix explorer data output icons
  backend/.test.env
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/plugins/test_router.py
  frontend/src/components/explorer/explorer.tsx
Due: regen-openapi-spec, local-fe-check

Step 2 plugin wip
  backend/app/data_output_configuration/registry.py
  backend/app/data_output_configuration/schema_union.py
  backend/app/main.py
  backend/app/settings.py
  docs/plugins/PRODUCTION_DEPLOYMENT.md
  docs/static/openapi.json
Due: regen-openapi-spec

Removed hardcoded external plugins
  backend/app/data_output_configuration/schema_union.py
Due: regen-openapi-spec

add route filter to exclude deprecated routes
  Taskfile.yml
  backend/app/open_api_export.py
  docs/static/openapi.json
Due: regen-openapi-spec

add openapi-no-deprecated.json
  docs/static/openapi-no-deprecated.json
Due: none

subdir for generated portalsdk
  .pre-commit-config.yaml
  sdk-go/oapi-codegen.yaml
  sdk-go/portalsdk/go.mod
  sdk-go/portalsdk/go.sum
  sdk-go/portalsdk/portalsdk.go
Due: none

generate new SDK
  sdk-go/oapi-codegen.yaml
  sdk-go/portalsdk/go.mod
  sdk-go/portalsdk/go.sum
  sdk-go/portalsdk/portalsdk.go
Due: none

add poetry setup to taskfile
  Taskfile.yml
Due: none

generate new no-deprecated openapi spec
  docs/static/openapi-no-deprecated.json
Due: none

generate new SDK
  sdk-go/portalsdk/portalsdk.go
Due: none

multifile go sdk
  Taskfile.yml
  sdk-go/oapi-codegen.yaml
  sdk-go/portalsdk/portalsdk.go
  sdk-go/portalsdk/portalsdk/client.go
  sdk-go/portalsdk/portalsdk/client_options.go
  sdk-go/portalsdk/portalsdk/common.go
  sdk-go/portalsdk/portalsdk/enums.go
  sdk-go/portalsdk/portalsdk/paths.go
  sdk-go/portalsdk/portalsdk/payloads.go
  sdk-go/portalsdk/portalsdk/queries.go
  sdk-go/portalsdk/portalsdk/responses.go
  sdk-go/portalsdk/portalsdk/types.go
  sdk-go/portalsdk/portalsdk/unions.go
Due: none

remove unused taskfile line
  Taskfile.yml
Due: none

sdk-go dir contains generated sdk
  Taskfile.yml
  sdk-go/client.go
  sdk-go/client_options.go
  sdk-go/common.go
  sdk-go/enums.go
  sdk-go/go.mod
  sdk-go/go.sum
  sdk-go/oapi-codegen.yaml
  sdk-go/paths.go
  sdk-go/payloads.go
  sdk-go/queries.go
  sdk-go/responses.go
  sdk-go/types.go
  sdk-go/unions.go
Due: none

portalsdk subfolder
  sdk-go/client.go
  sdk-go/client_options.go
  sdk-go/common.go
  sdk-go/enums.go
  sdk-go/oapi-codegen.yaml
  sdk-go/paths.go
  sdk-go/payloads.go
  sdk-go/queries.go
  sdk-go/responses.go
  sdk-go/types.go
  sdk-go/unions.go
Due: none

terraform provider based on generated go sdk
  terraform-provider-dataproductportal/go.mod
  terraform-provider-dataproductportal/go.sum
  terraform-provider-dataproductportal/internal/provider/data_output_data_source.go
  terraform-provider-dataproductportal/internal/provider/data_output_resource.go
  terraform-provider-dataproductportal/internal/provider/data_product_data_source.go
  terraform-provider-dataproductportal/internal/provider/data_product_resource.go
  terraform-provider-dataproductportal/internal/provider/data_product_type_data_source.go
  terraform-provider-dataproductportal/internal/provider/data_product_type_resource.go
  terraform-provider-dataproductportal/internal/provider/data_sources_unit_test.go
  terraform-provider-dataproductportal/internal/provider/dataset_data_source.go
  terraform-provider-dataproductportal/internal/provider/dataset_resource.go
  terraform-provider-dataproductportal/internal/provider/domain_data_source.go
  terraform-provider-dataproductportal/internal/provider/domain_resource.go
  terraform-provider-dataproductportal/internal/provider/environment_data_source.go
  terraform-provider-dataproductportal/internal/provider/environment_resource.go
  terraform-provider-dataproductportal/internal/provider/environment_resource_test.go
  terraform-provider-dataproductportal/internal/provider/platform_data_source.go
  terraform-provider-dataproductportal/internal/provider/platform_resource.go
  terraform-provider-dataproductportal/internal/provider/provider.go
  terraform-provider-dataproductportal/internal/provider/provider_test.go
  terraform-provider-dataproductportal/internal/provider/resources_unit_test.go
  terraform-provider-dataproductportal/internal/provider/role_assignment_resource.go
  terraform-provider-dataproductportal/internal/provider/tag_data_source.go
  terraform-provider-dataproductportal/internal/provider/tag_resource.go
  terraform-provider-dataproductportal/internal/provider/user_data_source.go
Due: none

remove examples/main.tf
  terraform-provider-dataproductportal/examples/main.tf
Due: none

missing test
  terraform-provider-dataproductportal/internal/provider/data_sources_unit_test.go
Due: none

terraform-plugin-docs
  Taskfile.yml
  terraform-provider-dataproductportal/docs/data-sources/data_product.md
  terraform-provider-dataproductportal/docs/data-sources/data_product_type.md
  terraform-provider-dataproductportal/docs/data-sources/domain.md
  terraform-provider-dataproductportal/docs/data-sources/environment.md
  terraform-provider-dataproductportal/docs/data-sources/output_port.md
  terraform-provider-dataproductportal/docs/data-sources/platform.md
  terraform-provider-dataproductportal/docs/data-sources/tag.md
  terraform-provider-dataproductportal/docs/data-sources/user.md
  terraform-provider-dataproductportal/docs/index.md
  terraform-provider-dataproductportal/docs/resources/data_product.md
  terraform-provider-dataproductportal/docs/resources/data_product_type.md
  terraform-provider-dataproductportal/docs/resources/domain.md
  terraform-provider-dataproductportal/docs/resources/output_port.md
  terraform-provider-dataproductportal/docs/resources/tag.md
  terraform-provider-dataproductportal/examples/data-sources/dataproductportal_data_product/data-source.tf
  terraform-provider-dataproductportal/examples/data-sources/dataproductportal_data_product_type/data-source.tf
  terraform-provider-dataproductportal/examples/data-sources/dataproductportal_domain/data-source.tf
  terraform-provider-dataproductportal/examples/data-sources/dataproductportal_environment/data-source.tf
  terraform-provider-dataproductportal/examples/data-sources/dataproductportal_output_port/data-source.tf
  terraform-provider-dataproductportal/examples/data-sources/dataproductportal_platform/data-source.tf
  terraform-provider-dataproductportal/examples/data-sources/dataproductportal_tag/data-source.tf
  terraform-provider-dataproductportal/examples/data-sources/dataproductportal_user/data-source.tf
  terraform-provider-dataproductportal/examples/provider/provider.tf
  terraform-provider-dataproductportal/examples/resources/dataproductportal_data_product/resource.tf
  terraform-provider-dataproductportal/examples/resources/dataproductportal_data_product_type/resource.tf
  terraform-provider-dataproductportal/examples/resources/dataproductportal_domain/resource.tf
  terraform-provider-dataproductportal/examples/resources/dataproductportal_output_port/resource.tf
  terraform-provider-dataproductportal/examples/resources/dataproductportal_tag/resource.tf
  terraform-provider-dataproductportal/templates/index.md.tmpl
Due: none

WIP initial version for adding data quality to output ports
  backend/app/data_products/output_ports/data_quality/enums.py
  backend/app/data_products/output_ports/data_quality/model.py
  backend/app/data_products/output_ports/data_quality/router.py
  backend/app/data_products/output_ports/data_quality/schema_request.py
  backend/app/data_products/output_ports/data_quality/schema_response.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/app/data_products/output_ports/router.py
  backend/app/database/alembic/versions/2026_01_19_1523-7601ac14662a_store_data_quality_summary_for_output_.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  docs/adr/0011-ingestion-data-quality.md
  docs/static/openapi.json
Due: regen-openapi-spec

Initial UI for data quality
  backend/app/data_products/output_ports/data_quality/router.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  docs/static/openapi.json
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/pages/dataset/dataset.page.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
Due: regen-openapi-spec, local-fe-check

Initial UI for data quality
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
Due: local-fe-check

Write documentation for data quality feature.
  docs/docs/developer-guide/data-quality-information.md
  docs/docs/developer-guide/img/data-quality-status.png
  docs/docs/release-notes.md
  frontend/src/store/common/axios-base-query.ts
  integrations/data_quality/examples/dbt_run_results.json
  integrations/data_quality/examples/soda_results.json
  integrations/data_quality/examples/soda_results_success.json
  integrations/data_quality/extract_dbt_summary.py
  integrations/data_quality/extract_soda_summary.py
Due: local-fe-check

Fix merge conflicts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: local-fe-check

support put data quality summary
  backend/app/data_products/output_ports/data_quality/router.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

implement PR comments
  backend/app/data_products/output_ports/data_quality/model.py
  docs/docs/developer-guide/data-quality-information.md
Due: regen-openapi-spec

fix migrations after merging in main
  backend/app/database/alembic/versions/2026_01_19_1523-7601ac14662a_store_data_quality_summary_for_output_.py
Due: regen-openapi-spec

fix coverage
  backend/app/data_products/output_ports/data_quality/router.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
Due: regen-openapi-spec

Update backend/app/data_products/output_ports/data_quality/router.py
  backend/app/data_products/output_ports/data_quality/router.py
Due: regen-openapi-spec

fix migrations
  backend/app/database/alembic/versions/2026_01_19_1523-7601ac14662a_store_data_quality_summary_for_output_.py
Due: regen-openapi-spec
