Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

ADR 15 lightweight data products (#3183)
  docs/adr/0015-light-weight-data-products.md
Due: none

Existing data product flow
  frontend/public/locales/en/translation.json
  frontend/src/hooks/use-form-persist.tsx
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/card-selection.module.scss
  frontend/src/pages/cart-explorations/components/card-selection.tsx
  frontend/src/pages/cart-explorations/components/cart-overview.component.tsx
  frontend/src/pages/cart-explorations/components/existing-data-product-form.tsx
  frontend/src/pages/cart-explorations/hooks/use-cart-overlap-check.ts
  frontend/src/routes.tsx
  frontend/src/store/features/cart/cart-slice.ts
  frontend/src/tests/cart-explorations/cart.page.test.tsx
  frontend/src/tests/mocks/dataProductOutputPorts.ts
  frontend/src/tests/mocks/dataProducts.ts
  frontend/src/tests/mocks/data_product.ts
  frontend/src/tests/mocks/outputPortsSearch.ts
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.test.tsx
  frontend/src/tests/pages/data-product/data-product-page.test.tsx
  frontend/src/tests/pages/product-studio/data-products-tab.test.tsx
  frontend/src/tests/test-utils.tsx
  frontend/src/tests/translation-glossary.test.ts
Due: local-fe-check

Existing data product flow (#3226)
  frontend/public/locales/en/translation.json
  frontend/src/hooks/use-form-persist.tsx
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/card-selection.module.scss
  frontend/src/pages/cart-explorations/components/card-selection.tsx
  frontend/src/pages/cart-explorations/components/cart-overview.component.tsx
  frontend/src/pages/cart-explorations/components/existing-data-product-form.tsx
  frontend/src/pages/cart-explorations/hooks/use-cart-overlap-check.ts
  frontend/src/routes.tsx
  frontend/src/store/features/cart/cart-slice.ts
  frontend/src/tests/cart-explorations/cart.page.test.tsx
  frontend/src/tests/mocks/dataProductOutputPorts.ts
  frontend/src/tests/mocks/dataProducts.ts
  frontend/src/tests/mocks/data_product.ts
  frontend/src/tests/mocks/outputPortsSearch.ts
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.test.tsx
  frontend/src/tests/pages/data-product/data-product-page.test.tsx
  frontend/src/tests/pages/product-studio/data-products-tab.test.tsx
  frontend/src/tests/test-utils.tsx
  frontend/src/tests/translation-glossary.test.ts
Due: local-fe-check

Update translation
  frontend/public/locales/en/translation.json
Due: local-fe-check

Fix technical asset typo test
  frontend/src/tests/translation-glossary.test.ts
Due: local-fe-check

Added new data product form in cart
  backend/app/data_products/schema_request.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/constants/posthog.constants.ts
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/existing-data-product-form.tsx
  frontend/src/pages/cart-explorations/components/new-data-product-form.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/tests/cart-explorations/cart.page.test.tsx
  frontend/src/tests/mocks/configurationDataProductLifecycles.ts
  frontend/src/tests/mocks/configurationDataProductTypes.ts
  frontend/src/tests/mocks/configurationDomains.ts
  frontend/src/tests/mocks/configurationPlatforms.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.test.tsx
  sdk/sdk/api_client/models/data_product_create.py
  sdk/sdk/api_client/models/data_product_update.py
Due: regen-openapi-spec, local-fe-check

Fix technical asset typo test (#3240)
  frontend/src/tests/translation-glossary.test.ts
Due: local-fe-check

Move to setup helm from azure
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
Due: none

Changed cart overview to collapse
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart-explorations/components/cart-overview.component.tsx
Due: local-fe-check

Added new data product form in cart (#3239)
  backend/app/data_products/schema_request.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/constants/posthog.constants.ts
  frontend/src/pages/cart-explorations/cart.page.tsx
  frontend/src/pages/cart-explorations/components/existing-data-product-form.tsx
  frontend/src/pages/cart-explorations/components/new-data-product-form.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/tests/cart-explorations/cart.page.test.tsx
  frontend/src/tests/mocks/configurationDataProductLifecycles.ts
  frontend/src/tests/mocks/configurationDataProductTypes.ts
  frontend/src/tests/mocks/configurationDomains.ts
  frontend/src/tests/mocks/configurationPlatforms.ts
  frontend/src/tests/pages/cart-explorations/cart.page.test.tsx
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-data-output-popup/add-data-output-popup.test.tsx
  sdk/sdk/api_client/models/data_product_create.py
  sdk/sdk/api_client/models/data_product_update.py
Due: regen-openapi-spec, local-fe-check

Changed cart overview to collapse (#3241)
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart-explorations/components/cart-overview.component.tsx
Due: local-fe-check

Move to setup helm from azure (#3242)
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
Due: none

WIP first POC to query Athena
  backend/app/mcp/mcp.py
  backend/app/settings.py
Due: regen-openapi-spec

Fix helm github actions
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
Due: none

Fix helm github actions (#3254)
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
Due: none

Working end to end flow of MCP
  backend/app/mcp/mcp.py
  backend/poetry.lock
  backend/pyproject.toml
Due: regen-openapi-spec

Solved bucket name fetching based on db config
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

Remove reference
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

Added input ports api
  backend/app/abstract_data_product/model.py
  backend/app/abstract_data_product/schema_response.py
  backend/app/abstract_data_product/service.py
  backend/app/data_products/email.py
  backend/app/data_products/output_ports/input_ports/schema_response.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/router.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/service.py
  backend/app/explorations/router.py
  backend/app/explorations/schema_request.py
  backend/app/explorations/schema_response.py
  backend/app/explorations/service.py
  backend/tests/app/explorations/test_router.py
  docs/static/openapi.json
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/data-product-tab.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  sdk/sdk/api_client/api/data_products_output_ports_input_ports/get_input_ports_for_output_port.py
  sdk/sdk/api_client/api/explorations/create_exploration.py
  sdk/sdk/api_client/api/explorations/get_exploration.py
  sdk/sdk/api_client/api/explorations/get_exploration_input_ports.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/create_exploration_request_with_input_ports.py
  sdk/sdk/api_client/models/create_input_ports_for_exploration_request.py
  sdk/sdk/api_client/models/get_data_product_input_ports_response.py
  sdk/sdk/api_client/models/get_exploration_input_ports_response.py
  sdk/sdk/api_client/models/get_exploration_response.py
Due: regen-openapi-spec, local-fe-check

Added input ports api (#3253)
  backend/app/abstract_data_product/model.py
  backend/app/abstract_data_product/schema_response.py
  backend/app/abstract_data_product/service.py
  backend/app/data_products/email.py
  backend/app/data_products/output_ports/input_ports/schema_response.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/router.py
  backend/app/data_products/schema_response.py
  backend/app/data_products/service.py
  backend/app/explorations/router.py
  backend/app/explorations/schema_request.py
  backend/app/explorations/schema_response.py
  backend/app/explorations/service.py
  backend/tests/app/explorations/test_router.py
  docs/static/openapi.json
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/data-product-tab.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  sdk/sdk/api_client/api/data_products_output_ports_input_ports/get_input_ports_for_output_port.py
  sdk/sdk/api_client/api/explorations/create_exploration.py
  sdk/sdk/api_client/api/explorations/get_exploration.py
  sdk/sdk/api_client/api/explorations/get_exploration_input_ports.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/create_exploration_request_with_input_ports.py
  sdk/sdk/api_client/models/create_input_ports_for_exploration_request.py
  sdk/sdk/api_client/models/get_data_product_input_ports_response.py
  sdk/sdk/api_client/models/get_exploration_input_ports_response.py
  sdk/sdk/api_client/models/get_exploration_response.py
Due: regen-openapi-spec, local-fe-check

fixing demo seeds files after rename
  demo/agents/portal_seed.sql
  demo/basic/portal_seed.sql
Due: none

adding superpowers to gitignore
  .gitignore
Due: none

Add cost tracking design spec
  docs/specs/2026-04-26-cost-tracking-design.md
Due: none

Update cost tracking spec: add day_range timeframe parameter
  docs/specs/2026-04-26-cost-tracking-design.md
Due: none

Update cost tracking spec: make recorded_at caller-supplied date field
  docs/specs/2026-04-26-cost-tracking-design.md
Due: none

feat: add OutputPortCostRecord model, migration and authz action
  backend/app/authorization/roles/service.py
  backend/app/core/authz/actions.py
  backend/app/data_products/output_ports/cost/__init__.py
  backend/app/data_products/output_ports/cost/model.py
  backend/app/database/alembic/versions/2026_04_26_1200-1b4af17b29f7_add_output_port_cost_records.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  sdk/sdk/api_client/models/authorization_action.py
Due: regen-openapi-spec, local-fe-check

fix: use Mapped style consistently in OutputPortCostRecord, fix migration annotations
  backend/app/data_products/output_ports/cost/model.py
  backend/app/database/alembic/versions/2026_04_26_1200-1b4af17b29f7_add_output_port_cost_records.py
Due: regen-openapi-spec

feat: add cost record schemas, service and test factory
  backend/app/data_products/output_ports/cost/schema_request.py
  backend/app/data_products/output_ports/cost/schema_response.py
  backend/app/data_products/output_ports/cost/service.py
  backend/tests/factories/__init__.py
  backend/tests/factories/output_port_cost_record.py
Due: regen-openapi-spec

fix: add ensure_output_port_exists guard to cost service methods
  backend/app/data_products/output_ports/cost/service.py
Due: regen-openapi-spec

feat: add output port cost POST and GET endpoints
  backend/app/data_products/output_ports/cost/router.py
  backend/app/data_products/output_ports/router.py
  backend/tests/app/data_products/output_ports/cost/__init__.py
  backend/tests/app/data_products/output_ports/cost/test_router.py
  docs/static/openapi.json
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  sdk/sdk/api_client/api/data_products_output_ports/get_cost_history.py
  sdk/sdk/api_client/api/data_products_output_ports/push_cost_record.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/cost_history_response.py
  sdk/sdk/api_client/models/cost_record_response.py
  sdk/sdk/api_client/models/create_cost_record.py
Due: regen-openapi-spec, local-fe-check

fix: add 404 response documentation to cost POST endpoint
  .superpowers/brainstorm/46567-1777220110/content/approaches.html
  .superpowers/brainstorm/46567-1777220110/content/design-api.html
  .superpowers/brainstorm/46567-1777220110/content/design-data-model.html
  .superpowers/brainstorm/46567-1777220110/content/design-frontend-v2.html
  .superpowers/brainstorm/46567-1777220110/content/design-frontend.html
  .superpowers/brainstorm/46567-1777220110/state/server-stopped
  .superpowers/brainstorm/46567-1777220110/state/server.pid
  backend/app/data_products/output_ports/cost/router.py
  docs/static/openapi.json
  sdk/sdk/api_client/api/data_products_output_ports/push_cost_record.py
Due: regen-openapi-spec

feat: add data product cost summary endpoint
  backend/app/data_products/output_ports/cost/service.py
  backend/app/data_products/router.py
  backend/app/data_products/schema_response.py
  backend/tests/app/data_products/cost/__init__.py
  backend/tests/app/data_products/cost/test_data_product_cost.py
  docs/static/openapi.json
  frontend/src/store/api/services/generated/dataProductsApi.ts
  sdk/sdk/api_client/api/data_products/get_data_product_cost_summary.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/data_product_cost_summary_response.py
  sdk/sdk/api_client/models/output_port_cost_breakdown.py
Due: regen-openapi-spec, local-fe-check

fix: improve return type annotation on get_data_product_cost_summary
  backend/app/data_products/output_ports/cost/service.py
Due: regen-openapi-spec

feat: add Costs tab to data product page
  frontend/public/locales/en/translation.json
  frontend/src/pages/data-product/components/data-product-tabs/costs-tab/costs-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabkeys.ts
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
Due: local-fe-check

fix: use translated labels for day-range selector in CostsTab
  frontend/public/locales/en/translation.json
  frontend/src/pages/data-product/components/data-product-tabs/costs-tab/costs-tab.tsx
Due: local-fe-check

fix: add OUTPUT_PORT__UPDATE_COST to TypeScript RBAC actions enum
  frontend/src/types/authorization/rbac-actions.ts
Due: local-fe-check

Improving costs tab and adding new data products
  demo/basic/portal_seed.sql
  frontend/public/locales/en/translation.json
  frontend/src/pages/data-product/components/data-product-tabs/costs-tab/costs-tab.tsx
Due: local-fe-check
