Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

fix release notes
  docs/docs/release-notes.md
Due: none

Dynamically loadable plugin: move glue out of tree (#4388)
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  Dockerfile
  backend/app/mcp/loader.py
  backend/app/mcp/mcp.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/app/mcp/test_loader.py
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/technical_asset_configuration/glue/__init__.py
  docs/adr/0024-dynamic-plugin-system.md
  plugins/portal_plugins/glue/mcp_instructions.py
  plugins/portal_plugins/glue/mcp_tools.py
  plugins/portal_plugins/glue/model.py
  plugins/portal_plugins/glue/schema.py
  plugins/portal_plugins/glue/versions/glue_0001_baseline.py
  plugins/pyproject.toml
  plugins/tests/conftest.py
  plugins/tests/glue/test_mcp_tools.py
  plugins/tests/glue/test_schema.py
  sdk/generation/build_plugin_configurations.py
Due: regen-openapi-spec

feat: enable release process for plugins and compact the versions to be the same
  .github/workflows/release-workflow.yml
  Taskfile.yml
  backend/poetry.lock
  backend/pyproject.toml
  plugins/pyproject.toml
Due: none

Potential fix for pull request finding 'Regenerate Poetry lockfile after dependency version update'
  Taskfile.yml
Due: none

fix(demo): update portal seed for identities schema
  demo/basic/portal_seed.sql
Due: none

fix(demo): update portal seed for identities schema (#4412)
  demo/basic/portal_seed.sql
Due: none

fix: deprecated plugins
  backend/app/plugins/migrations.py
  backend/tests/app/plugins/test_migrations.py
Due: regen-openapi-spec

feat: update initial docs for plugins
  docs/docs/developer-guide/adding-integrations.md
  docs/docs/developer-guide/architecture.md
  docs/docs/developer-guide/integrations.md
  docs/docs/release-notes.md
Due: none

Potential fix for pull request finding 'Pass focus option when scrolling to the invalid field'
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
Due: local-fe-check

feat: enable copilot to generate demo in the PR
  .github/instructions/frontend-demo.instructions.md
Due: none

Potential fix for pull request finding 'Avoid overpromising that all setup errors fail fast'
  docs/docs/developer-guide/adding-integrations.md
Due: none

Potential fix for pull request finding 'Quote and pin the shell version requirement'
  docs/docs/developer-guide/adding-integrations.md
Due: none

Potential fix for pull request finding 'Require intermediate upgrade only for versions older than 0.7.3'
  docs/docs/developer-guide/adding-integrations.md
Due: none

Potential fix for pull request finding 'Fix grammar: use “look different”'
  docs/docs/developer-guide/adding-integrations.md
Due: none

Allow directly adding a consumer
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema_request.py
  backend/app/database/alembic/versions/2026_09_25_1614-abd4229ea6af_add_exploration_event_reference_entity.py
  backend/app/events/enums.py
  backend/app/events/model.py
  backend/app/events/schema_response.py
  backend/app/events/service.py
  backend/app/users/notifications/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/docs/concepts/input-ports.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/grant-output-port-access-modal.tsx
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/consumers-tab.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsInputPortsTags.ts
  frontend/src/tests/pages/output-port/components/consumers-tab/consumers-tab.test.tsx
  frontend/src/tests/pages/output-port/components/consumers-tab/grant-output-port-access-modal.test.tsx
  frontend/src/utils/history.helper.tsx
  sdk/sdk/api_client/api/data_products_output_ports_input_ports/grant_output_port_access.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/event_entity_type.py
  sdk/sdk/api_client/models/get_event_history_response_item.py
  sdk/sdk/api_client/models/grant_output_port_access_request.py
Due: regen-openapi-spec, local-fe-check

add group api endpoints
  backend/app/core/authz/actions.py
  backend/app/groups/model.py
  backend/app/groups/router.py
  backend/app/groups/schema_request.py
  backend/app/groups/service.py
  backend/app/shared/router.py
  backend/tests/app/groups/test_service.py
  frontend/src/types/authorization/rbac-actions.ts
  sdk/sdk/api_client/models/authorization_action.py
Due: regen-openapi-spec, local-fe-check

Update release-notes.md
  docs/docs/release-notes.md
Due: none

Fix translation override file path (#4404)
  docs/docs/release-notes.md
  helm/templates/deployment.yaml
Due: none

machine users endpoints and tests and some groups updates
  backend/app/core/authz/actions.py
  backend/app/machine_users/model.py
  backend/app/machine_users/router.py
  backend/app/machine_users/schema.py
  backend/app/machine_users/schema_request.py
  backend/app/machine_users/schema_response.py
  backend/app/machine_users/service.py
  backend/app/shared/router.py
  backend/tests/app/groups/test_router.py
  backend/tests/app/machine_users/test_router.py
  backend/tests/app/machine_users/test_service.py
  frontend/src/types/authorization/rbac-actions.ts
Due: regen-openapi-spec, local-fe-check

fix translation.json by adding more nested translations
  frontend/public/locales/en/translation.json
Due: local-fe-check

updated release notes
  docs/docs/release-notes.md
Due: none

Improve marketplace cards
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-consumers-list.component.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card-layout.module.scss
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card.component.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card.module.scss
Due: local-fe-check

fix translation.json by adding more nested translations (#4427)
  docs/docs/release-notes.md
  frontend/public/locales/en/translation.json
Due: local-fe-check

Fix alembic migration creation
  backend/README.md
  backend/app/database/alembic/README
  backend/app/db_tool.py
  backend/app/plugins/migrations.py
Due: regen-openapi-spec

Fix alembic migration creation (#4429)
  backend/README.md
  backend/app/database/alembic/README
  backend/app/db_tool.py
  backend/app/plugins/migrations.py
Due: regen-openapi-spec

resolve: duplicate notifications from several replicas, rename event and move logic
  backend/app/abstract_data_product/input_ports/background_tasks.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/events/enums.py
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  frontend/public/locales/en/translation.json
  frontend/src/tests/utils/history.helper.test.tsx
  frontend/src/types/events/event-types.ts
  frontend/src/utils/history.helper.tsx
Due: regen-openapi-spec, local-fe-check

Publish plugins package on release and align all versions (#4411)
  .github/workflows/release-workflow.yml
  Taskfile.yml
  backend/poetry.lock
  backend/pyproject.toml
  plugins/pyproject.toml
Due: none

Remove unneeded `sqlfluff-lint` hook from pre-commit configuration.
  .pre-commit-config.yaml
Due: none

resolve: no dispatch message
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-technical-asset-popup/add-technical-asset-popup.test.tsx
Due: local-fe-check

resolve: writing and calrifications
  docs/docs/developer-guide/adding-integrations.md
Due: none

fix: test
  frontend/src/tests/pages/data-product/components/data-product-tabs/data-output-tab/components/add-technical-asset-popup/add-technical-asset-popup.test.tsx
Due: local-fe-check

Remove unneeded `sqlfluff-lint` hook from pre-commit configuration. (#4444)
  .pre-commit-config.yaml
Due: none

Add weekly delivery metrics issue
  .github/ISSUE_TEMPLATE/bug-report---.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/delivery-metrics.yml
  scripts/delivery_metrics.sh
Due: none

Add PR template checklist to Copilot review
  .github/skills/code-review/SKILL.md
Due: none
