Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

fix gap
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
Due: local-fe-check

implement PR comments
  backend/app/data_products/output_ports/data_quality/enums.py
  backend/app/data_products/output_ports/data_quality/model.py
  backend/app/data_products/output_ports/data_quality/router.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/app/database/alembic/versions/2026_01_19_1523-7601ac14662a_store_data_quality_summary_for_output_.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  docs/docs/developer-guide/data-quality-information.md
  docs/static/openapi.json
  frontend/package.json
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
  integrations/data_quality/extract_dbt_summary.py
  integrations/data_quality/extract_soda_summary.py
Due: regen-openapi-spec, local-fe-check

Update backend/app/data_products/output_ports/data_quality/enums.py
  backend/app/data_products/output_ports/data_quality/enums.py
Due: regen-openapi-spec

prepare PR
  backend/app/data_products/output_ports/data_quality/enums.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  docs/adr/0011-ingestion-data-quality.md
  docs/docs/developer-guide/data-quality-information.md
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/data-output-configuration-form.component.tsx
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
  integrations/data_quality/extract_soda_summary.py
Due: regen-openapi-spec, local-fe-check

Rename everything to output ports
  backend/app/authorization/roles/service.py
  backend/app/core/authz/actions.py
  backend/app/data_products/output_ports/curated_queries/router.py
  backend/app/data_products/output_ports/curated_queries/service.py
  backend/app/data_products/output_ports/data_quality/model.py
  backend/app/data_products/output_ports/data_quality/router.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/query_stats/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/service.py
  backend/app/database/alembic/versions/2026_01_19_1523-7601ac14662a_store_data_quality_summary_for_output_.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Fix PR comments
  backend/app/data_products/output_ports/data_quality/model.py
  backend/app/data_products/output_ports/data_quality/service.py
Due: regen-openapi-spec

Fix sample data.
  backend/sample_data.sql
Due: none

fix migration
  backend/app/database/alembic/versions/2026_01_31_1523-7601ac14662a_store_data_quality_summary_for_output_.py
Due: regen-openapi-spec

add actions ts
  frontend/src/pages/roles/components/roles-table.component.tsx
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/types/authorization/rbac-actions.ts
Due: local-fe-check

Update docs/docs/developer-guide/rbac.md
  docs/docs/developer-guide/rbac.md
Due: none

Resolve PR comments
  docs/docs/developer-guide/rbac.md
Due: none

Fix the front end api generation script
  frontend/package.json
  frontend/scripts/add-ts-nocheck.js
  frontend/src/store/api/services/generated/completeServiceApi.ts
Due: local-fe-check

Fix the front end api generation script (#2579)
  frontend/package.json
  frontend/scripts/add-ts-nocheck.js
  frontend/src/store/api/services/generated/completeServiceApi.ts
Due: local-fe-check

Clarifying comment
  backend/app/data_output_configuration/base_model.py
Due: regen-openapi-spec

Document the chosen data contract spec.
  docs/adr/0012-pick-data-product-standard.md
  integrations/bitol/data-contract-example.yml
  integrations/bitol/data-product-example.yml
Due: none

Document the chosen data contract spec. (#2580)
  docs/adr/0012-pick-data-product-standard.md
  integrations/bitol/data-contract-example.yml
  integrations/bitol/data-product-example.yml
Due: none

Updated alembic order
  backend/app/database/alembic/versions/2026_01_28_1241_snowflake_separate_table.py
Due: regen-openapi-spec

Initial adr for eventing system
  docs/adr/0013-eventing-system-infra-provisioning.md
Due: none

Migrate technical asset configurations to be stored in a table per configuration type instead of a big table (#2554)
  backend/.test.env
  backend/app/data_output_configuration/base_model.py
  backend/app/data_output_configuration/data_output_types.py
  backend/app/data_output_configuration/databricks/model.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/model.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/model.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/model.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/schema_union.py
  backend/app/data_output_configuration/snowflake/model.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/data_products/technical_assets/model.py
  backend/app/database/alembic/versions/2026_01_28_1241_snowflake_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1242_databricks_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1243_s3_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1244_glue_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1245_redshift_separate_table.py
  backend/app/database/alembic/versions/2026_01_28_1333_2bac081ab9d0_drop_configurations.py
  backend/sample_data.sql
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/plugins/test_router.py
  backend/tests/factories/s3_data_output.py
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/assets/icons/aws-redshift-border-icon.svg
  frontend/src/components/charts/custom-nodes/dataoutput-node/dataoutput-node.tsx
  frontend/src/components/data-outputs/data-output-card/data-output-card.component.tsx
  frontend/src/components/datasets/dataset-card/data-output-link-modal.component.tsx
  frontend/src/components/explorer/explorer.tsx
  frontend/src/pages/data-output/components/data-output-description/data-output-description.tsx
  frontend/src/pages/data-output/data-output.page.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-output-tab/components/data-output-table/data-output-table-columns.tsx
  frontend/src/utils/data-output-type.helper.ts
Due: regen-openapi-spec, local-fe-check

Add kafka as an option for eventing
  docs/adr/0013-eventing-system-infra-provisioning.md
Due: none

Initial rework of data product studio, todo quality
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/layout/navbar/breadcrumbs/breadcrumbs.component.tsx
  frontend/src/components/layout/root/root.layout.tsx
  frontend/src/components/layout/sidebar/sidebar.component.tsx
  frontend/src/pages/data-output-edit/data-output-edit.page.tsx
  frontend/src/pages/data-product-edit/data-product-edit.page.tsx
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/home/components/data-products-inbox/data-products-inbox.tsx
  frontend/src/pages/home/components/data-products-inbox/data-products-list.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.module.scss
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.module.scss
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/pages/product-studio/product-studio-tabkeys.ts
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/routes.tsx
  frontend/src/types/navigation.ts
Due: local-fe-check

Increased consistency
  frontend/public/locales/en/translation.json
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
Due: local-fe-check

Add quality to overview table
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/dataset/components/dataset-quality/dataset-quality.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/types/dataset/datasets-get.contract.ts
  frontend/src/utils/quality-status.helper.ts
Due: regen-openapi-spec, local-fe-check

Fixed import issue and show correct defaults
  backend/app/data_products/output_ports/model.py
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
Due: regen-openapi-spec, local-fe-check

Fix navigating
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
Due: local-fe-check

Add release notes
  docs/docs/release-notes.md
Due: none

Better typing
  backend/app/data_products/output_ports/schema_response.py
  docs/static/openapi.json
Due: regen-openapi-spec

Specify PlatformFactory to make tests more robust
  backend/tests/app/plugins/test_router.py
Due: regen-openapi-spec

Specify PlatformFactory to make tests more robust (#2612)
  backend/tests/app/plugins/test_router.py
Due: regen-openapi-spec

Replace selection with multi select and move it to the right
  frontend/public/locales/en/translation.json
  frontend/src/components/filters/role-filter.component.module.scss
  frontend/src/components/filters/role-filter.component.tsx
  frontend/src/pages/data-products/data-products-table.component.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/theme/antd-theme.ts
Due: local-fe-check

Fix MCP calls failing on new V2 schema validations
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

Fix remarks
  .github/workflows/tests.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/components/search-page/search-page.component.tsx
  frontend/src/components/search-page/search-suggestions.tsx
  frontend/src/tests/translation-glossary.test.ts
Due: local-fe-check

Final tool fixed
  backend/app/data_products/service.py
Due: regen-openapi-spec

package.json
  frontend/package.json
Due: local-fe-check

Fix formatting
  frontend/src/components/search-page/search-page.component.tsx
  frontend/src/tests/translation-glossary.test.ts
Due: local-fe-check

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
