Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Migrate a configuration endpoints for data products (#2412)
  backend/app/configuration/data_product_lifecycles/router.py
  backend/app/configuration/data_product_settings/router.py
  docs/static/openapi.json
  frontend/src/api/api-urls.ts
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/namespace/namespace-form-item.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/data-product-lifecycles-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/new-data-product-lifecycles-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-type-table/data-product-type-table.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/features/api/tag-types.ts
  frontend/src/store/features/data-product-lifecycles/data-product-lifecycles-api-slice.ts
  frontend/src/store/features/data-product-settings/data-product-settings-api-slice.ts
  frontend/src/store/features/data-product-types/data-product-types-api-slice.ts
Due: regen-openapi-spec, local-fe-check

Miscellaneous UI fixes
  frontend/public/locales/en/translation.json
  frontend/src/components/explorer/use-node-editor.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
  frontend/src/components/layout/auth/auth.layout.tsx
  frontend/src/components/layout/protected/protected.layout.tsx
  frontend/src/hooks/use-tab-param.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabkeys.ts
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabkeys.ts
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.component.tsx
Due: local-fe-check

Miscellaneous UI fixes
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
Due: local-fe-check

Improve explorer layouting
  frontend/src/components/charts/custom-nodes/base-node/base-node.module.scss
  frontend/src/components/global-explorer/use-node-editor.tsx
Due: local-fe-check

Miscellaneous UI fixes (#2427)
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/explorer/use-node-editor.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
  frontend/src/components/layout/auth/auth.layout.tsx
  frontend/src/components/layout/protected/protected.layout.tsx
  frontend/src/hooks/use-tab-param.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabkeys.ts
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabkeys.ts
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/data-product-settings-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/settings-tabs.component.tsx
Due: local-fe-check

Migrate theme settings to v2
  backend/app/configuration/theme_settings/router.py
  docs/static/openapi.json
  frontend/src/components/branding/sidebar-logo/sidebar-logo.tsx
  frontend/src/pages/settings/components/settings-tabs/components/theme-form/theme-form.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/features/theme-settings/theme-settings-api-slice.ts
  frontend/src/types/theme-settings/index.ts
  frontend/src/types/theme-settings/theme-settings.ts
Due: regen-openapi-spec, local-fe-check

Migrate theme settings to v2 (#2434)
  backend/app/configuration/theme_settings/router.py
  docs/static/openapi.json
  frontend/src/components/branding/sidebar-logo/sidebar-logo.tsx
  frontend/src/pages/settings/components/settings-tabs/components/theme-form/theme-form.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/features/theme-settings/theme-settings-api-slice.ts
  frontend/src/types/theme-settings/index.ts
  frontend/src/types/theme-settings/theme-settings.ts
Due: regen-openapi-spec, local-fe-check

Migrate tags to v2
  frontend/src/components/data-outputs/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-table.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/features/tags/tags-api-slice.ts
  frontend/src/types/tag/index.ts
  frontend/src/types/tag/tag-create.contract.ts
Due: local-fe-check

Migrate tags to v2 (#2433)
  frontend/src/components/data-outputs/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/tags-table/tags-table.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/features/tags/tags-api-slice.ts
  frontend/src/types/tag/index.ts
  frontend/src/types/tag/tag-create.contract.ts
Due: local-fe-check

Migrate users to v2
  backend/app/core/auth/router.py
  backend/app/users/router.py
  backend/tests/app/users/test_router.py
  docs/static/openapi.json
  frontend/src/api/api-urls.ts
  frontend/src/components/buttons/admin-button.tsx
  frontend/src/components/data-access/user-access-overview/user-access-overview.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/filters/role-filter.component.tsx
  frontend/src/components/layout/auth/auth.layout.tsx
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/components/modal/user-popup/user-popup.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
  frontend/src/pages/data-product/components/data-product-request-access-button/data-product-request-access-button.tsx
  frontend/src/pages/data-product/components/data-product-tabs/about-tab/about-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/about-tab/about-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/people/people-table-columns.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/auth-slice.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/features/auth/auth-api-slice.ts
  frontend/src/store/features/users/users-api-slice.ts
  frontend/src/store/index.ts
  frontend/src/types/notifications/notification.contract.ts
  frontend/src/types/users/user.contract.ts
Due: regen-openapi-spec, local-fe-check

Migrate users to v2 (#2428)
  backend/app/core/auth/router.py
  backend/app/users/router.py
  backend/tests/app/users/test_router.py
  docs/static/openapi.json
  frontend/src/api/api-urls.ts
  frontend/src/components/buttons/admin-button.tsx
  frontend/src/components/data-access/user-access-overview/user-access-overview.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/filters/role-filter.component.tsx
  frontend/src/components/layout/auth/auth.layout.tsx
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/components/modal/user-popup/user-popup.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
  frontend/src/pages/data-product/components/data-product-request-access-button/data-product-request-access-button.tsx
  frontend/src/pages/data-product/components/data-product-tabs/about-tab/about-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/about-tab/about-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/people/people-table-columns.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/auth-slice.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/features/auth/auth-api-slice.ts
  frontend/src/store/features/users/users-api-slice.ts
  frontend/src/store/index.ts
  frontend/src/types/notifications/notification.contract.ts
  frontend/src/types/users/user.contract.ts
Due: regen-openapi-spec, local-fe-check

Migrate domains
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/features/api/tag-types.ts
  frontend/src/store/features/domains/domains-api-slice.ts
Due: local-fe-check

Migrate domains (#2413)
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-form-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-migrate-modal.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/features/api/tag-types.ts
  frontend/src/store/features/domains/domains-api-slice.ts
Due: local-fe-check

Clean up query responses
  frontend/src/components/roles/role-change-form/role-change-form.tsx
  frontend/src/pages/data-product/components/data-product-request-access-button/data-product-request-access-button.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/usage-tab.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
Due: local-fe-check

Better backend implementation
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/data_products/technical_assets/service.py
  docs/static/openapi.json
  frontend/src/components/data-products/data-output-form/generic-data-output-form.component.tsx
Due: regen-openapi-spec, local-fe-check

Clean up query responses (#2435)
  frontend/src/components/roles/role-change-form/role-change-form.tsx
  frontend/src/pages/data-product/components/data-product-request-access-button/data-product-request-access-button.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/team-tab/team-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/usage-tab.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
Due: local-fe-check

wip domain-outputPort link rework
  backend/app/configuration/domains/model.py
  backend/app/configuration/domains/schema_response.py
  backend/app/configuration/domains/service.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_request.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/2025_12_24_1124-49990691cd30_drop_domain_id_reference_in_datasets.py
  backend/app/graph/service.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/domains/test_router.py
  backend/tests/app/graph/test_router.py
  backend/tests/factories/dataset.py
  docs/static/openapi.json
  frontend/package-lock.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table.component.tsx
  frontend/src/types/dataset/dataset-create.contract.ts
  frontend/src/types/domain/domain-get.contract.ts
Due: regen-openapi-spec, local-fe-check

Now the attribute resolver is failing for many tests:
  backend/README.md
Due: none

Finish rebase
  backend/app/data_products/output_ports/model.py
Due: regen-openapi-spec

Add options on plugin provisioning
  docs/adr/0009-plugin-data-output-configs.md
Due: none

Change name
  docs/adr/0009-plugin-data-output-configs.md
Due: none

Fix resolvers and seed script
  backend/app/core/authz/authorization.py
  backend/app/core/authz/resolvers.py
  backend/app/data_products/output_ports/model.py
  backend/app/db_tool.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

Fix linting and seed script
  backend/app/core/authz/resolvers.py
  backend/app/db_tool.py
  backend/sample_data.sql
Due: regen-openapi-spec

Fix seed script
  backend/sample_data.sql
Due: none

Extend ADR with comments
  docs/adr/0009-plugin-data-output-configs.md
Due: none

Update ADR
  docs/adr/0009-plugin-data-output-configs.md
Due: none

Remove unneeded code
  backend/app/database/alembic/versions/2025_12_24_1124-49990691cd30_drop_domain_id_reference_in_datasets.py
Due: regen-openapi-spec

Update docs/adr/0009-plugin-data-output-configs.md
  docs/adr/0009-plugin-data-output-configs.md
Due: none

Fix created PR by Shivam
  backend/app/core/auth/device_flows/background_tasks.py
  backend/app/core/auth/device_flows/service.py
  backend/app/main.py
  backend/app/settings.py
  backend/tests/app/auth/test_device_flow_cleanup.py
Due: regen-openapi-spec

Remove domain id output ports (#2364)
  backend/README.md
  backend/app/configuration/domains/model.py
  backend/app/configuration/domains/schema_response.py
  backend/app/configuration/domains/service.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/resolvers.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_request.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/2025_12_24_1124-49990691cd30_drop_domain_id_reference_in_datasets.py
  backend/app/db_tool.py
  backend/app/graph/service.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/domains/test_router.py
  backend/tests/app/graph/test_router.py
  backend/tests/factories/dataset.py
  docs/static/openapi.json
  frontend/package-lock.json
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/domain-table/domain-table.component.tsx
  frontend/src/types/dataset/dataset-create.contract.ts
  frontend/src/types/domain/domain-get.contract.ts
Due: regen-openapi-spec, local-fe-check

Address PR comments
  docs/adr/0009-plugin-data-output-configs.md
Due: none

Migrate platforms and environments to v2
  frontend/src/components/data-access/data-access-tile-grid/data-access-tile-grid.tsx
  frontend/src/components/data-access/data-access-tile/data-access-tile.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/configurationPlatformsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/features/environments/environments-api-slice.tsx
  frontend/src/store/features/platform-service-configs/platform-service-configs-api-slice.tsx
  frontend/src/store/features/platforms/platforms-api-slice.tsx
  frontend/src/types/environment/env-platform-service-config.ts
  frontend/src/types/environment/environment.ts
  frontend/src/types/environment/index.ts
  frontend/src/types/platform-service-config/index.ts
  frontend/src/types/platform-service-config/platform-service-config.ts
Due: local-fe-check

Update usage ADRs (#2188)
  docs/adr/0004-db-model-usage-metrics.md
  docs/adr/0005-db-model-usages-curated-queries.md
  docs/adr/0006-rest-endpoints-usage.md
  docs/adr/0009-api-redesign.md
Due: none

Make adr compliant
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/redshift/schema.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/data_products/technical_assets/router.py
  backend/app/data_products/technical_assets/service.py
  docs/static/openapi.json
  frontend/src/api/api-urls.ts
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
Due: regen-openapi-spec, local-fe-check

Fix unit test
  backend/app/data_products/technical_assets/router.py
  backend/app/data_products/technical_assets/schema_response.py
  backend/tests/app/data_products/technical_assets/test_router.py
  docs/static/openapi.json
  frontend/src/api/api-urls.ts
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
Due: regen-openapi-spec, local-fe-check

Update alembic migration
  backend/app/database/alembic/versions/2026_01_07_1455-dbe6fbe45eef_add_entire_schema_checkbox.py
Due: regen-openapi-spec

Migrate platforms and environments to v2 (#2444)
  frontend/src/components/data-access/data-access-tile-grid/data-access-tile-grid.tsx
  frontend/src/components/data-access/data-access-tile/data-access-tile.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/configurationPlatformsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/features/environments/environments-api-slice.tsx
  frontend/src/store/features/platform-service-configs/platform-service-configs-api-slice.tsx
  frontend/src/store/features/platforms/platforms-api-slice.tsx
  frontend/src/types/environment/env-platform-service-config.ts
  frontend/src/types/environment/environment.ts
  frontend/src/types/environment/index.ts
  frontend/src/types/platform-service-config/index.ts
  frontend/src/types/platform-service-config/platform-service-config.ts
Due: local-fe-check

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
