Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Fix more issues
  backend/app/core/auth/auth.py
  backend/app/core/auth/device_flows/router.py
  backend/app/core/auth/jwt.py
  backend/tests/app/auth/test_device_router.py
Due: regen-openapi-spec

Revert oidc restructure
  backend/app/core/auth/oidc.py
  backend/tests/app/core/webhooks/test_v2.py
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

Maintenance of dependencies
  .github/workflows/tests.yml
  backend/poetry.lock
  backend/requirements-poetry.txt
  demo/basic/Taskfile.yml
  demo/basic/products/poetry.lock
  demo/basic/provisioner/poetry.lock
  demo/basic/provisioner/requirements-poetry.in
  demo/basic/provisioner/requirements-poetry.txt
  docs/package-lock.json
  frontend/package-lock.json
Due: local-fe-check

Update dependabot docker dep check for single image (#3457)
  .github/dependabot.yml
Due: none

Add OpenAPI export flag to exclude deprecated routes
  .gitignore
  .tool-versions
  Taskfile.yml
  backend/README.md
  backend/app/authorization/router.py
  backend/app/open_api_export.py
  docs/static/openapi-no-deprecated.json
Due: regen-openapi-spec

Add generated Go SDK for the Portal API
  Taskfile.yml
  cli/golang/README.md
  sdk-go/go.mod
  sdk-go/go.sum
  sdk-go/oapi-codegen.yaml
  sdk-go/portalsdk/client.go
  sdk-go/portalsdk/client_options.go
  sdk-go/portalsdk/common.go
  sdk-go/portalsdk/enums.go
  sdk-go/portalsdk/paths.go
  sdk-go/portalsdk/payloads.go
  sdk-go/portalsdk/queries.go
  sdk-go/portalsdk/responses.go
  sdk-go/portalsdk/types.go
  sdk-go/portalsdk/unions.go
Due: none

Fix log file path to /var/log/data-product-portal.log
  backend/app/core/logging/logger.py
  backend/app/settings.py
  helm/templates/configmap_cw.yaml
  helm/values.yaml
Due: regen-openapi-spec

Maintenance of dependencies (#3475)
  .github/workflows/tests.yml
  backend/requirements-poetry.txt
  demo/basic/Taskfile.yml
  demo/basic/products/poetry.lock
  demo/basic/provisioner/poetry.lock
  demo/basic/provisioner/requirements-poetry.in
  demo/basic/provisioner/requirements-poetry.txt
  docs/package-lock.json
  frontend/package-lock.json
Due: local-fe-check

updating the draft ADR
  docs/adr/0019-event-payload-scoping.md
Due: none

first attempt at fixing the configuration
  demo/agents/.env.portal
  demo/agents/compose.yaml
  demo/basic/.env.portal
  demo/basic/compose.yaml
Due: none

removing sdk and demo from ignore or we cant run the demos anymore
  .dockerignore
  demo/basic/provisioner/VERSION
Due: none

removing unneeded VERSION file
  demo/basic/provisioner/Dockerfile
  demo/basic/provisioner/VERSION
Due: none

Extend PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fixing demos after refactor compose (#3512)
  .dockerignore
  demo/agents/.env.portal
  demo/agents/compose.yaml
  demo/basic/.env.portal
  demo/basic/compose.yaml
  demo/basic/provisioner/Dockerfile
  demo/basic/provisioner/VERSION
Due: none

Fix log file path to /var/log/data-product-portal.log (#3483)
  backend/app/core/logging/logger.py
  backend/app/settings.py
  helm/templates/configmap_cw.yaml
  helm/values.yaml
Due: regen-openapi-spec

Replace hardcoded SDK routes by generated calls (#3461)
  backend/app/core/auth/auth.py
  backend/app/core/auth/device_flows/router.py
  backend/app/core/auth/device_flows/service.py
  backend/app/core/auth/jwt.py
  backend/app/core/auth/oidc.py
  backend/app/main.py
  backend/app/mcp/mcp.py
  backend/tests/app/auth/test_device_router.py
  backend/tests/app/core/webhooks/test_v2.py
  backend/tests/app/data_products/output_ports/test_router.py
  docs/static/openapi.json
  sdk/sdk/api_client/api/authentication/get_device_token.py
  sdk/sdk/api_client/api/authentication/get_jwt_token.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/device_flow.py
  sdk/sdk/api_client/models/device_flow_status.py
  sdk/sdk/auth.py
Due: regen-openapi-spec

Pin dependency
  .github/workflows/tests.yml
Due: none

Create backend implementation for data contract ingestion/retrieval (#3460)
  backend/app/core/authz/actions.py
  backend/app/data_products/output_ports/contract/model.py
  backend/app/data_products/output_ports/contract/router.py
  backend/app/data_products/output_ports/contract/schema_request.py
  backend/app/data_products/output_ports/contract/schema_response.py
  backend/app/data_products/output_ports/contract/service.py
  backend/app/data_products/output_ports/router.py
  backend/app/database/alembic/versions/2026_05_18_1000-8aa8df18d6ff_add_output_port_schema_model.py
  backend/app/database/alembic/versions/2026_05_19_1108-31b753ca1a0c_add_update_contract_permissions_to_.py
  backend/tests/app/data_products/output_ports/contract/test_router.py
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/types/authorization/rbac-actions.ts
  sdk/sdk/api_client/api/data_products_output_ports/get_output_port_schema.py
  sdk/sdk/api_client/api/data_products_output_ports/ingest_output_port_contract.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/authorization_action.py
  sdk/sdk/api_client/models/bitol_contract_request.py
  sdk/sdk/api_client/models/output_port_schema_response.py
  sdk/sdk/api_client/models/schema_object_request.py
  sdk/sdk/api_client/models/schema_object_response.py
  sdk/sdk/api_client/models/schema_property_request.py
  sdk/sdk/api_client/models/schema_property_response.py
Due: regen-openapi-spec, local-fe-check

Pin dependency (#3531)
  .github/workflows/tests.yml
Due: none

Update dependencies
  backend/requirements-poetry.txt
  demo/agents/provisioner/requirements-poetry.txt
  demo/basic/provisioner/requirements-poetry.txt
Due: none

adding revents and initial ADR
  docs/adr/0019-event-payload-scoping.md
  docs/adr/reference/use-case-aws-s3-provisioner.md
Due: none

Update dependencies (#3538)
  backend/requirements-poetry.txt
  demo/agents/provisioner/requirements-poetry.txt
  demo/basic/provisioner/requirements-poetry.txt
Due: none

Fix single behavior
  backend/app/main.py
Due: regen-openapi-spec

Fix single behavior (#3540)
  backend/app/main.py
Due: regen-openapi-spec

Remove logging
  cli/golang/libs/core/profile.go
Due: none

New fastmcp version breaks the backend
  backend/pyproject.toml
Due: none

New fastmcp version breaks the backend
  backend/poetry.lock
Due: none

Fix typing
  backend/app/core/auth/device_flows/router.py
  backend/app/core/auth/device_flows/service.py
  docs/static/openapi.json
  sdk/sdk/api_client/api/authentication/get_jwt_token.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/get_jwt_token_response_get_jwt_token_api_v2_authn_device_jwt_token_post.py
  sdk/sdk/api_client/models/oidc_token_response.py
Due: regen-openapi-spec

Undo change to translation
  frontend/public/locales/en/translation.json
Due: local-fe-check

Update quickstart for single docker
  docs/docs/getting-started/quickstart.md
Due: none

Update quickstart for single docker (#3542)
  docs/docs/getting-started/quickstart.md
Due: none

Updating Team Member Updated
  docs/adr/reference/use-case-aws-s3-provisioner.md
Due: none

Clarifying Input port removed
  docs/adr/reference/use-case-aws-s3-provisioner.md
Due: none

Stash exploration work
  backend/app/authorization/roles/schema.py
  backend/app/explorations/router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/exploration/components/exploration-start.tsx
  frontend/src/pages/exploration/components/exploration-team.tsx
  frontend/src/pages/exploration/exploration-tab-keys.ts
  frontend/src/pages/exploration/exploration.page.tsx
  frontend/src/pages/roles/components/roles-button.component.tsx
  frontend/src/pages/roles/components/roles-table.component.tsx
  frontend/src/pages/roles/roles.page.tsx
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/configurationPlatformsApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsDataQualityApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/resourceNamesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/types/roles/enums.ts
Due: regen-openapi-spec, local-fe-check

Apply suggestions from code review
  docs/adr/0019-event-payload-scoping.md
Due: none

Reframing because we already have access
  docs/adr/reference/use-case-aws-s3-provisioner.md
Due: none

Fix latest generation
  cli/golang/libs/auth/login.go
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_defaults_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
Due: none

Add pre commit check for cli generation
  .pre-commit-config.yaml
  scripts/check_generated_cli.sh
Due: none

Adjusting to comments on pull requests
  docs/adr/reference/use-case-aws-s3-provisioner.md
Due: none

Adjusting the ADR to reflect discussion yesterday
  docs/adr/0019-event-payload-scoping.md
Due: none
