Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Added 2 question to the FAQ for provisioner (#3713)
  docs/docs/developer-guide/provisioner.md
Due: none

ADR 19 and 20 updated (#3649)
  docs/adr/0019-event-payload-scoping.md
  docs/adr/reference/id-only-event-implementation.md
Due: none

fix: address renewal-status review comments and edge cases
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/database/alembic/versions/2026_07_17_1230-b1e7c4a9d3f2_add_access_duration_days_check.py
  backend/sample_data.sql
  backend/tests/app/abstract_data_product/input_ports/test_model.py
  backend/tests/factories/access_duration.py
  backend/tests/factories/dataset.py
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/input-port/access-status.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
Due: regen-openapi-spec, local-fe-check

resolve: move method from model and make is expriing soon days configurable in settinsg
  backend/app/abstract_data_product/service.py
  backend/app/access_durations/router.py
  backend/app/access_durations/schema_response.py
  backend/app/data_products/output_ports/model.py
  backend/app/settings.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/src/components/input-port/access-status.tsx
  frontend/src/store/api/services/generated/accessDurationsApi.ts
  sdk/sdk/api_client/api/access_durations/get_expiring_soon_threshold.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/expiring_soon_threshold_response.py
Due: regen-openapi-spec, local-fe-check

fix: add tests for new route
  backend/tests/app/access_durations/test_router.py
Due: regen-openapi-spec

feat: add renew action for input ports
  backend/app/abstract_data_product/service.py
  backend/app/data_products/router.py
  backend/app/data_products/schema_response.py
  backend/app/explorations/router.py
  backend/app/explorations/schema_response.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/explorations/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-botton.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/input-port-tab.tsx
  frontend/src/components/input-port/access-status.tsx
  frontend/src/pages/data-product/components/data-product-tabs/input-ports/input-port-tab.tsx
  frontend/src/pages/exploration/components/exploration-input-ports.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/tags/dataProductTags.ts
  frontend/src/store/api/services/tags/explorationTags.ts
  sdk/sdk/api_client/api/data_products/renew_input_port_for_data_product.py
  sdk/sdk/api_client/api/explorations/renew_input_port_for_exploration.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/renew_input_port_for_data_product_response.py
  sdk/sdk/api_client/models/renew_input_port_for_exploration_response.py
Due: regen-openapi-spec, local-fe-check

refactor: update error message to be more informative
  backend/app/abstract_data_product/service.py
Due: regen-openapi-spec

Fix import
  backend/app/technical_asset_configuration/glue/mcp_tools.py
  sdk/poetry.lock
  sdk/pyproject.toml
Due: regen-openapi-spec

Replace paths
  backend/app/mcp/loader.py
  backend/app/mcp/plugin_registry.py
Due: regen-openapi-spec

refactor: Simplify input port status column visuals
  backend/app/data_products/router.py
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/input-port/access-status.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/utils/status.helper.ts
Due: regen-openapi-spec, local-fe-check

resolve: wrong enum for comparison, also wrong typing
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/input-port/access-status.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  sdk/sdk/api_client/models/input_port_request.py
  sdk/sdk/api_client/models/input_port_request_base.py
Due: regen-openapi-spec, local-fe-check

Allowed hosts
  backend/app/main.py
Due: regen-openapi-spec

Fix pydantic vs ORM bug
  backend/app/technical_asset_configuration/glue/mcp_tools.py
Due: regen-openapi-spec

resolve: Extract shared notify logic, fix input-port button typo
  backend/app/data_products/router.py
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-button.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
Due: regen-openapi-spec, local-fe-check

Feature/3754 timebound access renewal button (#3883)
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema.py
  backend/app/data_products/router.py
  backend/app/data_products/schema_response.py
  backend/app/explorations/router.py
  backend/app/explorations/schema_response.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/explorations/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-botton.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-button.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table.component.tsx
  frontend/src/components/abstract-data-products/input-port-tab/input-port-tab.tsx
  frontend/src/components/input-port/access-status.tsx
  frontend/src/pages/data-product/components/data-product-tabs/input-ports/input-port-tab.tsx
  frontend/src/pages/dataset/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/pages/exploration/components/exploration-input-ports.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/tags/dataProductTags.ts
  frontend/src/store/api/services/tags/explorationTags.ts
  frontend/src/utils/status.helper.ts
  sdk/sdk/api_client/api/data_products/renew_input_port_for_data_product.py
  sdk/sdk/api_client/api/explorations/renew_input_port_for_exploration.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/input_port_request.py
  sdk/sdk/api_client/models/input_port_request_base.py
  sdk/sdk/api_client/models/renew_input_port_for_data_product_response.py
  sdk/sdk/api_client/models/renew_input_port_for_exploration_response.py
Due: regen-openapi-spec, local-fe-check

Reduce s3 bucket dependency and settings, don't pass result location if not needed and use default workgroup location
  backend/app/technical_asset_configuration/glue/mcp_tools.py
Due: regen-openapi-spec

Fix no glue configuration
  backend/app/technical_asset_configuration/glue/mcp_tools.py
Due: regen-openapi-spec

resolve: copilot comments
  backend/app/data_products/router.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  docs/adr/0021-input-ports-and-input-port-requests.md
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-button.component.tsx
Due: regen-openapi-spec, local-fe-check

fix: dependency
  frontend/biome.json
  frontend/package-lock.json
  frontend/src/tests/components/input-port/access-status.test.tsx
Due: local-fe-check

fix: Reflect revoked access in request history and drop dead code
  backend/app/abstract_data_product/model.py
  backend/app/data_products/output_ports/input_ports/schema_request.py
  backend/app/data_products/output_ports/input_ports/service.py
  frontend/src/pages/product-studio/components/my-requests-tab/use-table-columns.tsx
  frontend/src/pages/product-studio/components/requests/request-utils.ts
  frontend/src/tests/utils/status.helper.test.ts
  frontend/src/utils/status.helper.ts
Due: regen-openapi-spec, local-fe-check

feat: Expire lapsed input port grants via a daily background task
  backend/app/abstract_data_product/input_ports/background_tasks.py
  backend/app/abstract_data_product/input_ports/model.py
  backend/app/core/webhooks/v2.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/database/alembic/versions/2026_07_24_1000-d4e1f9a2b6c7_add_expiry_event_sent_to_input_ports.py
  backend/app/main.py
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
Due: regen-openapi-spec

feature: update the docs for 3754 timebound access
  docs/docs/concepts/input-ports.md
  docs/docs/concepts/output-ports.md
  docs/docs/release-notes.md
  docs/docs/user-guide/creating-products.md
Due: none

Add find-docs skill for Claude Code and GitHub Copilot
  .claude/skills/find-docs/SKILL.md
  .github/skills/find-docs/SKILL.md
Due: none

resolve: PR review comments
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-button.component.tsx
  frontend/src/pages/product-studio/components/requests/request-utils.ts
  frontend/src/types/events/event-types.ts
  frontend/src/types/roles/enums.ts
  frontend/src/types/roles/index.ts
  frontend/src/utils/history.helper.tsx
  frontend/src/utils/status.helper.ts
Due: local-fe-check

fix: merge issue
  backend/app/data_products/output_ports/input_ports/service.py
Due: regen-openapi-spec

Delete .github/skills/find-docs/SKILL.md
  .github/skills/find-docs/SKILL.md
Due: none

Update backend/app/abstract_data_product/input_ports/background_tasks.py
  backend/app/abstract_data_product/input_ports/background_tasks.py
Due: regen-openapi-spec

docs: link timebound access to input ports documentation
  docs/docs/release-notes.md
Due: none

fix: pre-commit hooks
  backend/app/abstract_data_product/input_ports/background_tasks.py
Due: regen-openapi-spec

Feature/3574 timebound access docs (#3940)
  docs/docs/concepts/input-ports.md
  docs/docs/concepts/output-ports.md
  docs/docs/release-notes.md
  docs/docs/user-guide/creating-products.md
Due: none

Try out athena config at glue level
  backend/app/configuration/environments/platform_service_configurations/schemas/glue_schema.py
  backend/app/mcp/loader.py
  backend/app/mcp/mcp.py
  backend/app/mcp/plugin_registry.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/glue/mcp_tools.py
  backend/app/technical_asset_configuration/glue/schema.py
  docs/static/openapi.json
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  sdk/sdk/api_client/models/aws_glue_config.py
Due: regen-openapi-spec, local-fe-check

Fix workgroup fetch
  backend/app/technical_asset_configuration/glue/mcp_tools.py
Due: regen-openapi-spec

Add postgres store for JWT Tokens
  backend/app/mcp/deps.py
Due: regen-openapi-spec

Use dependencies
  backend/app/technical_asset_configuration/glue/mcp_tools.py
Due: regen-openapi-spec

Encode url
  backend/app/database/database.py
Due: regen-openapi-spec
