Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Add developer role, auto approve input port, add schema and last updated timestamp
  backend/app/data_output_configuration/rstudio/schema.py
  demo/README.md
  demo/provisioner/provisioner/main.py
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/.Rprofile
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/.gitignore
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/README.md
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/load_data.R
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/setup.R
  demo/templates/sqlmesh/{{cookiecutter.project_name}}/{{cookiecutter.project_name}}.Rproj
Due: regen-openapi-spec

Update backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/databricks/schema.py
Due: regen-openapi-spec

Update backend/app/core/aws/get_url.py
  backend/app/core/aws/get_url.py
Due: regen-openapi-spec

Remove TODO
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
Due: local-fe-check

Do not allow to link technical assets in pending state
  backend/app/data_products/technical_assets/service.py
  frontend/public/locales/en/translation.json
  frontend/src/components/data-outputs/data-output-card/data-output-card.component.tsx
Due: regen-openapi-spec, local-fe-check

Do not allow to link technical assets in pending state (#2697)
  backend/app/data_products/technical_assets/service.py
  frontend/public/locales/en/translation.json
  frontend/src/components/data-outputs/data-output-card/data-output-card.component.tsx
Due: regen-openapi-spec, local-fe-check

Migrate resource names (#2639)
  .gitattributes
  backend/app/configuration/data_product_settings/service.py
  backend/app/core/namespace/validation.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/service.py
  backend/app/resource_names/router.py
  backend/app/resource_names/service.py
  backend/tests/app/data_product_settings/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-outputs/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/datasets/dataset-form/dataset-form.component.tsx
  frontend/src/components/resource-name/resource-name-form-item.module.scss
  frontend/src/components/resource-name/resource-name-form-item.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-settings-table/new-data-product-setting-modal.component.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDataProductTypesApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  frontend/src/store/api/services/generated/configurationPlatformsApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/generated/configurationThemeSettingsApi.ts
  frontend/src/store/api/services/generated/outputPortDataQualityApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/resourceNamesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
  frontend/src/store/features/data-products/data-products-api-slice.ts
  frontend/src/store/features/datasets/datasets-api-slice.ts
Due: regen-openapi-spec, local-fe-check

Feature/backend url in plugins (#2652)
  backend/app/configuration/environments/platform_configurations/service.py
  backend/app/core/auth/service.py
  backend/app/core/aws/get_url.py
  backend/app/data_output_configuration/base_schema.py
  backend/app/data_output_configuration/conveyor/schema.py
  backend/app/data_output_configuration/databricks/schema.py
  backend/app/data_output_configuration/glue/schema.py
  backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/s3/schema.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/app/data_output_configuration/snowflake/schema.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/tests/app/data_products/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/data-access/data-access-tile-grid/data-access-tile-grid.tsx
  frontend/src/pages/data-product/components/data-product-actions/data-product-actions.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
Due: regen-openapi-spec, local-fe-check

Pending request rework
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/access-requested-cell.tsx
  frontend/src/components/requests/data-product-cell.tsx
  frontend/src/components/requests/expanded-request-details.tsx
  frontend/src/components/requests/request-actions.tsx
  frontend/src/components/requests/request-type-badge.tsx
  frontend/src/components/requests/requester-cell.tsx
  frontend/src/hooks/use-table-columns.tsx
  frontend/src/pages/product-studio/components/requests-panel/manage-active-access-view.tsx
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-view.tsx
  frontend/src/pages/product-studio/components/requests-panel/requests-panel.component.tsx
  frontend/src/pages/product-studio/product-studio-tabkeys.ts
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/theme/antd-theme.ts
  frontend/src/utils/request-handlers.ts
  frontend/src/utils/request-utils.ts
Due: local-fe-check

Cleanup frontend code
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/access-requested-cell.tsx
  frontend/src/components/requests/data-product-cell.tsx
  frontend/src/components/requests/request-type-badge.tsx
  frontend/src/components/requests/requester-cell.tsx
  frontend/src/pages/product-studio/components/requests-panel/manage-active-access-view.tsx
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-view.tsx
  frontend/src/pages/product-studio/components/requests-panel/requests-panel.component.tsx
Due: local-fe-check

Migrated pending requests
  backend/app/data_products/output_port_technical_assets_link/schema_response.py
  backend/sample_data.sql
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table.component.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-types.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-list.tsx
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsInputPortsTags.ts
  frontend/src/store/api/services/tags/dataProductsTechicalAssetsTags.ts
  frontend/src/store/api/services/tags/usersNotificationsTags.ts
  frontend/src/store/api/services/tags/usersTags.ts
  frontend/src/store/features/pending-actions/pending-actions-api-slice.ts
Due: regen-openapi-spec, local-fe-check

Migrate the graph fetching to v2
  backend/app/graph/router.py
  backend/tests/app/graph/test_router.py
  docs/static/openapi.json
  frontend/src/components/explorer/explorer.tsx
  frontend/src/components/explorer/utils.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/nodes/domain-node-parser.helper.ts
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/store/common/axios-base-query.ts
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
  frontend/src/store/features/data-products/data-products-api-slice.ts
  frontend/src/store/features/datasets/datasets-api-slice.ts
  frontend/src/store/features/graph/graph-api-slice.ts
  frontend/src/types/graph/graph-contract.ts
  frontend/src/utils/node-parser.helper.ts
Due: regen-openapi-spec, local-fe-check

Migrate the graph fetching to v2 (#2714)
  backend/app/graph/router.py
  backend/tests/app/graph/test_router.py
  docs/static/openapi.json
  frontend/src/components/explorer/explorer.tsx
  frontend/src/components/explorer/utils.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/nodes/domain-node-parser.helper.ts
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/completeServiceApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/store/common/axios-base-query.ts
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
  frontend/src/store/features/data-products/data-products-api-slice.ts
  frontend/src/store/features/datasets/datasets-api-slice.ts
  frontend/src/store/features/graph/graph-api-slice.ts
  frontend/src/types/graph/graph-contract.ts
  frontend/src/utils/node-parser.helper.ts
Due: regen-openapi-spec, local-fe-check

Fix the output port link in explorer
  backend/app/graph/service.py
Due: regen-openapi-spec

Migrated pending requests (#2713)
  backend/app/data_products/output_port_technical_assets_link/schema_response.py
  backend/sample_data.sql
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table-columns.tsx
  frontend/src/pages/dataset/components/dataset-tabs/data-product-tab/components/data-product-table/data-product-table.component.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-types.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-list.tsx
  frontend/src/store/api/services/apiTags.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/tag-types.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsInputPortsTags.ts
  frontend/src/store/api/services/tags/dataProductsTechicalAssetsTags.ts
  frontend/src/store/api/services/tags/usersNotificationsTags.ts
  frontend/src/store/api/services/tags/usersTags.ts
  frontend/src/store/features/pending-actions/pending-actions-api-slice.ts
Due: regen-openapi-spec, local-fe-check

Fix breadcrumbs
  frontend/public/locales/en/translation.json
  frontend/src/App.tsx
  frontend/src/components/layout/navbar/breadcrumbs/breadcrumb.context.tsx
  frontend/src/components/layout/navbar/breadcrumbs/breadcrumbs.component.tsx
  frontend/src/components/layout/navbar/breadcrumbs/breadcrumbs.module.scss
  frontend/src/pages/audit-logs/audit-logs.page.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/data-output-edit/data-output-edit.page.tsx
  frontend/src/pages/data-output/data-output.page.tsx
  frontend/src/pages/data-product-create/data-product-create.page.tsx
  frontend/src/pages/data-product-edit/data-product-edit.page.tsx
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/dataset-edit/dataset-edit.page.tsx
  frontend/src/pages/dataset/dataset.page.tsx
  frontend/src/pages/explorer/explorer.page.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/pages/settings/settings.page.tsx
Due: local-fe-check

Fix the output port link in explorer (#2716)
  backend/app/graph/service.py
Due: regen-openapi-spec

Fix breadcrumbs (#2724)
  frontend/public/locales/en/translation.json
  frontend/src/App.tsx
  frontend/src/components/layout/navbar/breadcrumbs/breadcrumb.context.tsx
  frontend/src/components/layout/navbar/breadcrumbs/breadcrumbs.component.tsx
  frontend/src/components/layout/navbar/breadcrumbs/breadcrumbs.module.scss
  frontend/src/pages/audit-logs/audit-logs.page.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/data-output-edit/data-output-edit.page.tsx
  frontend/src/pages/data-output/data-output.page.tsx
  frontend/src/pages/data-product-create/data-product-create.page.tsx
  frontend/src/pages/data-product-edit/data-product-edit.page.tsx
  frontend/src/pages/data-product/data-product.page.tsx
  frontend/src/pages/dataset-edit/dataset-edit.page.tsx
  frontend/src/pages/dataset/dataset.page.tsx
  frontend/src/pages/explorer/explorer.page.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/pages/settings/settings.page.tsx
Due: local-fe-check

Fix issue with using newly created product in cart
  frontend/src/pages/cart/cart.page.tsx
Due: local-fe-check

Remove old get all datasets calls
  backend/.test.env
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/2026_02_19_1545-bb31223f935e_dataset_index_on_name.py
  backend/app/search_output_ports/router.py
  backend/app/search_output_ports/schema_response.py
  backend/tests/app/search_output_ports/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/cart/cart-button.component.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/components/chart-data.utils.ts
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/components/curated-queries-list.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/components/curated-query-item.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/usage-tab.tsx
  frontend/src/pages/home/components/datasets-inbox/datasets-inbox.tsx
  frontend/src/pages/home/components/datasets-inbox/datasets-list.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/marketplace/dataset-marketplace-card/dataset-marketplace-card.component.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/store/common/axios-base-query.ts
  frontend/src/store/features/datasets/datasets-api-slice.ts
  frontend/src/types/dataset/dataset-curated-query.contract.ts
  frontend/src/types/dataset/dataset-query-stats-daily.contract.ts
  frontend/src/types/dataset/index.ts
Due: regen-openapi-spec, local-fe-check

Remove old get all datasets calls (#2715)
  backend/.test.env
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/2026_02_19_1545-bb31223f935e_dataset_index_on_name.py
  backend/app/search_output_ports/router.py
  backend/app/search_output_ports/schema_response.py
  backend/tests/app/search_output_ports/test_router.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/cart/cart-button.component.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/dataset/components/dataset-tabs/dataset-tabs.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/components/chart-data.utils.ts
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/components/curated-queries-list.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/components/curated-query-item.tsx
  frontend/src/pages/dataset/components/dataset-tabs/usage-tab/usage-tab.tsx
  frontend/src/pages/home/components/datasets-inbox/datasets-inbox.tsx
  frontend/src/pages/home/components/datasets-inbox/datasets-list.tsx
  frontend/src/pages/home/home.page.tsx
  frontend/src/pages/marketplace/dataset-marketplace-card/dataset-marketplace-card.component.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-table-columns.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/store/common/axios-base-query.ts
  frontend/src/store/features/datasets/datasets-api-slice.ts
  frontend/src/types/dataset/dataset-curated-query.contract.ts
  frontend/src/types/dataset/dataset-query-stats-daily.contract.ts
  frontend/src/types/dataset/index.ts
Due: regen-openapi-spec, local-fe-check

Refactor to use new pending request api's
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/access-requested-cell.tsx
  frontend/src/components/requests/expanded-request-details.tsx
  frontend/src/components/requests/request-type-badge.tsx
  frontend/src/hooks/use-table-columns.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-request-item.tsx
  frontend/src/pages/home/components/pending-requests-inbox/pending-requests-inbox.tsx
  frontend/src/pages/product-studio/components/requests-panel/pending-access-requests-view.tsx
  frontend/src/pages/product-studio/components/requests-panel/requests-panel.component.tsx
  frontend/src/pages/product-studio/product-studio.page.tsx
  frontend/src/types/pending-actions/pending-actions.ts
  frontend/src/types/pending-actions/pending-request-types.tsx
  frontend/src/utils/request-handlers.ts
  frontend/src/utils/request-utils.ts
Due: local-fe-check

Fix issue with using newly created product in cart (#2725)
  frontend/src/pages/cart/cart.page.tsx
Due: local-fe-check

Put justification more center stage
  frontend/public/locales/en/translation.json
  frontend/src/components/requests/justification-cell.tsx
  frontend/src/hooks/use-table-columns.tsx
  frontend/src/utils/request-utils.ts
Due: local-fe-check

Remove data output result string calls
  backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/schema_request.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/app/data_products/technical_assets/router.py
  backend/app/data_products/technical_assets/service.py
  backend/tests/app/plugins/test_router.py
  docs/static/openapi.json
  frontend/src/api/api-urls.ts
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/common/axios-base-query.ts
  frontend/src/store/features/api/tag-types.ts
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
  frontend/src/types/http.ts
Due: regen-openapi-spec, local-fe-check

Fix issue with data produc delete
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/pages/data-product-create/data-product-create.page.tsx
  frontend/src/pages/data-product-edit/data-product-edit.page.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
Due: local-fe-check

Changing settings new uses v2 api
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/store/features/data-product-settings/data-product-settings-api-slice.ts
  frontend/src/types/data-product-setting/data-product-setting-create.ts
  frontend/src/types/data-product-setting/data-product-setting.contract.ts
  frontend/src/types/data-product-setting/index.ts
Due: local-fe-check

Add breaks in the generated about
  demo/provisioner/provisioner/main.py
Due: none

Fix issue with data produc delete (#2730)
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/pages/data-product-create/data-product-create.page.tsx
  frontend/src/pages/data-product-edit/data-product-edit.page.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
Due: local-fe-check

Remove data output result string calls (#2728)
  backend/app/data_output_configuration/router.py
  backend/app/data_output_configuration/schema_request.py
  backend/app/data_output_configuration/schema_response.py
  backend/app/data_output_configuration/service.py
  backend/app/data_products/technical_assets/router.py
  backend/app/data_products/technical_assets/service.py
  backend/tests/app/plugins/test_router.py
  docs/static/openapi.json
  frontend/src/api/api-urls.ts
  frontend/src/components/data-products/data-output-form/data-output-form.component.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/common/axios-base-query.ts
  frontend/src/store/features/api/tag-types.ts
  frontend/src/store/features/data-outputs/data-outputs-api-slice.ts
  frontend/src/types/http.ts
Due: regen-openapi-spec, local-fe-check

Changing settings new uses v2 api (#2727)
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/store/features/data-product-settings/data-product-settings-api-slice.ts
  frontend/src/types/data-product-setting/data-product-setting-create.ts
  frontend/src/types/data-product-setting/data-product-setting.contract.ts
  frontend/src/types/data-product-setting/index.ts
Due: local-fe-check

Small cleanup
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/charts/custom-nodes/data-product-node/data-product-node.tsx
  frontend/src/components/charts/custom-nodes/dataoutput-node/dataoutput-node.tsx
  frontend/src/components/charts/custom-nodes/dataset-node/dataset-node.tsx
  frontend/src/store/features/feedback/utils/dispatch-feedback.ts
Due: local-fe-check
