Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Performance improvements for Portal (#4069)
  backend/README.md
  backend/app/core/embed/model.py
  backend/app/data_products/output_ports/schema_response.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/database.py
  backend/app/embed.py
  backend/app/main.py
  backend/app/settings.py
  backend/loadtest/locustfile.py
  backend/poetry.lock
  backend/pyproject.toml
  docs/docs/release-notes.md
Due: regen-openapi-spec

Validate front end error codes (#4065)
  .pre-commit-config.yaml
  backend/app/data_products/router.py
  docs/static/openapi.json
  frontend/package.json
  frontend/scripts/validate-api-errors.js
  frontend/src/components/output-ports/output-port-card/output-port-card.component.tsx
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-modes-modal.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/common/api-errors.ts
  frontend/src/store/common/errors.ts
  frontend/src/tests/components/output-ports/output-port-card.component.test.tsx
  frontend/src/tests/store/api/errors.test.ts
Due: regen-openapi-spec, local-fe-check

Ensure unique configurations for technical assets
  backend/app/database/alembic/versions/2026_08_13_1340-44b3eff9ab38_unique_data_output_configuration.py
  backend/sample_data.sql
Due: regen-openapi-spec

Ensure unique configurations for technical assets (#4077)
  backend/app/database/alembic/versions/2026_08_13_1340-44b3eff9ab38_unique_data_output_configuration.py
  backend/sample_data.sql
Due: regen-openapi-spec

Added delete support for access modes
  backend/app/configuration/access_modes/router.py
  backend/app/configuration/access_modes/service.py
  backend/tests/app/configuration/access_modes/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-modes.tsx
  frontend/src/store/api/services/generated/configurationAccessModesApi.ts
  frontend/src/store/api/services/tags/configurationAccessModesTags.ts
  frontend/src/store/common/api-errors.ts
  frontend/src/tests/pages/settings/access-policy-tab/access-modes.test.tsx
  sdk/sdk/api_client/api/configuration_access_modes/delete_access_mode.py
Due: regen-openapi-spec, local-fe-check

Added delete support for access modes (#4092)
  backend/app/configuration/access_modes/router.py
  backend/app/configuration/access_modes/service.py
  backend/tests/app/configuration/access_modes/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-modes.tsx
  frontend/src/store/api/services/generated/configurationAccessModesApi.ts
  frontend/src/store/api/services/tags/configurationAccessModesTags.ts
  frontend/src/store/common/api-errors.ts
  frontend/src/tests/pages/settings/access-policy-tab/access-modes.test.tsx
  sdk/sdk/api_client/api/configuration_access_modes/delete_access_mode.py
Due: regen-openapi-spec, local-fe-check

Sync biome.json
  frontend/biome.json
Due: local-fe-check

Only open db connection on startup when needed
  backend/app/main.py
Due: regen-openapi-spec

Refactor of output port access durations modal
  frontend/public/locales/en/translation.json
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
Due: local-fe-check

fix(data_product): prevent Can not add new output port to explorations when edge case occurs
  sdk/tests/provisioner/test_reconcile_queue.py
Due: none

Refactor of output port access durations modal (#4075)
  frontend/public/locales/en/translation.json
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
Due: local-fe-check

refactor: change the labels of the timebound access in the shopping cart as well as the description of an output port
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/components/cart-overview.component.tsx
  frontend/src/pages/cart/components/output-port-access-duration.tsx
  frontend/src/pages/output-port/components/dataset-description/output-port-description.tsx
  frontend/src/pages/output-port/output-port.page.tsx
Due: local-fe-check

Only open db connection on startup when needed (#4100)
  backend/app/main.py
Due: regen-openapi-spec

chore: gitignore .superpowers/ (subagent-driven-development workspace)
  .gitignore
Due: none

feat(plugins): add CoderPlugin, a data-product-scoped workspace launcher
  backend/app/settings.py
  backend/app/technical_asset_configuration/__init__.py
  backend/app/technical_asset_configuration/coder/__init__.py
  backend/app/technical_asset_configuration/coder/schema.py
  backend/tests/app/plugins/test_router.py
  backend/tests/app/technical_asset_configuration/__init__.py
  backend/tests/app/technical_asset_configuration/coder/__init__.py
  backend/tests/app/technical_asset_configuration/coder/test_schema.py
Due: regen-openapi-spec

feat(dataset-actions): drive tiles from the existing plugin system, replace hardcoded Collibra/Datahub
  frontend/src/assets/icons/coder-logo.svg
  frontend/src/pages/output-port/components/dataset-actions/dataset-actions.component.tsx
  frontend/src/pages/output-port/output-port.page.tsx
  frontend/src/tests/pages/output-port/components/dataset-actions/dataset-actions.component.test.tsx
Due: local-fe-check

feat(technical-asset-actions): drive tiles from the existing plugin system, replace hardcoded Collibra/Datahub
  frontend/public/locales/en/translation.json
  frontend/src/pages/technical-asset/components/technical-asset-actions/technical-asset-actions.component.tsx
  frontend/src/pages/technical-asset/technical-asset.page.tsx
  frontend/src/tests/pages/technical-asset/components/technical-asset-actions/technical-asset-actions.component.test.tsx
Due: local-fe-check

chore: remove orphaned Collibra/Datahub icon assets
  frontend/src/assets/icons/collibra-logo.svg
  frontend/src/assets/icons/datahub-logo.svg
Due: none

remove init
  backend/app/technical_asset_configuration/coder/__init__.py
Due: regen-openapi-spec

refactor: rename example for timeobundi n the seed
  backend/sample_data.sql
Due: none

refactor: remove save button for timebound access
  frontend/public/locales/en/translation.json
  frontend/src/pages/settings/components/settings-tabs/access-policy-tab/access-durations.tsx
  frontend/src/tests/pages/settings/access-policy-tab/access-durations.test.tsx
Due: local-fe-check

refactor: change the output port descriptions
  frontend/AGENTS.md
  frontend/public/locales/en/translation.json
  frontend/src/pages/output-port/components/dataset-description/output-port-description.tsx
  frontend/src/pages/output-port/components/dataset-tabs/settings-tab/settings-tab.tsx
  frontend/src/pages/output-port/output-port.page.tsx
Due: local-fe-check

fix: seed timebound access duration
  backend/sample_data.sql
Due: none

refactor: reviw request modal
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
Due: local-fe-check

refactor: add access settings as editable
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/pages/output-port/components/dataset-tabs/settings-tab/settings-tab.tsx
Due: local-fe-check

fix: make sure the renew is possible after already a decline also expriing soon as text warning
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-button.component.tsx
  frontend/src/components/input-port/access-status.tsx
Due: local-fe-check

fix: documentaiton linked stale files
  docs/docs/developer-guide/adding-integrations.md
Due: none

fix: broken test and button alignment
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/pages/output-port/components/dataset-tabs/settings-tab/settings-tab.tsx
  frontend/src/tests/components/abstract-data-products/input-port-table/input-port-action-button.test.tsx
Due: local-fe-check

fix: enter error message again
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
Due: local-fe-check

feat(github-plugin): add GitHub integration with URL generation and metadata
  backend/app/settings.py
  backend/app/technical_asset_configuration/__init__.py
  backend/app/technical_asset_configuration/github/schema.py
  backend/tests/app/plugins/test_router.py
  backend/tests/app/technical_asset_configuration/github/__init__.py
  backend/tests/app/technical_asset_configuration/github/test_schema.py
  frontend/src/assets/icons/github-logo.svg
Due: regen-openapi-spec

resolve: comments, update translations keys and improve access duration component
  frontend/AGENTS.md
  frontend/public/locales/en/translation.json
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/pages/cart/components/output-port-access-duration.tsx
  frontend/src/pages/output-port/components/dataset-tabs/settings-tab/settings-tab.tsx
Due: local-fe-check

resolve: generalise tests
  backend/tests/app/plugins/test_router.py
  backend/tests/app/technical_asset_configuration/coder/test_schema.py
Due: regen-openapi-spec

wip
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/pages/output-port/components/dataset-tabs/settings-tab/settings-tab.tsx
Due: local-fe-check

feat(rustfs-plugin): add RustFS technical asset configuration
  backend/app/database/alembic/versions/2026_08_21_1400-e4b81c7d2f90_add_rustfs_technical_asset_config.py
  backend/app/settings.py
  backend/app/technical_asset_configuration/__init__.py
  backend/app/technical_asset_configuration/data_output_types.py
  backend/app/technical_asset_configuration/rustfs/__init__.py
  backend/app/technical_asset_configuration/rustfs/model.py
  backend/app/technical_asset_configuration/rustfs/schema.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/tests/app/technical_asset_configuration/rustfs/__init__.py
  backend/tests/app/technical_asset_configuration/rustfs/test_schema.py
  cli/golang/pkg/api/oas_defaults_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/assets/icons/rustfs-logo.svg
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/create_technical_asset_request.py
  sdk/sdk/api_client/models/get_technical_assets_response_item.py
  sdk/sdk/api_client/models/owned_technical_asset.py
  sdk/sdk/api_client/models/render_technical_asset_access_path_request.py
  sdk/sdk/api_client/models/rust_fs_technical_asset_configuration.py
  sdk/sdk/api_client/models/technical_asset.py
Due: regen-openapi-spec, local-fe-check

refactor(rustfs-plugin): remove comments
  backend/app/database/alembic/versions/2026_08_21_1400-e4b81c7d2f90_add_rustfs_technical_asset_config.py
  backend/app/settings.py
  backend/app/technical_asset_configuration/rustfs/schema.py
  backend/tests/app/technical_asset_configuration/rustfs/test_schema.py
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  sdk/sdk/api_client/models/rust_fs_technical_asset_configuration.py
Due: regen-openapi-spec

Added access mode to access requests modal
  backend/sample_data.sql
  frontend/src/components/access-modes/access-mode.component.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
Due: local-fe-check

fix: make sure to clenup UI changes
  frontend/src/components/data-products/data-product-settings/data-product-settings.component.tsx
  frontend/src/components/data-products/data-product-settings/data-product-settings.module.scss
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/constants/form.constants.ts
  frontend/src/pages/output-port/components/dataset-tabs/settings-tab/settings-tab.tsx
Due: local-fe-check

revert: keep output port and data product actions on separate, non-plugin tile lists
  frontend/src/pages/output-port/components/dataset-actions/dataset-actions.component.tsx
  frontend/src/pages/output-port/output-port.page.tsx
  frontend/src/pages/technical-asset/components/technical-asset-actions/technical-asset-actions.component.tsx
  frontend/src/pages/technical-asset/technical-asset.page.tsx
  frontend/src/tests/pages/output-port/components/dataset-actions/dataset-actions.component.test.tsx
  frontend/src/tests/pages/technical-asset/components/technical-asset-actions/technical-asset-actions.component.test.tsx
Due: local-fe-check

resolve: comment regarding ui component structre, revamped to dict
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
Due: local-fe-check

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
