Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

chore: release 0.7.2
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

Missing nested translation
  frontend/public/locales/en/translation.json
Due: local-fe-check

Test out nightly with e2e test
  .github/workflows/nightly-build.yml
Due: none

Revert Test out nightly with e2e test
  .github/workflows/nightly-build.yml
Due: none

Prevent commits in services
  .pre-commit-config.yaml
  backend/app/abstract_data_product/service.py
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/authorization/role_assignments/global_/service.py
  backend/app/authorization/role_assignments/output_port/service.py
  backend/app/authorization/roles/service.py
  backend/app/configuration/access_durations/service.py
  backend/app/configuration/data_product_lifecycles/service.py
  backend/app/configuration/data_product_settings/service.py
  backend/app/configuration/data_product_types/service.py
  backend/app/configuration/domains/service.py
  backend/app/configuration/environments/service.py
  backend/app/configuration/tags/service.py
  backend/app/configuration/theme_settings/service.py
  backend/app/core/auth/device_flows/service.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/contract/service.py
  backend/app/data_products/output_ports/curated_queries/service.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/app/data_products/output_ports/query_stats/service.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/service.py
  backend/app/explorations/service.py
  backend/app/users/notifications/service.py
  backend/app/users/service.py
  backend/tests/app/data_products/output_ports/curated_queries/test_router.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
Due: regen-openapi-spec

Prevent commits in services (#4320)
  .pre-commit-config.yaml
  backend/app/abstract_data_product/service.py
  backend/app/authorization/role_assignments/data_product/service.py
  backend/app/authorization/role_assignments/global_/service.py
  backend/app/authorization/role_assignments/output_port/service.py
  backend/app/authorization/roles/service.py
  backend/app/configuration/access_durations/service.py
  backend/app/configuration/data_product_lifecycles/service.py
  backend/app/configuration/data_product_settings/service.py
  backend/app/configuration/data_product_types/service.py
  backend/app/configuration/domains/service.py
  backend/app/configuration/environments/service.py
  backend/app/configuration/tags/service.py
  backend/app/configuration/theme_settings/service.py
  backend/app/core/auth/device_flows/service.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/contract/service.py
  backend/app/data_products/output_ports/curated_queries/service.py
  backend/app/data_products/output_ports/data_quality/service.py
  backend/app/data_products/output_ports/query_stats/service.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/service.py
  backend/app/explorations/service.py
  backend/app/users/notifications/service.py
  backend/app/users/service.py
  backend/tests/app/data_products/output_ports/curated_queries/test_router.py
  backend/tests/app/data_products/output_ports/data_quality/test_router.py
Due: regen-openapi-spec

prevent commits in routers
  .pre-commit-config.yaml
Due: none

Update docs/adr/0024-dynamic-plugin-system.md
  docs/adr/0024-dynamic-plugin-system.md
Due: none

Missing nested translation (#4319)
  frontend/public/locales/en/translation.json
Due: local-fe-check

prevent commits in routers (#4321)
  .pre-commit-config.yaml
Due: none

resolve comments
  docs/adr/0024-dynamic-plugin-system.md
Due: none

Adr/0024 dynamic plugin system (#4292)
  docs/adr/0024-dynamic-plugin-system.md
Due: none

New end to end flows added
  frontend/cypress/e2e/approve-access-request.cy.ts
  frontend/cypress/e2e/create-data-product.cy.ts
  frontend/cypress/e2e/edit-data-product.cy.ts
  frontend/cypress/e2e/output-port-management.cy.ts
  frontend/cypress/e2e/role-assignment.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/index.d.ts
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
Due: local-fe-check

chore: release 0.7.2 (#4318)
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

Fix PR comments
  frontend/.gitignore
  frontend/cypress/e2e/explorer.cy.ts
  frontend/cypress/e2e/marketplace-checkout.cy.ts
  frontend/src/components/card-selection/card-selection.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/cart/components/form-item-justification.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card.component.tsx
Due: local-fe-check

Added more data-cy attributes
  frontend/src/components/data-products/data-product-data-output-link-popup/data-product-data-output-link-popup.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/components/output-ports/output-port-card/output-port-card.component.tsx
  frontend/src/components/output-ports/output-port-card/technical-asset-link-modal.component.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/components/pending-access-requests-modal/review-button.tsx
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/pages/data-product/components/data-product-tabs/team-tab/team-tab.tsx
  frontend/src/pages/data-product/components/data-product-tabs/technical-asset-tab/components/output-ports-table/output-ports-table.component.tsx
  frontend/src/pages/product-studio/components/pending-access-requests-tab/pending-access-requests-tab.tsx
Due: local-fe-check

Added more data-cy attributes
  frontend/cypress/e2e/approve-access-request.cy.ts
  frontend/cypress/e2e/create-data-product.cy.ts
  frontend/cypress/e2e/edit-data-product.cy.ts
  frontend/cypress/e2e/output-port-management.cy.ts
  frontend/cypress/e2e/role-assignment.cy.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/index.d.ts
  frontend/src/components/modal/user-popup/user-popup.tsx
  frontend/src/components/resource-name/resource-name-form-item.tsx
Due: local-fe-check

added group members access via cashbin, tests
  backend/app/authorization/role_assignments/data_product/auth.py
  backend/app/authorization/role_assignments/global_/auth.py
  backend/app/authorization/service.py
  backend/app/core/authz/authorization.py
  backend/app/groups/service.py
  backend/tests/app/authorization/test_service.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/factories/__init__.py
  backend/tests/factories/group.py
  backend/tests/factories/identity.py
  backend/tests/factories/machine_user.py
  backend/tests/factories/user.py
Due: regen-openapi-spec

add model subtypes test
  backend/tests/app/identities/test_model.py
  backend/tests/factories/__init__.py
  backend/tests/factories/machine_user.py
Due: regen-openapi-spec

Fix using correct selectors
  frontend/cypress/e2e/marketplace-checkout.cy.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/marketplace/output-port-marketplace-card/output-port-marketplace-card.component.tsx
Due: local-fe-check

Stage generated SDK files only in CI
  scripts/check_generated_sdk.sh
Due: none

Run our tests in transaction
  backend/tests/__init__.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/configurations/access_durations/test_router.py
  backend/tests/conftest.py
  backend/tests/factories/__init__.py
  backend/tests/factories/access_duration.py
  backend/tests/factories/output_port.py
  backend/tests/factories/role.py
  backend/tests/factories/role_assignment_dataset.py
  backend/tests/factories/technical_asset.py
  backend/tests/session_util.py
Due: regen-openapi-spec

Rewrote cypress selectors and added skill
  .claude/skills/cypress-selector/SKILL.md
  frontend/cypress/e2e/marketplace-checkout.cy.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
Due: local-fe-check

Find technical asset plugins through a registry
  .github/workflows/release-workflow.yml
  backend/app/mcp/loader.py
  backend/app/mcp/mcp.py
  backend/app/plugins/__init__.py
  backend/app/plugins/registry.py
  backend/app/plugins/runtime.py
  backend/app/technical_asset_configuration/__init__.py
  backend/app/technical_asset_configuration/agno/schema.py
  backend/app/technical_asset_configuration/azure_blob/schema.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/coder/schema.py
  backend/app/technical_asset_configuration/conveyor/schema.py
  backend/app/technical_asset_configuration/databricks/schema.py
  backend/app/technical_asset_configuration/github/schema.py
  backend/app/technical_asset_configuration/glue/schema.py
  backend/app/technical_asset_configuration/osi_sem_model/schema.py
  backend/app/technical_asset_configuration/postgresql/schema.py
  backend/app/technical_asset_configuration/redshift/schema.py
  backend/app/technical_asset_configuration/rustfs/schema.py
  backend/app/technical_asset_configuration/s3/schema.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/app/technical_asset_configuration/service.py
  backend/app/technical_asset_configuration/snowflake/schema.py
  backend/pyproject.toml
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/plugins/test_runtime.py
Due: regen-openapi-spec

Work with data-cy for graph checks
  frontend/cypress/e2e/explorer.cy.ts
  frontend/src/components/charts/custom-edges/default-edge.tsx
  frontend/src/components/charts/custom-edges/straight-edge.tsx
  frontend/src/components/charts/custom-nodes/base-node/base-node.tsx
Due: local-fe-check

Fixed selectors in new flows
  frontend/cypress/e2e/approve-access-request.cy.ts
  frontend/cypress/e2e/output-port-management.cy.ts
  frontend/cypress/e2e/role-assignment.cy.ts
  frontend/cypress/support/commands.ts
Due: local-fe-check

t
  backend/tests/app/abstract_data_product/test_request_input_ports.py
Due: regen-openapi-spec

cleanup: comment
  backend/app/plugins/runtime.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/tests/app/plugins/test_registry.py
  backend/tests/app/plugins/test_runtime.py
Due: regen-openapi-spec

group service and tests
  backend/app/authorization/service.py
  backend/app/groups/model.py
  backend/app/groups/service.py
  backend/app/identities/model.py
  backend/tests/app/groups/test_service.py
  backend/tests/factories/__init__.py
Due: regen-openapi-spec

improve test
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

cleanup: comments and small hcanges
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/schema_response.py
  backend/app/technical_asset_configuration/schema_union.py
  backend/tests/app/technical_asset_configuration/test_schema_union.py
  backend/tests/test_open_api_export.py
  frontend/src/utils/icon-loader.tsx
Due: regen-openapi-spec, local-fe-check

cleanup: comment
  backend/tests/app/technical_asset_configuration/test_base_schema.py
Due: regen-openapi-spec

Allow us to switch users in dev
  backend/app/core/auth/auth.py
  backend/app/mcp/deps.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/layout/navbar/user-menu/switch-user-modal.component.tsx
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/store/api/services/generated/configurationAccessModesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  sdk/sdk/api_client/api/authorization/is_admin.py
  sdk/sdk/api_client/api/authorization_role_assignments/revoke_admin.py
  sdk/sdk/api_client/api/configuration_access_durations/get_all_access_durations.py
  sdk/sdk/api_client/api/configuration_access_modes/get_access_modes.py
  sdk/sdk/api_client/api/configuration_data_product_lifecycles/get_data_products_lifecycles.py
  sdk/sdk/api_client/api/configuration_data_product_settings/get_data_products_settings.py
  sdk/sdk/api_client/api/configuration_data_product_types/get_data_products_types.py
  sdk/sdk/api_client/api/configuration_domains/get_domains.py
  sdk/sdk/api_client/api/configuration_environments/get_environments.py
  sdk/sdk/api_client/api/configuration_platforms/get_all_platform_service_configurations.py
  sdk/sdk/api_client/api/configuration_platforms/get_all_platforms.py
  sdk/sdk/api_client/api/configuration_tags/get_tags.py
  sdk/sdk/api_client/api/configuration_theme_settings/get_theme_settings.py
  sdk/sdk/api_client/api/plugins/get_platform_tiles.py
  sdk/sdk/api_client/api/plugins/get_plugins.py
  sdk/sdk/api_client/api/users/get_current_user.py
  sdk/sdk/api_client/api/users/get_user_pending_actions.py
  sdk/sdk/api_client/api/users/get_users.py
  sdk/sdk/api_client/api/users/mark_tour_as_seen.py
  sdk/sdk/api_client/api/users_notifications/get_user_notifications.py
  sdk/sdk/api_client/api/users_notifications/remove_all_user_notifications.py
Due: regen-openapi-spec, local-fe-check

role assignment cascade deletion
  backend/app/identities/model.py
  backend/tests/app/groups/test_service.py
Due: regen-openapi-spec

Allow us to switch users in dev (#4332)
  backend/app/core/auth/auth.py
  backend/app/mcp/deps.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/layout/navbar/user-menu/switch-user-modal.component.tsx
  frontend/src/components/layout/navbar/user-menu/user-menu.component.tsx
  frontend/src/store/api/services/generated/configurationAccessModesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductLifecyclesApi.ts
  frontend/src/store/api/services/generated/configurationDataProductSettingsApi.ts
  frontend/src/store/api/services/generated/configurationDomainsApi.ts
  frontend/src/store/api/services/generated/configurationTagsApi.ts
  frontend/src/store/api/services/generated/pluginsApi.ts
  sdk/sdk/api_client/api/authorization/is_admin.py
  sdk/sdk/api_client/api/authorization_role_assignments/revoke_admin.py
  sdk/sdk/api_client/api/configuration_access_durations/get_all_access_durations.py
  sdk/sdk/api_client/api/configuration_access_modes/get_access_modes.py
  sdk/sdk/api_client/api/configuration_data_product_lifecycles/get_data_products_lifecycles.py
  sdk/sdk/api_client/api/configuration_data_product_settings/get_data_products_settings.py
  sdk/sdk/api_client/api/configuration_data_product_types/get_data_products_types.py
  sdk/sdk/api_client/api/configuration_domains/get_domains.py
  sdk/sdk/api_client/api/configuration_environments/get_environments.py
  sdk/sdk/api_client/api/configuration_platforms/get_all_platform_service_configurations.py
  sdk/sdk/api_client/api/configuration_platforms/get_all_platforms.py
  sdk/sdk/api_client/api/configuration_tags/get_tags.py
  sdk/sdk/api_client/api/configuration_theme_settings/get_theme_settings.py
  sdk/sdk/api_client/api/plugins/get_platform_tiles.py
  sdk/sdk/api_client/api/plugins/get_plugins.py
  sdk/sdk/api_client/api/users/get_current_user.py
  sdk/sdk/api_client/api/users/get_user_pending_actions.py
  sdk/sdk/api_client/api/users/get_users.py
  sdk/sdk/api_client/api/users/mark_tour_as_seen.py
  sdk/sdk/api_client/api/users_notifications/get_user_notifications.py
  sdk/sdk/api_client/api/users_notifications/remove_all_user_notifications.py
Due: regen-openapi-spec, local-fe-check

Fix new flows
  frontend/cypress/support/commands.ts
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
Due: local-fe-check

Note the configuration type change in the release notes
  docs/docs/release-notes.md
Due: none

Migrate plugin tables from the plugin's own revisions
  backend/app/db_tool.py
  backend/app/plugins/alembic_runner/env.py
  backend/app/plugins/migrations.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/tests/app/plugins/test_migrations.py
  backend/tests/fixtures/example_plugin/versions/__init__.py
  backend/tests/fixtures/example_plugin/versions/example_0001_create.py
  backend/tests/fixtures/example_plugin/versions/example_0002_add_extra.py
  backend/tests/fixtures/other_plugin/__init__.py
  backend/tests/fixtures/other_plugin/versions/__init__.py
  backend/tests/fixtures/other_plugin/versions/other_0001_create.py
Due: regen-openapi-spec
