Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Add docs to mcp functions
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

Use new endpoint in mcp
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

refining after discussion
  docs/adr/0014-enriched-webhook-events.md
Due: none

ADR for emitting v2 events (#3171)
  docs/adr/0014-enriched-webhook-events.md
Due: none

Explorer page example
  frontend/src/pages/lwdp/page.module.scss
  frontend/src/pages/lwdp/page.tsx
  frontend/src/routes.tsx
  frontend/src/types/navigation.ts
Due: local-fe-check

Data product page cleanup
  frontend/src/components/rich-text/text-editor/text-editor.module.scss
  frontend/src/components/rich-text/text-editor/text-editor.tsx
  frontend/src/pages/data-product/components/data-product-description/data-product-description.module.scss
  frontend/src/pages/data-product/components/data-product-description/data-product-description.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/data-product/data-product.module.scss
  frontend/src/pages/data-product/data-product.page.tsx
Due: local-fe-check

Use the new auth routes in the python sdk.
  sdk/sdk/auth.py
Due: none

Add readme with some gotcha's
  mcp/README.md
Due: none

Use the new auth routes in the python sdk. (#3187)
  sdk/sdk/auth.py
Due: none

feat: add v2 webhook core module and WEBHOOK_V2_URL setting
  backend/app/core/webhooks/v2.py
  backend/app/settings.py
  backend/tests/app/core/webhooks/test_v2_webhook.py
Due: regen-openapi-spec

fix: pass path params via request.path_params in v2 webhook dependencies
  backend/app/core/webhooks/v2.py
Due: regen-openapi-spec

feat: emit v2 events for data product endpoints
  backend/app/data_products/router.py
  backend/tests/app/core/webhooks/test_v2_data_products.py
Due: regen-openapi-spec

feat: emit v2 events for data product role assignment endpoints
  backend/app/authorization/role_assignments/data_product/router.py
  backend/tests/app/core/webhooks/test_v2_data_products.py
Due: regen-openapi-spec

Ensure button shading for collapse is not cut off
  frontend/src/pages/data-product/data-product.module.scss
  frontend/src/pages/data-product/data-product.page.tsx
Due: local-fe-check

Add useful curl commands
  mcp/README.md
Due: none

feat: emit v2 events for output port endpoints
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/router.py
  backend/tests/app/core/webhooks/test_v2_output_ports.py
Due: regen-openapi-spec

fix: use direct DB fetch in output port webhook extract lambdas
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/service.py
Due: regen-openapi-spec

feat: emit v2 events for technical asset endpoints
  backend/app/data_products/technical_assets/router.py
  backend/tests/app/core/webhooks/test_v2_technical_assets.py
Due: regen-openapi-spec

Document altenrative oauth setup
  mcp/README.md
Due: none

feat: emit v2 events for technical asset link endpoints
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/tests/app/core/webhooks/test_v2_technical_assets.py
Due: regen-openapi-spec

Rework mcp (#3185)
  backend/app/mcp/mcp.py
  mcp/README.md
Due: regen-openapi-spec

Data product page cleanup (#3186)
  frontend/src/components/rich-text/text-editor/text-editor.module.scss
  frontend/src/components/rich-text/text-editor/text-editor.tsx
  frontend/src/pages/data-product/components/data-product-description/data-product-description.module.scss
  frontend/src/pages/data-product/components/data-product-description/data-product-description.tsx
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.module.scss
  frontend/src/pages/data-product/components/data-product-tabs/data-product-tabs.tsx
  frontend/src/pages/data-product/data-product.module.scss
  frontend/src/pages/data-product/data-product.page.tsx
Due: local-fe-check

chore: remove debug traceback and redundant UUID casts in v2 webhooks
  backend/app/data_products/technical_assets/router.py
Due: regen-openapi-spec

ignoring superpower folder
  .gitignore
Due: none

WIP
  backend/app/data_products/output_ports/model.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/database/test_sql_alchemy_best_practices.py
  backend/tests/factories/dataset.py
Due: regen-openapi-spec

Namespace, name should be unique for data product
  backend/app/database/alembic/versions/2026_04_17_1623-c8a49838fa13_fix_data_product_name_namespace_.py
  backend/app/main.py
  backend/tests/app/data_products/test_router.py
Due: regen-openapi-spec

Rework search output ports setup (#3169)
  backend/app/database/alembic/versions/2024_07_23_1118-5477aa0d86f0_add_data_outputs.py
  backend/app/database/alembic/versions/2024_09_18_1850-deff323c76ad_add_sourcealigned_column.py
  backend/app/database/alembic/versions/2024_10_29_1412-2b47064c5d10_add_databricks_data_output_configuration.py
  backend/app/database/alembic/versions/2024_12_17_0954-df605bd8b0a0_add_data_product_lifecycles.py
  backend/app/database/alembic/versions/2025_03_25_1542-c02e4638423f_add_role_assignments.py
  backend/app/database/alembic/versions/2025_05_22_1628-93e7f3907ca8_remove_memberships_data.py
  backend/app/database/alembic/versions/2026_04_07_1435-9621a226da7c_add_azure_blob_technical_asset.py
  backend/app/database/alembic/versions/4c40a4ff5a7f_initialize_database.py
  backend/sample_data.sql
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

making the code a bit more dry
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/service.py
  backend/app/mcp/mcp.py
Due: regen-openapi-spec

Auto-generating the webhook documentation
  Taskfile.yml
  docs/docs/developer-guide/webhook-events.md
  scripts/generate_webhook_docs.py
Due: none

test: align v2 event tests with backend test patterns
  backend/tests/app/core/webhooks/helpers.py
  backend/tests/app/core/webhooks/test_v2_data_products.py
  backend/tests/app/core/webhooks/test_v2_output_ports.py
  backend/tests/app/core/webhooks/test_v2_technical_assets.py
  backend/tests/app/core/webhooks/test_v2_webhook.py
  backend/tests/conftest.py
Due: regen-openapi-spec

Updating documentation
  docs/docs/release-notes.md
Due: none

Initial commit for versioning ADR
  docs/adr/0015-versioning.md
Due: none

Added explorations api
  backend/app/abstract_data_product/model.py
  backend/app/configuration/domains/model.py
  backend/app/data_products/model.py
  backend/app/database/alembic/versions/2026_04_17_1705-d6286ec9911b_add_explorations.py
  backend/app/explorations/model.py
  backend/app/explorations/router.py
  backend/app/explorations/schema_request.py
  backend/app/explorations/schema_response.py
  backend/app/explorations/service.py
  backend/app/graph/service.py
  backend/app/shared/router.py
  backend/sample_data.sql
  backend/tests/app/data_products/test_router.py
  backend/tests/app/explorations/test_router.py
  backend/tests/factories/__init__.py
  backend/tests/factories/exploration.py
  docs/static/openapi.json
  frontend/src/api/api-urls.ts
  frontend/src/hooks/use-form-persist.tsx
  frontend/src/store/api/openapi-config.ts
  frontend/src/store/api/services/generated/resourceNamesApi.ts
Due: regen-openapi-spec, local-fe-check

Namespace, name should be unique for data product
  backend/app/core/errors/error_handling.py
  backend/app/database/alembic/versions/2026_04_17_1623-c8a49838fa13_fix_data_product_name_namespace_.py
  backend/tests/app/data_products/test_router.py
  backend/tests/factories/data_product.py
  backend/tests/factories/dataset.py
Due: regen-openapi-spec

Namespace, name should be unique for data product (#3201)
  backend/app/core/errors/error_handling.py
  backend/app/database/alembic/versions/2026_04_17_1623-c8a49838fa13_fix_data_product_name_namespace_.py
  backend/tests/app/data_products/test_router.py
  backend/tests/factories/data_product.py
  backend/tests/factories/dataset.py
Due: regen-openapi-spec

Rework ADR v2
  docs/adr/0015-versioning.md
Due: none

Fix pr comments
  docs/adr/0015-versioning.md
Due: none
