Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Added unique index to user external id (#4235)
  backend/app/database/alembic/versions/2026_09_04_0935-ae23301a4a69_user_unique_external_id.py
Due: regen-openapi-spec

Ensure the filter works for abstract data products (#4224)
  backend/app/abstract_data_product/background_tasks.py
  backend/app/core/logging/posthog_analytics.py
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/tests/app/abstract_data_product/conftest.py
  backend/tests/app/abstract_data_product/test_deletion.py
  backend/tests/app/data_products/test_model.py
Due: regen-openapi-spec

Try speed up npm install on CI (#4236)
  .github/workflows/tests.yml
Due: none

Update docs/adr/0023-external-identities-group-based-auth.md
  docs/adr/0023-external-identities-group-based-auth.md
Due: none

A data product role has output ports rights
  backend/app/authorization/router.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/rbac_model.conf
  backend/app/core/authz/readme.md
  backend/app/core/authz/resolvers.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/database/alembic/versions/2026_09_04_1430-c8fbf0cf31e4_add_output_port_permissions_to_data_product_owner.py
  backend/tests/app/authorization/test_router.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/output_ports/test_router.py
  docs/docs/release-notes.md
  frontend/public/locales/en/translation.json
  frontend/src/pages/roles/components/roles-table.component.tsx
Due: regen-openapi-spec, local-fe-check

ORM filter for output port
  backend/app/abstract_data_product/background_tasks.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/db_utils.py
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/env.py
  backend/app/settings.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_model.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/mcp/test_search.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/conftest.py
Due: regen-openapi-spec

feat: introduce dagre layout
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/schema-diagram/schema-diagram.tsx
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/schema-diagram/schema-object-node.tsx
  frontend/src/pages/output-port/output-port.page.tsx
Due: local-fe-check

revised adr
  docs/adr/0023-external-identities-group-based-auth.md
Due: none

A data product role has output ports rights (#4237)
  backend/app/authorization/router.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/rbac_model.conf
  backend/app/core/authz/readme.md
  backend/app/core/authz/resolvers.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/database/alembic/versions/2026_09_04_1430-c8fbf0cf31e4_add_output_port_permissions_to_data_product_owner.py
  backend/tests/app/authorization/test_router.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/output_ports/test_router.py
  docs/docs/release-notes.md
  frontend/public/locales/en/translation.json
  frontend/src/pages/roles/components/roles-table.component.tsx
Due: regen-openapi-spec, local-fe-check

Remove commits from tests
  .pre-commit-config.yaml
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  backend/tests/app/data_products/output_ports/query_stats_daily/test_router.py
  backend/tests/app/data_products/output_ports/query_stats_daily/test_service.py
  backend/tests/conftest.py
  backend/tests/factories/dataset.py
  backend/tests/factories/role.py
  backend/tests/factories/role_assignment_data_product.py
  backend/tests/factories/role_assignment_dataset.py
  backend/tests/factories/role_assignment_global.py
  backend/tests/factories/technical_asset.py
Due: regen-openapi-spec

fix alembic test
  backend/app/database/alembic/versions/2026_09_01_1114-6271ee228708_domain_environments.py
Due: regen-openapi-spec

update release notes
  docs/docs/release-notes.md
Due: none

remove unused image
  docs/adr/0023-external-identities-group-based-auth-model.png
Due: none

chore: release 0.7.1
  VERSION
  backend/VERSION
  docs/docs/release-notes.md
  docs/static/openapi.json
  helm/Chart.yaml
  helm/values.yaml
  sdk/pyproject.toml
Due: none

Remove commits from tests
  .pre-commit-config.yaml
  backend/app/core/auth/device_flows/schema.py
  backend/app/core/auth/device_flows/service.py
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  backend/tests/app/auth/test_device_router.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  backend/tests/app/data_products/output_ports/query_stats_daily/test_router.py
  backend/tests/app/data_products/output_ports/query_stats_daily/test_service.py
  backend/tests/conftest.py
  backend/tests/factories/dataset.py
  backend/tests/factories/role.py
  backend/tests/factories/role_assignment_data_product.py
  backend/tests/factories/role_assignment_dataset.py
  backend/tests/factories/role_assignment_global.py
  backend/tests/factories/technical_asset.py
  cli/golang/libs/auth/login.go
  cli/golang/pkg/api/oas_defaults_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  sdk/sdk/api_client/models/device_flow.py
Due: regen-openapi-spec

Remove commits from tests (#4240)
  .pre-commit-config.yaml
  backend/app/core/auth/device_flows/schema.py
  backend/app/core/auth/device_flows/service.py
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  backend/tests/app/auth/test_device_router.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  backend/tests/app/data_products/output_ports/query_stats_daily/test_router.py
  backend/tests/app/data_products/output_ports/query_stats_daily/test_service.py
  backend/tests/conftest.py
  backend/tests/factories/dataset.py
  backend/tests/factories/role.py
  backend/tests/factories/role_assignment_data_product.py
  backend/tests/factories/role_assignment_dataset.py
  backend/tests/factories/role_assignment_global.py
  backend/tests/factories/technical_asset.py
  cli/golang/libs/auth/login.go
  cli/golang/pkg/api/oas_defaults_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  sdk/sdk/api_client/models/device_flow.py
Due: regen-openapi-spec

ORM filter for output port
  backend/app/abstract_data_product/background_tasks.py
  backend/app/abstract_data_product/service.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/db_utils.py
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/env.py
  backend/app/settings.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_model.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/mcp/test_search.py
  backend/tests/app/search_output_ports/test_router.py
  backend/tests/conftest.py
Due: regen-openapi-spec

Added GLOBAL__MANAGE_FINALIZERS action (#4002)
  backend/app/core/authz/actions.py
  backend/app/data_products/router.py
  backend/app/explorations/router.py
  backend/app/explorations/service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/explorations/test_router.py
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/types/authorization/rbac-actions.ts
  sdk/sdk/api_client/models/authorization_action.py
Due: regen-openapi-spec, local-fe-check

Use shared faker instances across factories
  backend/tests/factories/__init__.py
  backend/tests/factories/environment.py
  backend/tests/factories/exploration.py
  backend/tests/factories/user.py
Due: regen-openapi-spec

Old import broke main
  backend/app/explorations/service.py
Due: regen-openapi-spec

precommit hook styles
  docs/adr/0023-external-identities-group-based-auth.md
Due: none

Old import broke main (#4264)
  backend/app/explorations/service.py
Due: regen-openapi-spec

Use shared faker instances across factories (#4263)
  backend/tests/factories/__init__.py
  backend/tests/factories/environment.py
  backend/tests/factories/exploration.py
  backend/tests/factories/user.py
Due: regen-openapi-spec

adr: Include external identities Groups and Machine Users (#4222)
  docs/adr/0023-external-identities-group-based-auth.md
Due: none

Default user changed to john.scientist who has admin rights
  backend/app/settings.py
Due: regen-openapi-spec

Fix tag invalidations on requesting access
  frontend/src/store/api/services/tags/dataProductTags.ts
  frontend/src/store/api/services/tags/explorationTags.ts
Due: local-fe-check

Fix more uniqueness across backend tests
  backend/tests/factories/__init__.py
  backend/tests/factories/platform.py
Due: regen-openapi-spec

Default user changed to john.scientist who has admin rights (#4265)
  backend/app/settings.py
Due: regen-openapi-spec

Fix more uniqueness issues in backend tests (#4267)
  backend/tests/factories/__init__.py
  backend/tests/factories/platform.py
Due: regen-openapi-spec

Fix tag invalidations on requesting access (#4266)
  frontend/src/store/api/services/tags/dataProductTags.ts
  frontend/src/store/api/services/tags/explorationTags.ts
Due: local-fe-check

Regenerated sdk event handler and added script to detect drit
  scripts/check_generated_sdk.sh
  sdk/sdk/provisioner/event_handler.py
Due: none

Fix exclude from ruff
  sdk/Taskfile.yml
  sdk/pyproject.toml
Due: none

No ruff formatting for auto-generate
  sdk/sdk/provisioner/event_handler.py
Due: none

initial adr
  docs/adr/0024-dynamic-plugin-system.md
Due: none
