Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

Simplified exploration creation flow
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/tests/mocks/resource_names.ts
  frontend/src/tests/pages/cart/cart.page.test.tsx
Due: local-fe-check

Simplified exploration creation flow (#3320)
  frontend/public/locales/en/translation.json
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/tests/mocks/resource_names.ts
  frontend/src/tests/pages/cart/cart.page.test.tsx
Due: local-fe-check

Update backend/app/core/webhooks/events.py
  backend/app/core/webhooks/events.py
Due: regen-openapi-spec

adding comment why using scalar instead of get
  backend/app/data_products/service.py
Due: regen-openapi-spec

fixing input ports for explorations by using abstract data product
  backend/app/abstract_data_product/schema_response.py
  backend/app/core/webhooks/events.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
Due: regen-openapi-spec

fixing failing tests that were not executed due to a formatting issue
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

fixing testing on duplicate things
  backend/app/core/webhooks/events.py
Due: regen-openapi-spec

feature/v2 events (#3199)
  .gitignore
  Taskfile.yml
  backend/app/abstract_data_product/schema_response.py
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/core/webhooks/events.py
  backend/app/core/webhooks/v2.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/data_products/technical_assets/router.py
  backend/app/mcp/mcp.py
  backend/app/settings.py
  backend/app/webhook_doc_export.py
  backend/tests/app/authorization/role_assignments/data_product/test_router.py
  backend/tests/app/core/__init__.py
  backend/tests/app/core/webhooks/__init__.py
  backend/tests/app/core/webhooks/helpers.py
  backend/tests/app/core/webhooks/test_v2.py
  backend/tests/app/core/webhooks/test_v2_webhook.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/technical_assets/test_router.py
  backend/tests/app/data_products/test_router.py
  backend/tests/test_webhook_doc_export.py
  docs/docs/developer-guide/webhook-events.md
  docs/docs/release-notes.md
Due: regen-openapi-spec

Added exploration to explorer
  backend/app/graph/node.py
  backend/app/graph/router.py
  backend/app/graph/service.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/graph/test_service.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/node-editor/node-types.ts
  frontend/src/components/explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
  frontend/src/components/global-explorer/use-node-editor.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/pages/dataset-edit/dataset-edit.page.tsx
  frontend/src/pages/dataset/dataset.page.tsx
  frontend/src/pages/explorer/explorer.page.module.scss
  frontend/src/pages/explorer/explorer.page.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/pages/settings/settings.page.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/tests/pages/cart/cart.page.test.tsx
  frontend/src/tests/translation-glossary.test.ts
  sdk/sdk/api_client/api/graph/get_graph_data.py
  sdk/sdk/api_client/models/node_type.py
Due: regen-openapi-spec, local-fe-check

Added exploration to explorer (#3405)
  backend/app/graph/node.py
  backend/app/graph/router.py
  backend/app/graph/service.py
  backend/tests/app/graph/test_router.py
  backend/tests/app/graph/test_service.py
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/charts/node-editor/node-types.ts
  frontend/src/components/explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/internal-explorer.tsx
  frontend/src/components/global-explorer/sidebar/sidebar.tsx
  frontend/src/components/global-explorer/use-node-editor.tsx
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/new-exploration-form.tsx
  frontend/src/pages/dataset-edit/dataset-edit.page.tsx
  frontend/src/pages/dataset/dataset.page.tsx
  frontend/src/pages/explorer/explorer.page.module.scss
  frontend/src/pages/explorer/explorer.page.tsx
  frontend/src/pages/marketplace/marketplace.page.tsx
  frontend/src/pages/people/people-table.component.tsx
  frontend/src/pages/settings/settings.page.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/graphApi.ts
  frontend/src/tests/pages/cart/cart.page.test.tsx
  frontend/src/tests/translation-glossary.test.ts
  sdk/sdk/api_client/api/graph/get_graph_data.py
  sdk/sdk/api_client/models/node_type.py
Due: regen-openapi-spec, local-fe-check

Added some basic mcp tests
  backend/app/database/database.py
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_mcp.py
Due: regen-openapi-spec

Added some basic mcp tests (#3411)
  backend/app/database/database.py
  backend/app/mcp/mcp.py
  backend/tests/app/mcp/test_mcp.py
Due: regen-openapi-spec

Fix typing
  frontend/package-lock.json
  frontend/src/components/datasets/dataset-popover-title/dataset-popover-title.tsx
  frontend/src/components/list/table-cell-item/table-cell-item.component.tsx
Due: local-fe-check

Fixes for docs
  backend/app/webhook_doc_export.py
  docs/docs/developer-guide/webhook-events.md
  docs/docusaurus.config.ts
  docs/package-lock.json
Due: regen-openapi-spec

Migrate data product portal in single image
  .dockerignore
  .env.docker
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
  Dockerfile
  backend/.dockerignore
  backend/Dockerfile
  backend/app/main.py
  backend/app/settings.py
  backend/tests/app/auth/test_device_router.py
  compose.yaml
  docs/docs/release-notes.md
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/config.docker.js
  helm/templates/_helpers.tpl
  helm/templates/deployment.yaml
  helm/templates/deployment_frontend.yaml
  helm/templates/hpa.yaml
  helm/templates/secret.yaml
  helm/templates/service_frontend.yaml
  helm/values.yaml
  nginx/Dockerfile
  nginx/nginx.conf
Due: regen-openapi-spec, local-fe-check

Migrate data product portal in single image (#3428)
  .dockerignore
  .env.docker
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
  Dockerfile
  backend/.dockerignore
  backend/Dockerfile
  backend/app/main.py
  backend/app/settings.py
  backend/tests/app/auth/test_device_router.py
  compose.yaml
  docs/docs/release-notes.md
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/config.docker.js
  helm/templates/_helpers.tpl
  helm/templates/deployment.yaml
  helm/templates/deployment_frontend.yaml
  helm/templates/hpa.yaml
  helm/templates/secret.yaml
  helm/templates/service_frontend.yaml
  helm/values.yaml
  nginx/Dockerfile
  nginx/nginx.conf
Due: regen-openapi-spec, local-fe-check

Fix the build
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
Due: none

Fix the build (#3439)
  .github/workflows/docker-build-main.yml
  .github/workflows/release-workflow.yml
Due: none

Fix alembic test
  .github/workflows/alembic-workflow.yml
Due: none

Fix alembic test (#3440)
  .github/workflows/alembic-workflow.yml
Due: none

Fix helm chart
  .github/workflows/docker-build-main.yml
  helm/templates/deployment.yaml
Due: none

Add helm chart validation
  .github/workflows/tests.yml
  Taskfile.yml
  helm/templates/deployment.yaml
Due: none

Add helm chart validation (#3442)
  .github/workflows/tests.yml
  Taskfile.yml
  helm/templates/deployment.yaml
Due: none

Remove deploys from releases
  .github/workflows/release-workflow.yml
Due: none

implement PR comments.
  docs/adr/0014-slow-queries.md
  docs/adr/0015-enriched-webhook-events.md
  docs/adr/0016-light-weight-data-products.md
  docs/adr/0017-versioning.md
  docs/adr/0018-persist-output-port-schemas.md
Due: none

Update dependabot docker dep check for single image
  .github/dependabot.yml
Due: none

Create adr for storing schema information on output ports
  docs/adr/0014-slow-queries.md
  docs/adr/0015-enriched-webhook-events.md
  docs/adr/0016-light-weight-data-products.md
  docs/adr/0017-versioning.md
  docs/adr/0018-persist-output-port-schemas.md
Due: none

add sdk models
  sdk/sdk/api_client/api/data_products_output_ports/get_output_port_schema.py
  sdk/sdk/api_client/api/data_products_output_ports/ingest_output_port_contract.py
  sdk/sdk/api_client/models/bitol_contract_request.py
  sdk/sdk/api_client/models/output_port_schema_response.py
  sdk/sdk/api_client/models/schema_object_request.py
  sdk/sdk/api_client/models/schema_object_response.py
  sdk/sdk/api_client/models/schema_property_request.py
  sdk/sdk/api_client/models/schema_property_response.py
Due: none

ingest/get schema info
  backend/app/core/authz/actions.py
  backend/app/data_products/output_ports/contract/model.py
  backend/app/data_products/output_ports/contract/router.py
  backend/app/data_products/output_ports/contract/schema_request.py
  backend/app/data_products/output_ports/contract/schema_response.py
  backend/app/data_products/output_ports/contract/service.py
  backend/app/data_products/output_ports/router.py
  backend/app/database/alembic/versions/2026_05_18_1000-8aa8df18d6ff_add_output_port_schema_model.py
  backend/tests/app/data_products/output_ports/contract/test_router.py
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/authorization_action.py
Due: regen-openapi-spec, local-fe-check

initial working version of ingestion API
  backend/app/data_products/output_ports/contract/model.py
  backend/app/data_products/output_ports/contract/schema_request.py
  backend/app/data_products/output_ports/contract/schema_response.py
  backend/app/data_products/output_ports/contract/service.py
  backend/app/database/alembic/versions/2026_05_18_1000-8aa8df18d6ff_add_output_port_schema_model.py
  backend/tests/app/data_products/output_ports/contract/test_router.py
  docs/static/openapi.json
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  sdk/sdk/api_client/models/schema_property_request.py
  sdk/sdk/api_client/models/schema_property_response.py
Due: regen-openapi-spec, local-fe-check

Make sure owner can push the contract.
  backend/app/data_products/output_ports/contract/service.py
  backend/app/database/alembic/versions/2026_05_19_1108-31b753ca1a0c_add_update_contract_permissions_to_.py
Due: regen-openapi-spec

Fix authorization test
  backend/app/database/alembic/versions/2026_05_19_1108-31b753ca1a0c_add_update_contract_permissions_to_.py
  frontend/src/types/authorization/rbac-actions.ts
Due: regen-openapi-spec, local-fe-check

Replace hardcoded SDK routes by generated calls
  backend/app/core/auth/auth.py
  backend/app/core/auth/device_flows/router.py
  backend/app/core/auth/device_flows/service.py
  backend/app/core/auth/jwt.py
  backend/app/core/auth/oidc.py
  backend/app/main.py
  backend/app/mcp/mcp.py
  docs/static/openapi.json
  sdk/sdk/api_client/api/authentication/get_device_token.py
  sdk/sdk/api_client/api/authentication/get_jwt_token.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/device_flow.py
  sdk/sdk/api_client/models/device_flow_status.py
  sdk/sdk/api_client/models/get_jwt_token_response_get_jwt_token_api_v2_authn_device_jwt_token_post.py
  sdk/sdk/auth.py
Due: regen-openapi-spec

Fix workflow files
  .github/workflows/alembic-workflow.yml
  .github/workflows/docker-build-main.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-workflow.yml
  .github/workflows/tests.yml
Due: none

Fix workflow files (#3462)
  .github/workflows/alembic-workflow.yml
  .github/workflows/docker-build-main.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release-workflow.yml
  .github/workflows/tests.yml
Due: none

Fix some issues
  backend/app/core/auth/auth.py
  backend/app/core/auth/device_flows/router.py
  backend/app/core/auth/oidc.py
  backend/tests/app/data_products/output_ports/test_router.py
  docs/static/openapi.json
  sdk/sdk/api_client/api/authentication/get_jwt_token.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/get_jwt_token_response_get_jwt_token_api_v2_authn_device_jwt_token_post.py
  sdk/sdk/auth.py
Due: regen-openapi-spec

Add event payload scoping design spec
  docs/specs/2026-05-19-event-payload-scoping-design.md
Due: none

removing spec again
  docs/specs/2026-05-19-event-payload-scoping-design.md
Due: none

Add ADR-0019: event payload scoping
  docs/adr/0019-event-payload-scoping.md
Due: none

adding an adr for scoping the v2 events
  docs/adr/0019-event-payload-scoping.md
Due: none
