Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

.pre-commit-config.yaml:

repos:
# Common git hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
    # Git style
    - id: check-added-large-files
      exclude: ^frontend/src/assets/fonts/
    - id: check-merge-conflict
    - id: no-commit-to-branch

    # Common errors
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: check-yaml
      exclude: ^helm/templates
    - id: check-merge-conflict
    - id: check-executables-have-shebangs

    # Cross-platform
    - id: check-case-conflict
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-symlinks

    # Security
    - id: detect-aws-credentials
      args: ['--allow-missing-credentials']
    - id: detect-private-key

# Python
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.16.1
  hooks:
    - id: mypy
      language_version: python3.13
      additional_dependencies:
      - types-cachetools
      - types-requests
      - types-pytz
      - types-PyYAML
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff-check
      args: [ --fix, --unsafe-fixes]
    - id: ruff-format
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.27.2
  hooks:
    - id: gitleaks
- repo: local
  hooks:
    - id: add-helm-version
      name: add-helm-version
      entry: ./scripts/add_helm_version.sh
      language: script
    - id: regen-openapi-spec
      name: Regen openapi spec
      entry: ./scripts/check_openapi_spec.sh
      language: script
      types: [text]
      files: ^backend\/.*\.py$
    - id: local-fe-check
      name: fe check
      entry: bash -c "cd frontend && npm run check:fix"
      language: system
      types: [text]
      files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"
      exclude: ^docs/

feature: add demo domain environments and associated data products
  backend/sample_data.sql
Due: none

Filter get data products (#4186)
  backend/app/authorization/role_assignments/enums.py
  backend/app/core/authz/authorization.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/router.py
  backend/app/data_products/service.py
  backend/app/mcp/config.py
  backend/app/mcp/resources.py
  backend/app/mcp/search.py
  backend/app/search_output_ports/router.py
  backend/tests/app/data_products/output_ports/test_service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/mcp/test_search.py
  backend/tests/app/search_output_ports/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/src/pages/cart/components/existing-data-product-form.tsx
  frontend/src/pages/product-studio/components/data-products-tab/data-products-tab.component.tsx
  frontend/src/pages/product-studio/components/output-ports-tab/output-ports-tab.component.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  sdk/sdk/api_client/api/data_products/get_data_products.py
  sdk/sdk/api_client/api/search_output_ports/search_output_ports.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/assignment_filter.py
Due: regen-openapi-spec, local-fe-check

Try making db clearing faster
  backend/tests/app/auth/test_device_flow_cleanup.py
  backend/tests/app/authorization/test_service.py
  backend/tests/conftest.py
Due: regen-openapi-spec

Try making db clearing faster (#4205)
  backend/tests/app/auth/test_device_flow_cleanup.py
  backend/tests/app/authorization/test_service.py
  backend/tests/conftest.py
Due: regen-openapi-spec

feature: patch environemnts isglobal
  backend/app/configuration/environments/router.py
  backend/app/configuration/environments/schema_request.py
  backend/app/configuration/environments/service.py
  backend/tests/app/configuration/environments/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/docs/developer-guide/adding-integrations.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/pages/settings/components/settings-tabs/components/environment-table/environment-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/environment-table/environment-table.component.tsx
  frontend/src/pages/settings/components/settings-tabs/metadata-tab/metadata-tab.component.tsx
  frontend/src/store/api/services/generated/configurationEnvironmentsApi.ts
  sdk/sdk/api_client/api/configuration_environments/update_environment_is_global.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/environment_update_global.py
Due: regen-openapi-spec, local-fe-check

improvement: Add navigation links to review-access-request modal cards
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
Due: local-fe-check

fix: front end test add mock router to navigation
  frontend/src/tests/pages/product-studio/components/requests-panel/pending-access-requests/pending-access-requests-modal/review-request-modal.test.tsx
Due: local-fe-check

resolve: remove last is possible and change isdisabled
  backend/app/configuration/environments/service.py
  backend/tests/app/configuration/environments/test_router.py
  frontend/src/components/data-access/data-access-tile-grid/data-access-tile-grid.tsx
Due: regen-openapi-spec, local-fe-check

Use aws boto3 refresh session instead of custom one
  backend/app/core/aws/boto3_clients.py
  backend/app/core/aws/refreshable_session.py
Due: regen-openapi-spec

Only private OPs can be created for hidden DPs
  backend/app/core/authz/authorization.py
  backend/app/data_products/output_ports/enums.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/4c40a4ff5a7f_initialize_database.py
  backend/tests/app/data_products/output_ports/test_router.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/components/output-ports/output-port-access-icon/output-port-access-icon.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/tests/components/output-ports/output-port-card.component.test.tsx
  frontend/src/tests/mocks/dataProductOutputPorts.ts
  frontend/src/tests/mocks/dataProducts.ts
  frontend/src/tests/mocks/explorations.ts
  frontend/src/tests/mocks/outputPortsSearch.ts
  frontend/src/utils/access-type.helper.ts
  sdk/sdk/api_client/models/output_port_access_type.py
Due: regen-openapi-spec, local-fe-check

spike: frontend data schema view
  backend/sample_data.sql
  frontend/public/locales/en/translation.json
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/data-model-tab.tsx
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/schema-diagram/infer-relationships.test.ts
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/schema-diagram/infer-relationships.ts
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/schema-diagram/schema-diagram.tsx
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/schema-diagram/schema-object-node.tsx
Due: local-fe-check

improvement: select edges light columns
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/schema-diagram/schema-diagram.tsx
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/schema-diagram/schema-object-node.tsx
Due: local-fe-check

spike: give an idea about backend regarding fk, fully vibed
  backend/app/data_products/output_ports/contract/model.py
  backend/app/data_products/output_ports/contract/schema_request.py
  backend/app/data_products/output_ports/contract/schema_response.py
  backend/app/data_products/output_ports/contract/service.py
  backend/app/database/alembic/versions/2026_09_02_1434-9403f94d78a6_add_output_port_schema_relationships.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_ports/contract/test_router.py
  cli/golang/pkg/api/oas_defaults_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/static/openapi.json
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/data-model-tab.tsx
  frontend/src/pages/output-port/components/dataset-tabs/data-model-tab/schema-diagram/schema-diagram.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/output_port_schema_response.py
  sdk/sdk/api_client/models/schema_property_request.py
  sdk/sdk/api_client/models/schema_relationship_request.py
  sdk/sdk/api_client/models/schema_relationship_response.py
Due: regen-openapi-spec, local-fe-check

resolve: actual link instead of onclick, also open in new tab
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
Due: local-fe-check

improvement: Add navigation links to review-access-request modal cards (#4214)
  frontend/src/components/pending-access-requests-modal/review-request-modal.tsx
  frontend/src/tests/pages/product-studio/components/requests-panel/pending-access-requests/pending-access-requests-modal/review-request-modal.test.tsx
Due: local-fe-check

Only private OPs can be created for hidden DPs (#4204)
  backend/app/core/authz/authorization.py
  backend/app/data_products/output_ports/enums.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/4c40a4ff5a7f_initialize_database.py
  backend/tests/app/data_products/output_ports/test_router.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/components/output-ports/output-port-access-icon/output-port-access-icon.tsx
  frontend/src/components/output-ports/output-port-form/output-port-form.component.tsx
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/explorationsApi.ts
  frontend/src/store/api/services/generated/outputPortsSearchApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/tests/components/output-ports/output-port-card.component.test.tsx
  frontend/src/tests/mocks/dataProductOutputPorts.ts
  frontend/src/tests/mocks/dataProducts.ts
  frontend/src/tests/mocks/explorations.ts
  frontend/src/tests/mocks/outputPortsSearch.ts
  frontend/src/utils/access-type.helper.ts
  sdk/sdk/api_client/models/output_port_access_type.py
Due: regen-openapi-spec, local-fe-check

fix: #4202 and #4185
  backend/app/configuration/data_product_lifecycles/service.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/tests/app/configuration/data_product_lifecycles/test_router.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/data_products/test_router.py
  frontend/public/locales/en/translation.json
  frontend/src/components/data-products/data-product-form/data-product-form-items.component.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/data-product-lifecycles-table-columns.tsx
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/new-data-product-lifecycles-modal.component.tsx
Due: regen-openapi-spec, local-fe-check

update: release notes
  docs/docs/release-notes.md
Due: none

refactor: go back to checkbox but disabled
  frontend/src/pages/settings/components/settings-tabs/components/data-product-lifecycles-table/data-product-lifecycles-table-columns.tsx
Due: local-fe-check

fix: tests
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

added adr and companion img
  docs/adr/0023-external-identities-group-based-auth-model.png
  docs/adr/0023-external-identities-group-based-auth.md
Due: none

Use aws boto3 refresh session instead of custom one (#4212)
  backend/app/core/aws/boto3_clients.py
  backend/app/core/aws/refreshable_session.py
Due: regen-openapi-spec

Update backend/app/configuration/data_product_lifecycles/service.py
  backend/app/configuration/data_product_lifecycles/service.py
Due: regen-openapi-spec

fix: tests
  backend/app/configuration/data_product_lifecycles/service.py
Due: regen-openapi-spec

fix: Repair and validate exploration access duration types
  backend/app/data_products/output_ports/service.py
  backend/app/database/alembic/versions/2026_09_03_1200-c2a4e91f7b3d_backfill_invalid_exploration_access_.py
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

feat update release notes
  docs/docs/release-notes.md
Due: none

fix: tests and limit one on update in database
  backend/app/database/alembic/versions/2026_09_03_1200-c2a4e91f7b3d_backfill_invalid_exploration_access_.py
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

refactor: rename dataset references
  backend/app/data_products/output_ports/service.py
  backend/tests/app/data_products/output_ports/test_router.py
Due: regen-openapi-spec

rephrase context
  docs/adr/0023-external-identities-group-based-auth.md
Due: none

Enable ruff TID252
  backend/app/authorization/role_assignments/data_product/auth.py
  backend/app/authorization/role_assignments/data_product/model.py
  backend/app/authorization/role_assignments/global_/auth.py
  backend/app/authorization/role_assignments/global_/model.py
  backend/app/authorization/role_assignments/output_port/auth.py
  backend/app/authorization/role_assignments/output_port/model.py
  backend/app/core/authz/authorization.py
  backend/pyproject.toml
Due: regen-openapi-spec

Enable ruff TID252 (#4223)
  backend/app/authorization/role_assignments/data_product/auth.py
  backend/app/authorization/role_assignments/data_product/model.py
  backend/app/authorization/role_assignments/global_/auth.py
  backend/app/authorization/role_assignments/global_/model.py
  backend/app/authorization/role_assignments/output_port/auth.py
  backend/app/authorization/role_assignments/output_port/model.py
  backend/app/core/authz/authorization.py
  backend/pyproject.toml
Due: regen-openapi-spec

Added GLOBAL__MANAGE_FINALIZERS action
  backend/app/core/authz/actions.py
  backend/app/data_products/router.py
  backend/app/explorations/router.py
  backend/app/explorations/service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/explorations/test_router.py
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/src/store/api/services/generated/authorizationApi.ts
  frontend/src/store/api/services/generated/authorizationRoleAssignmentsApi.ts
  frontend/src/store/api/services/generated/authorizationRolesApi.ts
  frontend/src/store/api/services/generated/usersApi.ts
  frontend/src/types/authorization/rbac-actions.ts
  sdk/sdk/api_client/models/authorization_action.py
Due: regen-openapi-spec, local-fe-check

Fix flaky front end tests
  .github/workflows/tests.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/patches/.gitkeep
  frontend/patches/@rc-component+util+1.12.0.patch
  frontend/patches/README.md
Due: local-fe-check

refactor: ad portal as example of data structure to show what happens with lots of tables
  backend/sample_data.sql
Due: none

Fix flaky front end tests (#4164)
  .github/workflows/tests.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/patches/.gitkeep
  frontend/patches/@rc-component+util+1.12.0.patch
  frontend/patches/README.md
Due: local-fe-check

Added unique index to user external id
  backend/app/database/alembic/versions/2026_09_04_0935-ae23301a4a69_user_unique_external_id.py
Due: regen-openapi-spec

Ensure the filter works for abstract data products
  backend/app/abstract_data_product/background_tasks.py
  backend/app/core/logging/posthog_analytics.py
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/tests/app/abstract_data_product/conftest.py
  backend/tests/app/abstract_data_product/test_deletion.py
  backend/tests/app/data_products/test_model.py
Due: regen-openapi-spec

Try speed up npm install on CI
  .github/workflows/tests.yml
Due: none
