Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

Fix delete users as event actor
  backend/app/authorization/roles/auth.py
  backend/app/database/alembic/versions/2026_10_07_1200-b71a5f3e29cd_preserve_deleted_event_actors.py
  backend/app/events/model.py
  backend/app/events/schema_response.py
  backend/app/events/service.py
  backend/app/users/model.py
  backend/tests/app/authorization/roles/test_router.py
  backend/tests/app/users/test_router.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/static/openapi.json
  frontend/src/components/history/history-table-columns.tsx
  frontend/src/components/notifications/notifications.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  sdk/sdk/api_client/models/get_event_history_response_item.py
Due: regen-openapi-spec, local-fe-check

Let background agents run pre-commit and backend tests offline
  .github/workflows/backend-consistency.lock.yml
  .github/workflows/bug-finder.lock.yml
  .github/workflows/design-consistency.lock.yml
  .github/workflows/frontend-consistency.lock.yml
  .github/workflows/performance-enhancer.lock.yml
  .github/workflows/shared/background-agent.md
Due: none

Block producer renew on products pending deletion
  backend/app/data_products/output_ports/input_ports/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table.component.tsx
Due: regen-openapi-spec, local-fe-check

Adapt producer renew to changes on main
  backend/app/data_products/output_ports/input_ports/service.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
Due: regen-openapi-spec

Move producer renew into AbstractDataProductService
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/service.py
Due: regen-openapi-spec

feature: make tehcincal assets unsharable
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/technical_assets/service.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/app/technical_asset_configuration/schema_response.py
  backend/app/technical_asset_configuration/service.py
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  cli/golang/pkg/api/oas_defaults_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/docs/developer-guide/adding-integrations.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/assets/icons/outline-icons/unshareable-outline-icon.svg
  frontend/src/components/data-products/technical-asset-form/technical-asset-form.component.tsx
  frontend/src/components/icons/index.tsx
  frontend/src/components/output-ports/output-port-card/technical-asset-link-modal.component.tsx
  frontend/src/components/technical-assets/technical-asset-card/technical-asset-card.component.tsx
  frontend/src/pages/technical-asset/components/technical-asset-description/technical-asset-description.tsx
  frontend/src/store/api/services/generated/pluginsApi.ts
  frontend/src/utils/technical-asset-type.helper.ts
  plugins/portal_plugins/s3/schema.py
  sdk/sdk/api_client/models/ui_element_metadata_response.py
Due: regen-openapi-spec, local-fe-check

Test the shareable flag in the plugins API and frontend helper
  backend/tests/app/plugins/test_router.py
  frontend/src/utils/technical-asset-type.helper.test.tsx
Due: regen-openapi-spec, local-fe-check

Restore the Not shareable label and make S3 shareable again
  docs/docs/release-notes.md
  frontend/public/locales/en/translation.json
  frontend/src/assets/icons/outline-icons/unshareable-outline-icon.svg
  frontend/src/components/icons/index.tsx
  frontend/src/components/technical-assets/technical-asset-card/technical-asset-card.component.tsx
  frontend/src/pages/technical-asset/components/technical-asset-description/technical-asset-description.tsx
  plugins/portal_plugins/s3/schema.py
Due: local-fe-check

Mark unshareable Technical Assets with a broken-link icon
  frontend/src/components/output-ports/output-port-card/technical-asset-link-modal.component.tsx
  frontend/src/components/technical-assets/not-shareable-icon/not-shareable-icon.component.tsx
  frontend/src/components/technical-assets/not-shareable-tag/not-shareable-tag.component.tsx
  frontend/src/components/technical-assets/technical-asset-card/technical-asset-card.component.tsx
  frontend/src/pages/technical-asset/components/technical-asset-description/technical-asset-description.tsx
Due: local-fe-check

Show a plain Not shareable label and block dragging
  frontend/public/locales/en/translation.json
  frontend/src/components/output-ports/output-port-card/output-port-card.component.tsx
  frontend/src/components/output-ports/output-port-card/technical-asset-link-modal.component.tsx
  frontend/src/components/technical-assets/not-shareable-icon/not-shareable-icon.component.tsx
  frontend/src/components/technical-assets/not-shareable-tag/not-shareable-tag.component.tsx
  frontend/src/components/technical-assets/technical-asset-card/technical-asset-card.component.tsx
  frontend/src/components/technical-assets/technical-asset-card/technical-asset-card.module.scss
  frontend/src/pages/technical-asset/components/technical-asset-description/technical-asset-description.tsx
  frontend/src/utils/pending-request.helper.ts
Due: local-fe-check

Add an unshareable Parameter Store plugin and clearer errors
  .env.docker
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_port_technical_assets_link/service.py
  backend/app/data_products/technical_assets/service.py
  backend/app/database/alembic/versions/2026_10_06_1114-fec30fee81fe_add_parameter_store_platform_service.py
  backend/sample_data.sql
  backend/tests/app/data_products/output_port_technical_assets_link/test_router.py
  backend/tests/app/plugins/test_router.py
  backend/tests/conftest.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  demo/basic/.env.portal
  demo/basic/portal_seed.sql
  docs/docs/developer-guide/adding-integrations.md
  docs/docs/developer-guide/integrations.md
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/output-ports/output-port-card/output-port-card.component.tsx
  frontend/src/components/output-ports/output-port-card/technical-asset-link-modal.component.tsx
  frontend/src/components/technical-assets/not-shareable-tag/not-shareable-tag.component.tsx
  frontend/src/components/technical-assets/technical-asset-card/technical-asset-card.component.tsx
  frontend/src/pages/technical-asset/components/technical-asset-description/technical-asset-description.tsx
  frontend/src/store/common/api-errors.ts
  frontend/src/utils/pending-request.helper.ts
  plugins/portal_plugins/parameter_store/model.py
  plugins/portal_plugins/parameter_store/parameter-store-logo.svg
  plugins/portal_plugins/parameter_store/schema.py
  plugins/portal_plugins/parameter_store/versions/parameter_store_0001_baseline.py
  plugins/pyproject.toml
  plugins/tests/parameter_store/test_schema.py
  plugins/tests/test_icons.py
  sdk/sdk/api_client/api/data_products_technical_assets/link_output_port_to_technical_asset.py
  sdk/sdk/plugins/__init__.py
  sdk/sdk/plugins/parameter_store.py
Due: regen-openapi-spec, local-fe-check

Chain the Parameter Store migration after main's latest
  backend/app/database/alembic/versions/2026_10_06_1114-fec30fee81fe_add_parameter_store_platform_service.py
  frontend/public/locales/en/translation.json
Due: regen-openapi-spec, local-fe-check

Add scheduled background agents (#4490)
  .claude/skills/portal-design/SKILL.md
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/backend-consistency.lock.yml
  .github/workflows/backend-consistency.md
  .github/workflows/bug-finder.lock.yml
  .github/workflows/bug-finder.md
  .github/workflows/design-consistency.lock.yml
  .github/workflows/design-consistency.md
  .github/workflows/frontend-consistency.lock.yml
  .github/workflows/frontend-consistency.md
  .github/workflows/performance-enhancer.lock.yml
  .github/workflows/performance-enhancer.md
  .github/workflows/shared/background-agent.md
Due: local-fe-check

Fix events reference old entities in database
  backend/app/authorization/role_assignments/data_product/router.py
  backend/app/authorization/role_assignments/output_port/router.py
  backend/app/data_products/output_port_technical_assets_link/router.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/router.py
  backend/app/data_products/router.py
  backend/app/data_products/technical_assets/router.py
  backend/app/database/alembic/versions/2026_10_07_1400-a9203b7e41cd_event_entity_types.py
  backend/app/events/enums.py
  backend/app/events/model.py
  backend/app/events/schema.py
  backend/app/events/schema_response.py
  backend/app/events/service.py
  backend/app/users/notifications/router.py
  backend/app/users/notifications/schema_response.py
  backend/app/users/notifications/service.py
  backend/tests/app/abstract_data_product/input_ports/test_background_tasks.py
  backend/tests/app/data_products/output_ports/test_router.py
  backend/tests/app/events/test_entity_types.py
  backend/tests/factories/event.py
Due: regen-openapi-spec

Move the Parameter Store service into the plugin and run core first
  backend/app/plugins/migrations.py
  backend/sample_data.sql
  backend/tests/app/plugins/test_migrations.py
  demo/basic/portal_seed.sql
  docs/docs/developer-guide/adding-integrations.md
  docs/docs/release-notes.md
  plugins/portal_plugins/parameter_store/schema.py
  plugins/portal_plugins/parameter_store/versions/parameter_store_0002_service.py
  plugins/tests/parameter_store/test_schema.py
Due: regen-openapi-spec

Fix downgrade and add release notes
  backend/app/database/alembic/versions/2026_10_07_1200-b71a5f3e29cd_preserve_deleted_event_actors.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

Mirror hidden RBAC actions in frontend enum
  backend/tests/app/authorization/test_actions.py
  frontend/src/types/authorization/rbac-actions.ts
Due: regen-openapi-spec, local-fe-check

Move hidden data product read action into enum
  frontend/src/pages/output-port/output-port.page.tsx
  frontend/src/types/authorization/rbac-actions.ts
Due: local-fe-check

Align add consumer with scoped consumer access
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/database/alembic/versions/2026_10_06_1200-9b6e2f4c1a7d_remove_consumer_casbin_links.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
Due: regen-openapi-spec

Skip hidden producer node in Output Port graph
  backend/app/data_products/output_ports/service.py
  backend/tests/app/data_products/test_router.py
Due: regen-openapi-spec

Merge input port sub-loaders and drop release note
  backend/app/abstract_data_product/service.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

Keep consumer access to the consumed Output Port
  backend/app/abstract_data_product/service.py
  backend/app/authorization/service.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/rbac_model.conf
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/output_ports/service.py
  backend/app/data_products/service.py
  backend/app/database/alembic/versions/2026_10_06_1200-9b6e2f4c1a7d_remove_consumer_casbin_links.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  backend/tests/app/data_products/output_ports/test_model.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/data_products/test_service.py
  docs/docs/release-notes.md
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/pages/output-port/components/dataset-description/output-port-description.tsx
  frontend/src/pages/output-port/output-port.page.tsx
  frontend/src/tests/components/abstract-data-products/input-port-table/input-port-table-columns.test.tsx
  frontend/src/tests/pages/output-port/components/output-port-description.test.tsx
Due: regen-openapi-spec, local-fe-check

Remove dead visibility branch from data product update
  backend/app/data_products/service.py
  backend/tests/app/data_products/test_router.py
Due: regen-openapi-spec

Limit consumer access to the consumer's own Input Ports
  backend/app/abstract_data_product/service.py
  backend/app/authorization/service.py
  backend/app/core/authz/authorization.py
  backend/app/core/authz/rbac_model.conf
  backend/app/data_products/model.py
  backend/app/data_products/output_ports/input_ports/service.py
  backend/app/data_products/output_ports/model.py
  backend/app/data_products/service.py
  backend/app/database/alembic/versions/2026_10_06_1200-9b6e2f4c1a7d_remove_consumer_casbin_links.py
  backend/app/database/database.py
  backend/tests/app/abstract_data_product/test_request_input_ports.py
  backend/tests/app/core/authz/test_authorization.py
  backend/tests/app/data_products/output_ports/input_ports/test_service.py
  backend/tests/app/data_products/output_ports/test_model.py
  backend/tests/app/data_products/test_model.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/data_products/test_service.py
  docs/docs/release-notes.md
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-table-columns.tsx
  frontend/src/tests/components/abstract-data-products/input-port-table/input-port-table-columns.test.tsx
Due: regen-openapi-spec, local-fe-check

Authenticate background agents with a Copilot token
  .github/workflows/backend-consistency.lock.yml
  .github/workflows/backend-consistency.md
  .github/workflows/bug-finder.lock.yml
  .github/workflows/bug-finder.md
  .github/workflows/design-consistency.lock.yml
  .github/workflows/design-consistency.md
  .github/workflows/frontend-consistency.lock.yml
  .github/workflows/frontend-consistency.md
  .github/workflows/performance-enhancer.lock.yml
  .github/workflows/performance-enhancer.md
Due: none

Fix alembic order
  backend/app/database/alembic/versions/2026_10_07_1200-b71a5f3e29cd_preserve_deleted_event_actors.py
Due: regen-openapi-spec

Point background agents at the backend venv
  .github/workflows/backend-consistency.lock.yml
  .github/workflows/backend-consistency.md
  .github/workflows/bug-finder.lock.yml
  .github/workflows/bug-finder.md
  .github/workflows/design-consistency.lock.yml
  .github/workflows/design-consistency.md
  .github/workflows/frontend-consistency.lock.yml
  .github/workflows/frontend-consistency.md
  .github/workflows/performance-enhancer.lock.yml
  .github/workflows/performance-enhancer.md
  .github/workflows/shared/background-agent.md
Due: none

Update demo dependencies
  demo/Taskfile.yml
  demo/agents/agent/poetry.lock
  demo/agents/agent/requirements-poetry.txt
  demo/agents/provisioner/poetry.lock
  demo/agents/provisioner/requirements-poetry.txt
  demo/basic/Taskfile.yml
  demo/basic/products/poetry.lock
  demo/basic/provisioner/poetry.lock
  demo/basic/provisioner/requirements-poetry.txt
Due: none

Resolve copilot comment
  demo/Taskfile.yml
  demo/agents/agent/requirements-poetry.txt
Due: none

Fix npm install nightly
  .github/workflows/nightly-build.yml
  .github/workflows/release-workflow.yml
Due: none

Update demo dependencies (#4536)
  demo/Taskfile.yml
  demo/agents/agent/poetry.lock
  demo/agents/agent/requirements-poetry.txt
  demo/agents/provisioner/poetry.lock
  demo/agents/provisioner/requirements-poetry.txt
  demo/basic/Taskfile.yml
  demo/basic/products/poetry.lock
  demo/basic/provisioner/poetry.lock
  demo/basic/provisioner/requirements-poetry.txt
Due: none

Fix npm install nightly (#4537)
  .github/workflows/nightly-build.yml
  .github/workflows/release-workflow.yml
Due: none

Allow output port owners to renew consumer access; remove icons from access action buttons (#4445)
  backend/app/abstract_data_product/service.py
  backend/app/data_products/output_ports/input_ports/router.py
  backend/app/data_products/output_ports/input_ports/schema_request.py
  backend/tests/app/data_products/output_ports/input_ports/test_router.py
  cli/golang/pkg/api/oas_client_gen.go
  cli/golang/pkg/api/oas_interfaces_gen.go
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_operations_gen.go
  cli/golang/pkg/api/oas_parameters_gen.go
  cli/golang/pkg/api/oas_request_encoders_gen.go
  cli/golang/pkg/api/oas_response_decoders_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/public/locales/en/translation.json
  frontend/src/components/abstract-data-products/input-port-tab/components/input-port-table/input-port-action-button.component.tsx
  frontend/src/components/input-port/access-status.tsx
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table-columns.tsx
  frontend/src/pages/output-port/components/dataset-tabs/consumers-tab/components/consumers-table/consumers-table.component.tsx
  frontend/src/store/api/services/generated/dataProductsOutputPortsInputPortsApi.ts
  frontend/src/store/api/services/tags/dataProductsOutputPortsInputPortsTags.ts
  frontend/src/tests/pages/output-port/components/consumers-table/consumers-table.component.test.tsx
  sdk/sdk/api_client/api/data_products_output_ports_input_ports/renew_output_port_as_input_port.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/renew_output_port_as_input_port_request.py
Due: regen-openapi-spec, local-fe-check

Add tests for deleted actor
  backend/tests/app/users/test_router.py
  frontend/src/tests/components/events/deleted-actors.component.test.tsx
Due: regen-openapi-spec, local-fe-check

Fix delete users as event actor (#4523)
  backend/app/authorization/roles/auth.py
  backend/app/database/alembic/versions/2026_10_07_1200-b71a5f3e29cd_preserve_deleted_event_actors.py
  backend/app/events/model.py
  backend/app/events/schema_response.py
  backend/app/events/service.py
  backend/app/users/model.py
  backend/tests/app/authorization/roles/test_router.py
  backend/tests/app/users/test_router.py
  cli/golang/pkg/api/oas_json_gen.go
  cli/golang/pkg/api/oas_schemas_gen.go
  cli/golang/pkg/api/oas_validators_gen.go
  docs/docs/release-notes.md
  docs/static/openapi.json
  frontend/src/components/history/history-table-columns.tsx
  frontend/src/components/notifications/notifications.tsx
  frontend/src/store/api/services/generated/dataProductsApi.ts
  frontend/src/store/api/services/generated/dataProductsOutputPortsApi.ts
  frontend/src/store/api/services/generated/dataProductsTechnicalAssetsApi.ts
  frontend/src/store/api/services/generated/usersNotificationsApi.ts
  frontend/src/tests/components/events/deleted-actors.component.test.tsx
  sdk/sdk/api_client/models/get_event_history_response_item.py
Due: regen-openapi-spec, local-fe-check

Let the portal add plugin platform services
  backend/app/configuration/platforms/platform_services/service.py
  backend/app/plugins/migrations.py
  backend/app/technical_asset_configuration/base_schema.py
  backend/sample_data.sql
  backend/tests/app/configuration/platforms/platform_services/test_service.py
  backend/tests/app/plugins/test_migrations.py
  backend/tests/fixtures/broken_plugin/__init__.py
  backend/tests/fixtures/broken_plugin/versions/__init__.py
  backend/tests/fixtures/broken_plugin/versions/broken_0001_create.py
  backend/tests/fixtures/example_plugin/__init__.py
  backend/tests/fixtures/fake_plugin/versions/fake_0001_create.py
  demo/agents/portal_seed.sql
  demo/basic/portal_seed.sql
  docs/adr/0024-dynamic-plugin-system.md
  docs/docs/developer-guide/adding-integrations.md
  plugins/portal_plugins/azure_blob/schema.py
  plugins/portal_plugins/azure_blob/versions/azure_blob_0001_baseline.py
  plugins/portal_plugins/databricks/schema.py
  plugins/portal_plugins/databricks/versions/databricks_0001_baseline.py
  plugins/portal_plugins/glue/schema.py
  plugins/portal_plugins/glue/versions/glue_0001_baseline.py
  plugins/portal_plugins/osi_sem_model/schema.py
  plugins/portal_plugins/osi_sem_model/versions/osi_sem_model_0001_baseline.py
  plugins/portal_plugins/parameter_store/schema.py
  plugins/portal_plugins/parameter_store/versions/parameter_store_0001_baseline.py
  plugins/portal_plugins/parameter_store/versions/parameter_store_0002_service.py
  plugins/portal_plugins/postgresql/schema.py
  plugins/portal_plugins/postgresql/versions/postgresql_0001_baseline.py
  plugins/portal_plugins/redshift/schema.py
  plugins/portal_plugins/redshift/versions/redshift_0001_baseline.py
  plugins/portal_plugins/s3/schema.py
  plugins/portal_plugins/s3/versions/s3_0001_baseline.py
  plugins/portal_plugins/snowflake/schema.py
  plugins/portal_plugins/snowflake/versions/snowflake_0001_baseline.py
Due: regen-openapi-spec

Find Parameter Store in the demo seed by its new name
  demo/basic/portal_seed.sql
Due: none

Let the seeds use the platform services the portal adds
  backend/app/plugins/migrations.py
  backend/sample_data.sql
  backend/tests/app/plugins/test_migrations.py
  demo/agents/portal_seed.sql
  demo/basic/portal_seed.sql
  docs/docs/developer-guide/adding-integrations.md
Due: regen-openapi-spec

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
