Repository conveyordata/data-product-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-openapi-spec, local-fe-check

regen-openapi-spec:
  name: Regen openapi spec
  entry: ./scripts/check_openapi_spec.sh
  language: script

local-fe-check:
  name: fe check
  entry: bash -c "cd frontend && npm run check:fix"
  language: system

fixing the provisioner with the new sdk code
  demo/basic/provisioner/poetry.lock
  demo/basic/provisioner/provisioner/main.py
  demo/basic/provisioner/pyproject.toml
Due: none

mypy configuration per package
  .pre-commit-config.yaml
  backend/poetry.lock
  backend/pyproject.toml
  demo/basic/products/poetry.lock
  demo/basic/products/pyproject.toml
  demo/basic/provisioner/poetry.lock
  demo/basic/provisioner/provisioner/main.py
  demo/basic/provisioner/pyproject.toml
  mypy.ini
  scripts/run_mypy.sh
  sdk/poetry.lock
  sdk/pyproject.toml
Due: none

regenerating the openapi files
  docs/static/openapi.json
Due: none

Update release notes
  docs/docs/release-notes.md
Due: none

Do not load product tags and improve list behavior
  backend/app/data_products/model.py
  backend/app/data_products/service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/database/test_sql_alchemy_best_practices.py
Due: regen-openapi-spec

Default integer value breaks deploy
  helm/values.yaml
Due: none

Update release notes (#3164)
  docs/docs/release-notes.md
Due: none

Do not load product tags and improve list behavior (#3157)
  backend/app/data_products/model.py
  backend/app/data_products/service.py
  backend/tests/app/data_products/test_router.py
  backend/tests/app/database/test_sql_alchemy_best_practices.py
Due: regen-openapi-spec

Update to latest sdk code
  sdk/sdk/api_client/api/configuration_data_product_settings/get_data_product_settings_namespace_length_limits.py
  sdk/sdk/api_client/api/configuration_data_product_settings/get_data_product_settings_namespace_suggestion.py
  sdk/sdk/api_client/api/configuration_data_product_settings/validate_data_product_settings_namespace.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/namespace_length_limits.py
  sdk/sdk/api_client/models/namespace_suggestion.py
  sdk/sdk/api_client/models/namespace_validation.py
  sdk/sdk/api_client/models/osi_semantic_model_technical_asset_configuration.py
Due: none

Pre-commit hook to check SDK client is in sync with openapi spec
  .pre-commit-config.yaml
Due: none

Add script to check CLI is up to date
  scripts/check_generated_sdk.sh
Due: none

Remove v2 filtering and do not depend on task file in hook
  scripts/check_generated_sdk.sh
  sdk/README.md
  sdk/Taskfile.yml
  sdk/scripts/filter_openapi_v2.py
Due: none

Fix newlines
  scripts/check_generated_sdk.sh
Due: none

Test api change, to be reverted, testing CI pipeline
  backend/app/configuration/data_product_lifecycles/router.py
  docs/static/openapi.json
Due: regen-openapi-spec

fixing the basic demo docker-compose so the sdk can be installed properly
  demo/basic/compose.yaml
  demo/basic/provisioner/Dockerfile
Due: none

Install dependencies in script
  scripts/check_generated_sdk.sh
Due: none

Revert "Test api change, to be reverted, testing CI pipeline"
  backend/app/configuration/data_product_lifecycles/router.py
  docs/static/openapi.json
Due: regen-openapi-spec

Fix all issues with migrations.
  backend/app/database/alembic/versions/2024_07_23_1118-5477aa0d86f0_add_data_outputs.py
  backend/app/database/alembic/versions/2024_09_18_1850-deff323c76ad_add_sourcealigned_column.py
  backend/app/database/alembic/versions/2024_10_29_1412-2b47064c5d10_add_databricks_data_output_configuration.py
  backend/app/database/alembic/versions/2024_12_17_0954-df605bd8b0a0_add_data_product_lifecycles.py
  backend/app/database/alembic/versions/2025_03_25_1542-c02e4638423f_add_role_assignments.py
  backend/app/database/alembic/versions/2025_05_22_1628-93e7f3907ca8_remove_memberships_data.py
  backend/app/database/alembic/versions/2026_04_07_1435-9621a226da7c_add_azure_blob_technical_asset.py
  backend/app/database/alembic/versions/4c40a4ff5a7f_initialize_database.py
  backend/sample_data.sql
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

fixing the basic demo docker-compose so the sdk can be installed properly (#3168)
  demo/basic/compose.yaml
  demo/basic/provisioner/Dockerfile
Due: none

Fix linting
  backend/app/database/alembic/versions/2024_12_17_0954-df605bd8b0a0_add_data_product_lifecycles.py
  backend/app/database/alembic/versions/2026_04_07_1435-9621a226da7c_add_azure_blob_technical_asset.py
  backend/app/database/alembic/versions/4c40a4ff5a7f_initialize_database.py
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

Rollback change userFactory
  backend/tests/app/search_output_ports/test_router.py
Due: regen-openapi-spec

The inner workings of device flow still used v1 endpoints
  backend/app/core/auth/device_flows/router.py
  backend/app/core/auth/device_flows/schema.py
  backend/app/core/auth/device_flows/service.py
  backend/app/core/auth/router.py
Due: regen-openapi-spec

Remove suffix from redirect uri
  backend/app/core/auth/oidc.py
Due: regen-openapi-spec

Correct callback URIs used
  backend/app/core/auth/device_flows/service.py
Due: regen-openapi-spec

Update release notes with breaking change
  docs/docs/release-notes.md
Due: none

adding the adr for sending out events
  docs/adr/0014-enriched-webhook-events.md
Due: none

small correction
  docs/adr/0014-enriched-webhook-events.md
Due: none

Revert change to router file, obsolete
  backend/app/core/auth/router.py
Due: regen-openapi-spec

The inner workings of device flow still used v1 endpoints (#3170)
  backend/app/core/auth/device_flows/router.py
  backend/app/core/auth/device_flows/schema.py
  backend/app/core/auth/device_flows/service.py
  backend/app/core/auth/oidc.py
  docs/docs/release-notes.md
Due: regen-openapi-spec

Default integer value breaks deploy (#3165)
  helm/values.yaml
Due: none

Update scripts/check_generated_sdk.sh
  scripts/check_generated_sdk.sh
Due: none

Fix whitespace
  scripts/check_generated_sdk.sh
Due: none

Chore/update python sdk (#3167)
  .pre-commit-config.yaml
  scripts/check_generated_sdk.sh
  sdk/README.md
  sdk/Taskfile.yml
  sdk/scripts/filter_openapi_v2.py
  sdk/sdk/api_client/api/configuration_data_product_settings/get_data_product_settings_namespace_length_limits.py
  sdk/sdk/api_client/api/configuration_data_product_settings/get_data_product_settings_namespace_suggestion.py
  sdk/sdk/api_client/api/configuration_data_product_settings/validate_data_product_settings_namespace.py
  sdk/sdk/api_client/models/__init__.py
  sdk/sdk/api_client/models/namespace_length_limits.py
  sdk/sdk/api_client/models/namespace_suggestion.py
  sdk/sdk/api_client/models/namespace_validation.py
  sdk/sdk/api_client/models/osi_semantic_model_technical_asset_configuration.py
Due: none

Alternative design single page
  frontend/src/components/data-products/data-product-form/data-product-form.component.tsx
  frontend/src/pages/cart/cart.module.scss
  frontend/src/pages/cart/cart.page.tsx
  frontend/src/pages/cart/components/cart-overview.component.tsx
Due: local-fe-check

Pin hashes in demo dockerfiles
  demo/agents/agent/Dockerfile
  demo/agents/agent/requirements-poetry.in
  demo/agents/agent/requirements-poetry.txt
  demo/agents/provisioner/Dockerfile
  demo/agents/provisioner/requirements-poetry.in
  demo/agents/provisioner/requirements-poetry.txt
Due: none

Update dependencies to fix security issue
  backend/requirements-poetry.txt
  demo/basic/provisioner/requirements-poetry.txt
Due: none

ADR 15 lightweight data products
  docs/adr/0015-light-weight-data-products.md
Due: none

Update dependencies to fix security issue (#3182)
  backend/requirements-poetry.txt
  demo/basic/provisioner/requirements-poetry.txt
Due: none

Pin hashes in demo dockerfiles (#3181)
  demo/agents/agent/Dockerfile
  demo/agents/agent/requirements-poetry.in
  demo/agents/agent/requirements-poetry.txt
  demo/agents/provisioner/Dockerfile
  demo/agents/provisioner/requirements-poetry.in
  demo/agents/provisioner/requirements-poetry.txt
Due: none

Path conditions:
  regen-openapi-spec: any of: ^backend\/.*\.py$
  local-fe-check: any of: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$, but not: ^docs/
